[2019-02-11 01:19] anishkny commented on #341
Awesome! I was able to get it working locally and Postman tests pass.

I noticed that `varia/run-api-tests.sh` adds the `--insecure` option to `newman`. Any idea why this is required.

Also it would be great if some cloud CI could be setup e.g. TravisCI/CircleCI/Azure Pipelines. It really helps everyone get a reference run of the stack - although not strictly required.

LGTM @Cameron-C-Chapman

[2019-02-11 01:20] anishkny commented on #341
PS: Feel free to tweak the default RealWorld logo to include the Spincast logo - something like [this](https://raw.githubusercontent.com/gothinkster/node-express-realworld-example-app/master/project-logo.png).

[2019-02-11 05:45] randyscotsmithey commented on #339
Hi @anishkny,
Thanks for looking at this.
Try changing the export to:
export MONGODB_FEATHERS_REALWORLD=mongodb://127.0.0.1:27017/testdb
(where 'testdb' will be the database name and can actually be anything you want)
That seems to do the trick for connecting to the docker mongoDB.
Also, I added  a .travis.yml file and that seems to be working now, but Travis is new to me.

[2019-02-11 12:27] electrotype commented on #341
All right!

It is required because the API is HTTP**S** using a self-signed certificate! Of course in production this would be a Let's Encrypt certificate or another real one.

I'll see what I can do, thanks for the suggestion.

[2019-02-11 12:28] electrotype commented on #341
("spincast" and "electrotype" accounts are both mine)

[2019-02-11 12:42] electrotype commented on #341
Done!

[2019-02-11 16:44] anishkny commented on #339
Yup worked for me. Sent a PR with new logo and some badges. Great work!

LGTM @Cameron-C-Chapman

[2019-02-11 23:20] electrotype commented on #341
Also done!

[2019-02-14 15:44] dtbradfield commented on #271
File still missing

[2019-02-15 13:07] jacekschae opened #342 "Real-World Comparison of Front-End Frameworks with Benchmarks 2019"
Hey @anishkny
I'm working on a 2019 updae of the [Real-World Comparison of Front-End Frameworks with Benchmarks](https://medium.freecodecamp.org/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-2018-update-e5760fb4a962) article and was wondering if there are any frameworks that should be added to the home page?

Currently there is 17 so if you have anything else in the backlog would

[2019-02-15 13:34] anishkny commented on #342
Sweet! I am aware of only one FE framework in review (finished, but not added):

* Stencil ([Repo](https://github.com/hcavalieri/stencil-realworld-app), Issue #325)

Query for future reference: https://github.com/gothinkster/realworld/issues?utf8=✓&q=is%3Aissue+is%3Aopen+label%3A%22ready+to+be+added%22+label%3Afrontend

Do you want to leave this issue open for tracking or okay to close out?

[2019-02-15 20:14] jacekschae commented on #342
Great, thanks for letting me know. Will do PR when the articles is published.

[2019-02-15 20:14] #342 closed

[2019-02-16 22:46] anishkny commented on #325
Closed by #343
Good job!

[2019-02-16 22:46] #325 closed

[2019-02-17 18:23] vladfaust commented on #223
Updated to use with the [Onyx Framework](https://github.com/onyxframework) :tada:

[2019-02-18 21:29] vladfaust commented on #223
So what's my next steps, @anishkny?

[2019-02-19 16:35] 1984weed commented on #207
Hi there.
Now I'm working on it. It's different from the top of comment repo.
https://github.com/1984weed/akka-http-realworld-example

If I could complete it, would you accept my repo?

thanks

[2019-02-19 17:59] anishkny opened #345 "Akka HTTP"
Repo in progress: https://github.com/1984weed/akka-http-realworld-example

[2019-02-19 18:00] anishkny commented on #207
@1984weed go for it! I have opened a new issue (#345) to track Akka HTTP.

Looks like Scala Play is already added to main READE so closing out this issue.

[2019-02-19 18:00] #207 closed

[2019-02-19 18:06] anishkny commented on #345
@ 1984weed lets use this issue to track progress. Also, sent out a logo for Akka HTTP impl to your repo. Good luck!

[2019-02-22 14:41] anishkny commented on #223
LGTM. Created PR #348 @Cameron-C-Chapman

[2019-02-22 15:36] Cameron-C-Chapman commented on #339
This has been added to the README. Nice work @randyscotsmithey!

[2019-02-22 15:37] #339 closed

[2019-02-22 15:37] Cameron-C-Chapman commented on #341
Spincast has been added and is on the README. Awesome job @spincast 😄

[2019-02-22 15:37] #341 closed

[2019-02-25 01:41] vincentntang commented on #336
NextJS recommends either GraphQL or Redux implementation according to FAQ. https://nextjs.org/docs#faq

I am going to do a react/redux/nextJS implementation.

Repo in progress
https://github.com/vincentntang/realworld-react-redux-nextJS

[2019-03-02 00:49] #223 closed

[2019-03-03 01:52] h6w commented on #331
I don't understand what you're proposing.  Backand and frontend frameworks are interchangeable by using a standard-compliant API.

[2019-03-09 19:53] fairingrey opened #352 "Actix"
Hey all. I'm currently working on an Actix implementation for the realworld backend API spec. It's located [here](https://github.com/fairingrey/actix-realworld-example-app).

You can find more information about actix at their website [here](https://actix.rs/). It's one of the fastest frameworks available right now as shown on [TechEmpower benchmarks](https://www.techempower.com/benchmarks/#section

[2019-03-10 08:15] HarrisonB opened #353 "Lucky"
Hi! Posting this from mobile so apologies if this isn’t the correct formatting.

I’m currently working on a backend implementation of the spec for the [Lucky framework](https://luckyframework.org). It’s quite early-stage, but I thought I might as well post an issue here to share.

The repo is located here: https://github.com/HarrisonB/lucky-realworld.

[2019-03-10 13:25] mpiotrowski97 opened #354 "Symfony 4 with API Platform"
Hi! I know that there is the symfony repository created but I would like to make the symfony realworld example in more classy way. I will use API platform package which makes api building more fun and easy. My repo: https://github.com/MakeleAndzelo/symfony-realworld-example-app

[2019-03-11 14:30] Cameron-C-Chapman commented on #353
Hi @HarrisonB 👋 Will this be a front-end or back-end implementation?

[2019-03-11 16:27] HarrisonB commented on #353
Hi @Cameron-C-Chapman 😄 This will be a back-end implementation.

[2019-03-11 16:28] Cameron-C-Chapman commented on #353
Perfect, can't wait to take a look!

[2019-03-11 18:16] MakeleAndzelo commented on #354
Can I use logo from the old symfony repo?

[2019-03-12 15:09] #331 closed

[2019-03-14 17:37] fairingrey commented on #352
I've finally finished all the logic for this application and all the endpoints should work as intended, so I suppose the next step now is to put it in front of other Rust developers and get a sense of where things could be improved.

[2019-03-17 19:20] sherlockmac commented on #175
![vapor_logo](https://user-images.githubusercontent.com/10830730/54496582-173cc200-4906-11e9-9d49-ec11e7a64e15.png)
![swift_vapor_logo](https://user-images.githubusercontent.com/10830730/54496630-d5604b80-4906-11e9-9a6e-34d94e35db73.png)

There you go. I'd also like to help with coding as I'm experimenting with Vapor.

[2019-03-17 22:16] nikospara opened #356 "Backend implementation in JEE and Thorntail"
Hello,

This is an implementation of the Realworld backend in JEE (Java EE, Jakarta EE these days) and [Thorntail](https://thorntail.io/).

Implementation is done I guess:
- Passes the API tests
- Works with the React frontend

Repo: https://github.com/nikospara/jee-thorntail-realworld-example-app

[2019-03-17 23:52] anishkny commented on #356
Wow that's great. Do you think you could add TravisCI or similar cloud CI for build/test?

[2019-03-18 08:45] nikospara commented on #356
@anishkny Sure!

[2019-03-18 19:26] amadeu01 commented on #175
@sherlockmac I had stopped, but I'll add the logo and make it again hehe. 🎉
thanks!

[2019-03-18 21:13] sherlockmac commented on #175
Let's keep the ball rolling ... let's get Swifty

[2019-03-19 00:11] nikospara commented on #356
@anishkny Done, Travis+SonarCloud

[2019-03-24 11:00] jaguililla opened #357 "Kotlin + Hexagon"
Backend Real World Demo implementation using [Kotlin](https://kotlinlang.org) and [Hexagon](https://hexagonkt.com): https://github.com/hexagonkt/real_world

[2019-03-25 11:55] liamwaugh commented on #271
File is still missing

[2019-03-25 14:06] HamzaMasood1 commented on #271
File still missing.

[2019-03-27 14:00] mansona opened #358 "What do the columns in the Readme with 🥇 🥈 and 🥉 mean?"
Hi folks 👋

I'm looking at the readme and I don't fully understand the meaning of the "gold silver and bronze" columns in the table of frontends 🤔

![Screenshot 2019-03-27 at 13 52 14](https://user-images.githubusercontent.com/594890/55081711-48508b80-5098-11e9-8052-7b430e5ef093.png)

I guess my question is: why are React and Vue in the 🥇gold column and Angular in the second column?

I know it say

[2019-03-28 09:19] QuantumInformation commented on #22
Glad this got started, Ember deserves a place in here!

[2019-03-28 11:31] Alonski commented on #22
Thanks @QuantumInformation Still need help getting this to completion 😁

[2019-03-29 10:39] sanketmaru opened #359 "Angular Universal"
Is there a real world example for Angular Universal In Progress or available ?
My thought is to make Sign in, Sign up, Homepage routes render server side.

With this example it would make understanding clear of client side vs server side with the routes implementation.
If it is not available i can start on this.
Thoughts ?

[2019-04-01 15:24] carballosa commented on #271
File is still missing. Please update the tutorial or add the file back

[2019-04-02 07:19] sanketmaru commented on #359
Any thoughts on this if this can be helpful ? I have started here by converting existing angular example https://github.com/sanketmaru/angular-realworld-universal-example-app

[2019-04-02 13:20] ngfelixl commented on #141
Is there any progress on it?

[2019-04-04 00:01] Dkairu commented on #99
@chilledoj Any progress on this?

[2019-04-04 11:25] Vallista opened #360 "Vue + TypeScript"
Front-end Real World Demo implementation using Vue + TypeScript https://github.com/Vallista/realworld-vue-typescript

please add realworld markdown

[2019-04-08 14:47] chimon2000 commented on #169
Is this still being worked on @hassanbazzi

[2019-04-08 14:55] hassanbazzi commented on #169
I dropped it at the time given the repo/ peoject seemed to go stale.

[2019-04-09 10:07] stavroskasidis commented on #191
Is this dead ? Can someone else give it a go ?

[2019-04-10 00:35] NullVoxPopuli commented on #22
How much is involved with setting this up? Would love to do an octane version

[2019-04-10 07:21] mansona commented on #22
@NullVoxPopuli just to let you know there is already an octane version that is completed 👍 I'll ask the author if he's happy to post the link here but I think the plan is to finish the Classic and release them both at the same time.

[2019-04-12 10:13] doriancodes opened #364 "Scala + Finch"
Backend Real World Demo implementation using [Scala](https://scala-lang.org/) and [Finch](http://finagle.github.io/finch/): https://github.com/alodavi/scala-finch-realworld-app

[2019-04-12 14:24] Guttz commented on #358
The medals are only for the first three positions and to show the order/arrangement. So actually, in the image Vue is the 4th, React/MobX is the 5th, AngularJS 6th and so on.

Angular is second most stared repo from all of them after React.

[2019-04-12 14:27] Alonski commented on #358
@Guttz That is pretty confusing 😅 I am with @mansona here. Maybe this 3 should have some margin between them and the rest?

[2019-04-12 14:42] Cameron-C-Chapman commented on #359
Hi @sanketmaru 👋 I don't see any Angular Universal implementations in progress. I'll tag this repo as a WIP in case anyone wants to join you.

[2019-04-12 14:49] Cameron-C-Chapman commented on #358
We're just leveraging Github flavored markdown tables here, not sure how much style customization we can do.

Maybe we could separate that first row out, or maybe someone wants to tackle a static gh-pages site?

[2019-04-12 15:45] Alonski commented on #358
@Cameron-C-Chapman Maybe we can create RealWorld Static Sites to showcase the RealWorld Readme 😅

[2019-04-12 21:07] Guttz commented on #358
Yes, I also agree with you and got confused for some days @Alonski @mansona.

I actually think the best option is just to remove them, by default people would understand that it's sorted by popularity as it's also written on top of the table.

Ps: One more idea that the medals can give is that some repos are better built than others, which is also not really the goal of RealWorld

[2019-04-12 21:23] mansona commented on #358
Oh wow, yea that is very confusing 😂 we should change that pretty quickly! Is there any particular reason why it needs to be a table? I think it will always be confusing unless it's literally numbered in each cell 🙈

On another note, I think it is 100% possible to come up with some sort of scoring system for the RealWorld apps 🤔 even something basic. We have a whole ecosystem of this in the Ember

[2019-04-13 07:01] chilledoj commented on #99
@dkairu It’s been a while since I looked at this repo. I’m pretty sure that it was working across the whole API spec.

[2019-04-14 01:08] daniel-lucas-silva opened #365 "Flutter(BLoC)"
Codebase (in progress):
https://github.com/daniel-lucas-silva/flutter_realworld_example_app

Todo:
 - [x] 🏁Fork the starter repo & post the link in this issue
 - [x] 🎨 Create logo for repo & update issue status (@EricSimons, @Cameron-C-Chapman)
 - [ ] 🔨 Implement all of Conduit's functionality per the spec & API
 - [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)

[2019-04-14 15:37] anishkny commented on #360
Great job so far! Do you think you could look at a few things:

1. Could not add comments when I tried it out, also it shows the wrong comment author profile pic in comment box
1. Could you try making a logo staring from [this one](https://github.com/gothinkster/realworld/blob/master/media/realworld-logo.png)
1. Add some CI (Travis/Circle/Azure) for builds

[2019-04-15 00:00] burke166 opened #366 "Server-Side Blazor"
# Current Status

* codebase in progress: [https://github.com/burke166/blazor-server-side-realworld-example-app](https://github.com/burke166/blazor-server-side-realworld-example-app)
* demo: [https://blazorserverside.computercodeblue.com/](https://blazorserverside.computercodeblue.com/)

This has a lot in common with [torhovland/blazor-realworld-example-app](https://github.com/torhovland/blazor-re

[2019-04-15 00:12] burke166 commented on #191
I'm working on something using Razor Components aka Server-Side Blazor, which is similar to this but not exactly the same. [https://github.com/computercodeblue/razor-components-realworld-example-app](https://github.com/computercodeblue/razor-components-realworld-example-app). Routing seems to be no worky as I write this, but I just got to the point that it works on my local machine and in IIS.

[2019-04-16 05:47] mindplay-dk commented on #262
There is still, to my knowledge, no demo project suite out there that requires control state.

It's a bit frustrating - so many new frameworks don't support this (to any practical extend) and a lot of developers aren't going to realize that before it's too late, as many rely on this demo suite to evaluate whether a given framework "works".

I believe most projects will eventually need control stat

[2019-04-16 06:53] Alonski commented on #262
@mindplay-dk Could you maybe try to create an upgrade to the current spec and maybe create an example for one of the implementations with something that you think would add what you are talking about?

[2019-04-16 14:18] sanketmaru commented on #359
Hi @Cameron-C-Chapman ,
The work for creating Universal app is complete. I have converted the existing Angular 7 app to Universal. Its functional.

Comparison of the changes can be seen here.
https://github.com/gothinkster/angular-realworld-example-app/compare/master...sanketmaru:master

Let me know if i would need to make any changes to this repo to include the Universal in the documentation.

[2019-04-16 17:01] anishkny commented on #359
@sanketmaru great work! Could you update the `README.md` and update/remove all references to gothinkster's angular. The ones I see are:

* Live edit, Learn to recrete, Demo, Travis build badge, How it works, Getting started

Thanks!

[2019-04-17 14:12] sanketmaru commented on #359
@anishkny I have updated the README.md.
Thanks.

[2019-04-17 16:28] anishkny commented on #359
Works great on my end! Kudos. Some (optional) suggested next steps:

1. Add CI (Travis/Circle/Azure)
1. Deploy demo (Netlify/Surge.sh)

cc: @Cameron-C-Chapman

[2019-04-18 10:54] mindplay-dk commented on #262
@Alonski we would need to think of a new feature that actually requires a component that has some sort of control state and occurs more than once.

Maybe an advanced search form with start and end date pickers? The main problem with that idea is that calendar logic is quite complex and doesn't really help demonstrate anything relevant in terms of comparing UI libraries. You've picked a source of r

[2019-04-18 19:12] Alonski commented on #262
Also most date pickers are wrappers around existing ones. Needs to be something that you can't just npm install a fix for.

[2019-04-19 07:22] mindplay-dk commented on #262
I do have a small date picker that I keep porting to different frameworks for testing - it's only around 50 LOC for the calendar logic...

https://gist.github.com/mindplay-dk/d85fbf5427d5e4436fadc70ce46d9ac2

I would prefer finding a feature that doesn't require everyone to copy/paste 50 lines of logic though. It might have bugs, never really used or tested ;-)

[2019-04-22 21:48] burke166 commented on #366
With .NET Core 3 Preview 4, Microsoft is back to calling it Server-Side Blazor rather than Razor Components. Working on the update to convert from Preview 3 to Preview 4.

[2019-04-25 15:54] ibnuda commented on #73
looks like i've [done it](https://gitlab.com/ibnuda/real-world-conduit) and the write up can be read [here](https://siskam.link/2018-07-02-thinkster-s-realworld---backend.html).

[2019-04-25 16:13] anishkny commented on #73
@boxyoman sorry this must have slipped thru the craks. Is your implementation API complete? Can you run the supplied Postman API tests against your backend.

Also would it be possible to provide a Dockerfile to try and spin up your backend? Might be easire for folks to try out than current setup steps. Oh and adding CI support also helps newbies figure out how to build/test (Travis/Circle/Azure Pi

[2019-04-25 18:20] alisabzevari commented on #326
Hey @Cameron-C-Chapman,

The Repository is ready for review.

[2019-04-25 18:30] anishkny commented on #326
@alisabzevari great! It looks like you have an `azure-pipelines.yml` file - can you link to the Build page on Pipelines? That would be helpful to look at.

[2019-04-25 21:04] alisabzevari commented on #326
I added the pipeline badge to the readme.

[2019-04-26 16:32] boxyoman commented on #73
@anishkny  The API is complete. I had to modify the supplied Postman API tests because the test did things it the wrong order (ex. It would ask for something before creating it, log in then log out then ask for something, etc). After modifying, it passed the tests. Then I put the Elm frontend on it and found a few other bugs that the tests didn't catch.

I'll try adding docker-compose to it to lau

[2019-04-30 09:51] amadeu01 commented on #175
@sherlockmac sorry my delay! We got the first PR. I'm gonna give more time to this project !

[2019-04-30 16:17] sherlockmac commented on #175
@amadeu01 It's fine.

Let me know if I could help :)

[2019-05-01 23:48] delusioninabox commented on #22
Is there any help still needed on the Classic version? I have some time this month and next.

[2019-05-02 05:11] Alonski commented on #22
@delusioninabox yes! You are always welcome! If you want to ping me on Discord we can chat about it

[2019-05-10 07:12] jacobstern opened #367 "Fullstack TypeScript + Express + Handlebars app"
Hi RealWorld maintainers,

I made [a fullstack RealWorld implementation](https://github.com/jacobstern/typescript-handlebars-realworld) and thought I would try and get it featured in the main repo. It's an "old school" server-rendered app with minimal client-side JavaScript, augmented with [Turbolinks](https://github.com/turbolinks/turbolinks) for faster page loads. The app is up to spec as far as

[2019-05-10 07:23] jacobstern commented on #337
FYI I've implemented Turbolinks for GET requests in my server-rendered app here: https://github.com/jacobstern/typescript-handlebars-realworld. However the Turbolinks feature is mostly incidental and you could definitely go further with it in a Turbolinks-focused implementation, e.g. enabling Turbolinks for forms, page transitions, Rails integration. Nice to see I'm not alone in "rediscovering" se

[2019-05-13 09:40] albertborsos commented on #118
FYI: I also implemented a Conduit backend with passing travis builds which runs the postman collection.
https://github.com/albertborsos/yii2-realworld-example-app

[2019-05-15 09:15] Argonus opened #368 "🗄 🔧 Erlang + Cowboy"
**Notes**
- No SQL database layer, instead of this I'm going to use Erlang ETS or Mnesia [What Is?](http://erlang.org/doc/efficiency_guide/tablesDatabases.html#mnesia-specific)
- Only Backend Part
- Current deadline: End of October 2019
- There is Issue https://github.com/gothinkster/realworld/issues/119 with the same topic but both account & repo are deleted;/

**Progress / ToDo**

- [x]  🏁 Fork

[2019-05-19 08:22] Erikvdv opened #369 "LitElement - Typescript - Redux"
I have started a version of the app in LitElement.

It is using LitElement, Redux and Typescript.

[https://github.com/Erikvdv/litelement-realworld](https://github.com/Erikvdv/litelement-realworld)

[2019-05-19 14:31] ruslanguns opened #370 "Nestjs + MongoDB"

[2019-05-20 10:31] JankoLancer commented on #312
@CasterKKK I would like to contribute to this project.
Can you tell me what job is left to be done?

[2019-05-20 10:44] CasterKKK commented on #312
@JankoLancer Thanks for helping, you can find anything you are interested in. For example, the comment part is missing, and testing is prefered

[2019-05-22 04:18] mirjahal opened #371 "Micronaut Framework"
Hi guys, I started the real world backend example implementation using Micronaut framework: https://github.com/mirjahal/micronaut-realworld-example-app

Coming soon i update the README.md file with more information about the project.

@Cameron-C-Chapman @anishkny please, could set the labels backend and wip?

Thanks!

[2019-05-24 13:20] dj0nny opened #372 "Nuxt.js +Typescript"
Hello guys :smile:, I started a realworld app implementation using Nuxt.js and Typescript

https://github.com/dj0nny/nuxt-typescript-realworld

[2019-05-24 15:01] anishkny commented on #372
FYI there is already a Nuxt.js (JS) in progress in #218 - but go for it!

[2019-05-27 05:23] enkidulan opened #373 "NewUser definition email field has no format property set"
I've been looking at specs and noticed that `NewUser` definition `email` field has no `format` set:
https://github.com/gothinkster/realworld/blob/1d58c002fc3da07e386489ddfc2df2e85fa45bdf/api/swagger.json#L834.

Not having an email validation is bad for demonstration purposes because:
1. any realistic POC would have such primitive validation;
1. having a user to be able to register with any string

[2019-05-30 02:18] AndierZ commented on #228
Thanks so much for putting it together. It looks like solid work. I'm starting to teach myself vert.x and full stack development in general. This is great material. Appreciate it.

[2019-05-31 13:11] akamanocha commented on #371
Hey @mirjahal

I was writing the same in the parallel universe. Can collaborate!

https://github.com/akamanocha/micronaut-realworld-example-app

[2019-06-09 18:35] zupo opened #374 "Pyramid backend framework"
Hello all, I've implemented a [Pyramid](https://trypyramid.com) version of Conduit.

It ships and serves one of the front-end implementations on root to make it a usable app.

Included 100% test coverage and [CircleCI integration](https://circleci.com/gh/niteoweb/pyramid-realworld-example-app). Master is continuously deployed to Heroku: https://pyramid-realworld.herokuapp.com/

* [x] Fork the star

[2019-06-11 14:27] 1984weed commented on #345
I left only some refactorings

[2019-06-15 10:08] alisabzevari commented on #326
Hey, any news regarding this?

[2019-06-17 06:56] w4-hanggi opened #376 "The sort for backend has been changed."

[2019-06-18 07:31] dragneelfps commented on #138
Is this still alive? I am planning to build it from scratch for learning purposes.

[2019-06-18 16:09] AndreasVolkmann commented on #138
@dragneelfps please go ahead. I am not working on this anymore.

[2019-06-18 18:36] dragneelfps commented on #138
Hi, I have started working on it.
https://github.com/dragneelfps/realworld-kotlin-ktor
@AndreasVolkmann can you update the top post status so that it reflect that I am working on it. It will be helpful for people reading this issue.

[2019-06-19 06:28] dntzhang opened #377 "Add Omi"
https://github.com/Tencent/omi

[2019-06-20 12:24] dragneelfps commented on #138
I have completed the features as per the API spec. But there might be things that I overlooked so I'll do revisions if needed. Also, any PR is welcome.
I need to do documentation about the stuff the backend is built on, in the readme and some in code, though it mostly is self explanatory.
If someone can review my code, so we can move forward.

[2019-06-20 18:09] shubhra14 opened #378 "Create a wordpress backend"
Hi,

I am a student/beginner and am familiar with php/wordpress. I have just started learning js/vue. I wanted to make the [Vue RealWorld Example App](https://github.com/gothinkster/vue-realworld-example-app) to work with the wordpress rest api. I was adviced by the app's developer to ask here how to make wordpress api work with RealWorld/Vue frontend.

I am familiar with how to make Vue+WP work b

[2019-06-23 09:03] dragneelfps commented on #138
Any update?

[2019-06-23 14:21] anishkny commented on #138
Could you run the API tests given in this repo (/api folder). Also could you add some CI service on your repo (eg TravisCI). Thanks!

[2019-06-23 14:29] dragneelfps commented on #138
@anishkny the tests in the postman collection mentions "celebs" but in the API spec there is not mention of that. Are both, API spec and postman updated? I followed the API spec in my code.

[2019-06-23 17:46] anishkny commented on #138
Yup looks good! It also helps a lot setting up CI - could you try that next?

[2019-06-23 18:23] dragneelfps commented on #138
What kind of CI does need to be set up? For the .sh provided or ktor unit tests?

[2019-06-24 16:07] vaibhavmule commented on #304
@Cameron-C-Chapman I have worked on repo and ready and passed all the tests.

[2019-06-24 16:55] anishkny commented on #304
@vaibhavmule could you add CI (Travis/Circle/Azure)?

[2019-06-25 17:46] vaibhavmule commented on #304
Yes just updated the travis.yml.

[2019-06-26 08:40] QuantumInformation commented on #262
I was most surprised when a forgot password wasn't included in the frontends.

[2019-06-26 15:53] rupertlssmith opened #380 "swagger.json and Postman collection are not consitent /user vs /users"
In the swagger definition, fetching the current user is done with a GET /users:

https://github.com/gothinkster/realworld/blob/master/api/swagger.json#L108

In the Postman test collection, fetching the current user is done with a GET /user:

https://github.com/gothinkster/realworld/blob/master/api/Conduit.postman_collection.json#L224

[2019-06-27 03:01] dragneelfps commented on #138
Any update?

[2019-06-27 03:15] anishkny commented on #138
Hey why was [build #3](https://travis-ci.org/dragneelfps/realworld-kotlin-ktor/builds/549436015) cancelled? That had Postman tests correct?

[2019-06-27 03:20] dragneelfps commented on #138
[#3](https://travis-ci.org/dragneelfps/realworld-kotlin-ktor/builds/549436015)
was cancelled because the .travis.yaml configuration was wrong. I need help setting up configuration for postman test. My problem is how to run the server, run the .sh test and then stop the server gracefully.

[2019-06-27 19:25] khimaros opened #382 "create a rust/yew frontend"
https://github.com/DenisKolodin/yew

[2019-06-27 19:25] khimaros opened #383 "create a stdweb/frameworkless rust frontend"
https://dev.to/swisschili/frameworkless-front-end-development-with-rust-3cgk

[2019-06-27 23:47] forrest-akin commented on #196
Hi, just checking in. The project looks like it's more or less ready to merge, but there hasn't been any activity here in awhile. What are the next steps here? Thanks!

[2019-06-28 08:02] jihchi commented on #196
Hi @forrest-akin ,

Currently, I'm working on upgrading `re-formality` to latest version.
My goal is migrating codebase to use React Hooks.
You can see it at [this](https://github.com/jihchi/reason-react-realworld-example-app/tree/upgrade_react_hooks) branch, It's still a work in progress.

[2019-06-30 23:16] chagweyh opened #385 "React Hooks + Typescript"
Hello folks, I started a new realworld app implementation using react hooks and typescript.
https://github.com/haythemchagwey/react-hooks-typescript-realworld/

[2019-07-01 08:25] florentdestremau commented on #66
Hello ! Is this issue still relevant ? I could help out for the Symfony backend in order to promote the framework :)
It would be better to do it in Symfony 4. and possibly do it with API Platform (as it is a framework for symfony, frameworkception !), maybe on a separate issue

[2019-07-01 15:50] matigda commented on #66
There is already some work done. Have you checked out the repo? IMO it would be best to NOT use any external libraries. It's very simple CRUD. Way better for other people to learn basics of framework and architecture if it's based on simplicity, not external dependencies.

[2019-07-01 16:26] florentdestremau commented on #66
I've seen the repo and I gotta say, I really don't like the structure of the `src` file because I don't think it follows the Symfony best practices' way of naming and ordering things.
Although I like the testing part a lot, I think that it doesn't reflect the "Symfony way":

[code]

What I expect from this repository is to follow the docs with as much precision as possible so that any beginner can

[2019-07-01 16:32] matigda commented on #66
Not sure if it is cause I got used to "screaming architecture". It may be, but it's just something natutal to me. If you are willing to change current code - go on with that. But then please make sure you make it from the beginning to the end. There were already few approaches from different people and every one canceled in the middle.

[2019-07-01 16:40] florentdestremau commented on #66
I won't start anything if I'm not confident that I can do it completely. I'll think about this :)

[2019-07-02 12:34] mindplay-dk commented on #262
@QuantumInformation that doesn't really present a new change to the frameworks though - just more of the same. The point of this thread is, there's an entire class of components with instance-specific state that isn't covered by any of the current cases - and this appears to be something that significantly sets frameworks apart.

[2019-07-03 13:30] markjackmilian commented on #193
all functionality has been done. Can it be considered completed?

[2019-07-03 16:08] anishkny commented on #193
great work @markjackmilian. Do you think you can build this project on some CI system (TravisCI/CirlceCI/Azure Pipelines) to demonstrate how to build it? That would be really helpful!

[2019-07-03 21:37] markjackmilian commented on #193
I'll look at it as soon as I can.

[2019-07-05 13:27] QuantumInformation commented on #262
Yeah, but it would be just nice to have one less thing to implement when bootstrapping an app from this code.

Great work though!

[2019-07-05 23:10] godspeedchu opened #386 "Create a gRPC + Google Cloud Endpoint backend"
I have started a version of the app.

I'm going to use gRPC Java + Google Cloud ESP

Repo: https://github.com/godspeedchu/grpc-realworld-example

[2019-07-09 12:02] kivio opened #387 "Create ballerina.io backend"
Hi will be fine to seen how to write full application like this in ballerina language.

[2019-07-09 17:04] jcormont opened #388 "Typescene front-end (new TypeScript framework)"
Hey everyone, I recently launched the [Typescene](https://typescene.dev) framework and some people asked for a RealWorld implementation.

https://github.com/typescene/typescene-realworld-example-app

WIP:
- Unit Tests (planning how to do this at the moment)
- Better responsive resizing closer to the original CSS

Looking forward to your feedback. Please follow [@typescene](https://twitter.com/type

[2019-07-10 03:34] 1984weed commented on #345
@anishkny
I just completed the functionality.
https://github.com/1984weed/akka-http-realworld-example
How should I do next?

[2019-07-10 04:42] anishkny commented on #345
Looks great! Could you fix failing build: [![Build Status](https://travis-ci.org/1984weed/akka-http-realworld-example.svg?branch=master)](https://travis-ci.org/1984weed/akka-http-realworld-example)

[2019-07-10 13:00] 1984weed commented on #345
Oh. Sorry. I made a mistake.

I fixed it. @anishkny

Thanks 🙇

[2019-07-13 18:02] godspeedchu commented on #386
* [x]  Fork the starter repo & post the link in this issue: https://github.com/godspeedchu/grpc-realworld-example
* [x]  Create logo for repo & update issue status (@EricSimons)
* [x]  Implement all of Conduit's functionality per the spec & API, all spec tests now pass
* [x]  Tag v1 release and officially list it on the README: v1 tag is on https://github.com/godspeedchu/grpc-realworld-example/rel

[2019-07-14 17:32] Lermex opened #389 "Haskell / Miso Frontend"
I'm working on implementing the frontend spec in [Miso](https://haskell-miso.org), an Elm-like frontend library for [Haskell](http://haskell.org) that uses [GHCJS](https://github.com/ghcjs/ghcjs), the Haskell-to-JS compiler.

The repository is https://github.com/Lermex/haskell-miso-realworld

[2019-07-15 22:41] markjackmilian commented on #193
hi!
i add a simple azure pipeline with badge on repo.
Do you think it's ok?

[2019-07-15 23:13] anishkny commented on #193
Thanks - although I can't see the project - could you make it publicly visible?

[![Build Status](https://dev.azure.com/markjackmilian/realworld/_apis/build/status/markjackmilian.bridge.spaf-realworld-app?branchName=master)](https://dev.azure.com/markjackmilian/realworld/_build/latest?definitionId=1&branchName=master)

[2019-07-15 23:27] markjackmilian commented on #193
sorry, i just modify project policy. Can you try again?

[2019-07-17 03:52] imnutz opened #390 "redux-bundler"
I'm working on Front-end part using structure and concepts from [redux-bundler](https://reduxbundler.com/)

Repo: [imnutz/redux-bundler-realworld](https://github.com/imnutz/redux-bundler-realworld)

[2019-07-17 10:33] harttle opened #391 "Create a San frontend"
Create a realworld app frontend using [san](https://github.com/baidu/san) as the framework. It's now almost complete and we're still working on the unit test demonstration.

The repository is: https://github.com/ecomfe/san-realworld-app
Working demo: https://ecomfe.github.io/san-realworld-app/

[2019-07-17 13:18] colonelrascals opened #392 "Fullstack Elixir/Phoneix"
Would there be any interest in a Fullstack Elixir/Phoneix app using liveview?

[2019-07-17 16:59] AngelsProjects commented on #105
Are you going to make a real world app with loopback v4?

[2019-07-19 14:29] catastrop opened #394 "also use Golang"

[2019-07-28 01:43] vaibhavmule commented on #304
@anishkny @Cameron-C-Chapman Just wanted to know, what can be done approved?

[2019-07-28 02:37] anishkny commented on #304
@vaibhavmule this looks great! Could you run API tests against your backend to ensure it is compliant? preferably in Travis CI

https://github.com/gothinkster/realworld/tree/master/api

[2019-07-28 02:44] vaibhavmule commented on #304
Yeah I could do that. Thanks.

[2019-07-29 04:53] jirwong commented on #175
awesome!

[2019-07-29 16:06] jaguililla commented on #380
I ran into the same problem. What is the endpoint ot use?

Also, the update user allows to change the username (which can affect articles authors, etc.) and also allows you to change the token (should that be stored in any place?).

Thanks for your help!

[2019-07-29 16:18] anishkny commented on #380
Good catch. We are going with:

[code]

See: https://github.com/gothinkster/realworld/blob/master/api/README.md#get-current-user

Feel free to send a PR to correct `swagger.json`

[2019-07-29 16:33] jaguililla commented on #380
Ok. I'll do the PR :)

Could tell me if PUT is supporting all fields? For me, `username` and `token` shouldn't be changed (token is not allowed in readme, so I assume that it is wrong in the Swagger spec, right?).

Thanks again!

[2019-07-29 17:01] anishkny commented on #380
Yes. PUT user supports only `email, bio, image`

[2019-07-29 17:55] jaguililla commented on #380
Done... If something is wrong tell me in #396 :)

[2019-07-30 04:04] 1984weed commented on #345
How do I have to do to go to the next step?

[2019-07-31 13:17] amadeu01 commented on #175
@sherlockmac sorry! I changed from one company to another and things got a little overwhelming. But, I'll keep it rolling now.

[2019-08-01 18:29] jaguililla commented on #380
The `POST {{APIURL}}/profiles/celeb_{{USERNAME}}/follow` Postman route has a body which seem redundant (as the username is already a path parameter). Would it be OK to delete the body of this request from the Postman collection?

[2019-08-01 18:30] LucasBadico opened #397 "Missing one key point on authorization spec"
Guys, I'm thinking tha we are loosing one key point in authorization/authentication spec.

There is a need for a client identification. My backend should have to register some client to be able to allow connections.

So we would need first generate a new client entitiy, give it a credentials, say what api(services) it will be allowed to call.

[2019-08-02 21:14] anishkny commented on #397
This is not necessary. See: https://jwt.io/introduction/

[2019-08-02 21:14] #397 closed

[2019-08-02 21:14] anishkny commented on #394
Currently the number 2 backend behind only Node.js: https://github.com/gothinkster/golang-gin-realworld-example-app

[2019-08-02 21:14] #394 closed

[2019-08-02 21:15] anishkny commented on #392
Sure go for it! In fact we don't have a single fullstack impl.

[2019-08-02 21:20] anishkny commented on #345
@1984weed to ensure API correctness, could you run tests defined here against your backend in CI: https://github.com/gothinkster/realworld/tree/master/api

[2019-08-02 21:22] anishkny commented on #304
Basically you would need to spin up your backend, and then execute:

[code]

(assuming port 8000)

See: https://github.com/gothinkster/realworld/blob/master/api/run-api-tests.sh

[2019-08-02 21:30] anishkny commented on #193
LGTM PTAL @Cameron-C-Chapman

[2019-08-02 21:35] anishkny commented on #138
Hmm. How about :

[code]

[2019-08-02 21:37] anishkny commented on #378
Unfortunately, the frontend and backend implementations follow the same [API](https://github.com/gothinkster/realworld/tree/master/api) and can only work with each other. You can't really run a RealWorld frontend against another backend.

[2019-08-02 21:37] #378 closed

[2019-08-02 21:41] anishkny commented on #326
Hey sorry for the delay. Looks like no builds were found for the pipeline, have you run it in CI?

[![Build Status](https://dev.azure.com/alisabzevari/kotlin-http4k-realworld-example-app/_apis/build/status/alisabzevari.kotlin-http4k-realworld-example-app?branchName=master)](https://dev.azure.com/alisabzevari/kotlin-http4k-realworld-example-app/_build/latest?definitionId=1&branchName=master)

[2019-08-03 11:23] alisabzevari commented on #326
I think Azure Pipelines does not keep the history of builds for a long time. Since the project didn't have activity recently, the history is deleted.
I triggered the build so you can see the results now.

[2019-08-05 12:15] kigsmtua opened #399 "Haskell/SnapFramework"
Implementing the Conduit API using Haskell's snap framework

[Link to repo](https://github.com/kigsmtua/haskell-snap-realworld-example-app)

**Current Status**

Todo:

- [x]  🏁 Fork the starter repo & post the link in this issue

- [ ] 🔨 Implement all of Conduit's functionality per the spec & API

- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)

[2019-08-07 15:56] brucou commented on #262
@mindplay-dk

If you think about the [TodoMVC](http://todomvc.com/) as a control part of a larger application, rather than an application in its own right, then you have one.

Folks have been writing web applications with jQuery and direct DOM manipulation and plenty of controls without a hitch. I don't think the situation would dramatically change with any framework, small or large. It is not lik

[2019-08-08 14:13] mindplay-dk commented on #262
This gives you *state* - but it doesn't somehow give you update boundaries pertaining to that state.

Some of the simpler libraries will let you render and update JSX - if you use this approach with one of those libraries, any state update will necessarily cause a complete render/diff of the entire UI.

I don't think I'm doing that?

Even a tiny app like, say, a cookie consent banner, might have a

[2019-08-08 16:43] brucou commented on #262
I am not sure what you mean by that. TNG-hooks for instance lets a component access and update state, and that state would be only accessible from that component (is that what you mean by boundary?). The same state management abilities can be even more easily achieved with a simple closure (whose scope you can adjust).

That is a good find. I had not hear about it. I am actually writing the Realwo

[2019-08-09 17:22] dragneelfps commented on #138
@anishkny thank you for your input. It works now. If there is nothing more to do, I think this repo is ready to be included in the realworld.io project.

[2019-08-09 17:52] anishkny commented on #138
great! LGTM PTAL @Cameron-C-Chapman

[2019-08-10 10:00] mindplay-dk commented on #262
Yes, TNG-hooks lets a component access and update state *while it is rendering* - by render boundaries, I mean, control of where rendering begins and ends: the scope of an update.

You can tie-in TNG with, for example, [this tiny library](https://github.com/jorgebucaran/superfine) - and this will give you stateful components during updates, but it won't somehow imbue it with any concept of render

[2019-08-10 12:05] brucou commented on #262
Alright I think I understand what you mean. Without a component
concept, you cannot have a component granularity basically. But you
can always build your own component concept around the minimal UI
library if you need to. Or you can memoize some of the vDOM generating
functions so they don't recompute. Or you can just accept the virtual
DOM cost.  I agree that it may be an hassle and this may come

[2019-08-10 16:01] 1984weed commented on #345
Thanks. I just added the API test to CI !!
https://github.com/1984weed/akka-http-realworld-example/blob/9824fc701d1476eae2b389d2410881af1577b147/.travis.yml

Is it OK?

[2019-08-10 17:06] dragneelfps commented on #138
@anishkny should I create a PR to add the repo link to `README` or someone else will update the `README`?

[2019-08-11 00:27] anishkny commented on #345
Great work. LGTM PTAL @Cameron-C-Chapman

[2019-08-13 09:35] filipbech commented on #369
Looking forward to getting this in... do you need help?

[2019-08-13 09:43] Erikvdv commented on #369
I am planning to finish the functionality part in the coming two weeks. That should be good enough for putting it on the realword.io repo. I want to finish it asap as I would like to experiment with rxjs based redux and fetch asap.To speed the remainder up, some support with setting up unit and e2e test could be helpful.

[2019-08-13 10:05] filipbech commented on #369
I'm honestly not to familiar with the testing side of litElement... I guess its like the good old polymer webcomponents testing... I don't think I can be of much help with that :-/
Looking forward to seeing the results though...

[2019-08-13 16:01] justinfagnani commented on #369
There are lot more options for testing with Polymer 3 and LitElement because they don't use HTML imports. I'd probably go with the open-wc.org testing reccomendations for now.

[2019-08-13 17:45] Erikvdv commented on #369
I was thinking of using Jest for the unit tests and cypress for the e2e tests. With respect to the e2e tests I am curious to see if that approach will work given the encapsulation of the web components. The semantic-dom-diff library looks interesting as well, will give it a try when I have time.

[2019-08-13 18:22] justinfagnani commented on #369
Jest has terrible web components support, and possibly bad modules support. I really would follow the open-wc.org reccomendations.

[2019-08-13 18:48] Erikvdv commented on #369
Ok, will follow your advice and start with the open-wc setup. Seems quite straight forward in terms of setup anyway.

[2019-08-18 04:03] ahmedabdailla opened #400 "FastAPI"
I wanted to participate and create a FastAPI Based Backend.
https://fastapi.tiangolo.com/
Repo URL : https://github.com/ahmedabdailla/FastAPI-realword

[2019-08-18 06:21] iq3addLi opened #401 "Riot.js v3"
Hi
Implemented RealWorld with Riot.js v3.

Sorry for the reverse order. Since PullReqesut has been issued first, please see [here](https://github.com/gothinkster/realworld/pull/398) for description.

Thank you for your reviewing.

[2019-08-18 06:29] iq3addLi commented on #401
@anishkny
May I ask you to merge like [this issue](https://github.com/gothinkster/realworld/issues/314)?
Thanks😃.

[2019-08-18 06:39] anishkny commented on #401
Tried it out locally. Looks good!

Good to go! @Cameron-C-Chapman

[2019-08-18 06:40] iq3addLi opened #402 "Riot.js v4"
Hi
I implemented RealWorld with Riot.js v4.
I have confirmed [that](https://github.com/gothinkster/realworld/tree/master/spec#project-overview) all of these functional requirements have been met.

Thank you for your review🙏.

title|content
:---|:---
Repository| https://github.com/iq3addLi/riot_v4_realworld_example_app
Demo| https://riot-v4-realworld.addli.co.jp

[2019-08-18 06:56] iq3addLi commented on #402
@anishkny
Sorry for the iteration.
May I ask for this review as well?
Thx!😆

[2019-08-19 07:32] mindplay-dk commented on #262
Of course, you can always build your own library on top of another library.

But the point of RealWorld, I think, is to show what you can do with a given library and appropriate patterns?

If I had to build my own component abstraction with diffing and life-cycle management and all, on top of another library, that new library becomes a candidate for a *separate* case-study and implementation.

Up

[2019-08-19 15:27] brucou commented on #262
Alright, so I guess that if my point is not clear, then indeed example
of implementations around miscellaneous UI lib will do a better job to
dispel any doubts.

On 8/19/19, Rasmus Schultz <notifications@github.com> wrote:

--
---

[2019-08-20 17:45] xyclos commented on #46
Is anyone still working on this? the fork hasn't been touched in 2 years. I'd like to help out with this.

[2019-08-20 20:31] anishkny commented on #46
Go for it @xyclos! Feel free to build on https://github.com/thebergamo/realworld-graphql

[2019-08-20 21:46] thebergamo commented on #46
Holy lord! 2y already :(

[2019-08-21 10:05] harikautilya commented on #84
i am interested. May i know the starting procedure or should i simply sent you some samples?

[2019-08-22 07:20] iq3addLi commented on #175
Hello @amadeu01
I also intend to implement RealWorld backend with Vapor on Swift.
Please tell me the state if you like 🙏
Thanks

[2019-08-24 14:30] amadeu01 commented on #175
@iq3addLi sorry my delay. You can open any PR to the project. I'm really slow on this, but I'm going to work on that this weekend 😄

[2019-08-25 09:38] iq3addLi commented on #401
@anishkny @Cameron-C-Chapman
What are you checking now?
Please let me know if you have any problems. 😁

[2019-08-25 10:21] iq3addLi commented on #175
@amadeu01
Thank you for reply!
I understand that you will continue the project.
I looked at your project and it seems that the architecture is different from me.
So I'm considering starting a project with a different name, are you in favor?

[2019-08-26 03:45] camaulay commented on #358
The medal headers were confusing for me too, this makes more sense:

![realworld-app-ranking](https://user-images.githubusercontent.com/8944214/63661750-f48acf80-c7fa-11e9-92b9-9985dc508e8c.jpg)

[2019-08-27 07:26] iq3addLi opened #404 "Swift Vapor with Layered Architecture"
I develop RealWorld backend under the following conditions. ⚒

content | description
:---|:---
repository| https://github.com/iq3addLi/swift-vapor-layered-realworld-example-app
language| Swift
framework| Vapor
architecture| Layered Architecture
Database| MySQL

Sorry, it will be a private project until the product matures to some extent.🙇‍♂️

### Other ongoing Swift projects
* https://github.com/g

[2019-08-27 07:35] iq3addLi commented on #175
@amadeu01
Thank you! Let's advance toward completion each other. 😊

[2019-08-29 15:27] xyclos commented on #46
hey, @thebergamo @anishkny I was having a look at the existing repo and I have some questions:

why is this wrapping the restful api? wouldn't a more complete example implement the db connection, orm and the business logic for querying the data like the node express example does?

also, it seems the integration with hapi may be unnecessary now since apollo-server no longer requires a separate http

[2019-08-30 05:47] Ericnr commented on #6
Found https://github.com/thebergamo/realworld-graphql by @thebergamo which is pretty nice, just wish it was in express instead.

[2019-09-01 16:25] #138 closed

[2019-09-01 16:26] #193 closed

[2019-09-01 16:26] #345 closed

[2019-09-01 16:26] #401 closed

[2019-09-01 16:26] #402 closed

[2019-09-04 19:30] abhinavsharma629 commented on #214
hey can you assign me this task? I can fix it for Django.

[2019-09-04 23:35] chrisxue815 opened #408 "AWS Lambda + DynamoDB + Go"
Hi,

Thank you for continuously improving this project. Great work!

I just implemented a backend using AWS Lambda + DynamoDB + Go + Serverless:
https://github.com/chrisxue815/realworld-aws-lambda-dynamodb-go

Demo:
https://chrisxue815.github.io/realworld/build/#/

Please feel free to reference it in README.md!

Related issue: #30

Thanks,
Chris

[2019-09-05 01:52] bbbooo313 commented on #404
[oubo234.com](oubo234.com)  老哥换个友链吗？
联系QQ：1297532431

[2019-09-05 01:53] bbbooo313 commented on #382
[oubo234.com](oubo234.com)

[2019-09-05 01:54] bbbooo313 commented on #367
你可以在这里试试：[oubopingtai.com](oubopingtai.com)

[2019-09-05 08:01] danigoland opened #409 "Flask + Celery"
Since its a pretty popular stack and it's not on the list if people are interested I can prepare it pretty fast from my own templates.

Thumbs Up if you are interested :)

[2019-09-09 00:52] GCheung55 opened #410 "Bug: Removing all tags in an Article requires an array with an empty string"
The API doesn't seem to be removing all tags when an article's tagList is an empty array.
Sending an array with an empty string properly removes all the tags.

[2019-09-13 18:50] raulsebastianmihaila commented on #262
I would also like to see and work on v2. The one big thing that I think is missing in v1 is indeed more complex forms with validations. I was looking at the react and the apprun implementations and they don't seem to do client side validations on the login and registration forms. [crizmaz-mvc](https://github.com/gothinkster/crizmas-mvc-realworld-example-app) does. Also in the [crizmas-mvc](https:/

[2019-09-14 11:09] mindplay-dk commented on #262
This is somewhat related to the problem I've been trying to define.

The very easy work-around is to just use CSS to control visibility, however - the problem I've been trying to describe is a bit trickier in that regard, since you'd *have* to destroy the component (or manually manage instances/states) to make it lose it's state.

I would prefer to find a simpler use-case - a date-picker has a lot

[2019-09-14 12:59] raulsebastianmihaila commented on #262
I think the safest scenario is the wizard scenario where each step is on a separate page (meaning has a different URL path). It's less likely then that the form state would be held in the component. But it shouldn't be forbidden, at the end of the day the project is about comparing approaches. Some of the steps should have state/data from the server and it should be required in the UX spec that th

[2019-09-15 21:29] MainaKamau92 opened #412 "GraphQL Implementation of the Django Api"
**Description**
Following issue #412 raised on the implementation of GraphQL using Django graphene. I have created a repository that contains the code of a working API that has been implemented using the above requirements.

**Repository Link**
[Conduit Django GraphQL](https://github.com/MainaKamau92/conduit_django_graphene.git)

**Feedback would be appreciated**
@anishkny @Cameron-C-Chapman @sand

[2019-09-18 22:01] diegocamara opened #414 "Quarkus Framework with Java"
Hello guys, i'm working on a realword app implementation using Quarkus Framework with Java.
[https://github.com/diegocamara/realworld-api-quarkus](https://github.com/diegocamara/realworld-api-quarkus)

[2019-09-19 17:14] shanebdavis opened #415 "react-redux-realworld-example-app has long-outstanding pull-requests..."
Could someone take a look at the outstanding pull-requests for react-redux-realworld-example-app? That app desperately needs updating. @khaledosman did some excellent work, and I've also contributed a hooks-update (though I should probably merge my work with his before it's accepted).

https://github.com/gothinkster/react-redux-realworld-example-app/pulls

Thanks!

[2019-09-28 21:28] chrisstpierre opened #416 "Julia / Genie"
https://genieframework.com/

[2019-10-01 14:29] QuantumInformation opened #417 "Shouldn't PUT on /user be a PATCH instead?"
Given that each property on the data passed to PUT on /user is optional, shouldn't we use PATCH instead?

[2019-10-01 14:33] QuantumInformation commented on #415
Probably should be left there instead of posting here. Otherwise, this place is gonna get way too noisy. Are there not contributors there that have Push permissions?

[2019-10-01 14:40] khaledosman commented on #415
It seems like no one is really maintaining these repos anymore..

Same for the Angular one, these have been lying around since April
https://github.com/gothinkster/angular-realworld-example-app/pull/145
https://github.com/gothinkster/react-redux-realworld-example-app/pull/135

[2019-10-01 14:44] QuantumInformation commented on #415
IMOP these repos would be better sourced under different users accounts or more perms given, ie the Svelte model: https://github.com/sveltejs/realworld

[2019-10-01 16:02] QuantumInformation commented on #262
Regarding forms and validation, here's my thoughts already, at least it should have some server side/client-side checks (before submitting) on the users email better than what we have.

https://github.com/sveltejs/realworld/issues/34
https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app/issues/45

[2019-10-01 16:16] QuantumInformation commented on #22
Looking fwd to the octane version!

[2019-10-02 00:46] diegocamara commented on #414
Hello @Cameron-C-Chapman   @anishkny Could you please check the repository? The project is functional and meeting the tests performed by postman collection.

Thank's

[2019-10-02 06:24] Alonski commented on #22
@patocallaghan

[2019-10-02 14:55] khimaros opened #418 "create a rust/seed frontend"
https://github.com/David-OConnor/seed

[2019-10-03 13:53] QuantumInformation commented on #417
Ok, it seems implementations just replace the whole object, so in reality, it is a PUT.

[2019-10-03 13:53] #417 closed

[2019-10-07 10:18] QuantumInformation opened #419 "Forgot password functionality"
I think it would be great if we could get the apps to support Forgot password functionality, since this is always a core feature of webapps.

For the frontend this would be just a different route, but on the backend there would need to be some sort of email verification system.

[2019-10-13 19:20] seyfer commented on #66
@florentdestremau `Application / Domain / Infrastructure` is a usual structure for DDD and Hexagonal Architecture apps, which is widely used with Symfony. Personally I think this is a better `Real World` example than just following the structure proposed by the framework.

[2019-10-14 09:42] florentdestremau commented on #66
@seyfer if you want to show a "by the book" symfony web app, Hexagonal is not included. Because this is framework - agnostic, I don't think it should be reflected, or at least there should be 2 versions.

Anyway, I am guilty of not having time to offer for this project, I'm just hoping someone will find the time to finish this :+1:

[2019-10-15 14:40] shdblowers opened #421 "Elixir + Raxx"
[Elixir](https://elixir-lang.org/) with [Raxx](https://github.com/crowdhailer/raxx)

[2019-10-25 15:23] arrlancore opened #423 "Server side rendering react with nextjs"
I have seen another project using nextjs and redux, but it seem still client rendering. So I create one for SSR version. here is the repo https://github.com/arrlancore/nextjs-ssr-real-world-app-example

Please give a review and feedback.

[2019-10-25 18:19] quantuminformation opened #424 "Anyone planning on making a FaunaDB GraphQL version?"
I guess we could also use Netlify functions here too

[2019-10-26 04:05] tranlehaiquan commented on #423
I can't go to direct link like:
https://nextjs-real-world-example-ssr.netlify.com/post/44-id1npi
It will go to error page.

[2019-10-26 06:41] arrlancore commented on #423
thanks @tranlehaiquan for testing. It has some issue with netlify hosting so ssr for dynamic page not working, I just changed it to heroku. And ssr working properly, you can test it on https://nextjs-ssr-real-world-example.herokuapp.com

[2019-10-27 13:02] m1ga opened #425 "Appcelerator Titanium"
**Current Status:** Work in progress

* Codebase in progress: https://github.com/m1ga/realworld-appcelerator-titanium

It's a start and displays a basic list and has a article detail page:
<img src="https://raw.githubusercontent.com/m1ga/realworld-appcelerator-titanium/master/demo_1.jpg"/>
Still a lot to do :smile:

Features:
* [x] Basic article list
* [x] Basic article detail page
* [ ] Add more

[2019-10-27 18:35] thitemple opened #426 "Frontend with F#, Fable and Elmish"
[Link to repo](https://github.com/thitemple/real-world-fable)

[Demo](https://real-world-fable.netlify.com/)

- [X] 🏁 Fork the starter repo & post the link in this issue
- [X] 🎨 Create logo for repo & update issue status (@EricSimons)
- [X] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag

[2019-10-28 06:21] tranlehaiquan commented on #423
👍 it good now

[2019-10-28 06:24] tranlehaiquan commented on #423
For pagination, you should reflect it in URL. Like:
Page 1
https://nextjs-ssr-real-world-example.herokuapp.com?page=1

[2019-10-28 06:26] tranlehaiquan commented on #423
Improve pagination component
![image](https://user-images.githubusercontent.com/17347993/67656481-82fc0880-f986-11e9-80d5-6c42c8946e31.png)

[2019-10-29 02:14] arrlancore commented on #423
Thanks @tranlehaiquan for the input, added to next todo feature on this issue:
https://github.com/arrlancore/nextjs-ssr-real-world-app-example/issues/7

Anyone want to make a PR will be appreciate.

[2019-10-30 19:59] oelsons commented on #271
File still missing

[2019-11-02 13:03] alisabzevari commented on #326
Hi, any news regarding the review of this? Is there something blocking this project to be added to the list?

[2019-11-03 21:35] daniel-lucas-silva opened #427 "Flutter+Redux"
Codebase (in progress):
https://github.com/daniel-lucas-silva/flutter_redux_realworld_example_app

Todo:
 - [x] 🏁Fork the starter repo & post the link in this issue
 - [x] 🎨 Create logo for repo & update issue status (@EricSimons, @anishkny)
 - [ ] 🔨 Implement all of Conduit's functionality per the spec & API
 - [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
 -

[2019-11-04 03:13] freesig opened #428 "Holochain"
Hi everyone.
I'm going to be working on an implementation of the backend using [Holochain](https://developer.holochain.org/).
I think it will be a cool experiment to see if I can get this working as Holochain is peer to peer and doesn't require any servers (well that's true atleast for data storage).
The repo is here: https://github.com/freesig/holochain-realworld-example-app

[2019-11-04 03:14] freesig commented on #428
I can't seem to assign labels to this issue.

[2019-11-05 13:11] nhaancs opened #429 "Frontend with Angular + angular-redux"
Hi everyone,
I'm going to be working on an implementation of the frontend using Angular + angular-redux.
The repo is here: https://github.com/nhaancs/angular-redux-realworld-example-app

[2019-11-07 02:39] mvila opened #430 "Liaison: A love story between the frontend and the backend"
After spending some time analyzing a few of the most popular [RealWorld example apps](https://github.com/gothinkster/realworld) implemented in JavaScript, I came to a not-so-bright conclusion. Although carefully crafted, I think they all suffer from some serious issues: code scattering, duplication of knowledge, and too much boilerplate.

## Code scattering

Ideally, implementing a new feature wou

[2019-11-10 23:33] romatthe opened #431 "Java + Quarkus"
Considering that no-one has submitted an entry for this framework yet, I will be building a Conduit implementation for the Quarkus framework using Java. This might not the an implementation that will be vastly different from the existing Spring repo, but there is considerable interest in this framework in the community, and I wanted to give it a try-out, so I might as well move the implementation

[2019-11-11 10:09] apapacy opened #433 "RiotJS + Universal + Effector + Hot Reload"
Codebase (complete):

https://github.com/apapacy/realworld-riotjs-effector-universal-hot

Demo:

https://realworld-riot-effector-universal-hot-pnujtmugam.now.sh

[2019-11-11 13:41] lastlink opened #434 "Google Apps Scripts (backend)"
You can use the free tier of google apps scripts to fully power a jwt rest api using google sheets. You can also connect to a databasing using a JDBC connection. It provides POST and GET support. This example should use google sheets as a data storage
Google sheets size limits per https://support.google.com/drive/answer/37603?hl=en. You can only have 5 million cells per sheet (not per document). S

[2019-11-11 14:07] lastlink opened #435 "ruby sinatra backend"
jwt backend written in ruby using the light rest api framework sinatra

[2019-11-13 23:54] tobiu opened #436 "neo.mjs frontend"
Hello everyone,

I started to craft a version using the neo.mjs webworkers UI framework.

Unfortunately the repo is not released to the public prior to November 23rd,
but I will do my best to get the app ready for it.

https://github.com/neomjs/neo

![Screenshot 2019-11-14 at 00 53 05](https://user-images.githubusercontent.com/1177434/68814456-32b8c200-0679-11ea-844f-6b40ed79b952.png)

![Screensho

[2019-11-15 07:53] Alonski commented on #22
@anishkny I am not sure if you are still maintaining this or not.
We think that we finally finished everything and are up to spec :)
Can we become official please?

[2019-11-16 03:33] renodesper commented on #400
@ahmedabdailla Any update for this? I'm actually looking for a real-world example for FastAPI.

[2019-11-16 04:51] anishkny commented on #433
Great @apapacy ! could you please add CI/CD (e.g. Travis/Circle) to your repo to ensure it builds? Thanks

[2019-11-16 05:04] anishkny commented on #408
Great work @chrisxue815 ! Could you add CI/CD (e.g. TravisCI) to show how to build/test this code. And also show running the [API tests](https://github.com/gothinkster/realworld/tree/master/api) against your backend?

[2019-11-16 05:04] #22 closed

[2019-11-16 05:05] #326 closed

[2019-11-16 05:09] anishkny commented on #22
Sorry for the delay - should be added soon.

[2019-11-16 05:09] anishkny commented on #326
Sorry for the delay - should be added soon.

[2019-11-16 05:42] Alonski commented on #22
Awesome can't wait!

[2019-11-16 15:39] chrisxue815 commented on #408
Thank you for your reply @anishkny ! All done.
* [TravisCI build status](https://travis-ci.org/chrisxue815/realworld-aws-lambda-dynamodb-go) added to readme.md.
* [API test result](https://gist.github.com/chrisxue815/07aa20b42bacced8f38aa8352c0f7c60)

[2019-11-16 21:12] apapacy commented on #433
@anishkny
Thank. I added integration with a Travis CI to the project

[2019-11-17 15:44] tobiu commented on #436
In case you are interested in a sneak preview:
https://github.com/neomjs/neo/tree/dev/apps/realworld

The official neo.mjs release announcements will still be on Nov. 23.

Once the real world app UI is fully implemented, I will move it to a standalone repo.

Best regards
Tobi

[2019-11-19 13:54] DLN-India commented on #70
@federicorinaldi I can take it from where you've left this off, please let me know!

[2019-11-20 21:19] tobiu opened #441 "RealWorld CSS => Link Styling"
Hi!

I noticed that links (a tags) do get a different styling depending on having a href attribute or not.
Not sure if this is a default bootstrap thing, but this feels pretty annoying:

In case you want to work with dom listener delegation (e.g. one click listener on the document.body), you would need to attach a click listener to each link just doing event.preventDefault(); to achieve the correc

[2019-11-20 22:42] tobiu commented on #441
as a workaround fix for neo.mjs:
https://github.com/neomjs/neo/commit/c13bbe4a3516569dbf2c3a97cf3ca9467df42874

=> register css classes to the main thread which shall call `event.preventDefault();` for specific events.

[2019-11-21 11:06] tobiu commented on #436
@EricSimons

Hi Erik,

congrats to this project at first, I do like it!

Is it a requirement to get listed that the RealWorld app is inside a separate repository?
I think I will get the app done by tomorrow, but am pretty busy with the neo.mjs first public release itself => right now the app is inside the framework repo (apps/realworld).

2nd question: I would like to craft a second version of thi

[2019-11-21 23:35] romatthe commented on #431
I've just noticed that there already is an existing implementation submitted here for Quarkus here #414.
Considering that the implementation in that issues is already very complete and seems quite robust, I will be closing this issue and will not be continuing my implementation.

[2019-11-21 23:36] #431 closed

[2019-11-22 14:53] tobiu opened #442 "api/user VS api/profiles/{slug}"
![Screenshot 2019-11-22 at 15 50 47](https://user-images.githubusercontent.com/1177434/69435565-16371c80-0d40-11ea-9d30-f649488f60e6.png)

![Screenshot 2019-11-22 at 15 51 01](https://user-images.githubusercontent.com/1177434/69435571-19320d00-0d40-11ea-8485-56e6abc61315.png)

the first one contains null in case the current user has no custom image, the second api provides the default image url.

[2019-11-22 22:02] alextremp opened #443 "Spring Webflux (Spring Boot + Project Reactor) + MyBatis"
Starter Kit forked at:
* https://github.com/alextremp/spring-boot-webflux-realworld-example-app

Implementation using:
* Gradle as build tool
* Spring Boot Webflux (Reactive paradigm https://projectreactor.io/) as base framework
* MyBatis as database access infrastructure implementation (https://mybatis.org/mybatis-3/)
* JUnit 5 as testing base framework
* Rest-Assured as acceptance test assertor

[2019-11-23 03:36] luicrispo opened #444 "Mix and Match is not true"
I have implemented the front end using Angular [https://github.com/gothinkster/angular-realworld-example-app](url) and the back end using Functional ASP.NET Core [https://github.com/dnikolovv/dev-adventures-realworld](url) and while the front end works fine if the api endpoint is set to **https://conduit.productionready.io/api** and on the opposite is not working when pointing to the Functional AS

[2019-11-28 02:23] w4-hanggi opened #445 "Some high rank repository should update their codes"
isn't it?

[2019-11-28 17:52] #445 closed

[2019-11-28 17:54] anishkny commented on #444
Opened issue on the Functional ASP.NET repo.

[2019-11-28 17:54] #444 closed

[2019-11-28 18:46] tobiu commented on #436
neo.mjs just hit 4000 commits. npm v1.0.5 published, the Real World demo app is feature complete now.

https://github.com/neomjs/neo

will move the app into a separate repo (starterkit fork) next.

[2019-11-29 15:33] tobiu opened #446 "neo.mjs frontend"
Hello everyone,

I moved the neo.mjs implementation into a separate repo now (forking the starter kit).
https://github.com/neomjs/neomjs-realworld-example-app

The implementation is already feature complete and ready for your review.

Thx & best regards
Tobi

- [x]  🏁 Fork the starter repo & post the link in this issue
- [ ]  🎨 Create logo for repo & update issue status (@EricSimons)
- [x]  🔨 Impl

[2019-11-29 15:34] tobiu commented on #436
closing this ticket, since the neo.mjs realworld demo app got moved into a separate repo.
opened a new ticket.

[2019-11-29 15:34] #436 closed

[2019-11-29 18:44] tobiu commented on #446
online examples are now available here:

https://neomjs.github.io/neomjs-realworld-example-app/

[2019-12-03 08:47] patocallaghan opened #449 "🖥 🔧 Ember Octane"
The "classic" Ember Real World app was shipped in https://github.com/gothinkster/ember-realworld. ~~This version here will take this "classic" app and update it to use [Ember Octane](https://emberjs.com/editions/octane/) conventions.~~ It ended up being a rewrite for the most part.

# Current Status

* ### Codebase in progress: [github.com/patocallaghan/ember-octane-realworld](https://www.github.c

[2019-12-03 10:19] Alonski commented on #449
Awesome work!

[2019-12-06 00:06] AngelsProjects commented on #105
is there somebody working on this? if not i can wok but in loopback v4

[2019-12-06 10:37] nasermirzaei89 opened #451 "Pure Go Backend"
Hi Everyone,

I'm writing **realworld** backend in [Golang](https://golang.org/) without any external library.

It's going to be a simple and clean code.

[nasermirzaei89/realworld-go](https://github.com/nasermirzaei89/realworld-go)

It maybe has some bugs. but it tested with postman script.

It's open to any feedback, suggestion and pull requests.

[2019-12-06 15:44] tobiu commented on #446
@anishkny @EricSimons is this project still alive?

I created another thread for the neo.mjs frontend, when it was not inside a starter kit fork yet and did not get a response for 2 weeks. Now the starter kit fork is feature complete and still no response for 7 days.

A quick heads up if and when someone will look into it would be greatly appreciated!

After all, I invested quite some time to crea

[2019-12-10 10:49] iq3addLi commented on #404
@anishkny @Cameron-C-Chapman
Thank you for [the last time](https://github.com/gothinkster/realworld/issues/402).
I'd like to ask you to check again. OK? 😊
Thx.
https://github.com/iq3addLi/swift-vapor-layered-realworld-example-app

[2019-12-11 22:03] anishkny commented on #404
@iq3addLi can you add CI to your project to show how to build and test it against [API tests](https://github.com/gothinkster/realworld/tree/master/api).

[2019-12-11 22:05] anishkny commented on #446
@tobiu sorry for the delay - this looks awesome. Could you build/test this project on TravisCI (or similar) as a how to?

[2019-12-11 23:05] tobiu commented on #446
Hi @anishkny,

good to hear from you. In theory this is possible, it might need some time though.
Please keep in mind that i released neo.mjs to the public on November 23rd. Before this point, there was no npm package of the framework, so the build processes only work inside the root folder of the framework repo at this point.

It should be possible though to use a CI to build the app inside the f

[2019-12-11 23:11] anishkny commented on #446
When do you expect neo.mjs to be available for wider use? Maybe we should hold off until there is a clearer path for users to consume it.

[2019-12-11 23:13] tobiu commented on #446
If I may add a spoiler here: I already started to work on a second version of the RealWorld app. It will stick to the API, but not to the UI specs at all. V2 will not use the bootstrap based theme, since neo.mjs has an own component styling engine in place which would create conflicts.

It probably can not get added here, but is meant to be a starting point for new devs who want to get up to speed

[2019-12-11 23:14] tobiu commented on #446
It is already available now :) I will keep you posted after upgrading the app tomorrow.

[2019-12-11 23:54] tobiu commented on #446
spoiler2 on the gallery & helix: https://www.facebook.com/neo.mjs/videos/476943849598009/

[2019-12-12 02:16] iq3addLi commented on #404
@anishkny OK. I will be do.

[2019-12-12 21:17] mrsunshine commented on #446
@anishkny

Good start for new users to consume it are the neo.mjs pages with docs and examples (including realworld app)
https://neomjs.github.io/pages/

and the tutorials inside of the docs

https://neomjs.github.io/pages/node_modules/neo.mjs/dist/production/docs/index.html

[2019-12-12 21:49] blikblum opened #452 "LitElement - Mobx"
I implemented RealWorld with LitElement + Mobx using as base React + Mobx. Feature wise is complete just needing review

Here's the repository https://github.com/blikblum/lit-element-mobx-realworld-example-app and the live demo: https://blikblum.github.io/lit-element-mobx-realworld-example-app

Todo:
- [x] 🏁 Fork the starter repo & post the link in this issue (It's actually a fork of react-mobx)
-

[2019-12-12 23:41] tobiu commented on #446
a quick heads up on my end: i was pretty busy today getting the neo.mjs 1.0.10 npm release published. the gh-pages are updated as well and the v2 "spoiler app" prototype is now online.

will work on the app for which this ticket is about tomorrow.

[2019-12-13 02:13] jetli opened #453 "Rust + Yew + WebAssembly frontend"
I'm working on a [Yew](https://github.com/yewstack/yew) version of realworld frontend app, utilizing [Rust](https://www.rust-lang.org/) and [WebAssembly](https://webassembly.org/).  It's full-functional right now.

**Source**: https://github.com/jetli/rust-yew-realworld-example-app
**Live demo**:  https://jetli.github.io/rust-yew-realworld-example-app/

Todos:

- [x] 🏁 Fork the starter repo & post

[2019-12-13 02:27] jetli commented on #453
@anishkny @EricSimons  Welcome to review, thanks.

[2019-12-13 02:31] jetli commented on #382
Yew frontend is available now 🎉

Source: https://github.com/jetli/rust-yew-realworld-example-app
Live demo: https://jetli.github.io/rust-yew-realworld-example-app/
Issue: https://github.com/gothinkster/realworld/issues/453

[2019-12-13 03:59] #382 closed

[2019-12-13 04:00] anishkny commented on #453
@jetli great! Could you please add CI (e.g Travis/Circle) to show how to build/test it.

[2019-12-13 17:42] tobiu commented on #446
Hi @anishkny,

I am pleased to announce that the demo app repo is ready for your review now.
The repo is upgraded to neo.mjs v1.0.11 and does provide build processes (this was a rather big sprint).

In general: you can change the app source files and just reload the page for the non dist versions (no build required).

To get the changes into dist/development or dist/production, 2 new build scripts

[2019-12-13 17:46] anishkny commented on #446
Can you build/test this repo on TravisCI/CircleCI or similar to show how to set it up?

[2019-12-13 17:50] tobiu commented on #446
I can take a look into it. It is trivial though at this point (see the updated readme):

1. Clone the repo
2. npm install
3. npm run server-start (or use a local webserver of your choice, configured for JS modules)

[2019-12-13 22:20] roddyyaga opened #454 "Swagger specification incorrectly says user endpoints all have plural addresses"
Small inconsistency in the Swagger spec: it has all of the user endpoints as being at `/users`, but in the tests and `api/README.md` both GET and PUT are located at `/user` (not plural).

[2019-12-13 23:06] jetli commented on #453
Thanks, I will investigate github actions or Circle soon.

[2019-12-16 12:31] praveenweb opened #455 "Hasura GraphQL Backend"
Would love to see a version of backend with Hasura GraphQL. The frontend integration can be done with React + Apollo Client.

[2019-12-16 21:37] tobiu commented on #446
Hi @anishkny,

I added a couple more test into the siesta harness (navigating from home to login to signup + checks if we end up on the correct page).

I also polished the starting point for:

Running the script will open a new browser tab with this content:
![Screenshot 2019-12-16 at 22 27 07](https://user-images.githubusercontent.com/1177434/70944429-5645a280-2053-11ea-99fe-2ec589d6abe2.png)

So

[2019-12-17 20:07] mrsunshine commented on #446
Hi @anishkny,

we dedicated a lot of time (especially @tobiu ) to build the realworld app with neo.mjs because we think it is a great showcase. Thanks to your feedback we even improved the hole build process.

Now like you can see in the posts above everything is prepared and up and running.

We really would appreciated to see the app and framework get listed. It means a lot to us.

Thanks
Nils

[2019-12-18 08:25] jetli commented on #453
@anishkny  CI by github actions is added here: https://github.com/jetli/rust-yew-realworld-example-app/blob/master/.github/workflows/rust.yml and a build is passed here: https://github.com/jetli/rust-yew-realworld-example-app/commit/91cba5b4e94492569f6e0cca3daa535280000e14/checks?check_suite_id=364119451

[2019-12-18 09:57] jetli commented on #453
@anishkny  CD by GitHub actions is also added here: https://github.com/jetli/rust-yew-realworld-example-app/blob/master/.github/workflows/cd.yml and a build is passed here: https://github.com/jetli/rust-yew-realworld-example-app/runs/354126919

[2019-12-18 16:47] anishkny commented on #453
Great stuff! Will get this added soon!

[2019-12-19 19:45] jetli commented on #453
Standalone desktop app support is added by this new crate: https://github.com/jetli/rust-yew-realworld-example-app/tree/master/crates/conduit-webview, now yew app can be run as a desktop app 🎉 , it looks like a slim Electron app in just ~3MB size,  Electron apps are normally in 100+MB size.
<img width="800" alt="desktop" src="https://user-images.githubusercontent.com/1142758/71204316-d16cba00-22da

[2019-12-19 23:43] khimaros commented on #453
This is awesome @jetli -- thank you for putting this together!

[2019-12-20 06:52] hmmhmmhm opened #457 "How is the ranking decided?"
Before the #448 update, Svelte was placed third on the Gold Rank.
https://github.com/gothinkster/realworld/tree/d5d69bb24c9e4ebd97f530c382229bee09388763

But now, Svelte is now located in the second position of the Bronze Rank.
I wonder how such a severe fluctuation occurs.

Can I see the causes or statistics of these changes?

[2019-12-20 07:21] Alonski commented on #358
Can this be thought through again? People are still getting confused by this 😕

[2019-12-20 07:22] Alonski commented on #457
Hey @hmmhmmhm Unfortunately this is very confusing. There is an issue on this with an explanation #358

[2019-12-20 09:18] hmmhmmhm commented on #457
I see... It very confusing... I hope that this problem will improve.

[2019-12-24 16:43] RafaRochaS91 commented on #370
Is this being followed?
I'm interested of opening a PR for this, maybe using NestJS + TypeORM to be more DB driver agnostic

[2019-12-27 04:04] mutoe commented on #169
Hello, I recently implemented Realworld with Preact X.

If the original author doesn't have any updates, I would like to submit a PR and close the Issue.

Here is the project address: https://github.com/mutoe/preact-realworld-example-app

[2019-12-31 21:22] stefanoslig opened #459 "Angular + xstate"
## **Current Status**

**Codebase - WIP:**
[https://github.com/stefanoslig/angular-xstate](https://github.com/stefanoslig/angular-xstate)

**Demo**
WIP

Todo:
- [ ] 🏁Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Peer review of final codebase by RealWorld admins & community (RFC)
- [ ] 🎉Ta

[2020-01-01 20:18] #177 closed

[2020-01-03 07:56] lordofthejars commented on #414
@diegocamara Thank you very much for this. @Cameron-C-Chapman @anishkny anything else is required to merge this PR?

[2020-01-03 10:17] maxandersen commented on #414
Yes, how are new entries added ? would be cool to get Quarkus listed/included.

[2020-01-03 10:21] maxandersen commented on #414
I guess a PR to add it to the yaml like https://github.com/gothinkster/realworld/pull/375/files is needed - but  I see several PR's more than 6+ months old. Is this repo/project dormant ?

[2020-01-03 15:43] anishkny commented on #414
Hey this looks great. Could you add CI to the project (eg TravisCI) to show how to build it and also run API tests against it? Thanks!

[2020-01-04 02:20] diegocamara commented on #414
@lordofthejars, @maxandersen, @anishkny thanks for the support; I integrated the repository with travis ci today, let me know if something is missing.

[2020-01-08 19:38] ahmedabdailla commented on #400
it took me a while to start the programming. I'm gonna start working now it's approx 2 weeks to finish.

[2020-01-11 05:43] #408 closed

[2020-01-11 05:43] #414 closed

[2020-01-11 05:43] #433 closed

[2020-01-11 05:43] #453 closed

[2020-01-16 00:40] JoeyMckenzie opened #462 "Fullstack .NET Core + Blazor"
Been working on this for a few months off and on, with the intention of implementing the front and backends entirely in C# based frameworks, and I’m currently in the process of updating the backend to .NET Core 3.1 and it shares similarities in approaches taken by the two ranked .NET Core solutions. My intention is to implement a server side Blazor project using Fluxor for redux. Inspiration also

[2020-01-16 17:01] huczk opened #463 "GraphQL, Typescript and Node.js"
I've created backend repo with graphql and typescript in node.

# Current Status

- **Codebase WIP** - https://github.com/huczk/realworld-ts-gql
- **Demo** - https://realworld-ts-gql.herokuapp.com/graphql

Todo:
- [x] 🏁Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Peer review of final cod

[2020-01-19 21:04] HassanElDesouky commented on #43
Hi, I still new to open source and I would love to help you. Is there any way that I can help?

Thanks 😊

[2020-01-21 21:39] Alveona opened #464 "Python + aiohttp"
I'm considering switching to async Python from Flask/Django stack, so probably would do a realworld project as a training one using aiohttp framework

Thumbs up if interested c:

[2020-01-22 06:47] EvanBacon commented on #10
I have some full apps here, feel free to use:
https://github.com/EvanBacon/Expo-Crossy-Road
https://github.com/EvanBacon/apple-notes
https://github.com/EvanBacon/Instagram
https://github.com/EvanBacon/Expo-Pillar-Valley

[2020-01-22 07:24] evantd commented on #111
This seems to have fallen through the cracks. It looks like docs were updated on December 20, 2017, so maybe this is ready to be tagged with v1 and officially listed in the README. I'd love to see how it compares in an updated version of https://medium.com/free-code-camp/a-realworld-comparison-of-front-end-frameworks-with-benchmarks-2019-update-4be0d3c78075

[2020-01-22 07:29] evantd commented on #111
@norayr93, check out https://github.com/gothinkster/realworld/blob/master/README.md for implementations in React and Typescript (though not both together yet), and then create an implementation with your favorite combination of technologies.

[2020-01-23 14:47] jaonoctus commented on #156
@Utwo I would like to help you write more tests, I saw that the project only has 1 unit test

[2020-01-23 16:04] Utwo commented on #156
Sure, I appreciate any help you can provide! You can open a new PR and I'll take a look ;)

[2020-01-26 22:20] diegocamara opened #465 "Eclipse Vert.x + RxJava"
Hello guys, in the last few weeks i decided to work on a proof of concept using a reactive framework to see in practice some advantages and disadvantages of using reactive API's on the backend, today i finished the features of the Conduit specification, the project is in this repository: [https://github.com/diegocamara/vertx-springboot-realworld-example-app](https://github.com/diegocamara/vertx-sp

[2020-01-30 15:24] namuan opened #466 "Micronaut Java API"
Codebase (in progress):
https://github.com/namuan/realworld-api-micronaut

Todo:
- [x] 🏁Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag v1 release and officially list it on the REA

[2020-02-02 05:55] nomhoi commented on #464
Hi, I will try to build it with Tortoise ORM.

[2020-02-02 11:47] huczk commented on #463
I have also made example frontend app than uses graphql api.

[Fronted](https://github.com/huczk/reasonml-graphql) was made with reasonML and apollo client.

But I assume that firstly we must agreed upon graphql schema for all future graphql implementations then add backend apps.  Only then frontends can be added.

[2020-02-02 16:03] #371 closed

[2020-02-04 10:52] danichim commented on #336
This is done already ?

[2020-02-04 10:53] danichim commented on #336
This is done already @vincentntang  @anishkny  ?

[2020-02-08 09:54] nomhoi commented on #464
I started the project.
https://github.com/nomhoi/aiohttp-realworld-example-app
Only authentication is completed so far.

[2020-02-08 21:32] LukeMathWalker opened #467 "Add backend: Rust (Tide + Diesel)"
A backend implementation in Rust using [Tide](https://github.com/http-rs/tide) as web framework and [Diesel](http://diesel.rs/) as ORM.
The project passes all tests in the Postman collection and comes with its own set of unit and integration tests, checked in CI.

Not really sure on the process: do you want to check the project first or should I open a PR to add it to README? 😄

_Repo_: https://gi

[2020-02-11 13:04] alexanderadam commented on #112
@reiswindy thank you for your efforts! Any news?

[2020-02-16 06:53] alteredorange opened #468 "Laravel 6 with passport"
It would be great to see an updated Laravel 6 backend with Passport (instead of third-party jwt tokens). I'm just getting into Laravel and it would be nice to see an up to date example. I'd be happy to help, but wouldn't be much help implementing Passport...

[2020-02-18 08:38] reck1ess commented on #336
@anishkny  @danichim

The issue doesn't seem to close for about a year, I have implemented the Next.js project.

I made a pull request #469 (Adding Next.js front end repo)

Thank you for checking.. 🙏

[2020-02-18 14:26] semenovDL commented on #455
@praveenweb I plan to do it in the near future.

[2020-02-18 16:39] vincentntang commented on #336
My priorities have shifted and I am no longer working on this react + nextJs + redux implementation

[2020-02-18 16:46] anishkny commented on #336
Resurrected by @reck1ess

Demo: https://next-realworld-example-app.now.sh/
Repo https://github.com/reck1ess/next-realworld-example-app

[2020-02-21 19:43] reiswindy commented on #112
Hi. The implementation was finished but I got stuck while writing the readme and tests (currently there's no tests, and readme is lacking). Right now the repo needs updating because Crystal had many releases since then (0.24.0 -> 0.33.0), some breaking-changes need to be fixed.

[2020-02-23 12:52] ryansolid opened #471 "SolidJS"
I've put together a Realworld Demo for Solid(https://github.com/ryansolid/solid), the top-performing reactive library on from the [JS Framework Benchmark](https://github.com/krausest/js-framework-benchmark).

This demo includes a modern implementation is clientside only using code-splitting and Suspense with data-fetching.

You can find the repo here: https://github.com/ryansolid/solid-realworld.

[2020-02-25 08:44] nea opened #472 "Beego"
Ahoi

I started a [Beego](https://beego.me/) full-stack implementation of Conduit [WIP].
I will update this regularly.

## Repository
https://github.com/elipZis/beego-realworld-example-app

## Status
* Forked the starter
* Created scaffold Bee tool full-stack app to work on

### Progress
- [X] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status

[2020-02-25 14:51] HowardEdidin commented on #209
If you are not working on this,  I can take over. I am a former MS  MVP for Cosmos DB and an Azure Architect

[2020-02-25 15:05] HowardEdidin opened #473 "Take over project"
I am a former MS MVP for Cosmos DB and a certified Azure Architect.
I would like to take over this project and also extend  it to include an UI

[2020-02-25 15:43] anishkny commented on #473
I am assuming you are referring to #209

[2020-02-25 15:43] #473 closed

[2020-02-25 20:50] BennyM commented on #209
I’ve only dabbled with the setup, so feel free to pick it up.

[2020-02-26 11:51] gfernandes410 commented on #105
The last commit of @paulcedrick in the repo was 3 years a go. Let's start it in loopback 4?

[2020-02-27 01:13] paulcedrick commented on #105
Hi @AngelsProjects and @gfernandes410 , sure! if you guys want to start in loopback 4, let's create a new one and i'll be willing to contribute to it

[2020-02-27 01:35] AngelsProjects commented on #105
Great! Let's do this.

[2020-02-28 01:44] ryansolid commented on #471
In case anyone wants something to read while they wait. [A Solid RealWorld Demo Comparison of JavaScript Framework Performance](https://levelup.gitconnected.com/a-solid-realworld-demo-comparison-8c3363448fd8?source=friends_link&sk=2f2c00e315dd126d7e28836aec532e91).

[2020-03-01 22:15] patocallaghan commented on #449
@EricSimons what's the process for making a repo official? I've implemented all the required functionality per the spec.

Ember Octane repo: https://github.com/patocallaghan/ember-octane-realworld
Netlify preview: https://mystifying-curran-3bcc82.netlify.com/

[2020-03-02 02:19] paulcedrick commented on #105
@AngelsProjects let me know once you created new repo for it. :)

[2020-03-02 23:52] rlander opened #475 "Hoplon frontend"
I've implemented RealWorld with Clojurescript + Hoplon. Feature wise it is complete, just needs your review.

Repo: https://github.com/rlander/conduit
Live demo: https://hoplon-realworld.netlify.com/

Todo:

- [x] :checkered_flag: Fork the starter repo & post the link in this issue.
- [x] :art: Create logo for repo & update issue status.
- [x] :hammer:  Implement all of Conduit's functionality per

[2020-03-07 06:33] funcelotwork commented on #471
very good article. and i want to solidify my js knowledge, if you know what i mean) solidjs is the next framework in my wishlist to learn right behind React, Angilar and even Preact! Keep it goint, cross god damn fingers to have this new fw a green light in MIcrosoft or Google (or Alibaba, to be honest)!

[2020-03-07 08:03] leeoniya commented on #471
@ryansolid every lighthouse update seems to stray farther from what i'm seeing in the perf recording timeline, too. it's gotten to the point where i don't trust it anymore. things that used to score 75 in perf are now scoring 95, but the timeline still clearly shows a large difference.

[2020-03-07 17:11] anishkny commented on #169
Great job @mutoe!

Found a couple of bugs - could you please fix them - that would be awesome!

Blocked by: https://github.com/mutoe/preact-realworld-example-app/issues/1

[2020-03-07 17:15] anishkny commented on #475
This is great @rlander !!!

Would you be able to add CI (e.g. Travis/Circle) to show how to build this repo - that would be awesome!

Waiting for: https://github.com/rlander/conduit/issues/1

[2020-03-07 17:19] anishkny commented on #471
This is great @ryansolid! Would you be willing to add CI (e.g Travis/Circle) to demonstrate building the repo? That would be super.

[2020-03-07 17:59] #111 closed

[2020-03-07 17:59] #336 closed

[2020-03-07 17:59] #449 closed

[2020-03-07 17:59] #465 closed

[2020-03-08 04:30] ryansolid commented on #471
@anishkny Cool I set it up to build with travis and deploy to the github pages. Had to configure rollup differently to make it clean, and now seem to be stuck with an entry js file that just imports the actual entry but it's only a 200byte weight so I will live for now until I figure it out. In any case CI now fully working.

[2020-03-09 17:19] rlander commented on #475
@anishkny thanks for spending the time and effort to review it! I'll add the CI asap.

[2020-03-09 22:45] alex-dixon opened #478 "Framework-X"
Hello!

Framework-X is a new front end Javascript framework leveraging algebraic effects. We've created a RealWorld example for it here: https://github.com/CoNarrative/framework-x/blob/master/examples/realworld

Logo:

![image](https://raw.githubusercontent.com/CoNarrative/framework-x/master/examples/realworld/project-logo.png)

https://raw.githubusercontent.com/CoNarrative/framework-x/master/exam

[2020-03-10 00:12] anishkny commented on #478
Awesome! Looks like when you click on a user profile from global feed, you get error:

[code]

Also, hover pointer for links should be finger but its the text selection icon right now. Please see this for reference:

https://react-redux.realworld.io/

[2020-03-10 13:51] alex-dixon commented on #478
@anishkny Thanks! Both issues should be fixed now.

[2020-03-10 22:33] reiswindy commented on #112
Repository has been updated and the breaking-changes have been fixed.

#### Todo:
* [x] :checkered_flag: Fork the starter repo & post the link in this issue
* [x] :art: Create logo for repo & update issue status
* [x] :hammer: Implement all of Conduit's functionality per the spec & API
* [ ] :eyes: Peer review of final codebase by RealWorld admins & community (RFC)
* [ ] :tada: Tag v1 release, mov

[2020-03-11 15:58] patocallaghan commented on #449
@anishkny does anything need to happen next? should my repo be transferred to the main org?

[2020-03-11 16:33] anishkny commented on #449
@patocallaghan these days we have stopped transferring repos to the main org - although you are now listed on the main README - congrats! 🎊

<img width="987" alt="image" src="https://user-images.githubusercontent.com/357499/76440623-5831b000-637b-11ea-8991-9c0b1de800c5.png">

[2020-03-11 16:40] patocallaghan commented on #449
@anishkny okay, thank you!

[2020-03-14 01:00] alex-k1 opened #480 "Scala + http4s backend"
Hi,

There is an implementation of the realworld backend with Scala and http4s, it is ready and passed all tests. The repository is here:
https://github.com/alex-k1/scala-http4s-realworld-example-app

The Conduit postman tests are part of Travis CI.

Thanks

[2020-03-14 16:33] alex-dixon commented on #478
Hello! Just checking in on this issue and what else is required to include Framework-X in the repo.

[2020-03-19 09:32] parijke commented on #354
Still in development?

[2020-03-20 04:20] rlander commented on #475
@anishkny CircleCI added! here: https://github.com/rlander/conduit/pull/2 :rocket:

[2020-03-22 11:58] Kijacode commented on #457
@hmmhmmhm I think the ranking depends on the rating start of a project repo itself , I try to follow the sequence of stars it seems as it works like that

[2020-03-22 14:02] MakeleAndzelo commented on #354
Yes, it is. For now i don't have enough time for this.

[2020-03-24 04:25] lifeiscontent opened #482 "GraphQL Ruby + Next.js + Apollo Client"
https://github.com/lifeiscontent/realworld

[2020-03-24 07:02] hmmhmmhm commented on #457
@Kijacode

It's really really easy to get confused.
For example, this like misunderstanding is possible,

"Wow, the gold medal is attached! All the skills under this golden medal must be top-notch!"
"Well... the skills below the silver medal must be worth it... It's a second-rate technology, but it's good, right?
"Oh, the skills under the bronze medal must be the worst, they must be avoided."

We

[2020-03-25 07:40] NWylynko opened #484 "404 error if username contains a dot"
if a user sets there username so it contains a dot, the api will return a 404 error when requesting the user data. i set my username to nick14.4 but when i send a request to [http://conduit.productionready.io/api/profiles/nick14.4](http://conduit.productionready.io/api/profiles/nick14.4)  it returns a 404. on the demo website going to a users page that has a dot in the username just kicks you back

[2020-03-27 19:12] ryansolid commented on #471
Ended up not mattering much new version of Solid shrinks the bundle more. We now are at 11.1kb on initial load. Yeah that's 25% smaller than Svelte so I think the size is at a reasonable place.

Look forward to your review.

[2020-03-28 16:59] airyboy opened #485 "React (on hooks) + Typescript + mobx-state-tree"
Hi guys, I'm developing another frontend implementation here https://github.com/airyboy/react-mobx-state-tree-typescript-realworld-example-app. Well, I've almost finished, but it needs some polishing.

[2020-04-03 02:31] Anddd7 opened #486 "Kotlin + Spring Boot + WebMvc/WebFlux"
Hi guys,

I usually work on backend service development, I feel great to use Kotlin + Spring Boot in the backend to instead of Java. So I create some templates of Kotlin/Spring in last few weeks. :bowtie:

**What I use**
- Java 11
- Kotlin 1.3.70
- Spring Boot 2.2.4.RELEASE
- Dockerfile, docker-compose of postgres for local development
- unit test and integration test demo
- DDD and architecture t

[2020-04-04 09:51] mutoe commented on #169
@anishkny  I have fixed these bugs, could you please have a look again? thank you

[Online preview](https://preact-realworld.mutoe.com)

[2020-04-04 17:44] shabbirulhasan commented on #446
Hello,
I hope all is good.first of all, I love the work that you have done it's lovely.
 I clone your repo the COVID 19 is working fine on localhost I but want to publish it without localhost:8080. I want to publish with some name rather then localhost.can you please help out me?

[2020-04-05 08:22] tobiu commented on #446
Hi @shabbirulhasan,

this topic here is messing with my emotions. The neo.mjs RealWorld App is feature complete for more than 4 months now and it never got reviewed. It did not even get listed on the repo page as in progress.

I have rarely encountered this unsupportive people than the Gothinkster guys here.
Especially @anishkny and @EricSimons. They simply don't care and would rather let a new pr

[2020-04-06 23:00] EricSimons commented on #446
@tobiu FYI RealWorld is a sideproject we maintain. We have families to feed, mortgages to pay, etc and RealWorld doesn't pay those bills. RealWorld is an incredibly large OSS learning project, and as such, has a ton of issues/PRs that I honestly have no how  @anishkny makes the time to even look at much less comment on or review.

If you want to make someone the "bad guy" here, have it be me, not

[2020-04-06 23:08] #391 closed

[2020-04-07 07:40] surol opened #487 "Wesib"
I have created a frontend implementation using Wesib: https://github.com/wesib/realworld-app
Demo is here: https://wesib.github.io/realworld-app/

Wesib utilizes web components.

Wesib is in beta stage now. RealWorld implementation is a good practical exercise of the framework usage, and lead to several improvements to it.

[2020-04-07 15:47] tobiu commented on #446
Hi @EricSimons,

thank you for looking into this. I changed the link on top of the repo page to point to the dist/prod version directly (same for the "demo" link on the top part of the readme).

The reason for pointing to the main examples page was simply that there are 3 different versions of the neo RW app out there (dev mode, dist/dev, dist/prod). Added all 3 direct links to the very bottom of

[2020-04-07 17:49] EricSimons commented on #446
Awesome- can you open a PR on this repo to add this to our `frontend-repos.yaml`?

[2020-04-07 18:22] tobiu commented on #446
"here" as in "https://github.com/gothinkster/realworld-starter-kit"?

if so, done.

[2020-04-07 18:25] EricSimons commented on #446
No, see this PR as an example: https://github.com/gothinkster/realworld/pull/483/files

[2020-04-07 18:37] tobiu commented on #446
ok... again.

like this: https://github.com/gothinkster/realworld/pull/488 ?

[2020-04-11 05:57] arslan2012 opened #489 "Drogon(C++) + postgres"
[WIP project](https://github.com/arslan2012/drogon-realworld-example-app)
I'm a little rusty on C++ tests, might need some help with lt later

[2020-04-13 10:22] Acciaiodigitale commented on #387
I'm starting it: https://github.com/Acciaiodigitale/realworld-starter-kit

[2020-04-13 10:35] Acciaiodigitale commented on #387
Framework homepage: https://ballerina.io/

- [x] Fork the starter repo & post the [link](https://github.com/Acciaiodigitale/realworld-starter-kit) in this issue
- [ ] Create logo for repo
- [ ] Implement test suite
- [ ] Implement all of Conduit's functionality per the spec & API
- [ ] Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] Tag v1 release and officially

[2020-04-13 13:08] achrinza commented on #105
Hi, any updates on this? I'd like to contribute if possible :)

[2020-04-15 09:54] Chibuikekenneth commented on #462
Are you still working on this @joey32793 ??

[2020-04-15 10:24] alexey-lapin opened #491 "Micronaut backend implementation"
Hi,

There is an implementation of the realworld backend with Micronaut, it is ready and passed all tests.
The repository is here: https://github.com/alexey-lapin/realworld-backend-micronaut

Thanks

[2020-04-17 12:03] M1zz commented on #43
hello!

[2020-04-17 12:40] M1zz opened #493 "Swift"
### Current Status

- Codebase in progress:
[M1zz/realworld-starter-kit](https://github.com/M1zz/realworld-starter-kit)

- Todo:

- [x] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/communit

[2020-04-17 21:33] mrsunshine commented on #446
@EricSimons @tobiu great work. Who has the rights and can merge this? looking forward to see this in the list. Thanks guys

[2020-04-20 15:20] srbe opened #494 "Dropwizard 2"
Hello guys,

In the last period I started learning Dropwizard and as an exercise I tried to implement the RealWorld backend specifications.

The project is in this repository: https://github.com/srbe/dropwizard-realworld-example-app

I decided to open this new issue because the existing Dropwizard issue (https://github.com/gothinkster/realworld/issues/95) seems to be inactive for a long time and t

[2020-04-22 15:55] joey32793 commented on #462
@Chibuikekenneth Not currently, and I'm not sure if I plan on doing any updating here in the near future. If I find the time, the plan is to update all projects to .NET Core 3 and add a Blazor frontend.

[2020-04-24 07:21] FabiK97 commented on #359
@sanketmaru What happened with the repo?

[2020-04-25 04:28] sanketmaru commented on #359
@FabiK97 I accidentally deleted the repository it seems. Unfortunately locally also got deleted.
I have contacted Github Support if my repository can be restored.

[2020-04-27 11:32] HugoDoyon commented on #191
Guys: Why the Blazer.net demo app taking so long to load compare to React demo (see here https://github.com/gothinkster/realworld)?

Is it Blazor.net "Server" version that create this "loading..." delay?

Hoping C# will be able to challenge React or Angular speed one day!

[2020-04-28 08:22] tobiu commented on #446
@EricSimons The PR is open for 21 days now. Anything missing on my end?

Thanks, Tobias

[2020-04-28 12:33] sanketmaru commented on #359
Somehow, repository cant be recovered. Need to re-write the Universal Example i guess.

[2020-04-29 10:30] coman3 commented on #191
@HugoDoyon, have a close look at the network tab in chrome. You'll see that the app is just HUGE compared as it needs to download the mono WASM runtime...

[2020-04-29 21:22] HugoDoyon commented on #191
Indeed Mono WASM is Massive 1.72MB! Microsoft can do much better than that!
![image](https://user-images.githubusercontent.com/17368121/80648306-f23ddc80-8a3d-11ea-8b4b-00d1ae645d80.png)

[2020-05-01 05:02] lianghx-319 opened #495 "Frontend: about the UI in frontend"
Can I implement this app with my own UI, and still use the same API?

[2020-05-01 07:33] anishkny commented on #495
Sure. You can code against `https://conduit.productionready.io/api` as documented [here](https://github.com/gothinkster/realworld/tree/master/api).

[2020-05-01 07:33] #495 closed

[2020-05-02 16:58] peernohell opened #497 "Meteor fullstack"
This will be a fullstack implementation of real world app with Meteor

# Current Status

Codebase in progress:
https://github.com/peernohell/meteor-realworld-example-app

Todo:
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org

[2020-05-05 14:03] khanhnam99 opened #500 "how fix multiple connection database ?"
import { Module } from '@nestjs/common';
import { AppController } from './app.controller';
import { ArticleModule } from './article/article.module';
import { UserModule } from './user/user.module';
import { TypeOrmModule } from '@nestjs/typeorm';
import { Connection } from 'typeorm';
import { ProfileModule } from './profile/profile.module';
import { TagModule } from './tag/tag.module';

@Module({

[2020-05-09 08:01] gabssnake opened #501 "The actual "mother of all demos""
Hi, thanks for the great work !

Was wondering if you knew about the actual [Mother of all demos](https://en.wikipedia.org/wiki/The_Mother_of_All_Demos) in computer science.

It would be great if the readme could reference or otherwise honor the work.

Best,

[2020-05-09 15:45] raahii opened #503 "Go + gRPC"
Hi Everyone :smile:

I implemented realworld backend using Go + gRPC. The repository is [here](https://github.com/raahii/golang-grpc-realworld-example).

Of course, this server provides a RESTful JSON API by using [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway)! There may be room for improvement in performance, but for now it passes all [tests](https://github.com/gothinkster/realwor

[2020-05-09 17:47] ryhinchey opened #504 "crank.js"
I'm creating a realworld app for a new ui library [crank.js](https://crank.js.org/).

The repo is [here](https://github.com/ryhinchey/crank-realworld-example-app)

[2020-05-09 23:56] rjaros opened #505 "Completed KVision (Kotlin/JS)"
Hi everyone,

I've created a RealWorld application (frontend part) with [KVision](https://github.com/rjaros/kvision). It's now complete and needs your review. TravisCI deployment to GitHub Pages is configured and tested.

Sources: https://github.com/rjaros/kvision-realworld-example-app
Demo: https://rjaros.github.io/kvision-realworld-example-app

Todo:
- [x] :checkered_flag: Fork the starter repo

[2020-05-10 13:48] peernohell commented on #497
Hello,

I just release a first version on [heroku](https://conduit-meteor.herokuapp.com/) (with free version so it may be off when you will go to it)
As it's a fullstack and it use DDP with pubsub to manage data, their is no API.

[2020-05-11 11:38] MohamedElidrissi opened #506 "AdonisJS Fullstack"
This will be a fullstack implementation of real world app with AdonisJS
# Current Status

Codebase in progress:
[GitHub repo](https://github.com/MohamedElidrissi/adonisjs-realworld-example-app)

Todo:
* [x]  :checkered_flag: Fork the starter repo & post the link in this issue

* [ ]  :art: Create logo for repo & update issue status (@EricSimons)

* [ ]  :hammer: Implement all of Conduit's function

[2020-05-12 00:57] eflem00 opened #507 "Completed Koa + Typescript + TypeORM Backend"
Hey there, I've fully implemented a RealWorld Backend to spec using Koa + Typescript + TypeORM. The API tests are currently passing and the UI appears to work with my implementation locally.

Source: https://github.com/eflem00/koa-boilerplate

I never forked the starter as I found out about RealWorld in the middle of building this. Hopefully that's okay

Todos:
- [ ] 🏁 Fork the starter repo & post

[2020-05-14 13:56] tobiu commented on #446
@EricSimons Another 16 days. A comment would be appreciated.

Thanks, Tobias

[2020-05-14 16:59] eflem00 commented on #507
@anishkny Feel free to review as well

[2020-05-14 21:18] joskoanicic commented on #358
Could site loading (performance) metrics be added to the info? Something like https://hnpwa.com/ does but without the progressive web app part.

So that it wouldn't just be a popularity contest.

[2020-05-15 08:11] mansona commented on #358
@joskoanicic I think that's a great idea. If there was agreement that this was something that realworld was open to I would be happy to help set it up 👍

[2020-05-15 09:41] Alonski commented on #358
That's a great idea @joskoanicic !

[2020-05-16 19:51] joskoanicic commented on #358
For start we have this:

https://www.freecodecamp.org/news/a-realworld-comparison-of-front-end-frameworks-with-benchmarks-2019-update-4be0d3c78075/

and

https://medium.com/dailyjs/a-realworld-comparison-of-front-end-frameworks-2020-4e50655fe4c1

Looking at the responses, I think adding performance metrics would incentivize the authors and/or community to optimize certain aspects of the submitted

[2020-05-19 20:13] tobiu commented on #446
updated the neo RW implementation to use the latest framework version (v1.1.57).

[2020-05-19 22:58] EricSimons commented on #446
Merged!  Sorry about the delay! Closing this out- thanks for contributing to RealWorld 🙏

[2020-05-19 22:58] #446 closed

[2020-05-19 23:10] tobiu commented on #446
Thx! v1.1.57 made the neo implementation a lot more lightweight, since main thread addons are now in place. Here is a small blog post about it:

https://medium.com/@tobiasuhlig/using-js-libraries-inside-a-multithreading-environment-835cd8cbc30b?source=friends_link&sk=39450bea5b2c1812a9adb741d7f9e3af

[2020-05-20 07:12] mohidkazi opened #508 "Deno js + oak framework"
Hi there every one , i am really happy to start this project.
this project will consist of deno as a backend server and oak as the middleware framework and as for database i am using mysql.

i have not started project yet, as this is the first day of this issue, in few days i will update this thread and add all the necessary information regarding the repository.
[Note- this project may take a whil

[2020-05-20 15:29] sunndeath commented on #392
Do you want to implement this example of app?
Or maybe I can do it...

[2020-05-20 16:09] sunndeath commented on #485
Is it relevant?

[2020-05-20 16:20] sunndeath commented on #196
Is it relevant?
I don't see the app in the list on the main page.

[2020-05-20 17:19] Julien-Broyard commented on #508
Yeah sure, I'll try to help you when the repo will be out !

[2020-05-20 18:51] sunndeath opened #509 "GraphQL, Phoenix and React fullstack app"
Could you please assign this example on me?

[2020-05-24 17:33] waynebaylor opened #511 "Crank.js & Parcel"
Crank.js implementation of the RealWorld Frontend spec.

**Repo:** https://github.com/waynebaylor/realworld-starter-kit
**Demo:** https://waynebaylor.github.io/realworld-starter-kit/

[2020-05-25 17:27] sunndeath commented on #509
@EricSimons

[2020-05-25 17:30] sunndeath commented on #136
Could you please close this issue in case of duplicate: #196

[2020-05-26 08:51] sunndeath commented on #501
done: https://github.com/gothinkster/realworld/pull/512
Could you please approve it?

@EricSimons
@gabssnake

[2020-05-26 11:58] gabssnake commented on #501
Awesome !

[2020-05-26 11:58] #501 closed

[2020-05-26 14:12] tobiu commented on #446
updated the repo to use neo v1.1.74 which includes the new build programs.

![Screenshot 2020-05-26 at 16 05 29](https://user-images.githubusercontent.com/1177434/82911029-acf0ca00-9f6b-11ea-9d1d-001987e237f6.png)

https://medium.com/p/bundling-your-webpack-based-build-processes-performance-improvements-dd7d0ffdd788?source=email-121c20a934c6--writer.postDistributed&sk=6b7ae4abdf227ecee6c046b5bc9b1

[2020-05-26 15:42] dshimo opened #513 "OpenLiberty + JPA + (MicroProfile)"
Hello there,

Submitting a backend request for OpenLiberty.
Fork: https://github.com/dshimo/realworld-starter-kit

The test suite is run in Travis. Would love a review!

Todos:
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Peer review of final c

[2020-05-26 17:27] sunndeath commented on #136
@Korbin73 Could you please close this issue in case of duplicate: #196 ?

[2020-05-26 17:29] #136 closed

[2020-05-27 07:14] #357 closed

[2020-05-27 11:51] sunndeath commented on #392
@anishkny hi!
Do you want to implement this example of app?
Or maybe I can help you for the implementation? Or I can try do it...

[2020-05-27 13:54] peernohell commented on #497
@EricSimons , I create a log (base on others) Here it is https://github.com/peernohell/meteor-realworld-example-app/blob/master/logo.png

[2020-05-27 20:21] MohammadAli952 opened #514 "Gg"

[2020-05-29 01:48] crookse opened #515 "Deno + Drash + Vue + webpack + docker-compose"
We have a repo currently in the works for the above mentioned stack:

https://github.com/drashland/deno-drash-realworld-example-app

Feel free to contribute!

* [x] 🏁 Fork the starter repo & post the link in this issue
* [x]  🎨 Create logo for repo & update issue status (@EricSimons)
* [ ]  🔨 Implement all of Conduit's functionality per the spec & API
* [ ]  👀 Peer review of final codebase by Real

[2020-05-29 18:02] lifeiscontent commented on #482
CC: @EricSimons

[2020-06-02 00:22] ryansolid commented on #471
@anishkny @EricSimons  I don't want to be that guy because I can only imagine the overhead of maintaining a repo of this size. But it's been a few months and I was wondering if there was anything more I could do to help push push this along.

[2020-06-02 16:30] rjaros opened #517 "Completed KVision Fullstack (Kotlin/JS, Spring Boot)"
Hi everyone,

I've created a RealWorld fullstack application with [KVision](https://github.com/rjaros/kvision) and Spring Boot (Webflux). It's complete and needs your review. TravisCI is configured and the app is deployed to Heroku.

Sources: https://github.com/rjaros/kvision-realworld-example-app-fullstack
Demo: https://kvision-realworld-fullstack.herokuapp.com/

Note: This is a fullstack version

[2020-06-04 16:01] Weedshaker opened #518 "Event Driven Architecture with Vanilla JS + Web Components"
# Current status

  * codebase in progress: [Weedshaker/event-driven-web-components-realworld-example-app](https://github.com/Weedshaker/event-driven-web-components-realworld-example-app)
  * intereseted? Say hi!

TODO

- [x] :checkered_flag: Fork the starter repo & post the link in this issue
- [x] :art: Create logo for repo & update issue status (@EricSimons)
- [x] :hammer: Implement all of Cond

[2020-06-06 10:18] barnabasJ commented on #509
hi @sunndeath, I'm also working on a phoenix/graphql version. If you'd like to share/discuss something let me know.

[2020-06-06 17:34] sunndeath commented on #509
hi, @barnabasJ,
ok.
I've configured the project for running Phoenix with "Create react app": https://github.com/sunndeath/elixir-phoenix-graphql-react-realworld-example-app. I'm going to continue my version of implementation, because this is very interesting for me and I did not receive answers about the possibility of making an implementation based on another stack.

[2020-06-06 17:34] #509 closed

[2020-06-07 06:49] taylorzhangyx commented on #141
Looking forward to this one!

[2020-06-07 15:08] rohanbojja commented on #191
@HugoDoyon Indeed, perhaps in the near future. They addressed this in one of the Blazor sessions.

[2020-06-08 14:53] nsidnev opened #520 "FastAPI"
Hi!

I've an implementation of the realworld backend with [`FastAPI`](https://fastapi.tiangolo.com/) and `PostgreSQL` [here](https://github.com/nsidnev/fastapi-realworld-example-app). There are 2 CIs for tests (one for the spec from postman and one for tests from pytest), and both pass. Also, as far as I know, it works with [React Frontend](https://github.com/gothinkster/react-redux-realworld-exam

[2020-06-14 08:37] sayanarijit opened #521 "Rust + Rocket + Yew + PostgresQL"
I'll be working on this.

Repo: https://github.com/sayanarijit/realworld-rocket-yew-postgresql

[2020-06-14 15:06] sayanarijit commented on #521
Ah the result would be a combination of https://github.com/jetli/rust-yew-realworld-example-app and https://github.com/TatriX/realworld-rust-rocket. Should've done the extra research first.

[2020-06-14 15:06] #521 closed

[2020-06-16 13:49] tobiu commented on #446
Hi @EricSimons,

how often do you update the main repo-readme? The last listed update was on May 2nd.
Still got users complaining that neo is not yet listed here.

Thanks for looking into it!

Best regards,
Tobias

[2020-06-18 21:53] tobiu opened #523 "Would you like to get a neo.mjs multi Browser Window version of the RealWorld App?"
Hello everyone,

this would slightly leave the scope of the original definition.

We could expand the Single Page RealWorld App into multiple Browser Windows very easily, e.g. the articles details view & the settings view.

Meaning:
1. Only load the framework & app once for all Windows
2. Moving Component trees around Windows while keeping the same JS instances
3. Dom events will still work inside

[2020-06-19 20:10] JoeyMckenzie opened #524 "Completed Blazor WebAssembly (.NET Core 3.1)"
Afternoon ya'll,

I've recently completed an implementation using client-side Blazor (Blazor WebAssembly) and is ready for review. CI/CD is configured using Azure DevOps and the v1 of the app is currently deployed. I'll be continually working on this, as the current release `v1.0.0-mvp` is the MVP release, with some cleanup and more testing to come.

The other Blazor implementations seem to have n

[2020-06-20 12:15] bikeshedder commented on #471
Please add SolidJS. I'm really looking forward to the 2020 update of `A RealWorld Comparison of Front-End Frameworks with Benchmarks` and see `Solid` included. It is a very strong contender and worth mentioning.

[2020-06-23 07:14] Weedshaker opened #525 "JavaScript Attack"
It is possible to **inject JavaScript** through the image url, see below:

`"image":"https://www.gettyimagcadsaes.com/gi-resources/images/500px/983794168.jpg\"onerror=\"javascript:alert(document.cookie)"`

![image](https://user-images.githubusercontent.com/10768924/85372071-966d6c80-b531-11ea-9b16-82a9b7dbc499.png)

You can trigger this by selecting Tag #Dragons at page 37 (at some examples, eg.:

[2020-06-23 08:39] Weedshaker commented on #525
I now fixed it at my example: https://weedshaker.github.io/event-driven-web-components-realworld-example-app/src/#/ with a workaround https://github.com/Weedshaker/event-driven-web-components-realworld-example-app/blob/master/src/es/helpers/Utils.js and Angular seems to do this out of the box. Although, the proper solution would be to have this fixed within the Backend!

[2020-06-23 16:39] joey32793 commented on #525
Good catch. This seems to be taken care of by Blazor WebAssembly sanitation as well. Thanks for pointing this out!

[2020-06-29 16:00] joey32793 commented on #191
Following up on this. From the looks of the two previously linked repos in this thread, it seems that both projects have been somewhat abandoned. I'd like to offer up my implementation using the latest version of .NET Core:

Repo: https://github.com/joey32793/BlazorConduit
Demo: https://blazor-conduit.netlify.app/

While I'm positive there's still some work to do (currently at `v1.0.0-mvp`), anyon

[2020-06-30 16:25] joey32793 commented on #524
@anishkny Any movement on this? I'd love to put this up on the Awesome Blazor repo as an example project for the community once its thoroughly vetted after review.

[2020-07-04 04:33] #514 closed

[2020-07-04 16:05] rlander commented on #475
@anishkny what's the process for making a repo official? Does anything need to happen next? Thanks!

[2020-07-05 04:03] YukiSakuraVN commented on #523
That sounds great :)

[2020-07-07 02:08] qiwang97 commented on #423
I have a table component with pagination. If i want to use ssr in this page, should i replace all the table section with content from server?
Url like `router.push('/books?page=2&size=10')`  may cause nested route and i just want to show table pagination. How did you handle this?

[2020-07-10 10:52] JACB920 opened #526 "Realworld.io link in description"
On a Chromebook, right now. I clicked that link, and it loads for a few seconds, and then takes me back to the main page of this GitHub repository. Is it supposed to, or is the link the wrong one?

[2020-07-10 10:53] JACB920 commented on #526
Never mind, figured it out. Went to README.md and read through and found it.

[2020-07-10 10:53] #526 closed

[2020-07-10 18:14] boazblake opened #527 "create a mithril front end version"
[Mithril JS](https://mithril.js.org/) is an amazing framework and I would like to submit a PR for this

[2020-07-11 06:01] YukiSakuraVN commented on #527
That's great!

[2020-07-11 17:55] kunwar97 commented on #141
I am working on it

[2020-07-11 20:16] hadywalied commented on #84
I'm interested, how to start helping 🤓🤓

[2020-07-12 16:02] subinchaliyath opened #529 "publishing issue"
realworld.io not redirecting to the page

[2020-07-12 19:58] kunwar97 commented on #141
@skopekreep https://github.com/skopekreep/typescript-node-express-realworld-example-app/pull/2

[2020-07-12 23:31] anishkny commented on #529
Supposed to go to this repo.

[2020-07-12 23:31] #529 closed

[2020-07-15 09:39] seranotannason opened #532 "Bearer Authentication"
In the API spec `swagger.json`, the authentication scheme is defined as:
[code]

Shouldn't it be of `"type": "http"`, `"scheme": "bearer"`, `"bearerFormat": "JWT"`?

[2020-07-20 23:31] xesina opened #534 "Golang + Gokit"
Hello,
I'm working on a new implementation using Golang and [gokit](https://github.com/go-kit/kit)

Work in progress at https://github.com/xesina/gokit-realworld

Also, here's my previous completed work on the [echo](https://github.com/labstack/echo) implementation if you're interested 😉
https://github.com/xesina/golang-echo-realworld-example-app

[2020-07-21 08:19] Weedshaker opened #535 "504 Gateway Timeout on conduit.productionready.io/api"
The https://conduit.productionready.io/api is down!

[2020-07-21 09:21] Weedshaker commented on #535
**THIS IS PRETTY URGENT**, since the 504 on all api calls breaks all your frontend examples. Please, look into it asap!!!

[2020-07-21 17:31] Weedshaker commented on #535
It is running again. So far the reason for the incident is unknown.

[2020-07-21 17:31] #535 closed

[2020-07-22 12:56] skerit opened #536 "Use of hashtag fragments in routes"
Hi,

I want to create a fullstack implementation of Realworld for an MVC we use at our company, but I noticed the spec seems to dictate the use of hashtag routes (`/#/`) instead of fully qualified pathnames. I've never been a fan of those, are they really required for **fullstack** implementations?

[2020-07-22 15:54] tgiardina opened #537 "Create a Node/Express + TypeORM Backend"
I couldn't find a Node/Express + MySQL example backend. Is anyone aware of one? If not, I'd be happy to take a crack at it. I would bootstrap off the excellent Node/Express + MongoDb example, replacing the Mongo models with Sequelize models (unless someone has a better idea).

[2020-07-22 20:23] kunwar97 commented on #537
Hi @tgiardina https://github.com/skopekreep/typescript-node-express-realworld-example-app. Still WIP

[2020-07-22 20:47] kunwar97 opened #538 "Typescript + node + express"
# Progress
* [x]  🏁  Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
* [x]  🎨 Create logo for repo & update issue status (@EricSimons)
* [x]  🔨 Implement all of Conduit's functionality per the spec & API
* [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
* [ ]   🎉 Tag v1 release and officially list it on

[2020-07-25 19:18] tgiardina commented on #537
Hi @kunwar97,

 Package looks cool! Looks like you're using MongoDB, though. Am I missing something?

[2020-07-25 20:07] kunwar97 commented on #537
Ohh sorry, If you're planning Node/Express + MySQL then i would like to contribute

[2020-07-28 01:51] tgiardina commented on #537
I'll drop a link to the project as soon as I solidify my stack. In particular, I'm considering using
- TypeScript instead of plain JavaScript (I've been coding in Rust the past six months and have come to really enjoy strong-typed languages)
- Knex instead of Sequelize (I forgot how much I dislike Sequelize and its inconsistent documentation)

[2020-07-28 07:36] kunwar97 commented on #537
@tgiardina I think typeORM will be a better choice. Let me know your thoughts

[2020-07-28 16:51] tgiardina commented on #537
@kunwar97 I hope TypeORM succeeds, but I'm not willing to bet on it. It is only four years old and has 2k open issues, a six-month runway, and been on life support for the past two years. (You can read more about its state [here](https://github.com/typeorm/typeorm/issues/3267#issuecomment-660351253).) Meanwhile Knex is a few years older and seems far more stable.

I'm not opposed to using an ORM p

[2020-07-28 18:29] MajDogbyte commented on #537
how could I know a particular ORM is typescript friendly?

For instance, ever heard of OpenRecord? I just came across it due to the Active Directory/LDAP side that i needed specifically....dunno if its type script friendly or not.

https://nodejs.libhunt.com/openrecord-alternatives

[2020-07-30 20:32] tgiardina commented on #537
@MajDogbyte, I don't have a definitive way of doing this. Presumably every ORM can be coerced into working with TypeScript after all. But some will be easier to use than others. On one end of the spectrum, there's TypeORM, which was built with and for TypeScript. On the other end, there's Sequelize, which will force you to hack together lots of new wrapper classes and types without any guidance (a

[2020-07-30 20:47] kunwar97 commented on #537
@tgiardina I totally agree with your points. What I like about TypeORM is its query builder. It is very similar to Laravel Eloquent and one can easily create complex queries without any issues.

On the other hand Sequelize is very good for smaller and straight forward projects. But for large and projects with lot of joins and complex queries, I think Sequelize is not well suited for these.

I have

[2020-08-01 13:52] KingOfAll1 opened #540 "Great"

[2020-08-01 14:23] #540 closed

[2020-08-02 20:02] ryannhg opened #541 "[Frontend] elm-spa"
### Hey folks!

I'm the creator of [elm-spa](https://elm-spa.dev), a framework for building web applications with the [Elm](https://elm-lang.org) programming language.

I just created a RealWorld example application and wanted to share it here!

Let me know if there's anything you need from me.

**Thanks! 😄**

### Current Status
Codebase: https://github.com/ryannhg/elm-spa-realworld
Demo: https://

[2020-08-03 22:00] tgiardina commented on #537
@kunwar97,

Here's [the repo](https://github.com/tgiardina/typescript-typeorm-realworld-example-app). The stack is

- TypeScript,
- Express,
- Inversify,
- TypeOrm,

structured roughly as described in [this article.](https://softwareontheroad.com/ideal-nodejs-project-structure/) The project goals are to:

1. Conform to the real world specs,
2. Follow the industry standards for OOP, REST APIs, and

[2020-08-04 06:20] kashifimran opened #542 "Typical time needed for a front-end port"
I am considering a port of realworld front-end. I went over the list of issues and also used web search but could not find out what a typical timeline for a port is. Can anyone please shed light how many man-hours typically it takes to build the front-end of this app using the provided starter-kit?

Thanks in advance.

[2020-08-04 14:54] anishkny commented on #542
It depends on framework complexity, your expertise in it etc. The starter kit is pretty barebones. You can look at the commit histories of some of the popular implementations to get an idea how long one would take: [React](https://github.com/gothinkster/react-redux-realworld-example-app/commits/master) | [Angular](https://github.com/gothinkster/angular-realworld-example-app/commits/master) | [Vue.

[2020-08-04 14:54] #542 closed

[2020-08-04 18:14] kashifimran commented on #542
@anishkny Thanks for the kind reply. I think it's quite hard to estimate time by looking at the history. 1 commit can be after 10 days. or a single hour may see 10 commits.

Would you say 10 hours is a good estimate for someone who knows what they are doing?

[2020-08-05 22:29] souenzzo commented on #210
I'm working on this one
https://github.com/souenzzo/eql-realworld-example-app/

It already looks OK and it's able to login.

[2020-08-06 10:05] kunwar97 commented on #537
Hi @tgiardina was occupied in office work, will start working on it from tomorrow.

[2020-08-07 08:04] kashifimran commented on #541
@ryannhg Thank for you sharing this. I just checked it out. Looks great. I am curious how much effort it was in terms of man hours? Could you pleas shed some light on it? Thank you.

[2020-08-07 08:18] kashifimran opened #543 "Cancelled"
Updated. The repo was removed.

[2020-08-07 08:52] jonasbuntinx opened #544 "[FrontEnd] PureScript + React"
Hi,

I was inspired by @thomashoneyman 's [implementation](https://github.com/thomashoneyman/purescript-halogen-realworld) of the Real World spec using [Halogen](https://github.com/slamdata/purescript-halogen).

I work professionally in [PureScript](https://www.purescript.org/), but we're using [React](https://reactjs.org/) instead of Halogen. So I wanted to create a PureScript+React version of th

[2020-08-07 18:01] ryannhg commented on #541
Hey @kashifimran it took approximately 16 hours to create the entire app.

There's a bit more detail in my blog post:
https://rhg.dev/posts/realworld-elm-spa

[2020-08-07 19:17] kashifimran commented on #541
@ryannhg Thanks a lot for the valuable information. I am trying to find out how much a framework affects this particular need, as for small-medium apps, budget + time are very important consideration.

Much appreciated.

[2020-08-08 17:39] jbolotin commented on #537
I would highly, highly recommend [objection](https://github.com/Vincit/objection.js) for this. It has the stability and maturity of knex yet it abstract away a lot of the low level SQL, has an extremely low issue count, and it is actively maintained

[2020-08-10 16:56] tgiardina commented on #537
Thanks for the recommendation, @jbolotin. Objection is definitely on my radar. And you are right that it look very well maintained.  For this project, I am going to stick with TypeORM though. It is both popular enough and good enough that I think a Real World demo will help a quite a few people.

[2020-08-11 01:04] thomashoneyman commented on #544
This looks good! I haven't done a thorough review, but I've looked through the source and it looks like a competent, realistic implementation of the spec for PureScript + React.

[2020-08-14 09:59] azzamsa commented on #467
Any update about this?

Or should we just make it as PR?

[2020-08-14 10:31] LukeMathWalker commented on #467
That comment is outdated - the spec is fully implemented.

[2020-08-14 13:13] azzamsa commented on #467
I saw your reply 3 hours ago. But can reply now.

Turns out all opened TODO issue (https://github.com/colinbankier/realworld-tide/issues/1, https://github.com/colinbankier/realworld-tide/issues/5, https://github.com/colinbankier/realworld-tide/issues/6, https://github.com/colinbankier/realworld-tide/issues/7) already implemented.

It's indeed a happy news for us. Let's convert this issue into a PR

[2020-08-14 13:36] LukeMathWalker commented on #467
Shall I open one?

[2020-08-14 13:44] azzamsa commented on #467
I think YES. but we need to be patient. Since there many really old PR not being merged yet.

[2020-08-18 00:04] whatisaphone commented on #471
I think this would be a solid addition to the list

[2020-08-19 19:53] dshimo commented on #513
@anishkny
Review is open for anyone. Would appreciate any comments or responses.

[2020-08-24 20:19] Qclanton opened #548 "[Frontend] Vanilla PHP"
Work in progress here:

Repo: https://github.com/concise-studio/real-world-frontend-php
Demo: https://real-world-frontend-php.concise-studio.com/

[2020-08-26 13:24] jonasbuntinx commented on #544
Quick update.
I have set up a hosted demo: https://purescript-react-realworld.netlify.app/

[2020-08-27 01:39] xixizhangfe opened #549 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
![image](https://user-images.githubusercontent.com/26836640/91373532-3359c800-e849-11ea-9ea3-e2531e03d63b.png)

[2020-08-27 03:52] sumanthsumu1418 opened #550 "Real world"

[2020-08-27 04:12] #550 closed

[2020-08-27 15:13] EJIqpEP commented on #549
Same for me. Any updates here?

[2020-08-27 23:36] xAKLx commented on #549
Same

[2020-08-28 01:27] Aisen60 commented on #549
Same.I guess maybe the service had down

[2020-08-28 06:27] xixizhangfe commented on #549
@anishkny hi, could you please help us out with the problem?

[2020-08-28 15:48] chichinumber222 commented on #549
Same. In most requests these errors

[2020-08-29 05:36] alcmontejo opened #551 "[Backend] Loopback 4"
### Codebase:
https://github.com/alcmontejo/looback4-realworld-example-app

### Todo:

- [X] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Peer review of final codebase by RealWorld admins & community (RFC)
- [ ] 🎉 Tag v1 release, move repo to main org, and officia

[2020-08-29 08:42] razuf opened #552 "[FrontEnd] Elixir Phoenix LiveView"
Hey folks!
I just created a RealWorld example application and wanted to share it here!

Elixir Phoenix LiveView is really awesome! Please have a look at it.
[More about LiveView here.](https://www.phoenixframework.org)

I'm writing a blog post inside Conduit. ;-) You can read it [here](https://realworld.gigalixirapp.com/article/frontend-with-elixir-phoenix-liveview-c9s0oh).

Or in any other Demo w

[2020-08-29 15:32] dj0nny commented on #549
Same. Any updates?

[2020-08-29 15:46] anishkny commented on #549
Can reproduce issue. Navigating to https://conduit.productionready.io/api/tags in browser causes `Error 502 Bad gateway`. Sometimes works from command line `curl` but not 100%. Looking...

[2020-08-29 16:05] joeeames commented on #549
Working on the issue right now. if anyone is a CORS expert and wants to help ping me please.

[2020-08-29 16:09] EJIqpEP commented on #549
I'm not an expert but can gladly help. From what I see there 2 problems:
1. 502 on requests randomly like server dies because of some backend error
2. CORS problems on requests. You need to have such header in every answer on server:
'Access-Control-Allow-Origin: *'
'Access-Control-Allow-Methods: GET, POST, PATCH, PUT, DELETE, OPTIONS'
'Access-Control-Allow-Headers: Origin, Content-Type, Autorizat

[2020-08-29 17:23] apai4 commented on #549
Sorry for the delay here! I can confirm that one of the instances was returning errors inconsistently and wasn't being removed from the load balancer. The instance has been replaced and the servers are processing requests properly now. Apologies for the inconvenience, we'll be improving our infrastructure to prevent something like this from happening in the future.

[2020-08-29 17:37] EJIqpEP commented on #549
Thanks for the fix. Looks good now.

[2020-08-29 18:03] satvikpendem commented on #312
Can this be put on the main page instead of as a work in progress as it seems to be finished? Or am I mistaken and there's still work to be done?

[2020-08-29 18:35] joeeames commented on #549
Thanks Albert

[2020-08-29 18:35] #549 closed

[2020-09-03 17:54] Qclanton commented on #536
I noticed that not all of implemented Frontends followed that rule. Fro example, AngularJS implementation (https://angular.realworld.io/) does not contain hashtags in routes.
So, my guess, it is not required.

[2020-09-13 12:41] camstuart opened #554 "Raku / Cro / PostgreSQL - Backend Application"
Hi,

I'm putting together a real world api app here:
https://github.com/camstuart/raku-cro-realworld-example-api-app

Raku (formerly known as Perl6) is a member of the Perl family.
The library `Cro` I am using (ok, so kind-of a framework) is fast becoming the de facto standard in the Raku community for distributed systems. So it can do HTTP rest API's very well, but also full stack (server rendere

[2020-09-14 09:12] Dan-Do commented on #471
I am now ready to learn this Solid frontend framework. Though it's now behind mikado in the bechmark but it's more active.

[2020-09-14 10:39] ryansolid commented on #471
@Dan-Do Glad to hear your interest. Solid and Mikado differ in a few ways other than performance as Solid offers more higher level features, and the approach Solid uses in the benchmark scales beyond tying data to a single template.

I do think Mikado has really pushed the envelope though so I look forward to competing with it again when their benchmark implementation is fixed to be properly keyed

[2020-09-16 11:03] LouSypher commented on #141
https://github.com/gothinkster/realworld-starter-kit/issues/53

[2020-09-16 19:07] silver-11 opened #556 "•"

[2020-09-16 19:07] #556 closed

[2020-09-19 04:09] #390 closed

[2020-09-23 10:32] camstuart commented on #554
Please label `backend` & `wip`

[2020-09-23 17:55] mg901 opened #557 "[Frontend]: React + Effector + Typescript"
Good time, at the moment I'm finishing an example on React + [Effector](https://effector.now.sh/).

[repo](https://github.com/mg901/effector-react-realworld-example-app)

## Todo:

- [x] example app

- [x] styles

- [x] unit tests

- [x] readme

[2020-09-24 03:00] josebrusa opened #558 "Mis lecturas"

[2020-09-24 03:07] #558 closed

[2020-09-25 13:05] mandarvaze commented on #400
@ahmedabdailla is there an update to this ?

While I was looking for FastAPI implementation, I came across #520 - which seems to be complete.

[2020-09-27 16:02] mutoe opened #559 "[Frontend] Vue3 + Vite"
Hi,
Vue3 was recently released, and Vite was included as a packaging tool. It is very different from vue2 (Composition API), I have an idea to implement it.
Can you add a tag for me, thanks!

https://github.com/mutoe/vue3-realworld-example-app

Stack: Vue3(with **Composition API**), Vite, TypeScript, Vue Test Utils, Jest

Todo:

- [x] :checkered_flag: Fork the starter repo & post the link in this

[2020-09-28 02:15] ezracelli commented on #272
@navinkumarr Is this still WIP? I'd love to take this on using the Rocket 5.0 beta

[2020-09-28 18:22] melissamcewen commented on #525
Would be useful to sanitize a bit on the backend in general. Like limit some of the words allowed. Right now the tags are populated with things like "Hilter" and "butt" plus a bunch of blank ones
<img width="220" alt="Screen Shot 2020-09-28 at 1 21 48 PM" src="https://user-images.githubusercontent.com/1251094/94470687-a1b5e100-018d-11eb-87f8-73ec5184eed5.png">

[2020-09-29 08:24] Weedshaker commented on #525
agreed, its kinda embarrassing when showing this conduit example in a business context.

[2020-09-29 18:26] jonator commented on #43
Any intention of using swiftui??

[2020-10-06 13:51] daimor opened #561 "[Backend] InterSystems IRIS"
https://github.com/daimor/realworld-intersystems-iris

[2020-10-08 21:07] lhsazevedo opened #564 "[Backend] Laravel repo is unmaintained"
The original maintainer of the [laravel-realworld-example-app](https://github.com/gothinkster/laravel-realworld-example-app) repository (@sandeesh) appears to be inactive since 2017.

We already have a [Pull Request](https://github.com/gothinkster/laravel-realworld-example-app/pull/23) upgrading Laravel from version 5.4 to 5.5 (released on August 30th, 2017). I've suggested some changes but the cr

[2020-10-11 07:26] ctrngk opened #565 "react/redux repo is unmaintained"
Could you please update with hooks?

[2020-10-13 17:51] mg901 commented on #557
@StephenFluin @toddwest @icebob @anishkny, Greetings to you guys. I made an app with Effector + React. Please tell me what else is needed in order for you to publish it at home?

[2020-10-13 18:29] saranshabd commented on #565
@anishkny I can take up this issue

[2020-10-16 07:30] #127 closed

[2020-10-16 19:00] ahmadazizi commented on #565
I have experiences with Flask and react/redux repos, both code bases are outdated.
I don't recommend to try realworld anymore, you would be much more satisfied with more recent packages. In the react/redux world just create a project with:

`npx create-react-app my-app --template redux`

https://redux-toolkit.js.org/introduction/quick-start#using-create-react-app

[2020-10-17 09:33] Dan-Do commented on #564
I guess this repo is also inactive :(

[2020-10-17 09:45] sandeesh commented on #564
Hi there. I've been very busy taking up a big role in couple of startups and therefore wasn't able to keep the repo maintained. I'm going to spending the next week to keep this updated to the latest version of Laravel. I've merged the pending PRs for now.

I'm also open to transfer the repo ownership or add others as admin if someone would like to continue maintaining this. For now i'll get this u

[2020-10-17 18:23] lhsazevedo commented on #564
Hi @sandeesh, this is good news, thank you! If it's ok for you, I can contribute to the update process as well.

Regarding maintenance, I am willing and would like to apply to be one of the admins, how should I proceed?

[2020-10-17 21:59] mg901 commented on #557
@Alonski, @sandeesh, @Cameron-C-Chapman, @apai4 Hello guys. If any of you have enough time, please add my application. For me and the entire Effector community, this really matters.

[2020-10-18 20:26] blrB opened #566 "[Backend] Hanami 🌸"
![logo](https://raw.githubusercontent.com/blrB/hanami-realworld-example-app/master/logo.png)

Hi everyone,

I've started a RealWorld application with [Hanami](https://hanamirb.org/) :cherry_blossom:

Codebase: https://github.com/blrB/hanami-realworld-example-app

Todo:

- [x]  :checkered_flag: Fork the starter repo & post the link in this issue
- [x] :art: Create logo for repo & update issue statu

[2020-10-19 16:59] blrB commented on #566
https://github.com/gothinkster/realworld/pull/568

[2020-10-19 17:12] loannaflip opened #569 "Dead Link"
- [realworld#sandeesh-s---admin](https://github.com/gothinkster/realworld#sandeesh-s---admin)
	- [github.com/SandeeshS](https://github.com/SandeeshS) - This page does not exist.

[2020-10-22 10:17] YonatanKra opened #570 "[Fullstack]: AskQL + Nodejs + Express + Web components"
Hi,
An amazing project is coming into fruition - [AskQL](https://github.com/xFAANG/askql/).
I've forked the beginning of the project and intend to work on it in the coming months.
https://github.com/YonatanKra/realworld-starter-kit

[2020-10-22 20:18] ryansolid commented on #471
@anishkny @EricSimons I will ask again if there is something I can do to help this along. I do understand this is just a matter of not really having time to review any implementations and I'm not in any real rush. But I'd love to get in before the comparison article goes out next year. I just missed the cycle of merges that got in this years article. But I'd love to be able to have Solid in next y

[2020-10-23 08:01] andrewMacmurray opened #571 "[Fullstack] Hasura + Elm"
I've put together a realworld 'inspired' version using Elm + Hasura - 'inspired' as it doesn't follow the official API spec or use the provided CSS, but wanted to try out graphql + Elm UI as alternatives

The repo is here: https://github.com/andrewMacmurray/realworld-hasura
And the app here: https://realworld-hasura.surge.sh

I had a lot of fun making it, the realworld app idea is brilliant!

Let

[2020-10-23 12:16] remast opened #572 "[Fullstack] Go + Buffalo"
Hi

I have implemented a version in [Go](https://golang.org/) using the [Buffalo](https://gobuffalo.io) framework:
https://github.com/remast/gobuff_realworld_example_app

It's a server side rendered go web application and therefore a fullstack implementation.

Cheers,
Jan

[2020-10-28 14:54] mutoe commented on #559
All of features are complete.

[2020-11-02 15:49] ebebbington opened #573 "[Fullstack] Drash (Deno) + Vue + Postgres + Docker"
The drashland team have implemented a realworld app using Drash, Vue, Postgres and Vue.

https://github.com/drashland/deno-drash-realworld-example-app

I tagged a release for v1 as we've worked on getting the realworld app working and adhering to the specs for a while, and finally we released v1 today which means the repo is ready to be displayed and made public knowledge.

What changes do i need

[2020-11-02 16:01] crookse commented on #515
closing. see #573

[2020-11-02 16:01] #515 closed

[2020-11-05 12:11] HakimovMarat opened #575 "Realworld"

[2020-11-05 14:20] #575 closed

[2020-11-11 06:15] mvila opened #576 "Is this project dead?"
Issues and PRs are piling up and it looks like the maintainers have abandoned the ship.

Is there anything we can do to help?

[2020-11-14 06:54] calaway commented on #269
Hello @Cameron-C-Chapman and @loganpowell!

I came to this repo because I was interested in building my own private Real World App(s) as an educational tool to learn the ins and outs of different languages and frameworks. I figured I would start by pulling down the end-to-end tests from this project to use as acceptance criteria for my own project, but I was surprised to find that they don't exist

[2020-11-14 15:24] Cameron-C-Chapman commented on #269
Hi @calaway 👋

I've been pretty out of the loop on the realworld project for awhile, but I always thought the idea of a front end test suite that could be ran similar to the way the api tests work would be really beneficial. Not only for people using this repo as a learning tool, but also for the maintainers to be able to validate projects as they review them and for the developers to be able to c

[2020-11-15 19:33] thomkle commented on #84
Has this died out? The linked codebase hasn't had any changes in 17 months. Very much interested in a well implemented clean architecture Android app!

[2020-11-18 18:15] steve8708 commented on #471
would really love to see this in as well

[2020-11-23 10:00] flexsurfer commented on #576
i was asking the same here 27Jul https://github.com/gothinkster/realworld/pull/519#issuecomment-650508097 still no answer :(

[2020-11-23 22:29] Cameron-C-Chapman opened #578 "Project Maintenance Help"
Most of the maintainers of this project have slowly gotten busy with other things and haven't been able to keep up as of late (this includes and is really referring to myself).

I still think this project can provide a lot of value to people so it's a bit of a shame to see the issues piling up.

If we can identify a few people to start helping with maintenance we'd be happy to enable that.

Anyone

[2020-11-23 22:30] Cameron-C-Chapman commented on #576
Related to #578

[2020-11-23 22:33] mding5692 commented on #578
Can help out with react-based issues if need it! Much thanks for maintaining this repo, had been a wonderful reference early on.

[2020-11-23 23:02] #576 closed

[2020-11-23 23:20] mvila commented on #578
Thanks @Cameron-C-Chapman for trying to keep the ship afloat!

I was thinking about building a web site to list the RealWorld example apps and simplify the submission/review process. Then, this repo could just contain the specs and refer to the website for the implementations.

Do you think it can help?

[2020-11-24 14:43] Cameron-C-Chapman commented on #578
@mvila I do think with as many repos as there are now and could be a year from now, a website to navigate them would be a better experience than maintaining the README the way we do now.

@anishkny has put some really slick automation around updating the README based on what's in the /etc/backend-repos.yml and /etc/frontend-repos.yml files so it's not totally manual.

I think a website that was ab

[2020-11-25 01:15] mvila commented on #578
@Cameron-C-Chapman I think that a non-negligible part of the pain point is the current PRs/Issues submission process and it would be better to replace it with a submission form/approval mechanism on the website.

So it would be more a web app than a static website and I was thinking to build it with my own full-stack development solution called [Layr](https://github.com/layrjs/layr).

I think I wi

[2020-11-25 06:05] flexsurfer commented on #578
i believe approval should be automated because it's tricky to review and approve different frameworks by the same group of people, so probably, the author of PR could ask framework's community to review his PR and add stars , so if repo in PR has > N start we automatically approve it ?

[2020-11-25 07:04] mvila commented on #578
@flexsurfer I agree with you. Reviewing is tough, but automatically approving based on a number of stars does not seem ideal to me.

I think it is better to keep the approval process manual, but make it straightforward. It would not be about assessing the quality of a repo. It would just be about verifying that a repo does what it claims to do.

Then, the repos are ordered by the number of stars o

[2020-11-25 15:54] Cameron-C-Chapman commented on #578
When I started getting involved our goal was to try to get some members of whatever frameworks community to kind of review and approve the approaches. For things like React, Angular, etc that went pretty well, but for more specific stacks and combinations of technologies or more less known frameworks that was harder to do.

That kind of evolved into a practice of requiring the automated api tests

[2020-11-25 16:27] blrB commented on #566
Application merged to [awesome-hanami](https://github.com/davydovanton/awesome-hanami/pull/60) repository by author of @hanami

[2020-11-26 00:03] mvila commented on #578
Thanks, @Cameron-C-Chapman! I'm on it! 😄

[2020-11-28 01:33] bencun commented on #471
Looking forward to seeing Solid implementation here, so much potential in that lib.

[2020-11-28 03:27] calaway commented on #269
Thank you so much for your reply, @Cameron-C-Chapman, and thank you for referring me to @anishkny.

@anishkny, would you be able to work with me to answer questions and provide guidance on this project? If not, is there someone else who is willing and able that you could point me to?

I went ahead and started a new repo for this: https://github.com/calaway/real-world-app-e2e-test-suite. Currently

[2020-11-30 19:16] sebastiandg7 commented on #23
@EricSimons Hey, I would like to take up on this: Firebase + Angular (AngularFire) + Nx.

[2020-12-01 04:00] Cameron-C-Chapman commented on #269
@calaway I think cypress is a perfect tool for this sort of testing and your setup looks great!

I know you're just building and testing it out at this point, but the only thing I notice is that this should be written with the idea that developers would use this to test their local apps, not pointing against the deployed realworld demo app. So the instructions would include what configurations to

[2020-12-03 01:50] devJang commented on #218
@anishkny

this issue still work in progress?
I built a nuxt project for realworld example app

- [x] Nuxt
- [x] TypeScript
- [x] Nuxt Composition API
- [x] finish all features done

Demo: https://nuxt-realworld.vercel.app
Repo: https://github.com/devJang/nuxt-realworld

[2020-12-03 16:12] tamershahin commented on #491
Hi @alexey-lapin ,
I immediately though of Micronaut when I stumbled on this project! glad that you worked on it.. do you know why your PR is not being merged?

[2020-12-03 16:32] alexey-lapin commented on #491
Hi @tamershahin! No, I don't know. I assume that real-world repo is in low activity mode as there are lots of PRs which are not being merged.

[2020-12-04 08:17] tamershahin commented on #491
it's sad!

[2020-12-06 15:30] ahmednour2030 opened #579 "Real world"

[2020-12-06 15:30] ahmednour2030 commented on #579
Gg

[2020-12-06 16:16] #579 closed

[2020-12-07 18:22] EJIqpEP opened #580 "CORS errors again"
Hi there. as some time ago there are CORS errors on API
<img width="1916" alt="Screenshot 2020-12-07 at 19 21 18" src="https://user-images.githubusercontent.com/1217730/101389249-6f2d1080-38c1-11eb-9500-2134f9e4c9af.png">
I would really appreciate if somebody can look into it.

[2020-12-07 19:56] EJIqpEP commented on #580
Looks like it was magically fixed.

[2020-12-07 19:56] #580 closed

[2020-12-07 23:12] mvila commented on #578
I just finished an MVP of the website.

It is deployed at this (temporary) address: https://realworld.mvila.me/

The codebase is available here: https://github.com/mvila/realworld-website

I added all the implementations that are listed on the [RealWorld repository](https://github.com/gothinkster/realworld) and anyone can submit a new implementation.

When an implementation is submitted, it must b

[2020-12-10 04:37] Cameron-C-Chapman commented on #578
This looks great @mvila!

We'd just have to work out the hosting/domain name issue but that shouldn't be a big deal.

A couple of things you might consider:
* Just a free text search for implementations (maybe that's what you mean by filter by language)
* There are also some mobile implementations on the site that aren't listed as an option.

Great progress! I don't see why we couldn't start worki

[2020-12-10 08:47] mvila commented on #578
Thanks, @Cameron-C-Chapman!

Since for a given language, there are not so many implementations sharing the same library/framework, I was thinking more of a way to quickly select a language. But maybe you are right, a text search might be better. I have to experiment.

I thought about adding a "Mobile" category and finally gave up the idea. The problem is that a mobile implementation is technically

[2020-12-12 06:09] mvila commented on #578
@Cameron-C-Chapman I added a "language filter" sidebar and a "mobile subcategory" that is shown as a colored label. Could you please [have a look](https://realworld.mvila.me/) and tell me what you think?

[2020-12-12 13:18] championswimmer opened #582 "follow should be PUT not POST"
Ideally for creating relation links like this, REST specifies using PUT/DELETE as the create/remove pair, rather than POST/DELETE.

[2020-12-14 17:27] lifeiscontent commented on #482
CC: @anishkny

[2020-12-15 21:06] adriatic commented on #218
I was planning to create the nuxt.js based front end - and then found this https://github.com/devJang/nuxt-realworld. @devJang - is this project finished? If not do you need any help?

[2020-12-15 23:20] mvila commented on #578
@Cameron-C-Chapman For me, the [current website](https://realworld.mvila.me/) is "good enough" to be exposed publicly. If you agree with that, shall we contact @EricSimons?

About hosting, it's completely serverless, and therefore virtually free. So I can take care of it. The only thing left to do is to point `realworld.io` to it. I see that you are using Cloudflare CDN for `demo.realworld.io`. Th

[2020-12-16 08:40] flexsurfer commented on #578
hey @mvila great job on the website, I'm just wondering how does it solve this project maintenance problem? btw how can the mobile project be submitted? thanks

[2020-12-16 08:45] flexsurfer commented on #578
probably option for showing pending (in review) submissions could help

[2020-12-16 09:06] mvila commented on #578
@flexsurfer, the plan is to make the approval process a lot lighter.

It would not be about assessing the quality of an implementation, it would simply be about having a quick look at the code to make sure that an implementation does what it claims to do.

So reviewing an implementation should take less than 3 minutes and I think I can take care of this task.

Since the implementations would be qu

[2020-12-16 10:32] devJang commented on #218
yes! this project(https://github.com/devJang/nuxt-realworld) finished to completed all feature

[2020-12-16 14:44] Cameron-C-Chapman commented on #578
@mvila - I talked to @joeeames last night and he's going to be your point of contact for a domain redirect.

He also mentioned that him and @anishkny are working on trying to get some help with maintenance of the project. We'll need to coordinate with him, and when the redirect is ready, update the readme with the details.

[2020-12-16 14:50] adriatic commented on #218
Thank you - I will look for something else

[2020-12-16 23:03] mvila commented on #578
Thanks, @Cameron-C-Chapman! I will contact @joeeames directly.

[2020-12-17 02:12] joeeames commented on #578
what do I need to do?

On Wed, Dec 16, 2020 at 4:04 PM Manuel Vila <notifications@github.com>
wrote:

--
Joe Eames
CEO, Thinkster.io

[2020-12-17 03:52] mvila commented on #578
@joeeames Didn't you receive my email?

[2020-12-19 17:12] championswimmer commented on #84
I have finished this project. https://github.com/coding-blocks-archives/Conduit_Android_Kotlin

Making a PR to update it to the readme at the front.

[2020-12-21 23:10] mvila commented on #578
@Cameron-C-Chapman, @joeeames, @anishkny: What's going on guys? Is there any progress on your side?

[2020-12-22 21:26] ryansolid commented on #471
Well looks like I got us added to the new website. So I will see how this plays out as it is released and close the issue here if appropriate. But it's something. See it here: https://realworld.mvila.me/

[2020-12-23 13:57] championswimmer commented on #578
I have added a new mobile submission for Android/Kotlin

Who is taking care of new submissions for now?

https://github.com/gothinkster/realworld/pull/584/files

[2020-12-23 22:42] mvila commented on #578
@championswimmer I approved your submission. Your implementation is now listed on the (not yet official) [website](https://realworld.mvila.me).

[2020-12-24 08:14] flexsurfer commented on #578
btw if you need any help with review or maintaince. I'm ready to help

[2020-12-26 04:21] prudhvir3ddy opened #587 "get articles by tag should take list as param"
currently get articles by tag is taking a string as param and no dynamic way to send all tags.

[2020-12-28 10:00] nitingupta-123 commented on #434
**I went through all of the steps written in the readme file. when I tried to deploy it throw an error.**  please help me to figure out it.
D:\Appscript\realworld-apps-script-githubRepo\realworld-apps-script-master>npm run deploy

Hash: 46e7353f68dc3a5e49af
Version: webpack 4.44.2
Time: 25029ms
Built at: 28/12/2020 3:24:48 pm
          Asset       Size  Chunks             Chunk Names
         AES.

[2020-12-30 14:35] geromegrignon commented on #578
@mvila It might be a good idea to add a checklist on the submission form with the requirements.
Like having tests to avoid having to setup new environments as Cameron said or to have a complete Readme with instructions (missing on several submissions).

[2020-12-30 21:03] rizaramadan opened #588 ".net core backend using Orleans"
hi, I'm currently working on conduit backend using [Microsoft Orleans](https://dotnet.github.io/orleans/) and asp.net core webapi, work in progress. The repo's here: https://github.com/rizaramadan/Conduitorleans

[2020-12-30 21:44] redbar0n commented on #471
Maybe creating a PR with it (referencing this issue) would make it easier for them?

Also, remember: _"we require a minimum of one unit test with every repo"_ https://github.com/gothinkster/realworld/tree/master/spec

[2020-12-30 23:07] mvila commented on #578
@geromegrignon A checklist on the submission form might be good but we then have to decide what to put on it. For example, if my understanding is correct, tests are recommended but not required. Most frontend implementations don't provide any test and most backend implementations just provide the same Postman collection.

[2020-12-31 23:52] jtrtj opened #589 "[Backend] Grape"
![Logo](https://raw.githubusercontent.com/jtrtj/grape-realworld-example-app/master/logo.png)

@dtsehl and I are making a Grape/Ruby backend.

https://github.com/jtrtj/grape-realworld-example-app

[2021-01-05 08:51] #443 closed

[2021-01-06 20:09] ppo opened #590 "Add RealWorld virtualization/containerization? (+ install CLI)"
Wouldn't it be useful to include virtualization besides frontends and backends?
And a CLI tool to install and configure everything?

For example:

- Run `npx realworld-install`
- Select a virtualization: `Kubernetes`
- Select a backend: `Elixir/Phoenix`
- Select a database: `PostgreSQL`
- Select a frontend: `Svelte/Sapper`
- Select a deployment platform: `local` (or `DigitalOcean`)
- _Some configu

[2021-01-14 02:38] rizaramadan commented on #588
Hi all, I want to share current update:
- [x] [Authentication](https://github.com/gothinkster/realworld/tree/master/api#authentication)
- [x] [Registration](https://github.com/gothinkster/realworld/tree/master/api#registration)
- [x] [Get current user](https://github.com/gothinkster/realworld/tree/master/api#get-current-user)
- [x] [Update user](https://github.com/gothinkster/realworld/tree/master

[2021-01-20 02:19] rizaramadan commented on #588
all endpoint's done, next step is to add some unit test

[2021-01-22 15:31] jcuenod commented on #471
+1 for adding Solid here...

[2021-01-22 23:24] #374 closed

[2021-01-23 22:05] #418 closed

[2021-01-24 00:13] #304 closed

[2021-01-24 00:50] #480 closed

[2021-01-24 11:41] cmrd-a commented on #520
I think there is no point in waiting FastAPI #400 for and it is worth adding this example.

[2021-01-25 07:48] #169 closed

[2021-01-25 08:10] #491 closed

[2021-01-25 22:14] #544 closed

[2021-01-25 22:50] #561 closed

[2021-01-26 01:30] mvila commented on #157
Since the [repo](https://github.com/ruby-hyperloop/realworld-hyperloop) is archived, I close this issue.

[2021-01-26 01:30] #157 closed

[2021-01-26 01:41] #566 closed

[2021-01-26 06:55] #430 closed

[2021-01-26 07:54] iamdarshshah commented on #569
Hey @Uniminin 👋

Thanks for pointing this out! This issue will get fixed by #516 😄

The team will close this issue once the pending PR is reviewed/merged.

[2021-01-26 08:11] #573 closed

[2021-01-26 08:30] #559 closed

[2021-01-26 08:56] #218 closed

[2021-01-26 09:00] mvila commented on #218
Thanks, @devJang! 😄

I added your Nuxt.js implementation in #600 and merged it to master.

[2021-01-26 22:02] mvila commented on #471
Hi, @ryansolid!

Apologies for the delay in reviewing your implementation, the maintenance team had very limited availability and we've recruited new members to help with the project.

I've added your implementation to the list of frontends (#601). The README should be autogenerated within 24 hours.

[2021-01-26 22:02] #471 closed

[2021-01-26 22:18] mvila commented on #475
Hi, @rlander!

Apologies for the delay in reviewing your implementation. The maintenance team had very limited availability, and we've recruited new members to help with the project.

I've added your implementation to the list of frontends (#602). The README should be autogenerated within 24 hours.

[2021-01-26 22:18] #475 closed

[2021-01-26 22:32] mvila commented on #478
Hi @alex-dixon!

Apologies for the delay in reviewing your implementation. The maintenance team had very limited availability, and we've recruited new members to help with the project.

It seems that the development of the Framework-X framework is stopped. If it's the case, I'm sorry, but I don't think we can list your implementation.

[2021-01-26 22:47] mvila commented on #507
Hi, @eflem00!

Apologies for the delay in reviewing your implementation. The maintenance team had very limited availability, and we've recruited new members to help with the project.

I've added your implementation to the list of backends (#603). The README should be autogenerated within 24 hours.

[2021-01-26 22:47] #507 closed

[2021-01-27 01:13] alex-dixon commented on #478
No problem. It hasn’t stop just have had delays getting it out there. Any chance of a review? I’m available for whatever I can do on my end.

[2021-01-27 06:05] mvila commented on #478
I think you should continue working on your framework until you are able to release a final version (the current version is 1.0.0-alpha.3). Then, it would be nice to battle test it a bit with some production applications. I close this PR for now. Feel free to create a new PR when you want to submit your implementation again.

[2021-01-27 06:05] #478 closed

[2021-01-27 22:15] alex-dixon commented on #478
It’s been battle tested in many production applications. We’ve also had prior non alpha releases. The alpha is just showing as the latest because of semver I think.

[2021-01-27 22:36] mvila commented on #478
Nope. It is not related to semver. It is because this version is published with the npm distribution tag 'latest'.

[2021-01-28 00:05] alex-dixon commented on #478
Well the alpha is the latest. 😊

If a latest published version number without “alpha” in it is required to put a link to our example here I can see what I can do. Is that what you’re saying?

[2021-01-28 09:02] ebebbington commented on #573
Thanks @mvila

[2021-01-28 20:46] mvila commented on #478
What I am saying is that we cannot list an implementation using a framework that doesn't provide a final/stable version.

Another issue is that your implementation is currently in the same repo as your framework. It would be better to move it to a dedicated repo so that people can clone/fork it and post issues about it more easily.

[2021-01-30 09:14] geromegrignon commented on #571
Hello @andrewMacmurray,
We are currently onboarding a new team of maintainers for the project.
Our main focus is to add implementations following the specs.
As we may add a new version of the specs and the expectations, we'll then review your implementation.

[2021-01-30 10:13] geromegrignon commented on #524
Implementation added to the project list.
Thanks for your contribution.

[2021-01-30 10:13] #524 closed

[2021-01-30 19:03] lhsazevedo commented on #564
Hi @geromegrignon and @mvila. Could you help us here?

[2021-01-30 22:52] geromegrignon commented on #564
Hello @lhsazevedo, we aren't directly in charge of the implementations.

@sandeesh are you still open to onboard @lhsazevedo to maintain the implementation?

[2021-01-31 00:35] lhsazevedo commented on #564
Oops, sorry @geromegrignon.

The Laravel implementation done by @sandeesh is really well done. But the repo dates back to 2017 when Laravel was at version 5 and now it's on version 8 already, on the way to 9 this year. This can be a bit frustating for newcomers :/

Unfortunally, he has been very busy with other roles (last commit was in 2017).

Let me also ping @EricSimons here as I have reached h

[2021-02-06 10:27] rizaramadan commented on #588
A few unit tests added. What is the next step? put it as [work in progress] in front page maybe?

[2021-02-11 08:04] iq3addLi opened #606 "Update Riot.js repositories"
Hi guys
The Riot repository has been updated.
I want the readme to be updated as follows.

(1) Riot.js v3 -> remove
(2) Riot.js v4 -> rename -> Riot

title|content
:---|:---
Repository| https://github.com/iq3addLi/riot_realworld_example_app
Demo| https://riot-realworld.addli.co.jp

Thanks.

[2021-02-13 12:44] abdusabri commented on #606
Hi @iq3addLi 👋

Could you please make the changes here https://github.com/gothinkster/realworld/blob/master/etc/frontend-repos.yaml, open a PR, and mention me? And I will review it and take care of merging it and making sure that the README is updated accordingly (as it is aut-generated) 🙂

[2021-02-13 13:00] abdusabri commented on #520
Hi @nsidnev,

Apologies for the delay in getting back to you, the maintenance team had very limited availability and we've recruited new members to help with the project.

Could you please add it here https://github.com/gothinkster/realworld/blob/master/etc/backend-repos.yaml, open a PR, and mention me? And I will review it and take care of merging it and making sure that the README is updated acc

[2021-02-14 23:07] #520 closed

[2021-02-15 02:06] iq3addLi commented on #606
Thanks for responding!

[2021-02-15 02:06] #606 closed

[2021-02-15 07:27] abdusabri commented on #400
Closing in favor of https://github.com/gothinkster/realworld/issues/520, which is complete and has been added to the README

[2021-02-15 07:27] #400 closed

[2021-02-15 11:44] rjaros commented on #505
@abdusabri This version should be labelled "frontend".

[2021-02-15 11:48] abdusabri commented on #505
Thanks for the correction @rjaro!, I've fixed it  😊

[2021-02-16 05:08] tesla-cat opened #611 "cant even search?"
- "exact same Medium.com clone" ?

- I believe you can **search** on Medium.com

[2021-02-18 17:52] #454 closed

[2021-02-19 18:53] LUC18fknU7P opened #613 "conduit.productionready.io/api/ painfully slow"
and then

first of all requires a `OPTIONS` request which takes about 330ms and then the `GET` request which is around 780ms.
both request take over 1 second... this pretty much bottlenecks every single project that uses this dummy API. I mean this should be like cached or something, no?

[2021-02-24 21:34] essaaadany opened #614 "Model"

[2021-02-24 21:48] #614 closed

[2021-02-26 22:38] #527 closed

[2021-02-26 22:43] mvila commented on #611
The sentence:

Should be understood as:

[2021-02-26 22:43] #611 closed

[2021-03-03 14:40] Weedshaker commented on #518
@abdusabri , Hi, work completed. Could you move our repo to the next stage.

[2021-03-04 15:15] aton-py commented on #552
The demo is not working ;?

[2021-03-05 09:47] Weedshaker commented on #518
@here, anybody able to take this Repo further?

[2021-03-05 21:27] #543 closed

[2021-03-05 21:27] kashifimran commented on #543
The repo was removed.

[2021-03-08 12:02] lhsazevedo commented on #564
Ping @Cameron-C-Chapman

[2021-03-08 23:26] geromegrignon commented on #564
@lhsazevedo If it's fine with you, i invite you to fork the project and to submit it as the new Laravel implementation.

[2021-03-09 03:43] lhsazevedo commented on #564
Awesome, sure! I didn't do it before because I was afraid it wouldn't be merged.

I'll get back to you soon in an Pull Request. Thank you.

[2021-03-10 14:43] #518 closed

[2021-03-18 08:15] chompy18 opened #620 "[Backend] Microservices implementation with GraphQL gateway"
Hi,

I implemented a (WIP) micro-services approach to the RealWorld App, tech stack is:
* nx.dev monorepo
* feature services over nest.js
* gateway GraphQL over nest.js
* Redis queue and Bull.js for micro-services communication layer message bus
* Mongoose

The repo can be found here: https://github.com/jsBlackBelt/microservices-realworld-app

Thanks

[2021-03-18 08:15] #620 closed

[2021-03-18 08:17] jsBlackBelt opened #621 "[Backend] Microservices implementation with GraphQL gateway"
Hi,

I implemented a (WIP) micro-services approach to the RealWorld App, tech stack is:

* nx.dev monorepo
* feature services over nest.js
* gateway GraphQL over nest.js
* Redis queue and Bull.js for micro-services communication layer message bus
* Mongoose
* The repo can be found here: https://github.com/jsBlackBelt/microservices-realworld-app

Thanks

[2021-03-20 15:27] Marvel999 commented on #84
Hello,
I have finished this project. https://github.com/Marvel999/Conduit-Android-kotlin
And made PR update it to the readme at the front.
Please take a look and add my PR.
Thank you
Manish

[2021-03-23 15:00] aisensiy commented on #6
I am working on a java version GraphQL implementation recently after releasing GraphQL ecosystem is quite sophisticated recently. The code base is also https://github.com/gothinkster/spring-boot-realworld-example-app, the same place of the REST implementation, which means it reuse lots of common codes (such as database access, input validation).

The GraphQL schema is firstly copy from https://git

[2021-03-23 16:19] sibelius commented on #6
I have a Relay Real World example here https://github.com/sibelius/relay-workshop

it also has 12 practical exercises to help learning Relay hooks

it is a tiny social network https://react-europe-relay-workshop.now.sh/

[2021-03-26 02:02] AndierZ opened #625 "[Backend] Vert.x + MongoDb + Reactive Java"
I worked on a version of the backend and I believe it's mostly done. Added unit tests and the test script also completes with no errors. I'd love to contribute this as one of the solutions. What's the next step? Thanks!

https://github.com/AndierZ/conduit

[2021-03-27 15:04] mdhender opened #626 "User Registration endpoint inconsistent in docs / swagger / Postman collection"
In realworld/api/README.md, Registration is "POST /api/users."

In realworld/api/Conduit.postman_collection.json, the test is "raw": "{{APIURL}}/users" and path is ["users"].

In realworld/api/swagger.json, the operation to "Register a new user" is in the entry for "user": "post."

It looks like  #612 changed the Swagger from "users" to "user."

[2021-03-31 09:18] nhaancs opened #627 "[Fullstack] Nx + Nestjs + Angular"
Hi team,

I have implemented a fullstack version of this project with Nestjs, Angular, and Nx monorepo.
Please review my project repo at: https://github.com/nhaancs/realworld-nx-nestjs-angular

Thanks

[2021-04-02 10:06] cirosantilli opened #628 "How to add tags for articles? Can't add them. Answer: use the Enter key. So feature request: document that on UI somehow"
And note that it is broken on current live React demo BTW: https://github.com/gothinkster/react-redux-realworld-example-app/issues/151#issuecomment-808417846 for new post creation, but already fixed on master.

[2021-04-02 12:47] webpreneur commented on #508
@mohidkazi, is there any repo yet?

[2021-04-02 13:34] mohidkazi commented on #508
@webpreneur , yes
[here](https://github.com/mohidkazi/deno-oak) you go
but the repo is still incomplete as i do not get enough time to spend on it

[2021-04-05 03:18] senorsmile commented on #590
I think this is exactly what we need.  This would be perfect to showcase "Real World DevOps".

I could see different flavors:
CICD tools - Jenkins, etc.
Build scripting - ...
Packaging formats - Helm, Apt, tar.gz etc.
Cloud Provisioning - Terraform, Cloud Formation etc.
Orchestration - Heroku, Kubernetes etc.
Deployment Methods - Ansible, Gitlab CI, Spinnaker etc.

We'd probably want to group them

[2021-04-05 17:43] mayanknimcet188 opened #629 "[FullStack] KnockoutJS + Flask"
I am going to create a Full Stack Implementation of the RealWorld Application using Knockout JS for the frontend and Flask microframework for the backend.
The project repository can be accessed from [here](https://github.com/mayanknimcet188/knockoutjs-flask-realworld-example-application)
## Work in Progress Steps
-  Add the frontend templates from the starter-kit
- Add Tests according to the API S

[2021-04-07 23:45] rschristian opened #630 "The Settings page requires a password when updating any field"
Currently the "New Password" field is required by https://conduit.productionready.io/api when it should not be. The user is unable to say update their username on the Settings page without also providing a value in the "New Password" input, meaning they have to essentially keep overwriting their password in order to update any profile detail.

[2021-04-08 20:26] alpody opened #631 "[Backend] Golang + Fiber"
Hi,

I implemented a [beta version]( https://github.com/alpody/golang-fiber-realworld-example-app) Conduit Backend API for Golang and Fiber.

[2021-04-11 13:20] BenoitAverty opened #632 "[Frontend] Remix"
Hello,

Remix is a paid server-side rendering react framework that's currently in beta (https://remix.run/features).

I've started implementing the Conduit frontend using this technology as an example app, so that anyone can see how to code using this framework without buying a license.

The repo is here : https://github.com/BenoitAverty/realworld-remix.run

It isn't finished yet, some features ar

[2021-04-11 21:22] JCass149 commented on #626
I think there's intentionally a subtle difference and some endpoints are meant to be "users" and some "user".

<img width="1475" alt="image" src="https://user-images.githubusercontent.com/30537754/114321582-75532800-9b13-11eb-9895-8d1ea29a921b.png">

[2021-04-11 21:35] JCass149 commented on #626
Oh I think I see the issue now. Whilst #612 fixed `GET /user` and `PUT /user` it broke `POST /users` (which should be `POST /users`, not `POST /user`). Is that correct?

Perhaps the swagger.json should be:
[code]

[2021-04-12 18:08] mdhender commented on #626
I think that is correct.

[2021-04-15 12:24] geromegrignon commented on #627
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 12:24] #627 closed

[2021-04-15 12:26] geromegrignon commented on #625
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 12:26] #625 closed

[2021-04-15 12:26] geromegrignon commented on #621
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 12:26] #621 closed

[2021-04-15 12:28] geromegrignon commented on #572
Closing the issue as the implementation has been added on the website.
Thanks for your contribution !

[2021-04-15 12:28] #572 closed

[2021-04-15 12:31] geromegrignon commented on #552
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there once the demo is fixed.

[2021-04-15 12:31] #552 closed

[2021-04-15 12:32] geromegrignon commented on #541
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 12:32] #541 closed

[2021-04-15 14:05] geromegrignon commented on #630
It's pretty common to ask for authentication information when you are about to change sensitive information about the account.
It provides a way to secure those information if an user leaves thier computer unattended without locking their session.

As such changes are rare, it doesn't introduce much inconvenience for users

[2021-04-15 14:11] rschristian commented on #630
Sure, that is pretty common, however, that is not what this is.

If you provide invalid credentials on that form your changes to the account aren't rejected. Instead, the credentials for the account change entirely. There is no confirmation of credentials built into the back end for that feature.

[2021-04-15 14:36] geromegrignon commented on #632
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:36] #632 closed

[2021-04-15 14:36] geromegrignon commented on #631
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:36] #631 closed

[2021-04-15 14:36] geromegrignon commented on #629
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:36] #629 closed

[2021-04-15 14:36] geromegrignon commented on #589
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:36] #589 closed

[2021-04-15 14:37] geromegrignon commented on #588
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:37] geromegrignon commented on #570
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:39] #570 closed

[2021-04-15 14:39] geromegrignon commented on #554
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:39] #554 closed

[2021-04-15 14:39] geromegrignon commented on #551
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:39] #551 closed

[2021-04-15 14:39] geromegrignon commented on #548
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:39] #548 closed

[2021-04-15 14:40] geromegrignon commented on #537
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:40] #537 closed

[2021-04-15 14:40] geromegrignon commented on #489
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:40] #489 closed

[2021-04-15 14:40] geromegrignon commented on #472
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:40] #472 closed

[2021-04-15 14:41] geromegrignon commented on #534
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:41] #534 closed

[2021-04-15 14:42] geromegrignon commented on #462
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:42] #462 closed

[2021-04-15 14:42] geromegrignon commented on #459
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:42] #459 closed

[2021-04-15 14:42] geromegrignon commented on #388
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:42] #388 closed

[2021-04-15 14:43] geromegrignon commented on #359
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:43] #359 closed

[2021-04-15 14:43] geromegrignon commented on #272
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:43] #272 closed

[2021-04-15 14:43] geromegrignon commented on #204
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:43] #204 closed

[2021-04-15 14:44] geromegrignon commented on #504
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:44] #504 closed

[2021-04-15 14:45] geromegrignon commented on #428
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:45] #428 closed

[2021-04-15 14:46] geromegrignon commented on #416
Hello, closing this issue as we are showcasing implementations, not the technologies themselves.

[2021-04-15 14:46] #416 closed

[2021-04-15 14:50] geromegrignon commented on #628
Hello,

Great idea!
We'll challenge it for the next version of the current specs.

[2021-04-15 14:57] geromegrignon commented on #557
Closing the issue as the implementation has been added on the website.
Thanks for your contribution !

[2021-04-15 14:57] #557 closed

[2021-04-15 14:58] geromegrignon commented on #513
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 14:58] #513 closed

[2021-04-15 14:58] geromegrignon commented on #508
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:58] #508 closed

[2021-04-15 14:59] geromegrignon commented on #497
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 14:59] #497 closed

[2021-04-15 15:08] geromegrignon commented on #486
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:08] #486 closed

[2021-04-15 15:08] geromegrignon commented on #493
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:08] #493 closed

[2021-04-15 15:09] geromegrignon commented on #487
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:09] #487 closed

[2021-04-15 15:11] geromegrignon commented on #511
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:11] #511 closed

[2021-04-15 15:12] geromegrignon commented on #503
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:12] #503 closed

[2021-04-15 15:13] geromegrignon commented on #482
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:13] #482 closed

[2021-04-15 15:13] geromegrignon commented on #467
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:13] #467 closed

[2021-04-15 15:14] geromegrignon commented on #485
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:14] #485 closed

[2021-04-15 15:14] geromegrignon commented on #506
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:14] #506 closed

[2021-04-15 15:16] geromegrignon commented on #455
Hello, as we are moving most of current discussion to Github Dicussions, feel free to open a discussion there : https://github.com/gothinkster/realworld/discussions/categories/ideas

[2021-04-15 15:16] #455 closed

[2021-04-15 15:16] geromegrignon commented on #385
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:16] #385 closed

[2021-04-15 15:17] geromegrignon commented on #274
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:17] #274 closed

[2021-04-15 15:18] geromegrignon commented on #200
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:18] #200 closed

[2021-04-15 15:19] geromegrignon commented on #234
Hello,

Great work but as it doesn't follow the specs anymore, we won't add it on this repo.

[2021-04-15 15:19] #234 closed

[2021-04-15 15:19] geromegrignon commented on #377
Hello,

It doesn't match the purpose of this repository.

[2021-04-15 15:19] #377 closed

[2021-04-15 15:20] geromegrignon commented on #233
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:20] geromegrignon commented on #452
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:20] #452 closed

[2021-04-15 15:21] geromegrignon commented on #464
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:21] #464 closed

[2021-04-15 15:21] geromegrignon commented on #429
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:21] #429 closed

[2021-04-15 15:22] geromegrignon commented on #435
Hello,

Closing this issue as no implementation is provided.

[2021-04-15 15:22] #435 closed

[2021-04-15 15:22] geromegrignon commented on #409
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:22] #409 closed

[2021-04-15 15:23] geromegrignon commented on #421
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:23] #421 closed

[2021-04-15 15:23] geromegrignon commented on #352
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:23] #352 closed

[2021-04-15 15:23] geromegrignon commented on #399
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:23] #399 closed

[2021-04-15 15:24] geromegrignon commented on #451
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:24] #451 closed

[2021-04-15 15:25] geromegrignon commented on #427
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:25] #427 closed

[2021-04-15 15:27] geromegrignon commented on #415
We are now opened to community implementations to make maintenance more reliable.
For now, closing this issue related to an implementation.

[2021-04-15 15:27] #415 closed

[2021-04-15 15:27] geromegrignon commented on #424
Closing this issue as there is no activity.

[2021-04-15 15:27] #424 closed

[2021-04-15 15:28] geromegrignon commented on #392
Feel free to open a dicussion [here](https://github.com/gothinkster/realworld/discussions/categories/ideas)

[2021-04-15 15:28] #392 closed

[2021-04-15 15:28] geromegrignon commented on #389
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:28] #389 closed

[2021-04-15 15:29] geromegrignon commented on #383
Dead link

[2021-04-15 15:29] #383 closed

[2021-04-15 15:29] geromegrignon commented on #387
Closing it as there is no recent activity.

[2021-04-15 15:29] #387 closed

[2021-04-15 15:30] geromegrignon commented on #370
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:30] #370 closed

[2021-04-15 15:30] geromegrignon commented on #366
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:30] #366 closed

[2021-04-15 15:30] geromegrignon commented on #365
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:30] #365 closed

[2021-04-15 15:30] geromegrignon commented on #337
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:30] #337 closed

[2021-04-15 15:31] geromegrignon commented on #353
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:31] #353 closed

[2021-04-15 15:32] geromegrignon commented on #335
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:32] #335 closed

[2021-04-15 15:32] geromegrignon commented on #372
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:32] #372 closed

[2021-04-15 15:32] geromegrignon commented on #364
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:32] #364 closed

[2021-04-15 15:33] geromegrignon commented on #247
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !