[2017-05-26 16:55] #113 closed

[2017-05-27 05:15] EricSimons commented on #116
@brwr thanks for the detail here — @apai4 is currently in Chicago visiting fam, but I'm sure he'll be able to get in a fix in soon :)

[2017-05-27 12:00] linxlad commented on #66
Any word on this repo? @SandeeshS I'd be happy to join you :)

[2017-05-27 17:04] SandeeshS commented on #66
@linxlad i guess this never got started. I'm planning to pick this up next weekend when i get time. If you'd like to then go ahead and create a new repo and start on it. I'll jump in when i get the time and continue in your repo.

I'll update the main comment with the new repo if you create one.

[2017-05-27 18:38] linxlad commented on #66
@SandeeshS Sure, I have nearly finished the Phalcon repo, will create a new repo with config, migrations and models :)

[2017-05-28 02:22] devadvance commented on #116
This leads to a larger question though: should things like full support for things like non-alphanumeric characters and internationalization be included in the core spec? In #90 internationalization is raised as a possible extra credit item, but if this is meant to reflect real apps, then it should be part of the base spec.

[2017-05-28 10:01] raulsebastianmihaila opened #117 "crizmas-mvc"
A FE implementation with [crizmas-mvc](https://github.com/raulsebastianmihaila/crizmas-mvc).

https://github.com/raulsebastianmihaila/crizmas-mvc-realworld
https://raulsebastianmihaila.github.io/crizmas-mvc-realworld-site/

[2017-05-28 21:53] Cameron-C-Chapman commented on #117
@EricSimons crizmas-mvc looks like a framework on top of react, is there any one with some react experience you think makes sense to take a look at this or should we just validate the front end works as expected and add it to the front page?

[2017-05-29 05:37] beeman commented on #105
Hey @paulcedrick, I would like to help out with this project!

[2017-05-29 05:47] paulcedrick commented on #105
Hi @beeman ! Awesome! :) That will be great. :) I actually just created this -> https://gitter.im/Realworld-loopback/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link so that we can interact with those who want to help us in doing this one. :+1: :tada:

[2017-05-30 16:05] CalvinAllen commented on #27
This is a great idea! (saw it in the Aurelia Weekly)

I'm still learning Aurelia, but would love to help - as I am also trying to build a "RealWorld" enterprise application.

[2017-05-30 17:13] brwr commented on #116
I18n has already been discussed in #90. Best to leave that there.

Regarding alphanumeric-only usernames: This should be a constraint for all RealWorld projects, specifically for the reason this issue was opened.

[2017-05-31 00:51] EricSimons commented on #116
@devadvance @brwr Yup! Validations for all user, article, etc fields are actually a part of the new spec that @SandeeshS created — he's currently working on the formatting but it will be updated on the repo soon :)

[2017-05-31 00:56] EricSimons commented on #117
@Cameron-C-Chapman good q — I just took a look at the code and it looks good from a React POV. I think @raulsebastianmihaila is the creator of crizmas itself, so he should have us covered there.

The only thing that I think would be helpful is more info in the docs section — @raulsebastianmihaila could you fill out some of the info in the readme for getting it installed/running, basic overview of

[2017-05-31 05:52] raulsebastianmihaila commented on #117
@EricSimons I updated the readme.

[2017-05-31 07:29] ViktorDimitrievski commented on #27
Hello,
I can try to help to build this app.

[2017-05-31 07:42] jadhavajay commented on #27
@CalvinAllen & @ViktorDimitrievski Thanks for taking initiative. Please fork the [repo](https://github.com/jadhavajay/aurelia-realworld-example-app) and you can start submitting the PRs.

[2017-05-31 10:37] Julian-B90 opened #118 "🗄 🔧 Yii2"
# Current Status

- ### Codebase in progress:<br /> [https://github.com/Julian-B90/realworld-starter-kit](https://github.com/Julian-B90/realworld-starter-kit)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
-

[2017-05-31 22:27] brwr commented on #110
My buddy is swamped at work. I don't see him having the time to take this on in the near future, but I'm sure we can find someone who can.

What would be helpful is if there were a spec for what this might look like.

Do we only want to support Elasticsearch for now? What about FTS with Postgres or MySQL? What about using a third-party service like Algolia?

What should be searchable? Do we want t

[2017-05-31 22:31] brwr commented on #107
@somombo Why have you decided not to use a library? In most cases, real world applications will use libraries to avoid having to reinvent the wheel.

[2017-05-31 22:32] brwr commented on #103
Has any progress been made on this? I can't think of any reason to not make this a thing.

[2017-05-31 22:34] brwr commented on #99
Any update on this? Sounds like we're ready to mark this as complete, pending testing. Would love to close this issue out if we're good to go.

[2017-05-31 22:42] somombo commented on #107
@brwr Since the project is meant to showcase how to do things in different languages/frameworks. So not that I wont completely use any libraries, but I will use library(s) to the extent that they will be flexible enough to standardize our protocol/api for this example use case *across* several different languages...

So for example, even though in the realworld probably socket.io is the most popul

[2017-05-31 22:46] somombo commented on #107
@here

Status,

I have php and python backends working.. now working on csharp (dotnet core - command line)... and that will be the last backend i'll work on ... the three should provide enough variety to exemplify how we can go about this.. For clients of course I have browser working.. I also plan to attempt a NaitiveScript client but.... dont hold your breath 😉

[2017-06-01 03:56] devadvance commented on #116
Glad to see validations being added/formalized, but for clarity: the alphanumeric limitation for usernames only, correct? Making sure this doesn't impact email/password/etc.!

[2017-06-01 04:48] SandeeshS commented on #116
@devadvance we're gonna add validation for all form fields. This is what we have for registration

username 	- required, max length:50, alphanumeric characters only, unique in database
email 		- required, max length:255, valid email format, unique in database
password 	- required, min length:6

[2017-06-02 02:38] ghost opened #119 "🗄 🔧 Erlang + Cowboy"
## Progress / ToDo
- [x] :checkered_flag: Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] :art: Create logo for repo & update issue status (@EricSimons)
- [ ] :hammer: Implement all of Conduit's functionality per the [spec & API](https://github.com/gothinkster/realworld/tree/master/spec)
- [ ] :eyes: Move repo to main org & Peer rev

[2017-06-02 11:09] chilledoj commented on #99
I have tested the code against the postman collection and all tests pass - plus I have a few code tests written. I have struggled to test against a frontend. I'm not sure if anyone else has managed to download my code and test separately

[2017-06-02 13:48] hodorswit commented on #33
@EricSimons The demo is running via gh-pages at the following URL https://gothinkster.github.io/react-mobx-realworld-example-app 👍

For some reason the https://react-mobx.realworld.io URL is 404'ing. Is it worthwhile to troubleshoot this or do you think the default gh-pages link is fine?

[2017-06-04 22:59] linxlad commented on #88
@EricSimons @SandeeshS I have completed functionality. I am currently introducing CI and tests but would be nice to get the peer reviews started so I can make improvements

NB: I will probably making regular improvements to reflect the latest releases of Phalcon. Also there are some methods I would like to revisit at a later stage.

[2017-06-05 11:43] sluongng commented on #99
I appreciate your wiki very much. Im a newb at GO and reading about options and decision making really helped.

I have a question though:

- Why shy away from usage of config files. May be config.json or config.yml and push out hardcoded configurations such as `UsernameLengthRequirement` ? What made `github.com/namsral/flag` a better choice than traditional config files?

[2017-06-05 12:48] chilledoj commented on #99
@sluongng i chose that package as it is a complete replacement for the standard flag package, but instead of just parsing command line options it will also check environment variables, and config files. In general my experience has been that things like http address/port and db urn are usually defined  as environment variables in line with the idea of having a twelve factor app.
In terms of the us

[2017-06-05 12:50] chilledoj commented on #99
@brwr I have had confirmation on the Golang Gitter channel from @guillaumemaka that he has successfully tested with the react front end. I too have managed to test against this now.

[2017-06-05 14:34] sirgallifrey commented on #40
I have much interest in this tread! It will be great for hapi community to have this RealWorld example! As for the database, hapi don't have a say in it! You should use whatever your project demands. Feel free to ping me, I'll be glad to help

[2017-06-06 01:53] sluongng commented on #99
@chilledoj could you provide some sort of example template for config file? I agree with your point about Environment Variables but problems come when you try to communicate with a large group of people. Its better to have some documented guideline rather than forcing a Java/C# dev to read and understand GO code.

For example, something like:
[code]

Would be very beneficial. Newcomers can just ge

[2017-06-06 21:01] EricSimons commented on #119
Logo magic activated!

![erlang](https://user-images.githubusercontent.com/556934/26851749-a421440c-4ac0-11e7-868e-c4479b3885c0.png)

[2017-06-06 21:08] EricSimons commented on #118
@Julian-B90 here's a logo you can use for the repo!

![yii](https://user-images.githubusercontent.com/556934/26852000-8a79fcdc-4ac1-11e7-9c22-74b053cbf1c9.png)

[2017-06-06 21:15] EricSimons commented on #117
@raulsebastianmihaila just added you to the official repo over at https://github.com/gothinkster/realworld-crizmas-mvc! Can you set up github pages for it there? I'll point crizmas-mvc.realworld.io at it 👍

[2017-06-06 23:04] chilledoj commented on #99
@sluongng The `github.com/namsral/flag` package determines the config file format. But I've updated the repo to contain a config file and included some more items for handling http(s).

[2017-06-07 05:15] raulsebastianmihaila commented on #117
@EricSimons  Sure, but at the moment it looks like I'm not authorized to push to gothinkster/realworld-crizmas-mvc. The logo looks great BTW!

[2017-06-07 05:43] raulsebastianmihaila commented on #117
@EricSimons I setup the github pages. Once the new URL is used (crizmas-mvc.realworld.io) the paths to the resources will work as well. Thanks!

[2017-06-07 16:03] linxlad commented on #88
👋

[2017-06-07 16:09] SandeeshS commented on #88
@linxlad awesome :+1:  I missed the last notification and didn't read the message. You can add the tests slowly taking your time, no hurry. I'd love to test this on my end once but i don't see any instructions to get this running without docker. Is there any simple way i can get this up and running and test the api locally? Also we can move this repo and get this listed once all the tests come out

[2017-06-07 16:17] linxlad commented on #88
@SandeeshS

I will update the readme this evening with everything.

Phalcon is a compiled C extension for PHP. So I provided the docker/nanobox as they have the extension pre-loaded. However if you want to run this in another environment (WAMP/LAMP for example) you would need to download the latest extension and add it yourself :)

[2017-06-10 01:17] dancancro commented on #55
I'm also implementing this blog application as a feature in my JHipster with Spring Boot [example application](https://github.com/dancancro/great-big-example-application).

The working branch is located [here](https://github.com/dancancro/great-big-example-application/tree/blog). So far I've just been working on converting the front end parts from [this one](https://github.com/gothinkster/angular-

[2017-06-11 23:08] Cameron-C-Chapman commented on #55
Very cool @dancancro! I've been pretty busy lately and haven't had time to finish this up. There is some progress made on the develop branch but I know jhipster comes with some stuff wired up out of the box (JWT authentication specifically). I think they also use Spring Data so it will be a little different than what I'm doing. I'm a huge fan of JHipster and of Realworld so I'll be watching to see

[2017-06-11 23:30] Cameron-C-Chapman commented on #103
I think this would be great as well. Here's my rough attempt. Maybe this could be a starting point and we can iterate on this until we nail down what everyone likes?

# Required:

#### Default Header
This includes the logo, demo and realworld links and quick overview/introduction.

#### Prerequisites and Dependencies
Should include setup instructions for any languages, tools, or environment settin

[2017-06-12 06:35] Julian-B90 commented on #118
@EricSimons thanks for that. I have added it to the repo.

[2017-06-13 17:57] EricSimons commented on #103
@Cameron-C-Chapman ^ that covers everything that I was thinking (& more!) — thanks a ton for putting this together!

Does anyone have any other ideas/thoughts here? I'm planning on migrating a few of the readme's over to this format and see how it looks 👍

[2017-06-13 17:58] EricSimons commented on #40
@sirgallifrey awesome, your help is much appreciated!! @antony what's the status of the Hapi backend atm? Anything that @sirgallifrey can help out with?

[2017-06-13 18:01] EricSimons commented on #27
@CalvinAllen @ViktorDimitrievski @jadhavajay great to see this project moving forward! 🎉  Is there anything I can do to help?

[2017-06-13 18:02] EricSimons commented on #110
@brwr I think that an implementation should come first before the spec actually — not all "challenges" will end up needing a spec, but if they eventually do, we'll figure it out down the road and modify the existing implementations

[2017-06-13 18:02] EricSimons commented on #107
@somombo that sounds awesome! I can't wait to see the code once it's ready 🎉 👍

[2017-06-13 18:20] brwr commented on #110
I don't think I was clear.

I'm not looking for a formal spec like the Swagger spec we have for Real World. Just an idea of what this task entails. What features do we want to support? etc.

[2017-06-13 18:22] brwr commented on #103
My only recommendation would be turning this checklist into a template. Use text like `(Insert prerequisites and dependencies here.)` to make sure whoever is writing the doc puts everything in the right place.

[2017-06-13 18:32] EricSimons commented on #117
@raulsebastianmihaila URL has been set up (https://crizmas-mvc.realworld.io) and repo is now listed on the main readme — great job on this! 🎉

Closing out this issue — any future issues should be filed directly on the crizmas repo (https://github.com/gothinkster/crizmas-mvc-realworld-example-app)

[2017-06-13 18:32] #117 closed

[2017-06-13 18:36] EricSimons commented on #103
^ dope. I'm gonna add this to the new checklist that will be included with the starter repo!

[2017-06-13 18:41] EricSimons commented on #110
Ah gotchya — makes sense 👍

[2017-06-15 18:32] retro opened #122 "🖥 🔧 ClojureScript + Keechma"
## Progress / ToDo

- [x] 🏁 Fork the starter repo & post the link in this issue
- [X] 🎨 Create logo for repo & update issue status
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [x] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [x] 🎉 Tag v1 release and officially list it on the README!

## Current Status

Codebase in progress: [keechma/real

[2017-06-17 01:51] ppot commented on #49
Thanks! That's what I needed to understand `async/await` with Koa and Knex!

[2017-06-17 18:31] EricSimons commented on #122
Awesome!! Can't wait to see this @retro :)

[2017-06-18 08:15] codeyu opened #123 "🗄 🔧 Nancy"
# Current Status

- Codebase in progress:
[codeyu/nancy-realworld-example-app](https://github.com/codeyu/nancy-realworld-example-app)

- Interested in helping out? Say hello! 🎉

Todo:

- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the [spec &  #API](https://github.com

[2017-06-19 00:20] ghost opened #124 "🗄 🔧 Spring Boot (reactive) + Kotlin"
## Progress / ToDo
- [x] :checkered_flag: Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] :art: Create logo for repo & update issue status (@EricSimons)
- [ ] :hammer: Implement all of Conduit's functionality per the [spec & API](https://github.com/gothinkster/realworld/tree/master/spec)
- [ ] :eyes: Move repo to main org & Peer rev

[2017-06-19 12:26] sluongng commented on #124
Oh this is exciting

[2017-06-19 22:41] retro commented on #122
I still need to clean up the code, and write the readme, but the app is done! http://retroaktive.me/conduit/

[2017-06-20 19:45] caseydailey opened #125 "ERROR cloning"
hello. i just signed up for the angularjs conduit tutorial and went to get started by cloning down the repo

``` git clone -b 00-seed git@github.com:gothinkster/angularjs-realworld-example-app.git```

and this happened:

[code]

any guidance?

[2017-06-20 20:21] #125 closed

[2017-06-20 20:22] caseydailey commented on #125
it was because i didn't have a calid ssh key. clone using https worked!

[code]

[2017-06-20 22:09] Cameron-C-Chapman commented on #123
Hi @codeyu, we're really excited to see your realworld implementation! Just to be sure will you be implementing the front end or the back end? I'm not familiar with Nancy but at a quick glance it looked like it was geared more towards API's.

[2017-06-20 23:41] codeyu commented on #123
It's the back end. @Cameron-C-Chapman

[2017-06-21 01:41] matheuscas opened #126 "🗄🔧 Sanic"
# Current Status

### Codebase in progress:  [https://github.com/matheuscas/realworld-starter-kit](https://github.com/matheuscas/realworld-starter-kit)

Todo:

- [x] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review fin

[2017-06-21 15:12] retro commented on #122
This is ready for a review

[2017-06-24 18:53] lsdlab opened #127 "main.css problem"
The comment list below the article page, i think the css is something wrong, it doesn't break-word.

![comment list](https://cl.ly/1p1i0e023532/Image%202017-06-25%20at%2002.33.30.png)

I don't know where should i post this issue, so i posted here.

By the way, GREAT WORK!!!

[2017-06-27 20:50] retro commented on #122
@EricSimons @Cameron-C-Chapman what needs to be done to move the project to the next step ( Move repo to main org & Peer review final codebase by admins/community (RFC)). The implementation is done.

[2017-06-28 01:17] Cameron-C-Chapman commented on #122
@retro At the very least one of the admins will need to take a look and make sure the basic functionality is there, ideally someone in the ClojureScript and/or Keechma community would take a look and give the stamp of approval. I'll try to carve out some time this week to take a look.

[2017-06-28 06:21] petermbenjamin commented on #24
@davidpodhola - do you intend to make use of [Diesel](http://diesel.rs/)?

[2017-06-28 07:37] davidpodhola commented on #24
Thanks for bringing this up @petermbenjamin.

Since I have the most experience with Microsoft SQL, the current repository is using [tiberius ](https://github.com/hsharpsoftware/rust-realworld-example-app/blob/master/server/Cargo.toml#L15).

I think we can also use different databases or ORMs with conditional compilation.

[2017-06-28 08:22] retro commented on #122
@Cameron-C-Chapman I'm the lead developer on Keechma framework, so it gets the stamp of approval from my side :) . Ping me if you need any help

[2017-06-30 03:16] EricSimons commented on #122
@retro @Cameron-C-Chapman awesome! I'm going to take a peek at this first thing tmrw morning & will spun up the official repo for it 🍻

[2017-06-30 03:17] EricSimons commented on #127
@lsdlab thanks for letting us know about this (and the kind words)! I'll try and get a fix in for the main CSS file sometime over the weekend 🍻

[2017-06-30 13:36] jablub commented on #57
@sio-iago Is this finished?

[2017-06-30 16:25] SandeeshS commented on #57
@sio-iago Guess this was never completed. You can check the current code base at https://github.com/sio-iago/realworld-starter-kit

[2017-06-30 16:27] BrainMaestro commented on #17
@EricSimons I have been busy over the last few months and have been unable to work on the project, if there's someone else interested in it, I am willing to transfer the repo over to them. Thanks.

[2017-06-30 19:47] huyz commented on #17
@BrainMaestro Understandable. Thanks for getting things started.

I'm gonna wait until someone takes over in order to hopefully contribute

[2017-07-02 04:51] SandeeshS commented on #51
Closing this as it's complete and repo moved here https://github.com/gothinkster/flask-realworld-example-app

[2017-07-02 04:51] #51 closed

[2017-07-05 15:33] EricSimons commented on #122
@retro just added you to the official repo over at https://github.com/gothinkster/clojurescript-keechma-realworld-example-app!

Can you set up GH pages branch for it? I'll then point clojurescript-keechma.realworld.io at it, and then update the main readme 🍻

[2017-07-05 16:06] retro commented on #122
@EricSimons GH pages is set-up and ready

[2017-07-06 11:44] linxlad commented on #88
How can I continue having this peer reviewed? :)

[2017-07-06 23:10] EricSimons commented on #88
@linxlad trying to get it running locally now :) Have you fully tested it against one of the frontends to make sure all works properly? If so, I'll set up the official repo for this!

[2017-07-07 09:41] silentworks commented on #50
As I won't have the time, I am transferring this project over to @railto, will change the codebase link above to match this also.

[2017-07-07 10:34] jablub commented on #57
@SandeeshS It "looks" finished. I cloned and got it up and running and then ran the postman test suite against it, which worked fine against the public api. It seems thought that the test suite assumes some initial dataset, is that correct? If so do you have any way of testing the backend implementations?

[2017-07-07 16:18] sio-iago commented on #57
The user endpoints are working. But I still didn't have time to finish the other ones.

[2017-07-09 01:12] guillaumemaka commented on #40
@EricSimons here is my contribution [https://github.com/guillaumemaka/realworld-starter-kit-hapijs](https://github.com/guillaumemaka/realworld-starter-kit-hapijs)

[2017-07-12 11:54] matigda commented on #66
So how does it look right now? Has anyone started it or nope? If I want to contribute then is this the repo I should use - https://github.com/dakenf/realword-symfony ?

[2017-07-17 11:19] cncolder opened #132 "💬 Better sorted by popularity table title emoji"
| 🥇 | 🥈 | 🥉 |
| :---:         |     :---:      |          :---: |

🤔

[2017-07-17 14:11] Cameron-C-Chapman commented on #132
I like it! @EricSimons what do you think?

[2017-07-19 13:55] jazib-bashir opened #133 "Postman Collection Not Working without Token"
Hi
I'm working with laravel-realworld-example-app and i have successfully setup application in my linux mint 18 development environment now i'm testing my API call using postman but unable to register a new user.
Test fails with error message: There was an error during JSON.parse(): Unexpected token N in JSON at position 0 and postman return Not allowed. message

![postman-body](https://user-image

[2017-07-19 15:16] jazib-bashir commented on #133
Issue fixed using * at CORS Setting in Laravel

[2017-07-19 20:35] Cameron-C-Chapman commented on #133
Glad to hear you got it working @jazib-bashir!

[2017-07-19 20:35] #133 closed

[2017-07-20 00:29] EricSimons commented on #132
I love it — just added to the readme :) Thanks @cncolder!

[2017-07-20 00:29] #132 closed

[2017-07-20 00:38] EricSimons commented on #122
Just added this to the main readme! 🎉

So sorry about my delay on this btw, I've been underwater the past month or two building a new product we're launching early next week 😓 This codebase is awesome, and I love the in-depth writeup you did on how it works. I'm thinking we'll send the link out to your repo+article in Thinkster's next email blast in 2 weeks (we have ~200k subscribers, so it should

[2017-07-20 00:38] #122 closed

[2017-07-20 11:00] retro commented on #122
@EricSimons being included in the next email blast sounds awesome :)

[2017-07-22 07:41] yesh0907 commented on #63
How's the development for this repo going?

[2017-08-05 18:58] Cameron-C-Chapman commented on #127
I added this as an issue to the theme's repo since if this is a bug it would need to be fixed there.

https://github.com/gothinkster/conduit-bootstrap-template/issues/1

[2017-08-06 09:26] wangzitian0 commented on #9
Hi, Guys,
I just fork an another start-kit with Golang & Gin which has been implement most of those spec.
Could you please give me some reviews or tips?  :)
Here is my repo: https://github.com/wangzitian0/golang-gin-starter-kit

[2017-08-07 09:15] lbighetti commented on #17
@BrainMaestro In this case, please transfer the repo to me, I'm happy to take over.
And +1 appreciate your efforts getting this off the ground.

[2017-08-08 08:22] BrainMaestro commented on #17
Hey @lbighetti. That's great. I'll do that right now. Thanks for taking over.

[2017-08-10 20:04] dom96 commented on #60
If you need any assistance feel free to ping me :D

[2017-08-14 07:01] johanjvrens commented on #63
Really interested in this! Any progress?

[2017-08-17 13:42] lestex commented on #70
Hi! Is there any code available for this project?

[2017-08-17 15:04] Alonski commented on #70
Hey I never actually found the time to start this :) Good luck

[2017-08-18 09:41] aisensiy commented on #55
Finished a spring boot version [here](https://github.com/aisensiy/realworld-spring-boot) with Mybatis.

[2017-08-18 14:53] Cameron-C-Chapman commented on #55
Awesome @aisensiy! I only saw one issue, other than it looks great. I created the issue in your repo. https://github.com/aisensiy/realworld-spring-boot/issues/1

[2017-08-22 03:31] aisensiy commented on #55
Already fixed the issue.

[2017-08-22 20:10] Korbin73 commented on #58
I'm currently finishing the core functionality of this project up. I have plenty of documentation and cleanup/robustness to add though.

[2017-08-23 17:30] Korbin73 opened #136 "ReasonML frontend project"
# Current Status

- ### Codebase now in RFC:<br /> [https://github.com/gothinkster/reasonml-realworld-example-app](https://github.com/gothinkster/reasonml-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue stat

[2017-08-23 23:22] EricSimons commented on #136
Absolutely! Just updated the status. Will create a logo tmrw for your repo :)

[2017-08-25 15:47] Cameron-C-Chapman commented on #55
@aisensiy this repo looks great! @EricSimons when you get a moment from all the StackBlitz momentum could you move @aisensiy's repo over and make it official? You could just use that repo as the Spring w/ Spring Boot example and if I ever get some time to finish mine up we can create the Spring landing page repo and differentiate between the different flavors of Spring and Spring Boot.

@aisensiy

[2017-08-27 07:13] davidpodhola commented on #24
I think  all of Conduit's functionality is implemented, please have a look and let me know.

[2017-08-28 05:58] aisensiy commented on #55
Thanks for you advice. I already add some instruction for that.

[2017-08-28 17:40] EricSimons commented on #24
Just created created new repo & added you to it @davidpodhola — rust is now listed in the readme! Excellent work! 💯  I can't wait to dig into this codebase :)

[2017-08-28 17:40] #24 closed

[2017-08-28 17:49] EricSimons commented on #55
Just created the [repo](https://github.com/gothinkster/spring-boot-realworld-example-app), added @aisensiy to it, and listed it in the readme! Excellent work!!

@Cameron-C-Chapman should we close this issue out? Or are there other spring codebases still in progress here? (PS - thanks a ton for the ping, stackblitz has kept me underwater lately but I want to get more active in realworld again now t

[2017-08-28 17:56] EricSimons commented on #58
@Korbin73 can't wait to see it!!

[2017-08-28 17:57] EricSimons commented on #70
@lestex lmk if you wanna take over this project

[2017-08-28 17:57] EricSimons commented on #63
@yesh0907 @johanjvrens I think these guys ran out of time unfortunately, but lmk if ya'll would like to pick it up & I'll switch the issue to point at your repo!

[2017-08-28 17:58] EricSimons commented on #17
@lbighetti @BrainMaestro lmk if there's anything I can do here to help! Should I point the issue to point at @lbighetti's repo?

[2017-08-28 17:58] EricSimons commented on #9
@wangzitian0 sorry about my delay here — this looks amazing!! How much is left to completely adhere to the API spec? Would love to list this on the main readme once that's ready!

[2017-08-28 17:59] EricSimons commented on #66
@matigda sorry about my delay here! Would you want to take over this project? I think the other folks ended up not having enough time :(

[2017-08-28 18:00] EricSimons commented on #40
@guillaumemaka so sorry about my delay here, I'm just seeing this now! Does this adhere to the API spec completely? If so, I'd love to list it on the readme! Excellent work!!

[2017-08-28 18:17] dancancro commented on #55
These projects are all pretty masterful. I'm torn which one to use. @EricSimons your Kotlin version is 50 files and 1972 lines. @aisensiy yours is 108 files and 5062 lines. That's a pretty big difference. Do they both achieve the same things? The file structures are quite different too. Is either more idiomatic of Spring projects?

[2017-08-28 19:35] dancancro commented on #55
After a little investigation I found volumes of discussion about using Lombok (used in this new repo) with JHipster (used in my project) and the conclusion that it's problematic.
https://github.com/jhipster/generator-jhipster/issues/4141

With all the hidden gotchas and incompatibilities sometimes I think it's a miracle that non-trivial, commercial grade, open source software ever finds a way to e

[2017-08-28 21:07] wangzitian0 commented on #9
@EricSimons Thank you for your reaching out!  :)
I have finished all of the API spec and it can pass all of the cases in Postman Collection. Some tests still have some issue, but I think it's acceptable in the first version as the spec just require one test.

[2017-08-28 21:08] Cameron-C-Chapman commented on #55
@dancancro There are a ton of different paths possible for building applications that leverage the Spring libraries. There's not really "one" way, that's why some of the earlier discussion in this thread was around having a repo that simply served to list all the different ways people used Spring to build out the RealWorld api.

As far as the comparison of these 2 projects, one is using Kotlin whi

[2017-08-28 21:11] Cameron-C-Chapman commented on #55
@EricSimons I'm fine with closing this out. I would love to finish my version up but I haven't had the time to finish it yet so I'm not sure when it will get done. What @aisensiy has is pretty similar to what I planned on doing so I think it makes sense to close this out and let this be the Spring w/ Spring Boot example, at least until some other examples get finished up and then we can decide how

[2017-08-29 00:57] aisensiy commented on #55
@dancancro

The two projects have two main differences.

1. My project has some more test cases as a demo for how to test spring boot project. And this is one of the main reason that the code lines is QUITE different.
2. The other difference is that I use [MyBatis](http://www.mybatis.org/mybatis-3/) to implement a [data mapper](https://martinfowler.com/eaaCatalog/dataMapper.html) pattern for data

[2017-08-29 12:16] lbighetti commented on #17
@EricSimons I think that makes sense 👍

[2017-08-29 16:58] James-Parsons commented on #63
@EricSimons go ahead. I've been ridiculously busy here lately. I'm working three jobs and going back to school so I hardly have the time anymore :/

[2017-09-01 17:25] AndreasVolkmann opened #138 "🗄 🔧 Kotlin + Ktor"
# Progress / ToDo
- [x] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag v1 release and officially list it on the README!

# Current Status

Codebase in progress: [d

[2017-09-02 05:20] vesol commented on #66
I can help @matigda with it

[2017-09-03 14:28] yysun opened #139 "AppRun"
# Current Status

### Codebase Ready for review: @ https://github.com/yysun/realworld-starter-kit

### Interested in helping out? Fork and send pull requests.

### Todo:

- [X]  🏁 Fork the starter repo & post the link in this issue
- [x]   🎨 Create logo for repo & update issue status (@EricSimons)
- [x]   🔨 Implement all of Conduit's functionality per the spec & API
- [ ]   👀 Move repo to main org

[2017-09-03 19:08] matigda commented on #66
We will start with vesol on that in here: https://github.com/matigda/gothinkster
any help appreciated :)

[2017-09-04 07:29] Korbin73 commented on #58
This should be good to go. I will be using this as my backed while working on the reasonml front end project so their may be some bug fixes through some that end to end testing.

[2017-09-08 02:47] steveluscher commented on #48
It's been 5 months that I've been sitting on this issue without making any progress. I should most certainly step aside so that another interested person with the time to see it through can step in!

I've deleted the repo that I forked. @EricSimons, would you mind modifying the description of this issue to set it back to ‘looking for contributor(s)’ status?

[2017-09-09 04:17] yysun commented on #139
@EricSimons, Logo has been created.
![logo](https://user-images.githubusercontent.com/170547/30236931-0b73d444-94f4-11e7-8a45-675d330c2461.png)
https://github.com/yysun/realworld-starter-kit/blob/master/logo.png

[2017-09-09 07:55] eckyputrady opened #140 "Haskell / Scotty"
# Current Status

Codebase in progress: https://github.com/eckyputrady/haskell-scotty-realworld-example-app

## Todo:

- [x] 🏁  Fork the starter repo & post the link in this issue
- [x] 🎨  Create logo for repo & update issue status (@EricSimons)
- [x] 🔨  Implement all of Conduit's functionality per the spec & API
- [ ]  👀  Move repo to main org & Peer review final codebase by admins/community (RFC

[2017-09-09 13:53] yysun commented on #139
@EricSimons, Functionality developed. Please review the code.

[2017-09-11 19:07] skopekreep opened #141 "Typescript + node + express"
# Progress

 - [x] 🏁  Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
 - [x] 🎨 Create logo for repo & update issue status (@EricSimons)
 - [ ] 🔨 Implement all of Conduit's functionality per the spec & API
 - [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
 - [ ]  🎉 Tag v1 release and officially list it o

[2017-09-14 15:53] vilsbole commented on #7
Since @mchandleraz is MIA since a few months, I started a new fork https://github.com/vilsbole/realworld-vue
For the moment, it's simply implements Home, Articles, and Comments.
There is still a lot to do, but with your help we should be able to finish quickly

[2017-09-14 19:04] michalzagrodzki commented on #7
@vilsbole Lovely idea. When I will have some time will send pull requests.

[2017-09-18 17:17] loaded02 commented on #27
Hi @EricSimons. I have coded a conduit app in aurelia. It is complete and a pending PR for @jadhavajay  [fork.](https://github.com/jadhavajay/aurelia-realworld-example-app/pull/2) But somehow he isnt responding for 20 days now. In the gitter channel also nobody responds. I was looking forward to participate in this project. What should I do? Should I fork the starterkit myself?

[2017-09-19 04:46] jadhavajay commented on #27
Hi @loaded02, your PR is merged. Sorry i missed your message on the gitter channel.

[2017-09-27 10:29] matigda commented on #66
hey @EricSimons , is it possible to create symfony repo in gothinkster organization? Or can it stay as mine? I'm still in develop process and I will fix "README" soon ;)

[2017-09-27 23:34] EricSimons commented on #66
@matigda feel free to keep it in your own account until it's feature complete! Once it's ready I'll spin up a new repo for it and add you to it :)

[2017-09-27 23:35] EricSimons commented on #27
@jadhavajay @loaded02 is the functionality feature complete? If so, lmk and I'll move the repo to the main org and list it on the readme! Thanks so much for your awesome work guys!!

[2017-09-27 23:36] EricSimons commented on #140
@eckyputrady woot! Can't wait to see this!!

[2017-09-27 23:36] EricSimons commented on #138
@goreRatzete awesome man! Can't wait to see this!

[2017-09-27 23:37] EricSimons commented on #141
@skopekreep woot! Can't wait to play around with this!! 👍

[2017-09-27 23:37] EricSimons commented on #7
@vilsbole @michalzagrodzki awesome! How is the progress going? Should I update this issue to point at your new repo? Lmk!

[2017-09-27 23:38] EricSimons commented on #139
@yysun sorry about my delay here! Just seeing this now - will get it moved to the main repo tmrw morning :)

[2017-09-27 23:39] EricSimons commented on #48
Done!

[2017-09-27 23:40] EricSimons commented on #58
@Korbin73 sorry about my delay here! I'm marking this as RFC and will get it moved over into the org's repo & main README tmrw morning :) Awesome work btw!!

[2017-09-27 23:40] EricSimons commented on #63
@yesh0907 @johanjvrens would either of you like to take lead on this? Lmk and I'll have the issue point to your repo!

[2017-09-27 23:44] EricSimons commented on #17
@lbighetti hows the codebase coming along for this? I can't wait to see it! Btw I updated this issue to point at your repo 👍

[2017-09-27 23:45] EricSimons commented on #9
@wangzitian0 sorry about my delay here, things have been kinda crazy lately! I just marked this as RFC and will put it into the main org tmrw morning :)

[2017-09-27 23:45] EricSimons commented on #40
@guillaumemaka just checking in on this! Would love to get it added to the main README if it's ready :)

[2017-09-28 02:45] guillaumemaka commented on #40
@EricSimons yes I think its ready I implemented all the Specs ! Maybe it need an experience HapiJS developer to look at it.

[2017-09-28 05:26] johanjvrens commented on #63
Thanks, but I don't have time for it.

Kind Regards
Johan Janse van Rensburg

On 28 September 2017 at 01:40, Eric Simons <notifications@github.com> wrote:

[2017-09-28 07:20] loaded02 commented on #27
@EricSimons imo it is complete. What do you think @jadhavajay ?

[2017-09-28 14:55] vilsbole commented on #7
@EricSimons That would be great! It's moving forward smoothly, there are still a few [tickets](https://github.com/vilsbole/realworld-vue/issues) and it should be simple to complete.

[2017-09-29 15:23] StevenXL commented on #140
@eckyputrady I too can't to see this.

[2017-09-30 03:55] Korbin73 commented on #58
Great. Thanks.

[2017-09-30 05:22] LimarenkoDenis opened #142 "typescript + node.js(koa)"
# Progress

 [*] 🏁 Fork the starter repo & post the link in this issue
 [  ] 🎨 Create logo for repo & update issue status (@EricSimons)
 [  ] 🔨 Implement all of Conduit's functionality per the spec & API
 [  ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
 [  ]  🎉 Tag v1 release and officially list it on the README!

# Current Status
Codebase (in progress):
[Limar

[2017-09-30 13:02] nhducit commented on #136
awesome @Korbin73

[2017-10-02 01:27] Muhannad508 commented on #138
@goreRatzete is this project still active? I'm trying to get involved here. And unfortunately, there is no Issues tab in your Github forked project, which make it hard to discuss

[2017-10-02 08:30] goreRatzete commented on #138
@Muhannad508 Hi there. Yes it is still alive. I had a smaller break but will continue working on it soon. I haven't created any issues since I was working alone so far. I can either tell you what needs to be done, or you can have a look yourself.
Also I have placed many TODOs in the code to show what is missing. If you go through the routes you can quickly find them.

2 things I am not 100% sure o

[2017-10-02 18:43] wangzitian0 commented on #9
@EricSimons Thank you! I'm very happy to see it, anything else need I to do? :)

[2017-10-02 18:50] EricSimons commented on #9
@wangzitian0 np! I just added it to the readme :) Thanks so much for your awesome work on this!!!

[2017-10-02 18:51] EricSimons commented on #58
@Korbin73 just added you to the new repo and listed it on the readme! 🎉  Thanks so much!! I can't wait to see the reasonml frontend too :)

[2017-10-02 18:51] #58 closed

[2017-10-02 18:52] #9 closed

[2017-10-02 18:52] EricSimons commented on #139
@yysun just added you to the new repo and listed on the main readme!! Thanks so much for your awesome work on this :D

[2017-10-02 18:52] #139 closed

[2017-10-02 18:53] EricSimons commented on #40
@guillaumemaka no worries! I just added you to the new repo and listed it on the readme :) Thanks so much for your awesome work on this!! 🎉

[2017-10-02 18:53] #40 closed

[2017-10-02 18:54] EricSimons commented on #7
@vilsbole just updated this issue to point at your repo! 👍

[2017-10-02 19:11] EricSimons commented on #142
@LimarenkoDenis awesome!! Can't wait to see this one :D

[2017-10-03 08:37] jadhavajay commented on #27
@EricSimons @loaded02 UI wise things looks good to me, however looks like the "Sign In" and "Sign Up" is still pending.

[2017-10-03 21:27] Dasiu commented on #63
Hello,

I've started to work on play implementation on my own. It's matter of days or weeks in the worst case, when I would have something, what might be eligible for public view - PRs and introdution for other contributors, so I might be considered as one, who could take lead on this issue/project, if it's ok for everyone of course. :)

I've read that ikamthania implemented something already but

[2017-10-04 09:34] loaded02 commented on #27
@jadhavajay My mistake. I removed the wrong file during refactoring. I created a new PR. Now it should be working.

[2017-10-08 16:31] davidpodhola opened #143 "Angular 4+ / MobX"
Hi, I would like to create an Angular 4+ / MobX frontend implementation. Thanks, David

[2017-10-08 21:05] davidpodhola commented on #143
Repository already [created](https://github.com/hsharpsoftware/angular-mobx-realworld-example-app) by forking the original Angular 4+, MobX is being added

[2017-10-08 21:57] Dasiu commented on #63
Here is the link to forked starter kit [repo](https://github.com/Dasiu/realworld-starter-kit) with Play Framework implementation. Right now it has JWT authentication, besides it shows exemplary  project structure and tests. It still needs a lot of work and polishing. I posted the link as an incentive to contribute.

@EricSimons could I pursue this further?

[2017-10-10 21:07] yysun commented on #139
Thanks a lot!

On Tue, Oct 3, 2017 at 2:52 AM Eric Simons <notifications@github.com> wrote:

[2017-10-12 11:03] SachiraChin commented on #70
@EricSimons @lestex Is someone working on this? Can help or start work on this. I wouldn't be able to finish it real fast though.

[2017-10-12 13:53] lestex commented on #70
@SachiraChin seems nobody is, it would be really great if you can start and do the job)

[2017-10-19 00:11] anishkny opened #144 "Google Cloud Functions + Datastore"
Serverless Google [Cloud Functions](https://cloud.google.com/functions/) + [Cloud Datastore](https://cloud.google.com/datastore/).

Repo is ready for review: https://github.com/anishkny/realworld-gcp-datastore-cloud-functions

[2017-10-22 17:38] lbighetti commented on #17
Hi @EricSimons,

We have just completed implementing the specs !
Can you move us to peer review?

I'm working on deploying this to heroku so we can use frontends with it.

[2017-10-24 02:38] EricSimons commented on #17
@lbighetti awesome work!! 👏  I will move ya to RFC first thing tomorrow morning :)

[2017-10-24 02:38] EricSimons commented on #144
Woot!! I'm going to ping some folks on the GCP team and see if they can help with the RFC 🎉

[2017-10-27 18:00] lbighetti commented on #17
@EricSimons Thanks!
Looking forward to joining the rank of backends 🏅

[2017-10-30 13:46] disjfa commented on #7
Just saw this, and i wanted to mention my kazoo repo, i like real world examples and am building a real world example for vue as an example. And then i found this one. In my example i mention and setup some extra code splitting in modules for each page type. Maybe useful.

I also have a couple of medium posts for explaining mt things https://medium.com/@disjfa/lets-store-some-data-in-a-vue-app-808

[2017-10-30 17:35] vilsbole commented on #7
@disjfa Nice article! I love the module code splitting. It would be nice to have in the project, so please feel free to submit a PR.

[2017-11-08 12:05] icebob opened #146 "Moleculer + NodeJS"
[**Moleculer**](https://moleculer.services/) is a microservices framework for NodeJS.

**Codebase:**
https://github.com/ice-services/moleculer-realworld-example-app

[2017-11-08 16:20] alhoqbani commented on #50
Hi guys, are you are still working on this? I would like to build the app.

[2017-11-08 16:22] silentworks commented on #50
@alhoqbani yes this is something we will be working on

[2017-11-08 16:40] alhoqbani commented on #50
Can I participate with you ? I already built something.  check [my repo](https://github.com/alhoqbani/slim-php-realworld-example-app)

[2017-11-08 21:28] lbighetti commented on #17
Ping @EricSimons 😃

[2017-11-09 00:05] anishkny commented on #144
friendly 🅿️ing!

[2017-11-09 12:44] loaded02 commented on #27
@jadhavajay whats the status of the project? Imo it is complete. Unfortunatley your not responding on gitter, so I give it here a try. Are you planning to move your repo and list it on the readme?

[2017-11-10 00:41] alhoqbani commented on #50
I finished the app. Here is a live demo: [https://slim-realworld.herokuapp.com/api/articles](https://slim-realworld.herokuapp.com/api/articles)

And here is another demo with angular as a frontend linked with the slim as backend [https://angular-realworld.herokuapp.com](https://angular-realworld.herokuapp.com)

Should I make a separate issue proposing my codebase? @EricSimons

[2017-11-10 10:57] mihail-petrov opened #147 "AngularJS 1.2"
I am going to start building the Realworld application using the oldschool AngularJS 1.2

The project repository can be accessed from [here](https://github.com/mihail-petrov/angularjs-1.2-realworld-example-app)

# Work in progress steps
- fork the realworld repository
- create README
- develop the application
- have fun

[2017-11-10 11:10] mihail-petrov opened #148 "Vanilla PHP"
I am going to start building the Realworld application using the good old vanilla PHP and some utility libraries

The project repository can be accessed from [here](https://github.com/mihail-petrov/vanilla-php-realworld-example-app)

# Work in progress steps

- fork the realworld repository
- create README
- develop the application
- have fun

[2017-11-10 13:41] icebob commented on #146
The API specification is covered. [server-tester](https://github.com/agrison/realworld-server-tester) result:
[code]

[2017-11-11 23:33] Cameron-C-Chapman commented on #63
@Dasiu feel free to continue to work on the Play w/ Scala implementation. We'd love to see it finished and get added to the README!

[2017-11-11 23:43] Cameron-C-Chapman commented on #50
@SandeeshS would have time to take a look at this from a code review point of view? I glanced through it and it looked fine but it's been a while since I did any php.

@alhoqbani My only feedback would be to add some more info to the README. Assume someone has never used the Slim framework. Other than composer install are there any relevant notes? How do you run tests, what is significance of the

[2017-11-11 23:51] Cameron-C-Chapman opened #149 "The user and users routes are Failing Integration Tests on Travis"
Something is causing an issue with the automated integration tests. I haven't dug into it yet but it seems to be something with what's returned from the user routes.

https://travis-ci.org/gothinkster/realworld/builds/300696387

[2017-11-11 23:59] alhoqbani commented on #50
I decided to wait for the peer-review before writing the README, just in case there is any comments on the structure of the code.

However, I will prepare more detailed on the architecture and directory structure in the README soon.

[2017-11-12 00:12] Cameron-C-Chapman opened #150 "Should We Add An Isomorphic Framework Category?"
Should we add a category that frameworks like [Meteor](https://www.meteor.com/) have a spot on the README?

I personally like the idea but am curious of everyone else's thoughts. @gothinkster/realworld-admins

[2017-11-12 01:24] anishkny commented on #150
If this were a category, then arguably [Firebase](https://firebase.google.com) could be added to it because it is awkward to fit Firebase into a the RealWorld [API](https://github.com/gothinkster/realworld/blob/master/api/README.md).

[2017-11-12 03:06] anishkny commented on #149
The login credentials for johnjacob are not working anymore. Credentials should be passed to the Postman collection via encrypted env vars in Travis. I can look into it tomorrow.

[2017-11-12 08:20] barriehadfield commented on #150
Please consider http://ruby-hyperloop.org/ which is a 100% Ruby Isomorphic framework. This represents very modern application design which does not fit a FE/BE construct as we have specifically moved away from that for spectacular simplicity and productivity improvements.

[2017-11-12 13:41] tony-shannon commented on #150
Would be very interested to see isomorphic frameworks in the mix, with adherence to the "[same API spec](https://medium.com/@ericsimons/introducing-realworld-6016654d36b5)" as everything else in realworld.io

[2017-11-12 17:56] silentworks commented on #50
I have reviewed the code @alhoqbani and it is definitely the approach I would have taken. I think it shows off quite a few of the features that Slim provide.

[2017-11-12 17:59] silentworks commented on #50
I have changed the codebase link above to match @alhoqbani repo as I think it should be used as the official submission. Thanks for deciding to this @alhoqbani, I am happy that someone else was able to complete this as most of us on the team have gotten real busy lately.

Hat tip to you @alhoqbani

[2017-11-12 20:43] alhoqbani commented on #50
Thanks @silentworks, glad to hear that from you.

[2017-11-12 22:12] #149 closed

[2017-11-12 22:13] Cameron-C-Chapman commented on #149
Thanks @anishkny!

[2017-11-13 03:52] alhoqbani commented on #148
I like the idea. Is it possible to do it without any utility libraries? that's would be awesome.

[2017-11-13 07:02] mihail-petrov commented on #148
Challenge accepted. I will include no utility library. But I am also going to prepare another branch that is going to use the bare minimum of utility library like **Guzzle** for example because handling http request by your own it'n no fun.

My thoughts regarding this example is to provide a solution that is based on Vanilla PHP (no framework what so ever) but to provide a base of utility librarie

[2017-11-13 11:19] mihail-petrov opened #152 "Vanilla Backbone.js"
I am going to start building the Realworld application using the vanilla version of Backbone.js and no external libraries.

The project repository can be accessed from [here](https://github.com/mihail-petrov/backbone.js-realworld-example-app)

# Work in progress steps
- fork the realworld repository
- create README
- develop the application
- have fun

[2017-11-13 17:40] catmando commented on #150
@tony-shannon the problem is that a big advantage of "isomorphic frameworks" is that they don't need APIs to communicate between server and client.  So while you can certainly call APIs, and create API end points, doing so defeats one of the great advantages.

For example to display a list of Articles in Hyperloop you would have the following code:

[code]
Likewise to follow another user the code

[2017-11-13 17:54] tony-shannon commented on #150
thanks @catmando

Interesting.. & I can see advantages
yet one of the purposes of realworld.io is to compare/contrast between approaches based on adhering to an API spec.

So I'm wondering how can anyone compare/contrast the code of an isomorphic framework to any other approach in this "Conduit Blog to the Realworld API spec" challenge  ..?
How can u verify that the blog functionality is like for

[2017-11-13 18:08] anishkny commented on #150
The commonality can be the user-experienced frontend as validated by some browser based acceptance tests. I have a repo showing how to test a full RealWorld (NodeJS BE + React/Redux FE) stack using [Chrome Puppeteer](https://github.com/GoogleChrome/puppeteer) and [Jest](https://facebook.github.io/jest/).

https://github.com/anishkny/realworld-e2e-test

We can formalize this as a requirement for is

[2017-11-13 18:10] catmando commented on #150
I think the acceptance test would be a great add to RealWorld anyway.   Also it would promote people doing more e2e testing by showing how.

[2017-11-13 22:29] tony-shannon commented on #150
thanks @anishkny @catmando and agree with you both.. thats a very nice idea..
It promotes the User Experience as a standard to comply with..
It helps ensure like to like functionality is produced, so codebases can be compared
It helps educate folk in E2E testing..
Good thinking, thanks

[2017-11-15 19:00] EricSimons commented on #50
Excellent, excellent work @alhoqbani. That readme especially is so thorough & incredibly well done! Also, @silentworks thanks so much for chiming in here with your expertise and insight! It's seriously such an honor to have amazing folks like y'all helping push the RealWorld project forward. Thanks so much. ❤️

I've gone ahead and spun up the official repo (https://github.com/gothinkster/slim-php-

[2017-11-15 19:00] #50 closed

[2017-11-15 19:01] #150 closed

[2017-11-15 19:04] EricSimons commented on #27
@jadhavajay is this repo good to go? Will create the official repo and list on the readme if so!

[2017-11-15 19:05] EricSimons commented on #70
Yeah totally @SachiraChin, would love to see you start work on this!!

[2017-11-15 19:17] alhoqbani commented on #50
Thanks @EricSimons, although I'm not done with the README yet. It still needs some editing, and I was hoping someone from the Slim community could review it as well.

[2017-11-15 19:40] EricSimons commented on #50
@alhoqbani no sweat! We can just push any updates req'd to the new repo :) Btw, do you know anyone in the Slim community I could ping about coming in to help review? Or perhaps @silentworks could review the new stuff in the readme? Lmk!

[2017-11-15 19:43] EricSimons commented on #17
@lbighetti done!! So sorry about my delay on this, the past few weeks have been _nuts_ 😅

To everyone who helped put this together: thank you so much, this is seriously incredible work. 👏  I've just created the new repo (https://github.com/gothinkster/elixir-phoenix-realworld-example-app) and listed it on the main readme! Feel free to push any remaining updates for the repo's readme/etc over at th

[2017-11-15 19:43] #17 closed

[2017-11-15 19:44] EricSimons commented on #144
Now listed on the main readme!! Thanks for the awesome work here @anishkny :) I'm actually chatting w/ some gcp folks now about having them tweet this out/etc!

[2017-11-15 19:46] EricSimons commented on #146
@icebob wow, amazing work! I just created the official repo for it (https://github.com/gothinkster/moleculer-node-realworld-example-app) and listed on the main readme :D

Thanks again for taking the time to create this, you rock!! 👏  💯

[2017-11-15 19:46] #146 closed

[2017-11-15 19:46] alhoqbani commented on #50
unfortunately, I 'don't know any one :(

[2017-11-15 19:50] icebob commented on #146
Great! Thank you! :+1:

[2017-11-15 19:50] EricSimons commented on #152
@mihail-petrov awesome!! I can't wait to see this :D

[2017-11-16 07:41] mihail-petrov commented on #152
After this application is done I am going for Marionette.js  :D

[2017-11-16 13:55] silentworks commented on #50
Yes I will review it. I am from the Slim community.

[2017-11-16 14:31] anishkny commented on #144
W00t! Thanks so much.

@EricSimons @apai4 Do you think I can get write access to the [repo](https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app)? I wanted to make minor enhancements and get it building in CircleCI.

[2017-11-16 18:18] neftalyluis opened #155 "🗄🔧 Grails"
# Current Status

## Repository:
[neftalyluis/grails-realworld-example-app](https://github.com/neftalyluis/grails-realworld-example-app)

- [x] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/

[2017-11-21 18:22] EricSimons commented on #144
@anishkny just added you! I must've forgot to add ya before- sorry about that 😅

[2017-11-21 19:05] anishkny commented on #144
Sweet!

Do you think you could enable [Greenkeeper](https://account.greenkeeper.io/account/gothinkster) for gothinkster so I can enable it for the [gcp-datastore repo](https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app)? It has been pretty amazing at ensuring dependencies stay up to date.

[2017-11-21 19:25] anishkny commented on #144
Hmm, still cant seem to add `gothinkster/gcp-datastore-cloud-functions-realworld-example-app` on my [Greenkeeper config page](https://github.com/settings/installations/55159), I only see my repos:

<img width="752" alt="greenkeeper-gothinkster-issue" src="https://user-images.githubusercontent.com/357499/33092271-a843841a-cec7-11e7-8119-8354f2d170e8.png">

[2017-11-22 17:26] guillaumemaka commented on #66
@matigda So how does it look right now?

[2017-11-23 23:59] lbighetti commented on #17
Thank you for the kind words @EricSimons
And thanks for moving it over!
Will continue development there.
Best!

[2017-11-24 19:18] Utwo opened #156 "Adonis"
# Current Status
## Repository:

[Utwo/adonis-realworld-example-app](https://github.com/Utwo/adonis-realworld-example-app)

- [X] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status ([@EricSimons](https://github.com/ericsimons))
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [x] 👀 Move repo to main org & Peer review final

[2017-11-29 19:32] jmenaguale22 opened #157 "Hyperloop"
<h1>Current Status</h1>

<h3>Codebase in progress:</h3>
<a href="https://github.com/ruby-hyperloop/realworld-hyperloop">ruby-hyperloop/realworld-hyperloop</a>

<h3>Interested in helping out? Say hello!</h3>
<a href="http://www.gitter.im/ruby-hyperloop/realworld">gitter.im/ruby-hyperloop/realworld</a>

<h3>Todo:</h3>

- [x] :checkered_flag: Fork the starter repo & post the link in this issue
- [x]

[2017-12-03 16:07] vilsbole commented on #7
@EricSimons We're reading for the peer-review. I made a PR to the starter-kit, should i submit elsewhere as well?

[2017-12-05 16:04] jacekschae opened #159 "ClojreScript + re-frame"
Repo: https://github.com/jacekschae/conduit
Demo: https://jacekschae.github.io/conduit/

## Todo:

- [x]  🏁 Fork the starter repo & post the link in this issue
- [x]  🎨 Create logo for repo & update issue status (@EricSimons)
- [x]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]  🎉 Tag v1 rel

[2017-12-05 16:05] jacekschae commented on #159
I saw that there is #74 but felt like starting from scrach

[2017-12-06 15:08] Branksy opened #160 "Implement Vue Realworld with Pug templates"
Why is vue/realworld not being implemented with Pug in templates? It would be much more readable (esp. in longer files with a lot of code logic)

[2017-12-06 19:48] disjfa commented on #160
The issue is better placed in the realworld-vue issue list, https://github.com/vilsbole/realworld-vue/issues

But as for me, i find pug not readable and i like html, because we build html. But thats just an opinion. And as for it's for learning vue, so we don't need to learn a new template language. But a custom vue+pug version can be created.

[2017-12-07 04:18] jacekschae commented on #159
Hi @EricSimons, what would be the next step here? Is there anything else you would expect me to do here?

[2017-12-07 13:21] matigda commented on #66
@guillaumemaka I gave link to repository ;) step by step but moving forward. You're welcome to create PRs :)

[2017-12-12 11:22] arrrni commented on #66
@matigda what is working by far?

[2017-12-13 10:23] matigda commented on #66
@arrrni can you guys please take a look at the code before asking? There are functional tests in behat for what is working and there is also configured docker so you can easily run it.

[2017-12-13 18:41] mkoczka commented on #96
@EricSimons I can start working on this one.

https://github.com/mkoczka/nativescript-realworld-example-app

[2017-12-15 15:38] criticalbh commented on #111
@EricSimons, we have completed development. Could you please take a look at it so we can complete docs also?

[2017-12-16 20:48] Korbin73 commented on #136
This is complete. This project has also been updated to the latest version of ReasonML that has the new javascript like syntax.

[2017-12-19 00:11] EricSimons commented on #136
@Korbin73 awesome work!! I just spun up the official repo and added you to it: https://github.com/gothinkster/reasonml-realworld-example-app

I'm pinging some folks in the ReasonML community right now to do a RFC 👍

[2017-12-19 00:20] EricSimons commented on #111
@criticalbh awesome work all! Just spun up the official repo for this and added you to it: https://github.com/gothinkster/web-components-realworld-example-app

Once you add the final details into the docs about installing/running/etc I'll list this on the main readme! 🍻  Seriously amazing work —  the code inside of this looks _beautiful_ :)

[2017-12-19 00:21] EricSimons commented on #156
@Utwo can't wait to see this one!!

[2017-12-19 00:29] EricSimons commented on #96
@mkoczka awesome, I can't wait to see this one! Lmk if you have any q's/etc :) I just updated the issue to point at your repo & created a logo you can use:

![rw_ns](https://user-images.githubusercontent.com/556934/34134611-7c390e90-e410-11e7-95fb-25ee73dc1d9b.png)

[2017-12-19 00:30] EricSimons commented on #66
@matigda I've gone ahead and made your repo the one linked in this issue — can't wait to see the final version!

[2017-12-19 00:35] EricSimons commented on #159
@jacekschae incredible work!! So sorry about my delay here, I'm just seeing this now 😅  I just spun up the official repo and added you to it: https://github.com/gothinkster/clojurescript-reframe-realworld-example-app

Listing on the main readme now— thanks so much for all your hard work here & congrats sir!  🍻

[2017-12-19 00:35] #159 closed

[2017-12-19 00:46] EricSimons commented on #7
@vilsbole so sorry about my delay here, I'm just seeing this now! I just spun up a new repo for it and added y'all to it: https://github.com/gothinkster/vue-realworld-example-app

I'm pinging Evan You now to see if he/anyone else might be able to help with the RFC 👍  Awesome work everyone!!

[2017-12-19 01:57] rainerlopez commented on #136
Awesome !

[2017-12-19 11:04] Utwo commented on #156
I have a little block right now. 😞
I don't know how to get current auth user in a Model (eg. Article.js). I need that for knowing if that article was favorited by current user or not.

[2017-12-19 20:30] jacekschae commented on #159
@EricSimons thanks for RealWorld! All of this wouldn't be possible without this project.

[2017-12-20 10:51] andreoav commented on #160
I agree with @disjfa

If this is a comparison between each framework, the default stack should be used.

[2017-12-20 16:38] snewcomer commented on #22
Would ya'll mind if I hopped on the github ember app to bring it across the finish line?

[2017-12-20 18:06] Alonski commented on #22
Hey man @snewcomer, I would love some help :) I will be happy to review any pull requests. Thanks

[2017-12-24 02:57] Rich-Harris commented on #19
Hey all — just to let you know I spent the day working on a [Sapper](https://github.com/sveltejs/sapper) implementation of this (Sapper is a Next.js-style framework for Svelte that's currently in development).

* **Repo** — https://github.com/sveltejs/realworld
* **Demo** — https://svelte-realworld.now.sh/

It's not quite finished, but it's most of the way there.

[2017-12-25 16:39] quanla opened #161 "Pure React FE"
This is my implementation of RealWorld frontend using only React as the framework, no Redux or MobX used.

Repo: https://github.com/quanla/pure-react-sample-realworld
Demo: https://quanla.github.io/pure-react-sample-realworld-pages/

Code lines: 1752, Bundle size: 98k
Thanks

[2017-12-25 20:56] PaulMaly opened #162 "Ractive"
Codebase in progress  [@ here](https://github.com/PaulMaly/realworld-starter-kit)

Will be fully isomorphic and able to work without JS on the client.

[2017-12-27 02:33] EricSimons commented on #19
@Rich-Harris woah, this is awesome! Great work! Lmk once it's completely there and I'll list it on the main readme 👍

[2017-12-27 02:35] EricSimons commented on #161
@quanla awesome work! I'm gonna proof this & hit up some other people to as well :D

[2017-12-27 02:36] quanla commented on #161
Thanks Eric

[2017-12-27 06:58] quanla commented on #161
Hi Eric, how much time it normally take to implement this in a framework? Like how much time it took to do it in Redux+React? Because I think this is a bit small, and with all css and template provided, it took me only 1 day to finish all of this

[2017-12-28 03:48] quanla commented on #161
Hi @EricSimons , have you looked at my work? I just did a small fix to remove a unnecessary dependency and the bundle size is now 65k

[2018-01-01 02:51] Kartikkh commented on #45
Did someone started with net/http package ?

[2018-01-01 07:50] skanjo opened #163 "Vert.x (Java)"
Vert.x implementation in Java.

https://github.com/skanjo/realworld-vertx

[2018-01-01 17:02] JackyChiu commented on #45
@Kartikkh it was started here: https://github.com/JackyChiu/realworld-starter-kit but hasn't been active. I can pass the torch down to someone else if they want to finish it

[2018-01-01 18:26] Kartikkh commented on #45
@JackyChiu  Hi Jacky, I am learning GoLang these days so will try to work on that, and I'll let u know about any issue I would face

[2018-01-02 00:44] Rich-Harris commented on #19
I think this is basically done — if you could add it to the official list, that'd be great, thanks!

A question: how much freedom do we have to interpret the requirements? I ask because I have an alternative version here: https://svelte-realworld-oegnyylkph.now.sh. (It seems to be a bit flaky at the moment but I *think* that's https://conduit.productionready.io/api, which appears to be having some

[2018-01-02 22:03] EricSimons commented on #19
@Rich-Harris awesome work! Adding this to the readme now 👍

Btw what problems are you running into with the public API endpoint? We haven't seen/heard of any issues with it as of late 🤔

[2018-01-02 22:03] #19 closed

[2018-01-02 22:18] Rich-Harris commented on #19
Thanks!

I'm seeing a lot of this sort of thing, but it's sporadic and unpredictable:

![screen shot 2018-01-02 at 5 17 33 pm](https://user-images.githubusercontent.com/1162160/34502310-ea8ff468-efe0-11e7-80f5-3a7a00901fcd.png)

[2018-01-02 22:20] EricSimons commented on #19
Wow, super weird - cc/ @apai4 (creator/maintainer of the public api server)

BTW all of your ux/route/etc changes are totally fine- forgot to mention that in my last comment :)

[2018-01-02 22:47] apai4 commented on #19
@Rich-Harris @EricSimons the 429 error is from rate limiting on the API to help prevent spam/abuse, since every once in a while the front pages get flooded with inappropriate content. I just increased the number of requests per minute allowed so let's see if that decreases the number of errors we see.

[2018-01-02 23:19] Rich-Harris commented on #19
@apai4 thanks — that may be partly my fault then, Sapper can do prefetching of links when you mouseover them (with `<a rel=prefetch...>`) which was presumably triggering too many requests as my mouse brushed over articles/pagination links. Will experiment with removing `rel=prefetch` or tweaking the behaviour to e.g. prevent prefetching while the mouse is still moving.

Thanks — will switch it ove

[2018-01-03 08:36] tjhunkin opened #164 "Database Consistency"
The nodejs implementation uses mongodb and the Laravel implementation uses MySQL. Shouldn't the nodejs implementation rather use knexjs (for example) to keep consistency? Which can support a wider variety of databases (mongo-to-knex can be used for mongodb).

I'd like to use the nodejs with MySQL, but I have to now replace the welded on var mongoose = require('mongoose');  because it's hard-coded.

[2018-01-03 08:43] tjhunkin opened #165 "Repository Pattern"
Looking at the nodejs implementation, for example, the controllers are very messy with large functions. It's better practice to shift the code into a separate area rather than shoving it all into the controller. In a larger project, the controllers can get extremely bloated.

I understand that this project is to demonstrate implementations, but it'll be better to teach new guys and gals better pri

[2018-01-06 06:07] quanla commented on #161
Hi @EricSimons, do you have any update on this?

[2018-01-06 06:57] geoidesic commented on #88
@linxlad well, have you?

[2018-01-07 11:54] elcobvg opened #166 "Lumen + MongoDB"
Borrows heavily from the existing Laravel implementation, since I only started this because I wanted to give MongoDB a try and I thought this would be a good use case for a document-oriented db. (You know, blog post with embedded comments, tags, user profiles.) Turns out the API specs don't ask for getting article data all-at-once, but I still hope it may be useful to some.

https://github.com/elc

[2018-01-09 01:46] Cameron-C-Chapman commented on #160
I agree with @disjfa, this feels like something that would fit better in the issues in the https://github.com/vilsbole/realworld-vue/issues repo. I'm going to go ahead and close this. Let me know if you disagree and you'd like the discussion re-opened @Branksy.

[2018-01-09 01:46] #160 closed

[2018-01-09 01:49] Cameron-C-Chapman commented on #163
Looking forward to seeing this @skanjo! I marked this as a backend wip but that was a bit of an assumption on my part. If you plan on implementing the front end let me know and I'll update the labels.

[2018-01-09 02:31] Cameron-C-Chapman commented on #164
@tjhunkin, this might be a question that belongs in the individual repos and not necessarily at the realworld level. I'm guessing the node and/or laravel projects would be happy to accept any suggestions or pull requests that would make them more flexible but at the realworld requirement level we aren't really requiring any specific database implementation.

[2018-01-09 02:59] Cameron-C-Chapman commented on #165
@tjhunkin I agree that best practices are ideal for any of the realworld projects but those best practices can differ quite a bit between the languages/frameworks. We rely on a review process for each project specific to members of that community to help determine if the project is a good representative. It would be really hard to enforce best practices architecturally for such varied code bases.

[2018-01-09 06:38] tjhunkin commented on #164
I think it should be a standard that each implementation supports multiple database drivers.

[2018-01-09 06:42] tjhunkin commented on #165
I think it should be a standard to separate the code out. Based on this comment and your comment on the database consistency issue, it seems that we're not on the same page. I will refrain from any further comments due to the futility.

[2018-01-09 16:26] Cameron-C-Chapman commented on #165
I don't think it's futile or that you need to refrain from submitting questions and ideas @tjhunkin, I'm just giving you my personal opinion but I'm just one opinion.

@gothinkster/realworld-admins any other thoughts on this and/or #166? I think these kind of requirements would be misplaced at the realworld requirement level and make more sense at the individual repo level to be required during th

[2018-01-09 17:28] skanjo commented on #163
Ii will be backend only and is in-progress.

[2018-01-09 18:02] EricSimons commented on #165
@tjhunkin I appreciate you imparting feedback on this project but please refrain from insulting our community members.

From a purely technical point of view, I agree that many of these implementations could use some reorganization/refactoring/etc. However, these codebases are intentionally designed to be beginner friendly per the 'golden rule' in our [spec/guidelines](https://github.com/gothinkst

[2018-01-09 18:02] #165 closed

[2018-01-09 18:05] EricSimons commented on #164
@tjhunkin creating a RealWorld codebase is a huge time investment as is, and forcing specific databases would only make it harder for folks to contribute. Instead, we encourage folks to fork any backend & swap out the DB layer and we'll list their implementation on the readme 👍

[2018-01-09 18:05] #164 closed

[2018-01-10 11:29] agubler opened #167 "Dojo 2"
A Dojo 2 implementation of [Conduit RealWorld application](https://agubler.github.io/dojo2-realworld/dist/)

The project repository can be is [here](https://github.com/agubler/dojo2-realworld)

Please let me know if there is anything more that needs doing! Thanks!

[2018-01-11 11:30] Kartikkh commented on #45
@JackyChiu  Hi I have tried a bit pls have a look at this and I am using MongoDB as Database is it Okay?
Or should I use Any ORM?
https://github.com/Kartikkh/Medium

[2018-01-11 13:08] Kartikkh opened #168 "Go + net/http Package"
Hey I am trying to create Realworld with Go+net/HTTP  (https://github.com/Kartikkh/Medium)
The previous work was not completed fully so I have taken a torch from @Jacky (https://github.com/gothinkster/realworld/issues/45)

Thanks

[2018-01-12 15:10] Razzeee commented on #19
Shouldn't this be removed from the work in progress section as it's alreaday in the "frontend grid"?

[2018-01-12 15:40] quanla commented on #161
Hi @EricSimons, do you have any update on this?

[2018-01-13 14:39] hassanbazzi opened #169 "Preact"
## Current Status
Codebase in progress: [Codebase](https://github.com/hassanbazzi/preact-realworld-example-app)

Interested in helping out? Say hello! 🎉 [Preact Slack](https://preact-slack.now.sh/)

## Todo:
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API

[2018-01-14 06:19] quanla commented on #169
Hi @hassanbazzi, the developers of this project seem to be very unresponsive. I also have an implementation in issue #161, which is using only React (no Redux or MobX) so the code size is pretty small. I guess that if I use Preact, the code base will be very similar. We can trade thought. Cheers

[2018-01-16 13:18] geoidesic opened #171 "Quasar framework"
# Current Status
## Repository:
https://github.com/geoidesic/realworld-quasar

- [x] 🏁 Fork the starter repo & post the link in this issue
- [x]  🎨 Create logo for repo & update issue status (@EricSimons)
- [ ]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]  🎉 Tag v1 release and officially l

[2018-01-16 14:25] agubler commented on #167
Hey all, is there anything I need to do help get this implementation through?

[2018-01-19 07:45] TatriX opened #172 "Rust / Rocket"
https://github.com/TatriX/realworld-starter-kit

[2018-01-20 10:32] quanla opened #173 "This project is very inactive"
It takes weeks to get a response from this project's developers. The idea behind this is very nice, but with this inactivity, things are falling apart

[2018-01-20 16:05] Cameron-C-Chapman commented on #166
@elcobvg so is this project complete and ready to be reviewed or still a WIP?

[2018-01-20 16:09] Cameron-C-Chapman commented on #167
This looks awesome @agubler 😄

Hi @agubler, typically we like to get some review from some members of the frameworks community. Do you know anyone who has some experience with Dojo who can give a thumbs up? If not we'll just need to verify everything works and we'll get it added to the home page.

Let us know if you have anyone who can review or if you're ready for us to just go ahead and verify f

[2018-01-20 16:10] Cameron-C-Chapman commented on #168
Awesome look forward to seeing this one 😄

[2018-01-20 16:13] Cameron-C-Chapman commented on #171
@geoidesic I'm excited to see this one! Just to verify this is a mobile app right?

[2018-01-20 16:14] Cameron-C-Chapman commented on #172
Just to verify is this going to implement the front end or back end?

[2018-01-20 16:14] agubler commented on #167
Hey @cameron-c-chapman, I’m a contributor on Dojo 2 so I think you can go ahead and review the functionality if that’s okay?

Let me know if you find anything that’s not quite right and I’ll fix it up 😃

[2018-01-20 16:18] Cameron-C-Chapman commented on #173
Hi @quanla, sorry you feel that way. Keeping up with open source can be tough sometimes, everyone has multiple things going on and we try our best but I know personally I've been less active over the last month or so due to some schedule issues.

I disagree that the project is "falling apart", since the goal is to provide people an easy way to experiment and showcase different frameworks easily an

[2018-01-20 16:28] quanla commented on #173
Hi Cameron, thank you for responding. It is great to hear from someone... at last. And yes, I have #161 open issue for a finished implementation of full spec Realworld demo using React, in it's pure form. Would be great if you can have a look and leave a comment. Thanks again

[2018-01-20 18:17] TatriX commented on #172
It's backend.

[2018-01-20 18:22] Cameron-C-Chapman commented on #172
Awesome, looking forward to seeing it!

[2018-01-20 18:24] quanla commented on #167
Hi @agubler, I just tried login using your demo and when server return error, my email/password inputs are cleared so I need to retype. Can I have those values stay in the input so I can change and submit again easier? Does Dojo 2 support that?

[2018-01-20 18:34] agubler commented on #167
@quanla could potentially not clear the email input, but it seems common practice to clear at least the password input after a failed login attempt. It’s not any limitation of Dojo 2 but simply by my initial design 😃

[2018-01-20 18:35] Cameron-C-Chapman commented on #167
@agubler I'm starting to look at it as well and I had to install the dojo cli but I didn't see that in the README. That would be a good note to add.

[2018-01-20 18:36] quanla commented on #167
Ok. Great to know. Thanks @agubler. Btw, is Dojo 2 a reactive programing framework?

[2018-01-20 18:38] agubler commented on #167
@cameron-c-chapman Ah yup you need the cli, i’ll add that to the readme. Thanks!

[2018-01-20 18:39] agubler commented on #167
@quanla yes Dojo 2 is a reactive framework written in Typescript.

[2018-01-20 18:57] Cameron-C-Chapman commented on #167
@agubler this looks good to me. Awesome work! Dojo 2 looks pretty cool, I might have to play around with it a little bit 😄

@EricSimons Are you good with getting this added officially?

[2018-01-20 19:03] Cameron-C-Chapman commented on #161
@quanla the functionality of this looks good to me, nice work!

Are there any component tests? If possible we like there to be at least one test wired up so someone trying to learn the framework at least sees how that typically looks. Would it be possible to add a simple test and update the readme to show a user how to run them?

[2018-01-20 19:09] agubler commented on #167
@Cameron-C-Chapman Thanks! I added the `@dojo/cli` as a development dependency, added a few npm scripts and updated the readme instructions so it should just work out of the box now.

[2018-01-21 19:09] rajeget opened #174 "Does user sign-up page redirection happens?"
Hi

I am trying to create backend API , with angular-2 as frontend.

When the user registers to /api/user POST method , the page is not getting redirected to #/ (home) .
I have tried to replicate the https://conduit.productionready.io/api/users POST api.

Can someone confim how the redirect happens?

-Raj

[2018-01-22 00:13] elcobvg commented on #166
Yeah, it's ready to be reviewed. I intended to have a complete test suite, but haven't found the time yet.
Regarding #165 the repository pattern, I did consider using repositories but decided against it as it seemed a bit too much hassle: based on the API specs, they would all be incomplete implementations anyway.

[2018-01-22 15:36] geoidesic commented on #171
Quasar deploys to multiple platforms, mobile being one of them yes.

[2018-01-23 19:51] fmonroe commented on #27
@EricSimons : Thanks for this great web site. I believe this repo is ready to be "moved to the main org and be listed on the readme".  That would be beneficial to people interested in Aurelia. Thanks.

[2018-01-24 00:54] Cameron-C-Chapman commented on #174
@rajeget the redirect would be implemented on the front end, after the response is returned. The api itself isn't issuing any redirect headers, all the routing is happening on the front end.

[2018-01-24 02:32] amadeu01 opened #175 "Swift Vapor"
## Progress
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag v1 release and officially list it on the README!

## Current Status
Codebase (in progress):
https:

[2018-01-26 07:01] quanla commented on #161
Hi @cameron-c-chapman,

Too bad I am not a big fan of test cases.

Also, one of the good things about Pure React is that I am not introducing any thing new to the game here. The React components I use is no different than the React components used in Redux-React framework or MobX-React framework, and I am pretty sure that my usage of React component is way simpler than Redux framework. If they don

[2018-01-27 12:10] jadhavajay commented on #27
@EricSimons and @loaded02 - I have merged the PR - the sign-in and sign-up is working fine.

[2018-01-27 12:12] jadhavajay commented on #27
@EricSimons I think this repo is good to go now. Please go ahead and create an official repo.

[2018-01-28 01:45] grahm opened #177 "Hydrating VanillaJS (vaguely based on web components)"
Current Status
Codebase in progress: https://github.com/HorrorTropics/hydrating-vanillajs-realworld-example-app

Goal: As small and performant as possible PWA w/ Hydrating SSR

Todo:

- [x]  🏁 Fork the starter repo & post the link in this issue
- [ ]  🎨 Create logo for repo & update issue status (@EricSimons)
- [ ]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Peer review

[2018-01-29 08:20] stefanoslig opened #178 "Angular 6 + @ngrx/store + nrwl/nx"
## **Current Status**

**Codebase ready for the review:**
[https://github.com/stefanoslig/angular-ngrx-nx-realworld-example-app](https://github.com/stefanoslig/angular-ngrx-nx-realworld-example-app)

**Demo**
[https://stefanoslig.github.io/angular-ngrx-nx-realworld-example-app](https://stefanoslig.github.io/angular-ngrx-nx-realworld-example-app/#/)

Todo:
- [x] 🏁Fork the starter repo & post the li

[2018-01-29 09:40] agubler commented on #167
@EricSimons @Cameron-C-Chapman is there anything more I need to do to get this officially added? Thanks!

[2018-01-30 22:42] Cameron-C-Chapman commented on #161
The idea of adding a unit test isn't about if unit tests are valuable or not, it's more about introducing someone who is looking to learn from your project with a way to run unit tests.

I could argue for the value of unit tests all day long but this probably isn't the forum for that. If you are adamant against unit testing and would like to get this submitted without them as long as it gets the s

[2018-01-31 03:29] #174 closed

[2018-01-31 03:33] Cameron-C-Chapman commented on #173
We're working on getting caught up but since there are GitHub's built in pulse metrics and any inactivity is pretty specific to individual project submissions (working on getting yours added) I'm going to go ahead and close this.

If you have any specific suggestions to help the project you can open an issue with those ideas and we can address those.

[2018-01-31 03:33] #173 closed

[2018-01-31 03:33] #144 closed

[2018-02-03 04:06] quanla commented on #161
Hi @Cameron-C-Chapman, do you think this way of testing (provided by FB) is a possible way to go around the test case requirement?

https://facebook.github.io/jest/docs/en/tutorial-react.html

If yes then I can provide 1 such case, if no then I dont think I can do any better than that, and let just close this issue and we can forget about this framework of mine :)

[2018-02-03 18:01] Cameron-C-Chapman commented on #161
That's perfect 😄 (jest is what I use for my JavaScript unit testing). If you don't mind adding a test case and updating the readme with how to run it you'd have my stamp of approval for this.

Thanks @quanla!

[2018-02-06 21:04] AnaRobynn opened #179 "Cyclejs"
# Current Status
## Codebase in progress:
[Cyclejs](https://github.com/AnaRobynn/cyclejs-realworld-example-app)

## Interested in helping out? Come say hello! 🎉
Cycle.js sparked my interest after working with Angular 2 + RxJS and React. I loved playing around with streams in RxJS and love how declarative React is, but I wanted to try out a more functional approach. I have no prior experience with

[2018-02-08 13:13] Utwo commented on #156
Ok, I think I finished the API implementation according to the specs 🎉
@EricSimons what's the next step?

[2018-02-09 17:09] Dasiu commented on #63
All right, folks!

I believe Playframework with Scala implementation have reached feature complete stage! I tested backend implementation with React frontend, link to demo can be found in my [repo](https://github.com/Dasiu/realworld-starter-kit). Now I would ask someone to test my work and review it. People with Scala and Playframework knowledge would be most welcome. :)

[2018-02-15 14:42] loaded02 commented on #27
@EricSimons how would you like to proceed with this issue?

[2018-02-15 16:14] alex-kostirin opened #181 "Swift Perfect"
## **Progress**
- [x] 🏁 Fork the starter repo & post the link in this issue

- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)

- [ ] 🔨 Implement all of Conduit's functionality per the spec & API

- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)

- [ ]  🎉 Tag v1 release and officially list it on the README!

## **Current Status**
Codebase (in prog

[2018-02-16 03:47] jadhavajay commented on #27
@EricSimons Let me know if there is anything needed from my side...

[2018-02-17 18:56] lujakob opened #182 "NestJS + TypeORM"
Creating a new example backend api app with nestjs and typeorm on
https://github.com/lujakob/nestjs-realworld-example-app

[2018-02-19 12:54] rajeget opened #183 ""following": false"
Hi
This is not a issue , but want to understand the API , In this API Strucutre https://github.com/gothinkster/realworld/tree/master/api

In Profile API what does following : false means ?

{
  "profile": {
    "username": "jake",
    "bio": "I work at statefarm",
    "image": "https://static.productionready.io/images/smiley-cyrus.jpg",
    "following": false
  }
}

[2018-02-19 22:21] Stephn-R commented on #182
Nice job!!! Nest is a really awesome framework!

[2018-02-19 22:46] Cameron-C-Chapman commented on #183
means that the authenticated user is not following the profile you are viewing. That following references whether or not _you_ are following that profile.

[2018-02-21 09:04] #161 closed

[2018-02-21 16:48] Dasiu commented on #63
Hey! @Cameron-C-Chapman @EricSimons what is next needed step?

[2018-02-21 19:15] rajeget commented on #183
Hi
Thanks @Cameron-C-Chapman  .Just to make sure I understood, the authenticated user who is requesting GET profile , is he access this user ( in thi case jake) .
What about if the user access his own GET profile API ?

[2018-02-22 03:14] EricSimons commented on #63
@Dasiu eek sorry about my delay! Awesome work on this!! I'm going to get this added to the homepage first thing tmrw morn :)

[2018-02-22 03:15] EricSimons commented on #27
@jadhavajay @loaded02 hey guys! So sorry about my delay here- I'll get this added to the main readme first thing tomorrow morn 👍  amazing work on this!!

[2018-02-22 08:50] EisenbergEffect commented on #27
Wow. Wow. Wow. And Super WOW! Great job to everyone who worked on this. I just had a look over all the code and ran the app on my machine. It looks great. This was not a small effort and I and the rest of the core team are very grateful for this work. I'd love to have a blog post to feature this group's work on the official Aurelia blog. Is anyone interested in writing that? We'd love to showcase

[2018-02-22 15:16] agubler commented on #167
@EricSimons Thank you!!

[2018-02-22 16:01] Cameron-C-Chapman commented on #183
If you view your own profile you will see `following: false` since you can't follow yourself. If you view a different users profile you will see if you are or are not following that user.

I'm going to go ahead and close this. If you have more questions or notice any problems with the API feel free to open other issues or I can open this one back up if it's related.

[2018-02-22 16:01] #183 closed

[2018-02-22 18:55] EricSimons commented on #7
FYI I just added this to the homepage- keep up the great work y'all!!

[2018-02-22 18:55] #7 closed

[2018-02-22 18:55] EricSimons commented on #63
Now listed on the main readme! Amazing work @Dasiu!! 💯 🎉

[2018-02-22 18:55] #63 closed

[2018-02-22 18:56] EricSimons commented on #167
This is now listed on the main readme! Amazing work @agubler!! 🎉

[2018-02-22 18:56] #167 closed

[2018-02-22 18:58] EricSimons commented on #27
This is now listed on the main readme! Thanks for taking the time to look over this codebase @EisenbergEffect and amazing job @jadhavajay & @loaded02!! Looking fwd to reading the blog post about it 🎉 ❤️

[2018-02-22 18:58] #27 closed

[2018-02-22 19:03] Dasiu commented on #63
Thanks! Good to hear!

[2018-02-22 19:56] agubler commented on #167
Awesome thanks @EricSimons

[2018-02-24 23:55] lujakob commented on #182
@Cameron-C-Chapman I have step 3 "Implement all of Conduit's functionality per the spec & API" finished, including one test file tag.controller.spec.ts - What's the next steps?

[2018-02-25 09:29] stefanos- commented on #178
@EricSimons , @Cameron-C-Chapman The codebase is ready for the review.

[2018-02-28 15:49] TatriX commented on #172
Ok, it's currently passes all the tests and mostly works. Sure it's still need some polish and such. For example I need to get rid of all the `expect`s and rename things to make them consistent.

It would be good if someone could review the code. Thanks!

[2018-03-02 10:09] lujakob commented on #182
@EricSimons , @Cameron-C-Chapman The codebase is ready for the review. Thank you in advance!

[2018-03-02 10:17] ajitbapina opened #185 "Angular application error in local ( Content-Type:text/plain) with spring boot"
I have tried to run as backend (https://github.com/gothinkster/spring-boot-realworld-example-app) and frontend (https://github.com/gothinkster/angular-realworld-example-app) .

I am trying to register through angular app but not able to call api backend.
I debug it and found below error.

Request URL:http://localhost:8080/users
Request Method:POST
Status Code:415
Remote Address:[::1]:8080
Referrer

[2018-03-04 22:38] apapacy opened #186 "React Universal Hot"
Creating a new example frontend universal (isomorphic) web app with react, react-router 4, redux, webpack 4: [https://github.com/apapacy/realworld-react-universal-hot ](https://github.com/apapacy/realworld-react-universal-hot)

[Demo](https://realworld-react-universal-hot-ugoaishgjo.now.sh)

[2018-03-05 15:05] koyoyo opened #187 "API Get Profile is required authentication ?"
I tried calling GET https://conduit.productionready.io/api/profiles/:username without Token and it's returned 401 Unauthorized.

But from your [API Spec](https://github.com/gothinkster/realworld/tree/master/api#get-profile). It's said that "Authentication optional". So, it should return profile if found or 404 if not.

Is there anything wrong or am I misunderstanding ??

[2018-03-06 18:51] rajeget opened #188 "Angular2 - TypeError: error.json is not a function"
Hi

At load time Angular2 is showing this error ( Please see below) . Also If there is a error send from backend , it does not show . For example if Sign-in screen doesnot show error message for say 403 reply from server.

`
ERROR
TypeError
columnNumber: 38
fileName: "http://localhost:4200/main.bundle.js line 486 > eval"
lineNumber: 26
message: "error.json is not a function"
stack: "ApiService.pro

[2018-03-08 15:34] rajeget commented on #188
Anyone any update ?

[2018-03-09 03:07] Cameron-C-Chapman commented on #185
Hi @ajitbapina. Any issue you find in an implementation should probably be a bug in that repository. So if you are seeing this issue with the spring-boot backend repo I would file an issue there so the owner can address it.

I'm going to close this now since it doesn't really apply to this repo but if you have any more questions or you disagree with that let me know and I can take another look.

[2018-03-09 03:07] #185 closed

[2018-03-09 03:08] Cameron-C-Chapman commented on #186
Looks good @apapacy! Is this done and ready for review/addition to the homepage?

[2018-03-09 03:15] Cameron-C-Chapman commented on #187
Hi @koyoyo 👋

I was able to run the following curl with no authentication and didn't need to be authorized. What is the user you were searching for?

`
curl -X GET \
  https://conduit.productionready.io/api/profiles/rick \
  -H 'Cache-Control: no-cache' \
  -H 'Content-Type: application/json' \
  -H 'X-Requested-With: XMLHttpRequest'
`

[2018-03-09 03:40] Cameron-C-Chapman commented on #188
Hi @rajeget 😄 Is this an issue with the Angular front end implementation? If so that should be filed as an issue in that specific repo, not this repo.

If that doesn't make sense let me know, but I'm going to close this now so you can file the issue in the Angular repo.

[2018-03-09 03:40] #188 closed

[2018-03-09 08:34] ajitbapina commented on #185
thanks. now it is fixed

[2018-03-09 10:17] apapacy commented on #186
Yes, the project is ready for review

[2018-03-09 21:43] agubler commented on #167
@EricSimons Do you mind if I update the realworld repo for Dojo2 directly? Is there a ghpages that it deploys to or do I need to keep that pointing to my ghpage deployment?

[2018-03-10 03:31] koyoyo commented on #187
Sorry, My mistake. I used Postman and attached local Token to your testing site.

[2018-03-10 03:31] #187 closed

[2018-03-10 23:24] tanem opened #189 "Express / Bookshelf"
Hey. First of all, just wanted to say thanks for creating such a useful learning tool 😃

Second: Is there any appetite for a backend implementation that utilises Express + [Bookshelf ORM](http://bookshelfjs.org/)? I've been working on the implementation here: [express-bookshelf-realworld-example-app](https://github.com/tanem/express-bookshelf-realworld-example-app).

Primarily this is a learning t

[2018-03-11 00:28] Cameron-C-Chapman commented on #189
Hi @tanem 😄

I don't see why we wouldn't want to add your project once it's complete. It could be useful to anyone trying to use Bookshelf. I say go for it!

[2018-03-11 09:40] TatriX commented on #172
I think all the required functionality is done. What is the next step?

[2018-03-13 12:39] dalgarins commented on #44
Hi, I want to help, with this real code example.

[2018-03-16 01:50] dalgarins commented on #44
https://github.com/dalgarins/realworld-starter-kit

[2018-03-16 19:13] LinusBorg commented on #7
Hi everyone,

I'm Thorsten from the Vue.js core team. I was asked to tak a look at this. Great work so far, thanks to everyone contributing!

I didn't have much time to go into the details, so I chose to take a look at the resulting bundle first, as it was mentioned to me that the bundle was surprisingly big, compared to e.g. the react example.

And in fact, the minified vendor bundle comes in wit

[2018-03-16 19:55] LinusBorg commented on #7
Oh geez, did I analyse the wrong repository? Sorry! :-P

[2018-03-16 21:11] atilacamurca commented on #7
we must disable <https://github.com/vilsbole/realworld-vue> or redirect to <https://github.com/gothinkster/vue-realworld-example-app/> to avoid this kind of confusion.

cc @vilsbole

[2018-03-18 17:05] vilsbole commented on #7
@LinusBorg Thanks a ton for taking a look at the project!

Indeed `vue-markdown` is extremely heavy for the few features we use. By replacing it with `marked` we're now at a more reasonable size of 265kb. As for `data-fns`, we could do of course make a custom implementation, but unless we're enter a bundle size competition I'm in favour of not to reinventing the wheel.

<img width="752" alt="scree

[2018-03-18 17:48] vilsbole commented on #7
@atilacamurca I can't find a way to redirect the initial repo (without an ownership change), so I updated the description and [README](https://github.com/vilsbole/realworld-vue/blob/master/README.md).

[2018-03-18 18:41] LinusBorg commented on #7
@vilsbole agreed, date-fns is fine. The main point is to keep the number and kind of framework-independent dependencies roughly equal, so bundle sizes are comparable. It's not a bundle-size contest, but it's an important detail nonetheless.

[2018-03-20 14:50] Cameron-C-Chapman commented on #172
@TatriX typically we look for one other member of the Rust community to take a look and give it a stamp of approval. If we can't make that happen then we will clone the repo and test locally and verify everything is working as expected.

One thing I did notice was the blank Demo link. If there won't be a hosted Demo you might just remove that link, not like that would hold us up from merging but j

[2018-03-20 14:52] TatriX commented on #172
Awesome, thanks!

[2018-03-21 19:07] torhovland opened #191 "Blazor"
## Codebase in progress:
https://github.com/torhovland/blazor-realworld-example-app
If you'd like to help out, you're welcome!
## Demo:
https://blazor-realworld.azurewebsites.net

[2018-03-29 15:59] amadeu01 commented on #43
Hi, I noticed that the repository of [littleStudent/swift-realworld-example](https://github.com/littleStudent/swift-realworld-example) have not moved. So, I create a repository to implement the codebase for iOS in Swift  😄

here is the link [amadeu01/swift-realworld-conduit](https://github.com/amadeu01/swift-realworld-conduit)

[2018-04-04 20:55] markjackmilian opened #193 "Bridge.Spaf"
Spaf is a framework build on top of Bridge.Net.

Codebase in progress:
[https://github.com/markjackmilian/bridge.spaf-realworld-app](https://github.com/markjackmilian/bridge.spaf-realworld-app)

Demo:
[https://markjackmilian.github.io/realworld.spaf](https://markjackmilian.github.io/realworld.spaf)

Tests:
[https://markjackmilian.github.io/realworld.spaf.tests/](https://markjackmilian.github.io/re

[2018-04-05 07:34] TatriX commented on #172
@anishkny sure, done.

[2018-04-05 20:37] hamzahamidi commented on #16
I'm working an ionic3 application with firebase, if you're interested https://github.com/hamzahamidi/todo-list. I also made a PWA version. Everything is in the repo. Don't hesitate to open issues. I'll fix them as soon as possible

[2018-04-06 05:29] barryels commented on #69
hi @anishkny there are still a few outstanding functional bits (see "Ready for Dev" column [here](https://github.com/barryels/realworld-mithril/projects/1), unfortunately, I have not gotten an opportunity to work on this project in quite some time :/

Happy to use netlify and have merged your PR on that.

[2018-04-06 07:37] adospace opened #195 "Blazor"
Progress
-
- [x]  🏁 Fork the starter repo & post the link in this issue

- [ ]  🎨 Create logo for repo & update issue status (@EricSimons)

- [ ]  🔨 Implement all of Conduit's functionality per the spec & API

- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)

- [ ]  🎉 Tag v1 release and officially list it on the README!

Current Status
-
Codebase (in progress):

[2018-04-06 07:52] adospace commented on #195
ops, didn't see it's already implemented #191!

[2018-04-06 07:52] #195 closed

[2018-04-06 09:31] loaded02 commented on #27
[Blogpost](http://aurelia.io/blog/2018/04/04/aurelia-realworld-app) @ aurelia.io

[2018-04-06 15:37] doowb commented on #21
I just discovered this realworld project and started looking for firebase related projects and found this one. However, this is using Google Cloud Functions directly instead of using Firebase Cloud Functions (which run on top of GCF). Would it be out of scope if I created a parallel project using Firebase Cloud Functions to show the tools and patterns used for those? I think I could also contribut

[2018-04-06 17:25] anishkny commented on #69
@barryels great! I added you as an admin on netlify. Everything should just work (i.e. auto deploy from master on every commit) but if it doesn't, we can figure it out.

[2018-04-06 19:46] a1nb0 commented on #111
can this be installed locally?
trying with visual studio code i get ERROR in ./app/components/comments-container.comp.js
Module build failed: SyntaxError: Unexpected token, expected , (44:12)
 what i did:
git clone ....
npm install
npm start

[2018-04-06 20:04] a1nb0 commented on #111
is this going to be listed as a tutorial on thinkster.io too?

[2018-04-06 21:25] anishkny commented on #21
hi @doowb Firebase really shines when used as a Fullstack implementation, since it has mature JS APIs that plugin directly into the frontend codebase. Would you be interested in starting a new Firebase full stack repo? If so you can send a PR linking it here:

https://github.com/gothinkster/realworld#fullstack

I have sort of abandoned [Firebase + Cloud Functions](https://github.com/anishkny/realw

[2018-04-07 02:11] jihchi opened #196 "ReasonReact (ReasonML)"
## Progress

- [x]  🏁 Fork the starter repo & post the link in this
- [x]  🎨 Create logo for repo & update issue status
- [x]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]  🎉 Tag v1 release and officially list it on the README!

## Current Status
Codebase (done):
https://github.com/jihchi/r

[2018-04-07 18:37] Cameron-C-Chapman commented on #172
@TatriX I started looking at this and ran into an issue. I've never used rust so maybe I'm doing something wrong but I followed the instructions on your repo and got all the way to `cargo run` but then I hit some errors.

I was going to file an issue in your repo but it looks like Issues are turned off?

This is what I see:
<img width="848" alt="screenshot 2018-04-07 13 33 47" src="https://user-im

[2018-04-07 18:39] Cameron-C-Chapman opened #197 "Add Aurelia Real World Blog Post to Community Resources"
We should add this to the community resources section.

http://aurelia.io/blog/2018/04/04/aurelia-realworld-app/

[2018-04-07 18:44] TatriX commented on #172
Oh, I don't know why issues was disabled.
The error is strange, maybe `nightly` is broken. I'm going to update and check it.

[2018-04-07 18:48] TatriX commented on #172
Yes, it's a mainstream [problem](https://github.com/SergioBenitez/Rocket/issues/601)
I'll find `rustc` version which works.

[2018-04-07 18:58] TatriX commented on #172
[code]
This seems to work.

[2018-04-08 00:57] anishkny commented on #172
Hmm, seems like this was fine [3 days ago](https://travis-ci.org/TatriX/realworld-rust-rocket/builds/362481500). Maybe stable pinned version of rust should be used in README and for TravisCI? Also, turning on [daily cron](https://docs.travis-ci.com/user/cron-jobs/) on TravisCI may not be a bad idea. I too am a total rust noob btw 😄

[2018-04-08 20:38] tanem commented on #189
All good @Cameron-C-Chapman. Repo is [here](https://github.com/tanem/express-bookshelf-realworld-example-app), but not quite finished yet, still have to get docker set up :neckbeard: Will post back once it's sorted.

[2018-04-09 18:02] TatriX commented on #172
It works fine now. Do `cargo update` if you want to fix an existing installation.

[2018-04-10 08:24] nin-jin opened #198 "$mol"
Framework homepage: https://mol.js.org/

- [ ] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag v1 release and officially list it on the README!

[2018-04-10 16:52] doowb opened #199 "Fullstack Firebase"
# Current Status

## Codebase in progress:
[doowb/firebase-realworld-example-app](https://github.com/doowb/firebase-realworld-example-app)

## Todo:
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase

[2018-04-10 17:08] doowb commented on #199
Based on my comments in #21 I forked the starter kit to start on creating a "fullstack" firebase realworld example app.

There are some issues discussing using React with Firebase so I'll go down that path for now. Once that is down and the data model is fleshed out, I'd be happy to do the same for other front-ends since I'm using this as a way to learn more about front-end frameworks.

[2018-04-11 04:11] sinchang opened #200 "Egg.js"
RealWorld backend API based on [egg.js](http://eggjs.org)

repo: https://github.com/eggjs-community/eggjs-realworld-example-app

[2018-04-12 01:59] jihchi commented on #196
New logo: ![logo](https://cdn.rawgit.com/jihchi/reason-react-realworld-example-app/b14cc7a2/logo.png)

[2018-04-12 03:37] joeyworld opened #201 "Serverless python (AWS Lambda)"
Backend, runs in AWS Lambda environment.
Repository : https://github.com/gyukebox/realworld-serverless-python

- [x]  🏁Fork the starter repo & post the link in this issue
- [ ]  🎨 Create logo for repo & update issue status (@EricSimons)
- [ ]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]  🎉

[2018-04-12 20:52] ap-o commented on #6
Is there any progress happening on the apollo/graphql example?

I could definitely help, i did put something together last year, but i reckon an example here would make a lot more impact.

https://github.com/ap-o/intro

[2018-04-15 11:17] tzemanovic opened #202 "🗄🔧 Haskell / Yesod"
# Current Status

Codebase in progress: https://github.com/tzemanovic/haskell-yesod-realworld-example-app
## Todo:

- [X] 🏁 Fork the starter repo & post the link in this issue
- [X] 🎨 Create logo for repo & update issue status (@EricSimons)
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]

[2018-04-15 19:15] Branksy opened #203 "Add Testing"
Add most commonly used test frameworks for current codebases - e.g. RSpec for Rails

[2018-04-16 03:29] adamhaile opened #204 "Surplus wip"
I did an implementation for [Surplus](https://github.com/adamhaile/surplus), available [here](https://github.com/adamhaile/surplus-realworld).  Still need to add some tests for final submission.

[2018-04-17 04:21] QingpingMeng opened #206 "Serverless Typescript + Mongodb (implementation done)"
Backend, runs in AWS Lambda environment + mongodb.
Repository : https://github.com/QingpingMeng/medium-clone-api

Functionality per the spec & API has been implemented. Just deploy and connect to your front end and you are good to go!

- [x] 🏁Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [x] 🔨 Implement all of Conduit's funct

[2018-04-17 07:05] gyukebox commented on #206
Which serverless framework are you using?

[2018-04-17 13:14] lilac opened #207 "Scala akka-http implementation of realworld"
[Work in Progress] [Link to repo](https://github.com/lilac/realworld-scala/tree/akka-http)
It is based on the scala play implementation.

[2018-04-18 17:48] BennyM opened #209 "Azure Functions + CosmosDb"
I've started building a backend using Azure Functions and CosmosDb, forked [here](https://github.com/BennyM/realworld-starter-kit).

**Current Status**
_Todo_
- [ ] Users (Registration) Endpoint
- [ ] User Endpoint
- [ ] Profile Endpoint
- [ ] Articles CRUD Endpoint
- [ ] Articles Comment Endpoint
- [ ] Articles Favorite Endpoint
- [ ] Tags Endpoint
- [ ] Azure ARM template
- [ ] Demo App

[2018-04-22 23:34] federicorinaldi commented on #70
Hey guys is there any update on this? @lestex I can take it if no one is currently working on this

[2018-04-24 14:29] myguidingstar commented on #57
Hi all, I have a nearly complete implementation here. Progress is reported in project's github issues.
https://github.com/walkable-server/realworld

[2018-04-25 16:51] LiesbethW opened #210 "Fulcro (Clojure + Clojurescript)"
# Current Status
## Progress
- [x]  🏁 Fork the starter repo & post the link in this
- [ ]  🎨 Create logo for repo & update issue status
- [ ]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ]  🎉 Tag v1 release and officially list it on the README!

## Codebase (in progress):
https://github.com/

[2018-04-26 12:03] brookesb91 opened #211 "SailsJs 1.0 Example Application"
https://github.com/brookesb91/sailsjs-realworld-example-app

Framework homepage - https://sailsjs.com

An example SailsJs application with views.

- [x] Fork the starter repo & post the link in this issue
- [ ] Create logo for repo & update issue status
- [ ] Implement all of Conduit's functionality per the spec & API
- [ ] Move repo to main org & Peer review final codebase
- [ ] Tag v1 release an

[2018-04-28 17:19] Cameron-C-Chapman opened #212 "Express w/ Bookshelf.js"
https://github.com/tanem/express-bookshelf-realworld-example-app

- [x] Fork the starter repo & post the link in this issue
- [ ] Create logo for repo & update issue status
- [ ] Implement all of Conduit's functionality per the spec & API
- [ ] Move repo to main org & Peer review final codebase
- [ ] Tag v1 release and officially list it on the README

[2018-04-28 17:57] Cameron-C-Chapman commented on #172
@TatriX this looks good to me.

I only have a couple comments:
* The tests still fail for me. Seems to be around authorization:
[code]
* With the addition of the `/api/` on the routes the Postman collections provided won't work. Adding that to the route makes sense to me but I just wanted to mention that the postman collections won't work out of the box.

I'm good with adding this to the main page

[2018-04-28 18:07] Cameron-C-Chapman commented on #203
@Branksy I agree I'd love to see unit testing as part of each codebase. We're making more of a point of bringing that up during the initial review before adding a project to the homepage now but there are a lot of projects that don't have any testing.

I would say that it would be more appropriate to bring those issue up in the respective repository and work on getting them added to the project th

[2018-05-07 22:12] geoidesic opened #214 "Can't login after logout, clear cache and refresh"
Hi,

I've tried on a number of the official front-end releases (Vue and clojurescript-keechma) and I can register an account once but after I logout, clear cache and refresh (or using a different browser), I cannot log back in using that account details. I also can't re-register using the same account details.
I suspect that the login back-end API is expecting a JWT which isn't being sent in this

[2018-05-08 17:47] geoidesic commented on #171
@Cameron-C-Chapman Not sure I understand the labels (like does frontend mean it's a web app or does it mean it's not a backend implementation) but to be clear Quasar is a front-end UI framework built on VueJS which deploys to various platforms including web, mobile, desktop. That's its beauty.

[2018-05-09 08:08] leosilvadev commented on #163
What about the impl?
If some help is needed you can count on me to work on backend side. :)

[2018-05-09 09:40] myguidingstar commented on #210
I'm working on another implementation here: https://github.com/walkable-server/realworld-fulcro

Atm, server side is complete, frontend is a wip

[2018-05-10 16:07] wilfredonoyola commented on #10
What is the progress for this? Thanks!

[2018-05-12 12:17] AnaRobynn commented on #179
I'm unable to work on it, since priorities changed.

[2018-05-12 12:17] #179 closed

[2018-05-13 21:30] eavichay opened #215 "Slim.js"
repo: https://github.com/eavichay/slimjs-realworld-example-app

[2018-05-14 21:13] xesina opened #216 "Golang + Echo"
Hi,
Work in progress at https://github.com/xesina/golang-echo-realworld-example-app

[2018-05-15 20:41] entrptaher opened #217 "User management or Superadmin"
RealWorld is great and I've used this as baseline for many different projects. With all awesome features floating around, I felt there is one thing missing, and which is a super admin or user role management.

However, I assume the team over gothinkster doesn't have any plan to add a user management system if I am right. What can be done in this particular case?

If anyone implemented such, please

[2018-05-15 21:28] anishkny commented on #217
@entrptaher thanks for your kind words, glad RealWorld is of use!

We kind of wanted to keep things simple for v1 but discussed the idea of having "extra credit" features, could you chime in at #90?

[2018-05-15 21:37] entrptaher commented on #90
If this is the case, then there can be something called `spinoff` or `uses` where different people uses realworld to solve different problem which will not be much moderated, but used to show how realworld is actually being used on realworld contexts.

This is already written as `Community created resources` but doesn't have any forks or spinoffs listed under that. Thus this is still an empty spac

[2018-05-15 21:38] entrptaher commented on #217
Will follow up on that issue, thanks.

[2018-05-15 21:38] #217 closed

[2018-05-18 14:04] Utwo commented on #156
@EricSimons , @Cameron-C-Chapman The codebase is ready for the review. Thank you in advance!

[2018-05-18 14:09] jihchi commented on #196
Hi @Cameron-C-Chapman , The codebase is done.

[2018-05-18 14:14] anishkny commented on #196
@jihchi awesome! Do you think you could fill out README sections on How it works, getting started etc? Also, would be great if there was a hosted demo we could look at?

Cheers!

[2018-05-18 14:16] jihchi commented on #196
@anishkny Wow, thank you for so fast response.

I'm working README, unit test and hosted demo.
I'll update here when its done.

[2018-05-18 16:01] jihchi commented on #196
@anishkny I've completed README, minimum unit test and hosted demo.

[2018-05-18 16:12] anishkny commented on #196
Great. Played around a little bit and looks good. For some reason I am seeing different fonts compared to the [React/Redux Demo](https://react-redux.realworld.io/), but rest seems awesome.

[2018-05-19 01:07] jihchi commented on #196
@anishkny I forgot to delete unused CSS. Its back to normal. Thank you.

[2018-05-19 01:28] jihchi commented on #196
I haven't found #136  before (tried [search](https://github.com/gothinkster/realworld/search?q=reason&type=Issues) but didn't see it).

[2018-05-19 16:31] Cameron-C-Chapman commented on #214
This might be an issue with the deployed instance which is the rails backend implementation.

We can try running against one of the other back ends to see if we can reproduce and if not we probably should file this as an issue in that repo.

[2018-05-19 16:34] Cameron-C-Chapman commented on #171
@geoidesic I labeled this mobile because I saw Quasar supported deploying to mobile, I added the frontend label to better categorize it. We don't really have a desktop category but I guess we could, it would be cool to see what this looks like as a desktop app or even an electron version.

[2018-05-19 16:51] Cameron-C-Chapman commented on #90
@entrptaher We're definitely open to people using the real world spec to demonstrate specific use cases. We don't really have the first example of that yet, I almost think once we get a good example of someone using realworld to demonstrate specific ideas we can figure out how to categorize that.

At the very least we would definitely get it on the main readme and call attention to it. I agree it

[2018-05-19 17:42] Cameron-C-Chapman commented on #196
Looks good to me too! Nice work @jihchi!

I didn't realize there was 2 ReasonML implementations in progress. Looking at the issues it looks like it was complete awhile ago also. 😬

@jihchi you mind taking a look and seeing if there is anything different between the 2 repos approaches? We should probably add them both to the README so it would be nice if there was some difference (version, architec

[2018-05-19 21:06] anishkny opened #218 "Nuxt.js"
Trying out a RealWorld FE implementation using [Nuxt.js](https://nuxtjs.org) over at [anishkny/realworld-nuxt](https://github.com/anishkny/realworld-nuxt)

[2018-05-20 13:27] jihchi commented on #196
@Cameron-C-Chapman

There are some different between tech stack:

Tool | gothinkster/reasonml-realworld-example-app | jihchi/reason-react-realworld-example-app
---|---|---
Version of ReasonReact | `^0.2.4` | `0.4.1`
Version of BuckleScript | `2.0` | `3.0`
JS Bundler / Dev-server | Custom Webpack config | react-scripts@next
Client-side Routing |`bs-director` | ReasonRouter's built-in router
Testing

[2018-05-21 01:29] tanem commented on #212
Hey @Cameron-C-Chapman, I just merged down a bunch of stuff re `docker-compose`, so I think the repo is ready for at least an initial glance? 👀

I've noted it in the testing part of the `README`, but the project is passing it's internal test suite as well as the [`realworld-server-tester`](https://github.com/agrison/realworld-server-tester).

There's definitely more that can be done to improve thi

[2018-05-23 17:04] Roustalski opened #219 "Serverless+Typescript with AWS as the provider (Lambda, SSM, DynamoDB)"
https://github.com/bakerstreet-industries/aws-realworld-starter
No EC2 instances required.

- [X] 🏁Fork the starter repo & post the link in this issue
- [X] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final codebase by admins/community (RFC)
- [ ] 🎉 Tag v1 release and offi

[2018-05-24 10:16] nea opened #221 "NativeScript (Angular)"
Hi

I created a [NativeScript](https://www.nativescript.org/) (Angular) mobile frontend implementation of Conduit.

Go check out the source at the repository or the app on the [Google Play Store](https://play.google.com/store/apps/details?id=com.insanitydesign.nativescriptrealworldexampleapp&referrer=utm_source%3Dgithub%26utm_medium%3Dissue%26utm_content%3Drealworld). I released an open beta as I

[2018-05-25 20:04] skanjo commented on #163
@leosilvadev Help is welcome. Do you have much experience with vert.x? I have limited experience and was trying to learn as I went along. Lately I have been deep in clojure and not spending time on this.

[2018-05-25 20:09] leosilvadev commented on #163
Hi @skanjo, yes, I do. I can work on this then, will finish up some pending things and start beginning of June

[2018-05-25 22:48] skanjo commented on #163
Sounds good!

[2018-05-26 17:21] vladfaust opened #223 "Crystal (Onyx)"
Hello all, I've implemented [Crystal](https://crystal-lang.org/) version of Conduit and called it [Crystal World](https://github.com/vladfaust/crystalworld). ~~It has some issues to fix and then it's ready to go (as much as a Crystal application can be :sweat_smile:).~~

~~I haven't tested it with front-end implementations though (apart from Postman collection).~~
Included integration tests in the

[2018-05-26 20:49] boxyoman commented on #73
I made an implementation in Haskell. I used servant for the API and Beam for the database. Not really sure what else I should do with it.
https://github.com/boxyoman/haskell-realworld-example

[2018-06-09 15:22] recoilme opened #226 "Golang + Slowpoke"
Hi,
Work in progress at https://github.com/recoilme/golang-gin-realworld-example-app
Slowpoke: https://github.com/recoilme/slowpoke
After finishing backend - i will start full stack on it

[2018-06-10 01:55] SUP3RIA commented on #216
@xesina Are you still working on this? Would love to see this getting finished!

[2018-06-10 06:10] xesina commented on #216
@SUP3RIA Yes, I've tested it with React/Vue frontend and it's fully working now
It just needs a little bit of clean up and docs. I'm getting it ready by the end of this week.

[2018-06-10 14:00] eavichay commented on #215
ping?

[2018-06-10 18:03] reiswindy commented on #112
Hi, I'm interested in continuing this project. I've been trying to contact the original author for days but haven't received any response, and the project has been inactive for almost a year. I currently have a fork of it with most (if not all) of the implementation of Conduit's functionality (https://github.com/reiswindy/kemal-realworld).

[2018-06-11 11:12] Spenhouet commented on #124
Does this project still exist? The repository doesn't and the TODO list doesn't show any progress.

[2018-06-12 18:44] Cameron-C-Chapman commented on #124
@Spenhouet would you be interested in taking over? Since you pointed out that the user and repo don't even exist anymore I'll go ahead and close it unless you want to take over the progress.

[2018-06-12 18:50] Cameron-C-Chapman commented on #21
@anishkny Is this really still active? Can we go ahead and close it?

[2018-06-12 18:53] Cameron-C-Chapman commented on #22
Hi @Alonski, @snewcomer 😄 Is this branch still active? We're trying to clean up the open issues a bit. If you're still planning on knocking this out no problem keeping it open, but if you've moved on maybe we change the status to seeking engineers or close it? What do you think?

[2018-06-12 19:01] #55 closed

[2018-06-12 19:11] Cameron-C-Chapman commented on #31
Hi @adamhathcock 😄Are you still working on this at all? We're trying to clean up some of our open issues. We could keep this open, close it out, or change the label from WIP to Seeking Engineers.

Any thoughts?

[2018-06-12 19:59] Spenhouet commented on #124
@Cameron-C-Chapman Thank you for taking action. Sorry, I do not have the time for that.

[2018-06-13 11:52] greyseal opened #228 "Vertx + Reactive + MongoDB"
An exemplary real-world application to showcase the awesomeness of [Vertx](https://vertx.io/).
I will start working on this soon. However, any help would be appreciated.

[Github](https://github.com/greyseal/vertx-realworld-example-app)

[2018-06-13 13:44] Cameron-C-Chapman commented on #124
Since the user and repo don't exist anymore I'm going to close this.

[2018-06-13 13:44] #124 closed

[2018-06-13 13:45] Cameron-C-Chapman commented on #112
Sounds good @reiswindy. Just let us know here when you are ready to have it reviewed and added and we'll get you added to the main readme.

[2018-06-13 14:57] snewcomer commented on #22
I have this PR out there.  I'll work on updating this Friday and ping you when it is done!

https://github.com/gothinkster/ember-realworld/pull/30

[2018-06-13 17:47] anishkny commented on #21
Abandoned in favor of [GCP Cloud Functions + Datastore](https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app) BE implementation. Please reopen if anyone else wants to work on this.

[2018-06-13 17:47] #21 closed

[2018-06-14 08:31] Alonski commented on #22
@Cameron-C-Chapman I would like to continue working on this and thanks for the update.
@snewcomer Lets try to have a chat sometime soon over how to get this implementation done?

Finding time for projects like these is hard 😄

[2018-06-14 09:17] vahidvdn opened #229 "RealWorld example for NativeScript?"

[2018-06-14 11:22] anishkny commented on #229
@vahidvdn currently seeking engineers #96

[2018-06-14 11:22] #229 closed

[2018-06-15 00:53] Cameron-C-Chapman commented on #22
Sounds good @Alonski 😄

[2018-06-18 17:01] vladfaust commented on #223
CrystalWorld got [v0.1.0-ed](https://github.com/vladfaust/crystalworld/releases/tag/v0.1.0), RFC!

[2018-06-21 09:15] recoilme commented on #226
Looks like finished!)
![](https://habrastorage.org/webt/6j/po/zk/6jpozk_jqjx2dhm-3ss_-l7fcp0.png)

[2018-06-22 02:42] abs-zero opened #232 "Graphql Implementation"
I think it would be a good idea to include GraphQL implementation too. Although it might differ from REST API spec, we should be able to make it closer by designing schemas around it.

[2018-06-22 02:52] abs-zero commented on #232
Closing this as this seems to be already discussed. Apologies for missing it.

[2018-06-22 02:52] #232 closed

[2018-06-22 03:11] abs-zero opened #233 "Typescript Apollo React Fullstack"
This will be a fullstack implementation of real world app -- backend in Typescript Apollo server and frontend in Typescript React Apollo.

# Status
https://github.com/abs-zero/typescript-apollo-react-fullstack-realworld-example-app

- [x] :checkered_flag: Fork the starter repo & post the link in this issue
- [ ] :art: Create logo for repo & update issue status (@EricSimons)
- [ ] :hammer: Implemen

[2018-06-22 09:31] recoilme commented on #226
@weitzhandler  got released [v0.1](https://github.com/recoilme/golang-gin-realworld-example-app/releases/tag/v0.1)

[2018-06-22 10:33] recoilme opened #234 "Fullstack Golang (tgram)"
Work in progress here: https://github.com/recoilme/tgram

Based on golang/gin/slowpoke backend: https://github.com/recoilme/golang-gin-realworld-example-app

It will use Gin, Slowpoke and vanilla javascript

I have plans do it more close to "real world" then usually
With the medium like editor, medium like looks and feel and so on. But i am not good web developer any help - welcome!

[2018-06-22 10:35] recoilme commented on #226
Fullstack golang app -  based on this backend - will live in the separate repo. Issue:
https://github.com/gothinkster/realworld/issues/234

[2018-06-22 11:14] recoilme commented on #216
looks clean!

[2018-06-22 18:08] anishkny commented on #37
This project is being [actively worked on](https://github.com/anishkny/realworld-dynamodb-lambda/graphs/contributors)

[2018-06-25 15:50] soywiz commented on #138
I have implemented a realworld backend using ktor and mongodb here: https://github.com/soywiz/realworld-kotlin

[2018-06-25 16:07] AndreasVolkmann commented on #138
@soywiz Hi there, no it's not finished. Mainly I am waiting for the optional auth feature before proceeding. I see you build it manually in your repo.

Is your's feature complete yet? Of course we can / should merge.
One thing that I would change in your setup is the use of Mongo.
I use an in-memory H2 DB which makes it lighter and easier to try out locally, because you do not have to install any

[2018-06-26 12:32] soywiz commented on #138
@AndreasVolkmann Nice. FYI: We have just released 0.9.3 that supports optional authentication.

[2018-06-26 19:22] xesina commented on #216
@Cameron-C-Chapman I think it's ready. I wrote the minimum tests and also tested it with react and vue frontend

[2018-06-27 03:46] devinivy opened #237 "hapi pal"
Working on a backend implementation using [hapi pal](https://hapipal.com/), a suite of tooling and methodologies for building nodejs web services with hapijs.  The model layer is based upon [Objection ORM](https://github.com/Vincit/objection.js).

Track progress here! https://github.com/devinivy/hapipal-realworld-example-app

- [x] Fork the starter repo & post the link in this issue
- [x] Create l

[2018-06-27 15:32] AndreasVolkmann commented on #138
@soywiz Yeah I saw it 👍 Great job by the way.
Again, is you version feature complete yet?
I see no reason to maintain two separate repos.
We have a couple of options afaik:
* Merge your code into my project
* Deprecate my project and use yours from now on

[2018-06-27 21:10] soywiz commented on #138
My version is feature complete as far as I know, but it's a bit quick and dirty and needs reviewing and a bit polishing.

Using h2 to not have external dependencies is a good idea for people to use it, but I also think that using another readical different db engine like mongodb provides value to show another way of doing things.
I think that realworld won't require too much effort maintaining onc

[2018-07-03 19:20] JosemyDuarte commented on #163
Hi! I don't have to much experience with Vertx, have tried some dummy things on my laptop but nothing professional. But I would like to help you and get some experience along the way. I will try to get some feature ready on the repo.

[2018-07-10 10:10] recoilme commented on #234
<img width="652" alt="screen shot 2018-07-10 at 13 08 03" src="https://user-images.githubusercontent.com/417177/42503827-5c2c7ae2-8442-11e8-880e-890b4a08d1dd.png">

<img width="803" alt="screen shot 2018-07-10 at 13 09 26" src="https://user-images.githubusercontent.com/417177/42503877-86b83044-8442-11e8-9fb0-cf43b39dc41c.png">
First alpha (technical build) - may be available here:
http://tgr.am/

[2018-07-10 10:15] recoilme commented on #226
This backend is finished 18 days ago. Does someone take a look at it?
@Cameron-C-Chapman ?

[2018-07-10 10:30] recoilme commented on #216
@xesina i like your work. Take a look please on my version of totally refactored realworld app
https://github.com/gothinkster/realworld/issues/234
I start from scratch this project - and if you like it and have time -  it's open source and opens for contributors. Not finished now, but looks promising

[2018-07-12 02:09] skanjo commented on #163
Well we are in the same boat then for the most part.

[2018-07-14 16:52] Cameron-C-Chapman commented on #212
I think this looks awesome @tanem! Great work! I'll go ahead and get this added to the main repo.

Awesome job! 🎉

[2018-07-14 17:49] Cameron-C-Chapman commented on #96
#221 looks like our first NativeScript implementation! I'll close this for now and let anyone who wants to implement in anything other than Angular open a new PR at the time.

[2018-07-14 17:49] #96 closed

[2018-07-15 02:39] tanem commented on #212
That's great 😃 Thanks for taking the time to do this!

[2018-07-15 10:11] xesina commented on #216
@Cameron-C-Chapman This is finished about 20 days ago, can you take a look at this?

[2018-07-17 16:20] recoilme commented on #234
Looks like finished, but i use another design and UI, not from realworld.io
I think my version is much more functional. More "real"
Demo: [http://tgr.am/](http://tgr.am/)

[2018-07-17 16:24] recoilme commented on #234
Screenshots if my site will down:
User pages:
<img width="680" alt="screen shot 2018-07-17 at 19 21 36" src="https://user-images.githubusercontent.com/417177/42831331-bab351d0-89f6-11e8-9dca-477d0de987c1.png">
<img width="813" alt="screen shot 2018-07-17 at 19 23 24" src="https://user-images.githubusercontent.com/417177/42831403-e9b591b4-89f6-11e8-8cf7-a058596eb0aa.png">

[2018-07-18 19:49] dostu commented on #6
I have done a GraphQL implementation with React + Apollo front-end and Ruby on Rails back-end.
Front-end - https://github.com/dostu/react-apollo-realworld-example-app
Back-end - https://github.com/dostu/rails-graphql-realworld-example-app
Demo - http://realworld-react-apollo.herokuapp.com/

Would be great to see other implementations, and mix and match them like we can with the REST API. For that,

[2018-07-20 08:47] madnight commented on #140
any progress?

[2018-07-26 23:38] anishkny commented on #196
Pinged the ReasonML [Discord](https://discordapp.com/invite/reasonml) to get a review!

[2018-07-28 14:51] Madsn commented on #196
I tried cloning and running the repo, exactly as described in the readme - I'm getting a lot of CRA linting warnings on the generated JS.

e.g.
[code]

[2018-07-28 14:57] jihchi commented on #196
@Madsn

Yes, It works as expected. It's just warning, you still could start & build the project.

[2018-07-29 07:53] Madsn commented on #196
A bucklescript hook to add eslint ignore comment to the top of the file *might* remove the linting errors, depending on if the hook is run before or after the file is actually saved to disk and then caught by the linter.

Not ideal for sure, would be a bit of a performance hit, but might be less of a performance cost than linting the generated files.

https://bucklescript.github.io/docs/en/build-c

[2018-07-30 08:52] cylim commented on #10
I am willing to take over the task. :)

I had created a [react-native repo](https://github.com/cylim/realworld-rn) which copied the redux and http code from [react redux real world example app](https://github.com/gothinkster/react-redux-realworld-example-app). It successfully retrieved tags, so I would expect it to be working fine.

What I am going to do
1. Wireframes for the Mobile App, get appro

[2018-07-30 12:41] amadeu01 commented on #175
@Cameron-C-Chapman Actually, it is not a mobile. It is a server-side (backend) application. `Vapor` is like Django (Python), Rails (Ruby), Express (Node)... Just a webframework

[2018-07-30 12:44] amadeu01 commented on #175
Hi @Cameron-C-Chapman

Actually, Vapor is a web framework just like Django, Rails, Express. That is not a mobile project.

[2018-07-30 12:45] amadeu01 commented on #175
Hi @EricSimons

Sorry for bothering you, but do you have some time to make the logo for the repository?

[2018-07-31 00:47] cylim commented on #10
<img width="1134" alt="example" src="https://user-images.githubusercontent.com/5622951/43431000-65147c56-949e-11e8-8c88-6007d5c86b27.png">

Is this two screen okay?

[2018-07-31 11:32] william-gross opened #243 "Enterprise Web Library fullstack"
This is a fullstack implementation using a built-in UI, so it looks different from the templates, but all functionality is there.

Repo: https://github.com/enduracode/ewl-realworld-example-app
Demo: http://ewl.enterpriseweblibrary.org/RealWorld
Blog post: http://enterpriseweblibrary.org/blog/2018/7/24/the-smallest-realworld-implementation

It would be great to have this listed on https://realworld

[2018-08-01 17:49] anishkny commented on #37
V1 functionality is complete 🎉

@Cameron-C-Chapman would you mind kicking around the [tires](https://github.com/anishkny/realworld-dynamodb-lambda)?

[2018-08-02 21:08] err0r500 opened #245 "Go Clean Architecture"
Hey,
Another golang backend but using clean architecture : https://medium.com/@matthieujacquot/clean-architecture-in-golang-7ebafe4c70db

repo : https://github.com/err0r500/go-realworld-clean

[2018-08-03 18:36] vegarringdal opened #246 "Mframejs"
Made a sample with a framework I made last year
Was thinking I could submit it, but maybe having my own hobby project here isnt a good thing ?
Tried it it the chrome audit, did not do too bad, but maybe all others have not been updated lately
Its not bug free, but Ive had a lot of fun with it with fusebox bundler and stackblitz.

**Demo:**
https://mframejs.github.io/mframejs-sample-realworld/dist/

[2018-08-04 15:10] #212 closed

[2018-08-04 15:12] unckleg opened #247 "Zend Framework"
Hi! I'd like to implement the backend with **Zend 3 Framework**, if I find time 'll try to port it to **Zend expressive**.

Repo link is: [https://github.com/unckleg/realworld-zendframework](https://github.com/unckleg/realworld-zendframework)

Tomorrow 'll be first commit :)
<hr>

- [x] Mirrored readme.md from the starter repo & post the link in this issue
- [x] Create logo for repo & update issue

[2018-08-04 15:39] Cameron-C-Chapman commented on #216
@xesina Sorry for the delay.

I started taking a look at this but ran into some issues. I'm not super familiar with go so it might be an obvious path related issue but since the instructions should be easy to follow for a beginner I think it's relevant.

I can't add an issue directly to your repo so I'll add the issue here.

Following the directions exactly I run into this issue:

[code]

Maybe so

[2018-08-04 15:45] Cameron-C-Chapman commented on #234
@recoilme this looks really cool!

Does this implement the realworld spec though? This looks like a similar but different project, is the backend api the realworld api? If not I'm not sure we'd want to add it as a realworld project. We could add it as a community project possibly but the value of everyone adhering to the same specification is that every comparison is "apples to apples". This might

[2018-08-04 15:58] Cameron-C-Chapman commented on #37
This looks amazing @anishkny!

I'm getting an error about an invalid cookie. Do you know why and/or how to remedy that?

I tried to POST a new user and get all articles and got the same error.

[code]

[2018-08-04 16:04] Cameron-C-Chapman commented on #246
@vegarringdal I think realworld is the perfect place to show off a framework you created 😄

We'll work on getting it reviewed. If you could create a logo with the same dimensions as the other projects on the main readme that would be a big help.

[2018-08-04 17:06] xesina commented on #216
@Cameron-C-Chapman Thanks for your review. I added detailed instructions and helpful links.
I will update links later to point to this repo on gothinkster.

[2018-08-04 18:25] anishkny commented on #37
Thanks for trying it out @Cameron-C-Chapman. Do you have exact repro steps? Were you using curl/Postman? Was it localhost?

[2018-08-04 21:31] anishkny commented on #37
Thanks for the docs fix. Yeah I have seen weird cookie behavior in Postman before. Closed by #248

[2018-08-04 21:31] #37 closed

[2018-08-04 22:05] vegarringdal commented on #246
@Cameron-C-Chapman

Dont get scared, some parts might be weird :-)
Cant do all the fancy stuff the big frameworks can do.

fixed
also updated some parts

[2018-08-05 11:40] recoilme commented on #234
@Cameron-C-Chapman Hello, thank you for your attention! I started this project as realworld app but now it totally different from backend to frontend. Typegram has the same functionality in many places. Anyway it may be interesting to  realworld community, i don't know
I published it in golang nuts, but with zero comments(
https://groups.google.com/d/msg/golang-nuts/sR2YICtuEgM/uKhEgWyBBgAJ

[2018-08-05 21:28] err0r500 commented on #245
Hi,
I updated the repo, everything should be ok now.
I'll improve the test coverage in the days to come.
If I have something more specific to do, tell me. 😀

[2018-08-06 04:40] devinivy commented on #237
I still need to write the readme, but this is essentially ready for review.  Here's all you need to know to get started,
 - Deployment and configuration is contained in `server/`.  You must `cp server/.env-keep server/.env` then set an `APP_SECRET` in there, used for generating JWTs.
 - Application code is contained in `lib/`.
 - It runs under sqlite3, which is installed during `npm install`.
 - T

[2018-08-06 14:36] lastlink commented on #31
Isn't this the repo? https://github.com/gothinkster/aspnetcore-realworld-example-app

[2018-08-06 14:54] lastlink opened #250 "Flutter Framework"
Another mobile ui framework. Flutter is owned by google.

[2018-08-06 20:26] stefanoslig commented on #178
Hello guys, is there any chance to add this project in the main  list or in the WIP list? It's in the same status for so long time. Thank you!

[2018-08-08 06:51] sluongng commented on #250
Very much interested in this as well.

[2018-08-08 19:36] vegarringdal commented on #246
Dunno if it matters, added it also to stackblitz (love that site)
https://stackblitz.com/edit/mframejs-real-world-v1
Only had to change my `require()` to `import()`, so thats was good.

Also found this a few days ago:
https://developers.google.com/web/tools/lighthouse/run
Made one test:
https://builder-dot-lighthouse-ci.appspot.com/report.1533756838239.html

[2018-08-08 21:47] Cameron-C-Chapman commented on #250
I'm excited to see this one! Add details to this ticket as you make progress 😄

[2018-08-08 22:47] anishkny commented on #178
@stefanoslig sorry for the delay. I played around with the deployed app and also locally **and things look good overall**!

I tried to execute tests but did not work:
[code]

It would be good to document in the README how to run tests, and link to TravisCI/CircleCI if you have it setup.

[2018-08-08 22:53] anishkny commented on #245
This looks very interesting indeed. Could you run the RW API tests by following instructions [here](https://github.com/gothinkster/realworld/tree/master/api#how-to-use-the-supplied-postman-configuration) to ensure it adheres? Thanks!

[2018-08-08 22:57] anishkny commented on #246
Hey @vegarringdal for some reason [your demo](https://mframejs.github.io/mframejs-realworld-example-app/dist/) fonts do not match the [React/Redux demo](https://react-redux.realworld.io/) and other demos. Could you take a look?

[2018-08-08 23:01] anishkny commented on #215
hey @eavichay thanks for putting this together. Could you clean up the README to better align with the one [here](https://github.com/gothinkster/realworld-starter-kit)? Thanks!

[2018-08-08 23:37] vegarringdal commented on #246
@anishkny
Thanks, I didnt notice this.
Im starting to get old, need glasses :-)

Updated the demo.

[2018-08-09 11:51] err0r500 commented on #245
Hi @anishkny !

Thanks a lot. I updated the repo in order to have the tests included (with the testing instructions).

About the postman collection : I just changed the order of some requests in order to have the POST requests before the GET/PUT and the DELETE at the end (because, obviously one can't get something that hasn't been created yet or that has already been deleted).

This way, the whole

[2018-08-09 21:57] stefanoslig commented on #178
hello @anishkny. Thanks for your response. I updated the README as you mentioned and npm test now is working. I need to work on unit tests for libs and this will be one of my first priorities. Of course if someone wants to help, any help is more than welcome.

[2018-08-10 10:53] vegarringdal commented on #246
I was trying to get "Accessibility" in lighthouse audit up.
https://builder-dot-lighthouse-ci.appspot.com/report.1533897942149.html

Getting errors:

But to fix this the main css needs to be updated, is this something you guys are considering ?
This would help all realworld apps.
If I was good at CSS I would have suggested a fix, but CSS does not like me 😂

[2018-08-10 19:52] anishkny commented on #223
Pinged [Crystal Gitter](https://gitter.im/crystal-lang/crystal) for RFC!

[2018-08-10 19:54] anishkny commented on #186
hey @apapacy could you help fill out the README Getting Started section? Thanks!

[2018-08-14 09:45] err0r500 commented on #245
Hey,
I improved the test coverage and discovered while testing with a frontend that articles without comments should return an empty array instead of a null (not covered in newman) along with a few other details of the same kind.
I played a bit with the elm frontend and everything seem to work fine now.
Tell me if it looks good to you :)
Best,

[2018-08-14 19:49] vegarringdal commented on #246
Added service worker + misc
Now all of lighthouse audits are green :-)

Demo:
https://mframejs.github.io/mframejs-sample-realworld/dist/

Tested with this lighthouse test app:
https://developers.google.com/web/tools/lighthouse/run

[2018-08-17 20:10] xesina commented on #216
@Cameron-C-Chapman How Can we proceed on this? It's seems that you're too busy :)

[2018-08-17 20:36] anishkny commented on #216
@xesina do you think you could try and build this project on [TravisCI](https://docs.travis-ci.com/user/languages/go/). This should help prevent machine specific setup pitfalls?

[2018-08-17 23:27] xesina commented on #216
@anishkny Good Idea! thanks, Done.

[2018-08-19 03:56] tzemanovic commented on #202
Hi, I've got this implementation ready. Please, let me know what to do for the next step.

[2018-08-19 12:00] anishkny commented on #202
@tzemanovic this looks amazing! 🙌 a few suggestions:

1. Could you summarize "How it works" in the README itself (its okay if not the whole blog post, at least some key information)?
1. Could you run [Postman API tests](https://github.com/gothinkster/realworld/tree/master/api) against your stack to ensure they work, and maybe even add to Travis YML file?

Great work!!!

[2018-08-21 18:01] anishkny commented on #182
hi @lujakob I tried to run this locally and got following error:

[code]

I renamed `src/config.ts.example` to `src/config.ts` and retried, but got different error:

[code]

[2018-08-21 18:12] anishkny commented on #156
@Utwo could you run Postman API tests specified here: https://github.com/gothinkster/realworld/tree/master/api

Thanks!

[2018-08-21 18:16] anishkny commented on #138
@AndreasVolkmann @soywiz did we settle on a final merged version of this repo? If so could we get this building on TravisCI. It really helps get rid of system dependent hacks and gets everyone on the same page. Thanks!

[2018-08-21 18:20] anishkny commented on #226
@recoilme I noticed that `go test` was removed from [`.travis.yml`](https://github.com/recoilme/golang-gin-realworld-example-app/blob/master/.travis.yml#L18). Any reason for that? Also could you try running Postman API tests shown [here](https://github.com/gothinkster/realworld/tree/master/api). Thanks!

[2018-08-21 19:16] Cameron-C-Chapman commented on #31
Ya, @lastlink I think you're right. Thanks for pointing that out. I'll close this out then since it looks complete.

[2018-08-21 19:16] #31 closed

[2018-08-21 19:35] Cameron-C-Chapman commented on #178
Hi @stefanoslig. This looks awesome 😄

All the tests are passing but I do see some strange behavior where after the initial 3 tests pass the console doesn't free up, and when I try to kill it, it kicks off some new compilation and take a few tries to kill the console. That could just be my machine but something to be aware of.

It looks good to me, we'll get it added to the main readme soon. Thank

[2018-08-21 21:06] #178 closed

[2018-08-22 07:31] adamhathcock commented on #31
Oops, sorry.   I didn't see this earlier.  I've been working and maintaining the repo :)

[2018-08-22 08:43] recoilme commented on #226
@anishkny
go test: No reason.  I fork this repo from this realworld example:
https://github.com/gothinkster/golang-gin-realworld-example-app/blob/master/.travis.yml
- didn't see what go test commented( i uncomment this

I try. You have many errors in tests, fix it, please
For example your tests scripts send:
 Create Article POST http://127.0.0.1:8081/api/articles [201 Created, 822B, 26ms]
 Delete

[2018-08-22 09:02] recoilme commented on #226
and in general - don't test web app with scripts - it's bad idea
most of errors you may find only with careful manual testing
but i understand what you don't have time for that, so very many submited apps contains errors. All, that i test) But may be that's not critical for education app

[2018-08-22 09:26] recoilme commented on #226
And one more thing - don't use my code in production
I just port this project https://github.com/gothinkster/golang-gin-realworld-example-app
from sqlite to my database - but i don't do any code review

My app, as this app - absolutely ugly. It does very many database requests on each request
That's a terrible part of code what i don't fix, sorry for that.. I just learn from this project.

I fix i

[2018-08-22 09:57] recoilme commented on #226
see https://github.com/gothinkster/realworld/issues/245

[2018-08-22 10:37] soywiz commented on #138
Nothing new from my side. But my proposal is still to finish the H2 version, and once it is published explore options.
@AndreasVolkmann I can help you finish your implementation if you don't have enough time, and if you are accepting PRs

[2018-08-22 14:27] Utwo commented on #156
I pushed some refactoring and I just run all the tests. I have 3 tests failed because the article slug was deleted right before the test.

[2018-08-23 09:18] lujakob commented on #182
@anishkny You have to create config.ts from config.ts.example and also create the TypeORM options file. Copy ormconfig.json.example to ormconfig.json and set your data base access options.

[2018-08-23 10:40] ciarancourtney opened #256 "Migrate to OpenAPI 3"
Any plans to migrate to generic spec? (not swagger)

[2018-08-23 18:12] william-gross commented on #243
@anishkny this framework is designed for rapid development of line-of-business applications. While it would technically be possible to use the RealWorld HTML templates and CSS, this would not be in the spirit of the framework and would likely double the size of the source code. Is there any chance you could list this in a new category, e.g. "Fullstack business application frameworks"?

[2018-08-25 11:14] tzemanovic commented on #202
Hi Anish, thank you!

1. I've had a link to a blog post with overview of the project, but it wasn't very visible, so I've updated it.
2. Thanks for fixing the tests in #255, I've ran them and all are passing except for the timestamp tests like:

[2018-08-26 11:51] kwasniew opened #257 "Hyperapp"
Frontend in Hyperapp.

Status: finished

Codebase: https://github.com/kwasniew/hyperapp-realworld-example-app

Demo: https://hyperapp.netlify.com/

[2018-08-27 02:57] shihuaguo commented on #228
have you started working on this?

[2018-08-27 16:34] greyseal commented on #228
Yeas, I have started this project. Will commit initial version this weekend.

[2018-08-28 07:15] err0r500 commented on #245
Hi,
I don't see any progress in this issue, it's not listed in the main README, so I'm wondering : is something is missing ? What would be the next step ?
Best,

[2018-08-28 12:05] #74 closed

[2018-08-29 16:51] vegarringdal commented on #246
@Cameron-C-Chapman @anishkny
Was there anything more I needed to do btw ?

[2018-08-29 16:52] wilfredonoyola commented on #10
Hi @cylim , Do you have a progress about this?

[2018-08-30 02:33] cylim commented on #10
I had created two screens component and stopped.

Even though React Native can use React Redux store, the React app example from RealWorld is using page-specific redux state. To create good practices React Native app, the redux have to rewrite.

I didn't receive any messages on Gitter and Github Issues; it seems like the community is inactive, that's why I stopped.

[2018-08-30 10:57] blackdeve opened #259 "POST /api/articles works fine on Postman but giving Unauthorized error while requesting from superagent"
Here's my code:
[code]

This is error log of the Articles.create() function.
![issue](https://user-images.githubusercontent.com/36166782/44847524-1eb4ba80-ac97-11e8-8807-41f7b2b68cde.png)

Is there anyone who can fix this issue for me?
Thanks in advance!

[2018-08-30 13:00] anishkny commented on #259
Which backend implementation are you running?

[2018-08-30 13:10] blackdeve commented on #259
Node.js + Koa.js backend

[2018-08-30 13:13] anishkny commented on #259
Could you please open an issue on that repo? Thanks!

[2018-08-30 13:13] #259 closed

[2018-08-30 23:26] tzemanovic commented on #202
With the updates from #255 and #260, this is passing the postman tests now:

[code]

[2018-08-31 00:08] anishkny commented on #202
Fantastic!

[2018-08-31 15:08] #202 closed

[2018-08-31 15:16] Cameron-C-Chapman commented on #182
@lujakob would it make sense to add those instructions to the readme?

I think the expectation should be that people who aren't familiar with nestjs, typeorm, or even typescript might want to use this project as their first venture into it. Anything that might seem obvious to people familiar with those technologies but not to someone totally new should be called out if possible.

[2018-08-31 15:26] Cameron-C-Chapman commented on #246
@vegarringdal we just need to validate it works with the realworld backends and it adheres to the front end spec. I'm on vacation starting in a few hours and won't be able to take a look until probably next week.

Sorry for the delay and please keep pinging us if you don't hear back soon.

[2018-08-31 16:56] vegarringdal commented on #246
@Cameron-C-Chapman
Thanks for the feedback, just wanted to know if you guys where waiting for me.
Hope you have a nice vacation  :-)

[2018-09-03 07:17] greyseal commented on #228
I have added the initial code. Any help would be appreciated.

[2018-09-04 09:33] lujakob commented on #182
@Cameron-C-Chapman I updated the Readme to include the info about copying the config.ts. Do you have further suggestions for improvement on the docs?

[2018-09-05 05:30] codeyu commented on #123
Hi, @dmytrohridin ,yes, thank you. I've added you as a contributor to this repository: https://github.com/codeyu/nancy-realworld-example-app/invitations .

[2018-09-06 18:35] mindplay-dk opened #262 "Making RealWorld “realer” (2.0?)"
This past year I’ve been trying out lots of different front end libraries, and was very happy to discover this project and the community around it.

I’ve been thinking about posting this comment for a while, as I’ve noticed these libraries have a fundamental design difference that RealWorld in its current form doesn’t account for: modularity and reuse.

It seems front end libraries fall into two c

[2018-09-10 03:38] scottpage opened #264 "I wish GitHub had a kudos tab, thanks for this!"
Outstanding work!  You bunch are a lifesaver.  I'll be helping you where I can too.

[2018-09-10 10:39] gdotdesign opened #265 "Mint"
I've implemented the realworld frontend in [Mint](https://www.mint-lang.com).

Mint is a language which compiles to JavaScript and it's also a framework which means that there are no third party dependencies other than the standard library.

Source: https://github.com/mint-lang/mint-realworld
Demo: https://realworld.mint-lang.com

There are a few difference to other implementations:
* since Mint h

[2018-09-11 00:19] justin808 opened #266 "Example of React Server Rendering with Rails?"
* Have you thought of making an example with [React on Rails](https://github.com/shakacode/react_on_rails)?
* Any interest in server rendered react for SEO?

If anybody wants to work on this, feel free to [email me](mailto:justin@shakacode.com) and I can send you an invite to our Slack workspace. I'd be happy to provide a code review.

[2018-09-11 01:57] Cameron-C-Chapman commented on #246
@vegarringdal is there something special I need to do to get the `manifest.json` file? I'm getting an error due to a missing file when I run watch or build.

I'm on node v.8.11.2.

[code]

[2018-09-11 04:13] Cameron-C-Chapman commented on #182
@lujakob that worked for me and it's looking great. Awesome job (nestjs is on my short list of things to dig more into so I'm excited about this one 😄)

The only thing I would maybe add is a note about needing to create a database called `nestjsrealworld` in the mysql instance referenced in the config before starting, along with maybe a sample call so the port is easily visible. Different framewor

[2018-09-11 04:31] Cameron-C-Chapman commented on #262
Hi @mindplay-dk 😄

So is your thought that we should break down the front end spec into individual components with some guidance on component state management?

I think that works for most frameworks and could be super useful as a learning tool when digging into a particular framework. It could certainly make realworld more realworld (see what I did there 😂)

The downside in my opinion is the the

[2018-09-11 04:32] Cameron-C-Chapman commented on #264
Thanks @scottpage 😃

[2018-09-11 07:16] lujakob commented on #182
@Cameron-C-Chapman The readme is updated. I really like NestJS, go for it ;-)

[2018-09-11 18:04] vegarringdal commented on #246
@Cameron-C-Chapman
Lets hope everything goes well next time you get time.
Even took and tested it on my new "dev" unbuntu vmware image :-)

[2018-09-11 19:17] mindplay-dk commented on #262
Not at all :-)

I don't think we can/should provide any general guidance on component state management, or anything else that resembles architecture - because this is where the frameworks differ. The spec shouldn't dictate anything other than the expected end result - each implementation should leverage whatever concepts are available in the selected frameworks/libraries. That's sort of the whole

[2018-09-11 22:06] lastlink commented on #262
For me how state/route is implemented should be for each example. I do wish that there was a forgot password built into all the examples, and a few examples of uploading files for each framework which would save many people time.

[2018-09-12 15:26] mindplay-dk commented on #262
@lastlink I think those issues are interesting, but unrelated and belong in a separate discussion.

[2018-09-13 13:46] starketin commented on #209
Hi @BennyM,

is there any progress on this? I'm currently looking for a reference application using Azure Functions.

Thx
Simon

[2018-09-14 03:42] #182 closed

[2018-09-20 20:11] loganpowell opened #269 "Functionality Testing"
It seems that some of the apps aren't actually functioning properly. The only one I've had complete success with is the Keechma app so far:

## Quick summary of non-functional features

Framework | Routing        | Tagging          | Article          | Profile       | Other
---       | ---            | ---              | ---            | ---           | ---
Angular   | home (logo)    | article tag

[2018-09-21 03:28] Cameron-C-Chapman commented on #269
This is an awesome break down @loganpowell! Thanks for taking the time.

This does really point out an issue with our front end validation. For the most part we follow the instructions in the projects readme and make sure those work from scratch and the app runs. Then we sort of smoke test it for some basic functionality.

I've known this is a gap on the front end projects for awhile. This isn't n

[2018-09-21 15:55] dnikolovv opened #270 "ASP.NET Core Using Functional Programming with C#"
# Current Status

- https://github.com/dnikolovv/dev-adventures-realworld

![postman-tests](https://devadventures.net/wp-content/uploads/2018/09/conduit-tests.png)

![newman-tests](https://devadventures.net/wp-content/uploads/2018/10/newman-passing.png)

# Todo:

- [x]  🏁 Fork the starter repo & post the link in this issue
- [x]  🔨 Implement all of Conduit's functionality per the spec & API
- [x]

[2018-09-21 18:56] dnikolovv commented on #270
You're definitely right! I'll take up on that soon.

[2018-09-21 21:44] vegarringdal commented on #246
Have some changes I want to do
Lets put this on hold for now until I get time to do it.

[2018-09-21 21:44] #246 closed

[2018-09-22 11:35] itsmeguru786 opened #271 "Conduit.postman Environment File Missing for import"
Hi,

There is mention to import in online tutorial for managing environments for https://raw.githubusercontent.com/gothinkster/realworld/master/api/Conduit.postman_environment.json but this is not available in the repo.

Is this missing or the file name or repo path has changed?

[2018-09-22 12:29] anishkny commented on #271
Which online tutorial are you referring to?

This file was recently removed as unnecessary: 8547f1da42c32ab3fe8f70f089adf12d00ff1aac

[2018-09-22 21:45] anishkny commented on #269
How do we ensure manual acceptance tests get run regularly/on every commit?

I took a crack at writing [Puppeteer based E2E tests](https://github.com/anishkny/realworld-e2e-test) for the React/Redux Frontend (against NodeJS Backend). This could be used as a starting point for more generic acceptance test bed.

[2018-09-23 04:41] itsmeguru786 commented on #271
No probs. I created my own environment variable and is good.

On Sat, Sep 22, 2018, 5:59 PM Anish Karandikar <notifications@github.com>
wrote:

[2018-09-23 14:57] navinkumarr opened #272 "Rust / Rocket / Diesel / Mysql - Backend Application"
https://github.com/navinkumarr/rust-realworld-example-app

[2018-09-23 15:38] anishkny commented on #272
Could you clarify how this is different from: https://github.com/gothinkster/rust-realworld-example-app

[2018-09-23 19:53] dmytrohridin commented on #270
@lastlink @dnikolovv ther is already repository for Nancy and issue
https://github.com/gothinkster/realworld/issues/123

By the way @dnikolovv your implementation is very excited!

[2018-09-24 08:14] navinkumarr commented on #272
Here are a few points because of which I started working on this application. Don't see these in the example application you have posted above.

1. It is built according to the Rocket framework standard (Trying to make a complete application with proper error handling, database connection pooling, support for master/slave architecture for database etc).
2. I have seen many example applications usi

[2018-09-24 13:52] anishkny commented on #272
I am not an expert on Rust. It might be worth discussing with their [contributors](https://github.com/gothinkster/rust-realworld-example-app/graphs/contributors) if this is different enough? @davidpodhola, @leia,

cc: @Cameron-C-Chapman

[2018-09-24 18:09] davidpodhola commented on #272
I will support [the new implementation](https://github.com/navinkumarr/rust-realworld-example-app) by @navinkumarr.
Not only it is using a different database, but also using a different framework; [Rocket](https://rocket.rs/) is nice (note: we did not use it because we were told it is old and un-updated).
Also please note our implementation was done when we were very Microsoft oriented (everything

[2018-09-25 09:35] apapacy commented on #186
@anishkny
Updated:
latest versions of webpack, babel
README Getting Started section

[2018-09-25 13:29] navinkumarr commented on #272
@davidpodhola  Thank you for reviewing the project. Your feedback is much appreciated. Will surely take reference from your application wherever possible.

[2018-09-25 13:52] anishkny commented on #272
Go for it @navinkumarr best luck! Would be good if you could document differences from the first repo.

[2018-09-28 01:42] shihuaguo commented on #228
i'm studing your vertx-boot project，looking forward to this project.

[2018-09-28 19:53] gardient opened #274 "Typescript + Web Components"
# Current status

- codebase in progress: [gardient/realworld-typescript-webcomponents](https://github.com/gardient/realworld-typescript-webcomponents)
- intereseted? Say hi!

# TODO

- [x] 🏁 Fork the starter repo & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@EricSimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to ma

[2018-10-01 17:42] anishkny opened #276 "[Hacktoberfest] "The mother of all demo apps" — Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more 🏅 https://realworld.io/"
Come help us create frontend/backend/fullstack/mobile implementations of the [RealWorld API](https://github.com/gothinkster/realworld/blob/master/api/README.md)! 🎉🎉🎉

Take a look at existing implementations at http://realworld.io/

Help out by contributing/reviewing [WIP](https://github.com/gothinkster/realworld/labels/wip) projects.

Say hi ✋ in our [Gitter chat](https://gitter.im/realworld-dev/m

[2018-10-01 21:28] furkan3ayraktar opened #277 "Clojure with Polylith architecture"
A [Clojure](https://clojure.org) implementation with using [Polylith](https://polylith.gitbook.io/polylith/) architecture:

[https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app)

[2018-10-02 17:19] segmentationfaulter opened #278 "API responding with an error wrongly."
Hi,
What could be wrong with this HTTP request, I am trying to register a user, but as per the error message I am missing something.

[code]

[2018-10-02 17:45] furkan3ayraktar commented on #277
All tests are passing now. Here is a screenshot from tests:
<img width="1123" alt="screen shot 2018-10-02 at 7 34 23 pm" src="https://user-images.githubusercontent.com/3882707/46366443-5be7e000-c67b-11e8-8f41-cc79ede52f1e.png">

[2018-10-03 02:10] segmentationfaulter commented on #278
My bad, I am posting with wrong body.

[2018-10-03 02:10] #278 closed

[2018-10-03 23:55] anishkny commented on #277
Wow! This looks really well thought out! Since API tests are passing, you may want to consider adding them to CircleCI/local testing?

Would you mind reviewing this @tengstrand and James Trunk?

cc: @Cameron-C-Chapman

[2018-10-03 23:59] anishkny commented on #265
@gdotdesign this is awesome. Although to get apples-to-apples comparison, could you make the styling similar to one of the official implementations (say [this one](https://react-redux.realworld.io/))?

You could always have an alternate URL that showcases the builtin styling. WDYT?

[2018-10-04 00:06] anishkny commented on #257
good work @kwasniew !! 🎉

It may be worth it to turn on TravisCI build/test for this repo.

I am seeing this weird bug in my feed when trying locally:
<img width="309" alt="screen shot 2018-10-03 at 8 03 38 pm" src="https://user-images.githubusercontent.com/357499/46445988-ad5da100-c747-11e8-9a33-60474889aad3.png">

Also, when I ran `npm test` locally, I get:
[code]

[2018-10-04 05:55] Misophistful commented on #277
Hi Anish, I'm not sure what you'd like us to review - the tests? We were sat next to Furkan when he ran them, so I can confirm that they're working. Adding the tests to CircleCI is a great idea, and Furkan will do that today.

[2018-10-04 08:42] norayr93 commented on #111
It will be awesome to wirte it in typescript , also react with typescript.

[2018-10-04 10:54] gdotdesign commented on #265
It is possible to apply the same CSS and templates but it would require refactoring which I don't have time now.

The other option would be making it look like the original design using built in styles but it still would not be a fair comparison.

I'm OK if it's not listed as a proper frontend, I just was hoping that it would be listed somewhere :)

[2018-10-05 16:11] PitPik opened #279 "CircularJS"
Hi guys,
I created an [implementation](https://github.com/PitPik/circularjs/tree/master/conduit) of conduit with my framework called [CircularJS](https://github.com/PitPik/circularjs).
You can see [a demo](https://pitpik.github.io/circularjs/conduit/src).

This implementation is quite small and fast (~535 sloc implementation, 25KB including the framework and [marked.js](https://github.com/markedjs

[2018-10-07 07:53] pvinis opened #280 "react-native (using rxjs)"
i noticed that the react native fork didnt finish, and i wanted to do one with rxjs anyway, so ill just do it here.
repo is here: https://github.com/pvinis/realworld-react-native-rxjs

[2018-10-09 06:56] furkan3ayraktar commented on #277
@anishkny when can we add this one to the main Readme and close this issue?

[2018-10-09 14:36] anishkny commented on #277
Hey @furkan3ayraktar it looks great to me. I didn't realize the authors of Polylith have reviewed the repo. I would like one more admin to take a look before adding.

[2018-10-09 14:42] anishkny opened #281 "Badges for completed repos?"
What does the community think about README badges for completed repos. Say:

[![RealWorld Backend](https://img.shields.io/badge/realworld-backend-%23783578.svg)](http://realworld.io)
[![RealWorld Frontend](https://img.shields.io/badge/realworld-frontend-%23783578.svg)](http://realworld.io)
[![RealWorld Mobile](https://img.shields.io/badge/realworld-mobile-%23783578.svg)](http://realworld.io)
[![Re

[2018-10-09 16:21] Cameron-C-Chapman commented on #277
Hi @furkan3ayraktar this looks awesome!

I went through the getting started instructions and ran into an issue.

`lein ring server-headless` tells me `ring is not a task`

and when I try to use

`lein run` I get `No :main namespace specified in project.clj.`

I used the homebrew method of installing Leiningen, am I on a version that doesn't know about `ring` or do I need to be in a different direc

[2018-10-09 16:31] dnikolovv commented on #270
Hey @anishkny. Since all tests are passing now, may we move this one into a "review" stage?

[2018-10-09 16:47] anishkny commented on #270
@dnikolovv would it be possible have build/test setup in something like [TravisCI](https://docs.travis-ci.com/user/languages/csharp/) or [AppVeyor](https://www.appveyor.com/docs/build-configuration/)?

[2018-10-09 21:34] Cameron-C-Chapman commented on #281
I think it looks awesome 👍

[2018-10-09 21:39] Cameron-C-Chapman commented on #256
Sorry for the super late reply @ciarancourtney 😬

There are no plans to update the spec that have really progressed much.

We could include both specs and let the implementers choose what makes the most sense for their tooling, or just vote on one over the other and update the spec accordingly. As long as there aren't incompatibilities with the way the API is structured/implemented I don't see any

[2018-10-09 21:44] Cameron-C-Chapman commented on #279
Hi @PitPik 😄

You're correct, this issue is how you get the process going. We'll take a look and work on getting it added to the README.

Thanks for putting this together!

[2018-10-10 07:36] asahasrabuddhe commented on #219
What's the progress here?

[2018-10-10 08:32] furkan3ayraktar commented on #277
Hi @Cameron-C-Chapman

Did you try to run command ```lein ring server-headless``` under root folder of the project? This command needs to be run under ```environments/development``` folder.

Let me know if this makes it work.

[2018-10-10 12:50] dnikolovv commented on #270
@anishkny Of course! I've added TravisCI.

[2018-10-10 13:11] Roustalski commented on #219
Howdy. Been a busy season post-summer. Hoping to pick this back up towards the end of this month or next.

[2018-10-10 13:47] Cameron-C-Chapman commented on #277
That worked like a charm 😄

I would suggest adding that information to the getting started instructions just so people who aren't familiar with the setup don't get tripped up. This looks like an awesome implementation with really thorough documentation, nice work!

#282 will add it to our list of backend implementations and it should show up in the README within the next couple of days (we have so

[2018-10-10 13:47] #277 closed

[2018-10-10 14:45] Misophistful commented on #277
Thank you for adding this project to the list!

Is there any chance of renaming it to "Clojure / Polylith"? Then it will match the naming pattern of the other projects.

[2018-10-10 15:22] anishkny commented on #277
Sure. Done!

[2018-10-11 01:10] devinivy commented on #237
This really oughtta be good to go—I would love a review!  There is now a fairly extensive explainer in the readme: https://github.com/devinivy/hapipal-realworld-example-app

[2018-10-11 06:12] dnikolovv commented on #281
Yep, looks great.

[2018-10-13 09:30] klim0v opened #285 "Golang + Revel"
Hi,
Work in progress at https://github.com/klim0v/golang-revel-realworld-starter-kit

[2018-10-13 16:33] asahasrabuddhe commented on #219
Thanks for your response. Please let me know if I can contribute to your effort.

[2018-10-18 17:53] err0r500 commented on #245
hi !
Is there something missing ?
I tested it with the elm frontend without noticing any problem but if you found something, tell me and I'll try to get it fixed ASAP.
Best,

[2018-10-20 18:56] Allianzcortex opened #286 "It should be noticed that Postman(chorme webapp) may not work for test"
When I run Postman collection manually, there was an error called **"pm is not defined"**

After searching the solution, I think  [/postman-scripts-pm-is-not-defined](https://stackoverflow.com/questions/46243745/postman-scripts-pm-is-not-defined) is reasonable. After using the postman standalone version, it actually works.

So it will be proper if we add a hint. And if you think we should do it, I

[2018-10-20 19:04] Allianzcortex commented on #286
@anishkny How do you think 😭

[2018-10-22 20:05] xesina commented on #216
@anishkny @Cameron-C-Chapman

[2018-10-23 00:35] anishkny commented on #216
LGTM #287

[2018-10-23 02:46] #216 closed

[2018-10-28 16:06] Cameron-C-Chapman commented on #186
Looks good @apapacy!

A couple of things I noticed and I think we could add it to the main page 🎉

* Code linting should be `npm run lint`.
*  There is a linting error currently (although if it doesn't break the build I guess it doesn't necessarily have to be fixed but I just want to make sure you're aware of that).
[code]
* Running the app in dev mode or production mode is giving me an error.
[co

[2018-10-28 16:08] #271 closed

[2018-10-28 16:38] Cameron-C-Chapman commented on #286
Thanks for the info @Allianzcortex 😄

I think Postman itself suggests that you update to the latest version so I think that general suggestion from Postman should be enough, not sure we need to add a specific note to the instructions.

I'm not necessarily against it though, just not sure it's really needed. Whatever @anishkny thinks works for me though 😄

[2018-10-28 16:40] Cameron-C-Chapman commented on #237
Trying to get to it soon @devinivy, sorry for the delay 😬The repo looks great, I just need to run it locally and take a look. I'll try to get to it this week at some point.

[2018-10-28 18:12] devinivy commented on #237
No sweat at all—thanks for the update!

[2018-10-28 19:43] apapacy commented on #186
Thank. I fix the bug with `npm run lint`.

But the bug with the `TypeError: Cannot read property 'properties' of undefined` does not seem to be related not to my project, but to webpack-cli itself. See https://github.com/webpack/webpack/issues/8082

I cleaned npm_modules and executed npm install. This bug has not been reproduced.
node v8.11.2, npm 5.6.0, ubuntu  18.04.1.

[2018-10-28 19:49] apapacy commented on #186
@Cameron-C-Chapman

Thank.

I fix the bug with npm run lint.

But the bug with the TypeError: Cannot read property 'properties' of undefined does not seem to be related to my project, but to webpack-cli itself. See https://github.com/webpack/webpack/issues/8082

I cleaned npm_modules and executed npm install. This bug has not been reproduced.
node v8.11.2, npm 5.6.0, ubuntu 18.04.1.

[2018-10-30 02:35] anishkny commented on #237
@devinivy would you mind adding this to TravisCI? Thanks!

[2018-10-30 02:38] anishkny commented on #286
We could add a note recommending standalone Postman. @Allianzcortex do you have a fix to make it work in both standalone and webapp mode?

[2018-10-30 05:04] devinivy commented on #237
@anishkny should be all set now 👌

[2018-10-30 11:34] apapacy commented on #186
@Cameron-C-Chapman @anishkny

Thank. I have not reproduce a bug due to a local file package-lock.json. Now I checked the installation without this file and corrected the bug (changed the version of the weback and wenpack-cli). And now it works

[2018-10-31 05:53] jpeg729 commented on #196
Works only partially.

I cloned, built and ran it. Ok.
I tried signing up and got the following error messages displayed.

* Username can't be blank
* Email can't be blank
* Password can't be blank

They weren't blank.

[2018-10-31 07:36] jihchi commented on #196
@jpeg729 I'll take a look later. Thanks for your report.

[2018-11-01 18:51] Allianzcortex commented on #286
@anishkny actually no. the global variable is a problem. I can't find one way to distinguish between the standalone app and web extension app. based on [official announcement](http://blog.getpostman.com/2017/11/01/goodbye-postman-chrome-app/), they don't support chrome app one year ago. So I will close this issue and reopen it once someone meets the same problem.

[2018-11-01 18:51] #286 closed

[2018-11-14 06:39] dmitryermichev commented on #118
@Julian-B90 I implemented Conduit functionality in [https://github.com/dmitryermichev/realworld-starter-kit](https://github.com/dmitryermichev/realworld-starter-kit). I made pull request to original repository, please approve it.

[2018-11-20 20:58] devinivy commented on #237
@anishkny @Cameron-C-Chapman is there any action I need to take here?

[2018-11-23 01:17] nirmalathapa opened #300 "link to the realworld.io not working"
The link to the https://realworld.io/ is not working. when I click to the link it just redirects to the GitHub repository.

[2018-11-23 03:51] anishkny commented on #300
That’s expected behavior :)

[2018-11-23 03:51] #300 closed

[2018-11-23 10:51] nirmalathapa commented on #300
If it is expected then you should inform the user that the link does not go anywhere besides github repository.

[2018-11-29 12:03] Julian-B90 commented on #118
@EricSimons what you must do next?

[2018-11-29 18:19] anishkny commented on #281
Added badges to many completed repos.

[2018-11-29 18:19] #281 closed

[2018-11-29 18:20] anishkny commented on #276
Thanks to all who reached out/helped out during Hacktoberfest 2018! See ya'll next year! 🎉

[2018-12-03 00:51] Semaho commented on #148
Repo still empty at this time, did you give up ? 😏

[2018-12-03 15:57] championswimmer commented on #141
I am working on this

[2018-12-04 00:19] thomashoneyman opened #303 "Add PureScript + Halogen implementation"
Hey folks,

I've put together [a RealWorld implementation using PureScript and its most popular UI library, Halogen](https://github.com/thomashoneyman/purescript-halogen-realworld). It includes an in-depth guide describing how to build production-quality applications with PureScript and the Halogen framework.

As you can see from the repository there's some enthusiasm around this implementation an

[2018-12-04 07:06] vaibhavmule opened #304 "Masonite"
Hey,

I will be implementing the backend with [Masonite](https://github.com/MasoniteFramework/masonite). Masonite is the Modern And Developer Centric Python Web Framework.

Repo: https://github.com/vaibhavmule/masonite-realworld-example-app

[2018-12-04 08:04] jihchi commented on #196
@jpeg729 I've fixed and deployed. thanks for your feedback.

[2018-12-06 14:29] barryels opened #309 "API test is failing, `article.createdAt` should be `comment.createdAt`"
https://github.com/gothinkster/realworld/blob/7ea7a1f79756215b0f413643e53f7905dea3128c/api/Conduit.postman_collection.json#L1617

[2018-12-06 14:34] MelSumner commented on #22
@danilovaz ping me on Discord, happy to provide whatever information is helpful! :+1:

[2018-12-06 14:57] Alonski commented on #22
@danilovaz Life is exciting :) I'd love help if you're willing. I'm on Discord `@alon`

[2018-12-09 19:02] err0r500 commented on #245
Up?

[2018-12-12 15:18] cliffordh opened #311 "User impersonation?"
Does the implementation of the Realworld backend prevent user impersonation? Meaning, does the application prevent an authenticated user from updating information in the system that belongs to a different user? If so, what is the mechanism behind this authorization?

[2018-12-12 16:17] anishkny commented on #311
Yes. A RealWorld backend is expected to only allow updates to an authenticated user's own information (its kinda implicit in the API [here](https://github.com/gothinkster/realworld/tree/master/api#update-user)).

The specific mechanism is up to each individual backend implementation.

[2018-12-12 16:17] #311 closed

[2018-12-12 17:21] cliffordh commented on #311
The Django implementation does not appear to implement object level permissions and is subject to a user impersonation on the API. I've opened an issue on the Django backend implementation:
https://github.com/gothinkster/django-realworld-example-app/issues/21

[2018-12-12 17:49] anishkny commented on #311
@cliffordh good catch! Thanks for opening the issue on the Django repo.

[2018-12-13 08:12] wilson-adap commented on #141
+1

[2018-12-14 15:57] UkonnRa opened #312 "Flutter"
I know #250 is already talk about flutter, but he doesn't give us a project to work with, so I wrote my version of Flutter App: https://github.com/CasterKKK/flutter_realworld_app, and I have finished all the features in the spec (I think)

Any PR or advice is great!

[2018-12-19 17:43] cartonalexandre opened #314 "Imba"
I am going to start building the Realworld application using [Imba](http://imba.io/).

`Imba treats DOM elements as a first-class citizens. These elements are compiled to an inline dom, which is an `[order of magnitude faster](https://somebee.github.io/dom-reconciler-bench/index.html)` than todays virtual dom implementations.`

The project repository : [imba-realworld-example-app](https://github.c

[2018-12-20 14:38] Ryandaydev commented on #256
I ran the swagger.json through the mermade converter. The openapi.yml is attached. I confirmed it validates, but didn't verify otherwise.

[openapi.yml.txt](https://github.com/gothinkster/realworld/files/2699246/openapi.yml.txt)

[2018-12-21 15:56] meritonferati commented on #312
Thank you for your work. It looks great..

[2018-12-22 11:31] segmentationfaulter opened #315 "demo.realworld.io is down"

[2018-12-22 12:37] anishkny commented on #315
Working for me. Any details you can provide? Screenshot, console, network traffic?

[2018-12-22 19:49] cartonalexandre commented on #314
@anishkny Hi Anish, I just finish implementation.
I don't know how can I host it to have an online demo

[2018-12-22 21:50] anishkny commented on #314
Looks great. Couple of notes:

1. I noticed that the profile pic in top navbar is too big when logged in. Could you fix that?
1. Also, you can probably exclude `dist` folder from the repo as a best practice (just add it to `.gitignore` file).

For a demo, you have a few options:

1. [Netlify](https://www.netlify.com/docs/continuous-deployment/)
1. [GitHub Pages](https://pages.github.com)

We can d

[2018-12-23 12:14] cartonalexandre commented on #314
Thanks for your feedback, issue is fixed.
I think I can't ignore dist because dist/index.html isn't generated from another folder.
I added demo link on readme

[2018-12-27 15:41] gagarine commented on #315
![screenshot 2018-12-27 at 16 40 45](https://user-images.githubusercontent.com/164074/50485585-2fcbc900-09f6-11e9-86d4-0f9021982c89.png)

[2018-12-27 20:14] TatriX commented on #172
bump?

[2019-01-02 17:22] cllns commented on #315
I, too, am seeing this for `demo.realworld.io`:
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/632942/50603586-3a63e380-0e78-11e9-985f-7cd8635aacd7.png">

[2019-01-02 18:06] anishkny commented on #315
My observation just now:

* http://demo.realworld.io/ - Works fine
* https://react-redux.realworld.io - **Error 522**

@EricSimons @apai4 could someone take a look please? Thanks!

[2019-01-02 18:34] cllns commented on #315
@anishkny @EricSimons @apai4 Ah, so HTTPS is causing a timeout with both links and HTTP works fine for both links.

[2019-01-03 04:59] thomashoneyman commented on #303
This implementation has been completed and added to the official list of repositories in #317. Please let me know what else is necessary to get this merged. Thanks!

[2019-01-06 06:09] dnikolovv commented on #270
Hey guys,

It's been a few months now. I've set the Travis build to run the Postman tests and everything appears to be working correctly. Do you think we should be moving this one into the official Readme?

[2019-01-07 13:01] mikaelmello commented on #250
I don't know the specs required for it to be feature here, but I really liked the way this app is structured:

https://github.com/jesusrp98/spacex-go

[2019-01-08 00:35] anishkny commented on #237
I tried it out locally and looks good to me. Great work! @devinivy

[2019-01-08 00:36] #237 closed

[2019-01-08 00:44] anishkny commented on #303
I tried it out locally looks good! :tada:

It would be nice to add some CI (Travis/Circle/Azure/GH Actions). Also would be nice to add this badge to your README linking back to RW: [![RealWorld Frontend](https://img.shields.io/badge/realworld-frontend-%23783578.svg)](http://realworld.io)

[2019-01-08 00:44] #303 closed

[2019-01-08 00:46] anishkny commented on #250
Closing in favor of #312 which seems farther along. Please reopen/merge as necessary.

[2019-01-08 00:46] #250 closed

[2019-01-08 00:59] anishkny commented on #270
@dnikolovv looks good to me. Great work. Do you want to send a PR adding your repo to: [`etc/backend-repos.yaml`](https://github.com/gothinkster/realworld/blob/master/etc/backend-repos.yaml). Thanks!

[2019-01-08 01:04] anishkny commented on #314
Thanks for adding! Please send a PR adding your project to [`etc/frontend-repos.yaml`](https://github.com/gothinkster/realworld/blob/master/etc/frontend-repos.yaml)

One more thing that is very useful to people who want to learn is adding a CI build for your repo - it also ensures high quality going forward. Would you be able to setup say TravisCI for building your project?

[2019-01-08 01:06] anishkny commented on #245
Hi @err0r500 sorry for the delay! Could you send a PR adding this to [etc/backend-repos.yaml](https://github.com/gothinkster/realworld/blob/master/etc/backend-repos.yaml)? Thanks!

[2019-01-08 01:07] #309 closed

[2019-01-08 01:11] #221 closed

[2019-01-08 01:11] anishkny commented on #221
Was added to main README: https://github.com/gothinkster/realworld/blob/master/etc/mobile-repos.yaml

[2019-01-08 01:12] lastlink commented on #312
I've done some pull requests to the repo, what is remaining for this to be closed? Great work btw @CasterKKK

[2019-01-08 01:16] lastlink commented on #123
I think that this may have the issues that many other WIP have and are missing, updating an article & tags.

[2019-01-08 01:17] lastlink commented on #270
I think that this may have the issues that many other WIP have and are missing, updating an article & tags.

[2019-01-08 03:12] CasterKKK commented on #312
@anishkny well, in fact I don't know how to use CI very well, so it well take a very long time to add CI to this project, sorry

[2019-01-08 03:15] CasterKKK commented on #312
@lastlink I merged your PRs so it your PRs and branchs closed. Did I do anything wrong? The wierd thing is why are not you on the contribution list...

[2019-01-08 04:30] thomashoneyman commented on #303
Sure! I can take care of that. I've received feedback on a few different types of tests that folks would find illustrative and I plan to add those as well.

Thanks for taking a look!

[2019-01-08 04:34] devinivy commented on #237
Cheers, and thanks for the review!

[2019-01-08 04:43] lastlink commented on #312
@CasterKKK you have to add users manually to have them on the contributor list. The way open-sourced projects work is that people can fork and do a pull request to the repository forked from. If I or someone else is a contributor then I can do direct pushes to the main repository. I do show up under [insights > contributors](https://github.com/CasterKKK/flutter_realworld_app/graphs/contributors) t

[2019-01-08 09:14] dnikolovv commented on #270
@lastlink Updating an article together with its tags works as intended. Are there any other "tricky" parts that I could check?

@anishkny I've submitted a PR.

[2019-01-08 15:59] #172 closed, assigned to nobody

[2019-01-08 18:40] anishkny commented on #270
Added

[2019-01-08 18:40] #270 closed

[2019-01-08 18:47] #245 closed

[2019-01-08 18:50] #314 closed

[2019-01-10 10:33] Cronan commented on #315
Me too, for https://demo.realworld.io

![image](https://user-images.githubusercontent.com/777435/50962876-1715e580-14c3-11e9-84b7-4f1b3578462f.png)

[2019-01-14 10:52] AhHa45 commented on #22
whats the status guys? :)

[2019-01-14 20:34] Alonski commented on #22
@AhHa45 this is about half done. I'm doing this in my, non existent, free time so this hasn't moved in a while. I'd love some help. Hit me up on Discord.

[2019-01-15 19:05] kipanshi opened #325 "Stencil"
It would be nice to have the implementation build with StencilJS
https://stenciljs.com/

[2019-01-16 21:03] alisabzevari opened #326 "Kotlin + http4k + exposed"
Hi all,

I've implemented the [realworld backend](https://github.com/alisabzevari/kotlin-http4k-realworld-example-app) in [http4k framework](https://github.com/http4k/http4k). At the time of creating this issue, it passes the postman collection tests but there are some cleanup tasks left for me (or anyone who like to jump and improve it) in the project.

Some facts about this implementation:

* Wr

[2019-01-17 00:17] apai4 commented on #315
Sorry about this! HTTPS access should be restored now.

[2019-01-17 00:17] #315 closed

[2019-01-17 01:42] anishkny commented on #315
Verified. Thanks @apai4!

[2019-01-17 01:47] Cameron-C-Chapman commented on #326
Awesome @alisabzevari! Let us know when it's ready for review 😄

[2019-01-17 01:50] #264 closed

[2019-01-17 18:10] eavichay commented on #215
@anishkny Done.

[2019-01-17 18:45] anishkny commented on #215
I am getting this error for `npm run build`/`npm run start`. I would suggest getting this project building on TravisCI/CircleCI/Azure Pipelines as reference.

[code]

[2019-01-18 06:36] vaibhavmule commented on #304
@Cameron-C-Chapman just want to clarify for labels that it will be [backend](https://github.com/gothinkster/realworld/labels/backend) implementation not [frontend](https://github.com/gothinkster/realworld/labels/frontend).

[2019-01-18 13:41] Rizary commented on #73
@boxyoman

blog about it.

I think we need to make this real-world-app re haskell+servant to not in the "work-in-progress" status?

@sotojuan

[2019-01-19 21:41] hcavalieri commented on #325
This weekend I finally had the time and energy to start building something with Stencil, so I figured Conduit would be a good app to build... I'm ~80% done with an initial version, before community feedback and overall tweakings 😄

For the source code, please refer to [this repo](https://github.com/hcavalieri/stencil-realworld-app). The current demo is [available here](https://stencil-realworld.ne

[2019-01-19 23:42] anishkny commented on #325
Great stuff! Quick note: the fonts seem off compared to https://angular.realworld.io/

<img width="1017" alt="screen shot 2019-01-19 at 6 41 47 pm" src="https://user-images.githubusercontent.com/357499/51433525-e9930f80-1c19-11e9-8a3f-1eeb22d99c3d.png">

[2019-01-21 01:00] siddhant1 commented on #6
Still looking for it? I can hop on this one now.

[2019-01-21 20:36] kmturley commented on #141
@championswimmer Where are you working on it? I would love to have a Typescript version, so I can pair it with Typescript Angular :)

[2019-01-22 18:38] championswimmer commented on #141
Oh I'll push it to my github, it is just 4-5 commits down, didn't push it yet.

[2019-01-22 19:34] riiccardo opened #331 "integrate front-end frameworks with backend frameworks"
example:

`Vue + Laravel`

`React + Express`

[2019-01-22 22:45] Rudge opened #332 "Kotlin + Javalin + Exposed"
Hi guys, I finished the real world example with [Javalin framework](https://github.com/Rudge/kotlin-javalin-realworld-example-app).

Could you review and tell me if it's ok to put in your repo, please?

[2019-01-22 23:51] anishkny commented on #332
Sweet. I see that you added TravisCI and all API level tests [pass](https://travis-ci.org/Rudge/kotlin-javalin-realworld-example-app/jobs/482159480#L488)!

@Cameron-C-Chapman want to take a look at this one?

[2019-01-23 03:11] Cameron-C-Chapman commented on #332
This looks awesome @Rudge!

Everything looked good but I did notice that the tests run on build and without the context you supply in the run-api-tests.sh script all the tests during the build fail.

[2019-01-23 16:13] #332 closed

[2019-01-23 16:25] Rudge commented on #332
@Cameron-C-Chapman What do you suggest to update? I didn't find other solution.

[2019-01-23 17:06] skopekreep commented on #141
Hi @championswimmer, it's been a while since I started this project, but it's about time to get back to it.  If you have made any progress on it please submit a pull request.  Thanks!

[2019-01-23 18:39] Cameron-C-Chapman commented on #332
@Rudge your project has been added to the readme, it looks great!

I assume there's a way to set the integration tests to not run on every build. I don't have any kotlin experience so I'm not sure but there should be a way to tell the build to not run those tests.

[2019-01-23 20:54] Rudge commented on #332
@Cameron-C-Chapman Thanks! Yes, I Know. I just didn't understand the context of execute tests in build. Now I understood, I will split the steps on the Travis.

[2019-01-24 11:42] hcavalieri commented on #325
Good point, @anishkny !

I've finished styling the app and I'd say it's 95% done... What's left is handling errors for users to see and doing some testing to show how it's done in Stencil...

When you have the time, think you can go through the codebase and give me some feedback on what should be changed for it to be merged? Have a good one 😄

[2019-01-24 20:02] comerc opened #335 "Add Conduit to README.MD"
Please add this repo https://github.com/slashdotdash/conduit

[2019-01-29 17:17] hcavalieri commented on #325
@anishkny and @Cameron-C-Chapman you can already add Stencil's RealWorld app to the front-end list, the repo can be found here: https://github.com/hcavalieri/stencil-realworld-app

The demo is hosted at https://stencil-realworld.netlify.com/

[2019-01-29 18:04] anishkny commented on #325
I tried it out locally and works great!! 🎉

Couple of suggestions (not strictly required):

* Please add TravisCI/CircleCI/Azure Pipelines as it is really helpful
* Add badge to mark repo as RealWorld FE:

[![RealWorld Frontend](https://img.shields.io/badge/realworld-frontend-%23783578.svg)](http://realworld.io)
[code]

LGTM!

[2019-01-29 18:41] hcavalieri commented on #325
Thanks for the quick reply, Anish!

The badge is added, I'll look into CI as soon as I have the time and energy, do agree it's super relevant for this project, plus it's going to be a good opportunity to learn more about it 😄

[2019-02-01 15:56] vincentntang opened #336 "React + NextJS"
This would be nice to have. I can work on it if necessary.

Let me know your thoughts here

[2019-02-01 16:18] anishkny commented on #336
@vincentntang go for it! Please follow instructions [here](https://github.com/gothinkster/realworld#create-a-new-stack) and link back your repo in this thread.

FWIW, I have been working on a [Nuxt](https://github.com/gothinkster/realworld/issues/218) FE implementation - which I need to get back to. Nuxt is to Vue what Next is to React.

[2019-02-02 00:42] vincentntang commented on #336
Would it matter if I used a state management library? Or just pure react+nextjS?

[2019-02-02 00:58] anishkny commented on #336
Whatever is the "best practice" recommendation of the Next.js community + what makes sense for RealWorld I suppose. No hard & fast rules. e.g. our #1 FE repo is React+Redux so no worries.

[2019-02-04 22:41] jho406 opened #337 "Turbolinks"
Hey all,
I'm interested in adding an implementation for PJAX, for example: [Turbolinks](https://github.com/turbolinks/turbolinks). However, the conduit specs expect the implementation to be a stereotypical SPA stack consisting of a backend providing an API to a frontend. Also, the requirement for JWT may not apply for PJAX apps, they're usually all just simple sessions.

I think it's valuable to a

[2019-02-04 22:48] anishkny commented on #337
Hi @jho406, we do have a section called [Fullstack](https://github.com/gothinkster/realworld#fullstack) which may be relevant for this - even though we don't yet have a full implementation - hey you could be the first!.

I don't think we would need to enforce JWT for fullstack implementations.

[2019-02-04 22:51] jho406 commented on #337
Hey, that's great! thanks @anishkny

[2019-02-06 19:40] randyscotsmithey opened #339 "Feathers"
Hi,

I've created a [Feathers](https://feathersjs.com/) backend implementation at: https://github.com/randyscotsmithey/feathers-realworld-example-app.git.
This implementation depends on Node, Express, and MongoDB.

Everything works with the Postman collection and I've tested with the Elm frontend as well.

Includes a test suite with some tests implemented and others just stubbed out.

[2019-02-06 19:51] electrotype opened #340 "Are there some validation specs somewhere?"
For example, I see some implementations that validate that a password must be at least 8 characters... Is it defined somewhere?

What about "this username/email is already taken" during a registration request: are there some tests for those kind of stuff?

[2019-02-10 16:46] spincast opened #341 "Spincast Framework"
Hello!

Here's a backend implementation using [Spincast](https://www.spincast.org), a Java framework:

https://github.com/spincast/spincast-realworld

The implementation is completed.

[2019-02-11 01:00] anishkny commented on #340
@electrotype we have some Postman collection based backend API tests [here](https://github.com/gothinkster/realworld/tree/master/api) which cover most of the basic "P0" scenarios.

We did not want to go too deep into these validations - ideally an implementation should be what a Minimum Viable Product (MVP) would look like using any particular stack.

[2019-02-11 01:00] #340 closed

[2019-02-11 01:09] anishkny commented on #339
This looks awesome @randyscotsmithey I tried it out locally but having some issues:

[code]

And the API does not return (e.g. http://localhost:3030/api/articles), any ideas how to make this work?

Also, it would be great if you could setup some cloud CI service (Travis/Circle/Azure)!