[2021-04-15 15:33] #247 closed

[2021-04-15 15:33] geromegrignon commented on #367
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:33] #367 closed

[2021-04-15 15:34] geromegrignon commented on #166
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:34] #166 closed

[2021-04-15 15:34] geromegrignon commented on #163
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:34] #163 closed

[2021-04-15 15:34] geromegrignon commented on #312
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:34] #312 closed

[2021-04-15 15:35] geromegrignon commented on #210
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:35] #210 closed

[2021-04-15 15:36] geromegrignon commented on #369
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:36] #369 closed

[2021-04-15 15:36] geromegrignon commented on #228
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:36] #228 closed

[2021-04-15 15:36] geromegrignon commented on #215
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:36] #215 closed

[2021-04-15 15:37] geromegrignon commented on #199
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:37] #199 closed

[2021-04-15 15:38] geromegrignon commented on #196
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:38] #196 closed

[2021-04-15 15:38] geromegrignon commented on #181
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:38] #181 closed

[2021-04-15 15:38] geromegrignon commented on #148
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:38] #148 closed

[2021-04-15 15:38] geromegrignon commented on #152
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:38] #152 closed

[2021-04-15 15:38] geromegrignon commented on #140
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:38] #140 closed

[2021-04-15 15:39] geromegrignon commented on #105
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:39] #105 closed

[2021-04-15 15:40] geromegrignon commented on #99
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:40] #99 closed

[2021-04-15 15:44] geromegrignon commented on #70
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:44] #70 closed

[2021-04-15 15:44] geromegrignon commented on #69
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:44] #69 closed

[2021-04-15 15:45] #84 closed

[2021-04-15 15:46] geromegrignon commented on #426
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:46] #426 closed

[2021-04-15 15:47] geromegrignon commented on #423
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:47] #423 closed

[2021-04-15 15:47] geromegrignon commented on #360
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:47] #360 closed

[2021-04-15 15:48] geromegrignon commented on #354
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:48] #354 closed

[2021-04-15 15:48] geromegrignon commented on #285
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:48] #285 closed

[2021-04-15 15:50] geromegrignon commented on #209
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:50] #209 closed

[2021-04-15 15:50] geromegrignon commented on #206
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 15:50] #206 closed

[2021-04-15 15:51] geromegrignon commented on #201
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:51] #201 closed

[2021-04-15 15:51] geromegrignon commented on #168
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:51] #168 closed

[2021-04-15 15:51] geromegrignon commented on #142
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:51] #142 closed

[2021-04-15 15:51] geromegrignon commented on #119
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:51] #119 closed

[2021-04-15 15:51] geromegrignon commented on #123
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:51] #123 closed

[2021-04-15 15:52] geromegrignon commented on #88
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:52] #88 closed

[2021-04-15 15:52] geromegrignon commented on #61
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:52] #61 closed

[2021-04-15 15:52] geromegrignon commented on #59
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:52] #59 closed

[2021-04-15 15:53] geromegrignon commented on #46
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:53] #46 closed

[2021-04-15 15:53] geromegrignon commented on #43
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:53] #43 closed

[2021-04-15 15:53] geromegrignon commented on #162
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:53] #162 closed

[2021-04-15 15:53] geromegrignon commented on #143
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:53] #143 closed

[2021-04-15 15:54] geromegrignon commented on #147
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:54] #147 closed

[2021-04-15 15:54] #112 closed

[2021-04-15 15:54] geromegrignon commented on #95
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:54] #95 closed

[2021-04-15 15:55] geromegrignon commented on #73
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:55] #73 closed

[2021-04-15 15:55] geromegrignon commented on #60
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:55] #60 closed

[2021-04-15 15:55] geromegrignon commented on #45
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:55] #45 closed

[2021-04-15 15:55] geromegrignon commented on #16
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:55] #16 closed

[2021-04-15 15:56] geromegrignon commented on #211
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:56] #211 closed

[2021-04-15 15:56] geromegrignon commented on #175
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:56] #175 closed

[2021-04-15 15:56] geromegrignon commented on #155
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:56] #155 closed

[2021-04-15 15:57] geromegrignon commented on #91
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:57] #91 closed

[2021-04-15 15:57] geromegrignon commented on #126
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:57] #126 closed

[2021-04-15 15:57] geromegrignon commented on #266
Closing it as there is no recent activity

[2021-04-15 15:57] #266 closed

[2021-04-15 15:58] #226 closed

[2021-04-15 15:58] geromegrignon commented on #219
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:58] #219 closed

[2021-04-15 15:59] geromegrignon commented on #280
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:59] #280 closed

[2021-04-15 15:59] geromegrignon commented on #425
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 15:59] #425 closed

[2021-04-15 16:00] geromegrignon commented on #368
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 16:00] #368 closed

[2021-04-15 16:00] geromegrignon commented on #279
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 16:00] #279 closed

[2021-04-15 16:01] geromegrignon commented on #198
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 16:01] geromegrignon commented on #186
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 16:01] #186 closed

[2021-04-15 16:02] ZkHaider commented on #368
You are mass spamming our inboxing 🙂

![2E1395C9-17C0-46F0-A40B-8491FA573556](https://user-images.githubusercontent.com/7844550/114901045-449c1880-9dc9-11eb-9dd5-1b5392ffcff9.png)

[2021-04-15 16:02] geromegrignon commented on #494
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 16:02] #494 closed

[2021-04-15 16:02] geromegrignon commented on #466
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 16:02] #466 closed

[2021-04-15 16:07] geromegrignon commented on #368
Sorry for that.

We are clearing inactive issues in order to able able to focus on recent activity (bugs/feature requests).

[2021-04-15 16:12] ZkHaider commented on #368
I modified settings @geromegrignon so should be good.

However doesn’t solve problem for others...

![2AC9D50B-D2DD-47DA-9738-60E5B1218F22](https://user-images.githubusercontent.com/7844550/114902386-a01ad600-9dca-11eb-9b4e-9a908edd9731.jpeg)

[2021-04-15 17:15] geromegrignon opened #634 "Watching the project? Massive notifications incoming"
Hello everyone,

If you are currently watching the activity of the project, you'll receive a lot of notifications during the next weeks (not counting the ones already received).

New maintainers have been onboarded lately (including me) to help the project and to be able to adress current issues.

While the former maintainers chose to propose contributors to open new issues for each implementation

[2021-04-15 17:15] geromegrignon commented on #6
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:15] #6 closed

[2021-04-15 17:16] geromegrignon commented on #10
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:16] #10 closed

[2021-04-15 17:16] geromegrignon commented on #12
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:16] #12 closed

[2021-04-15 17:20] geromegrignon commented on #30
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:20] #30 closed

[2021-04-15 17:21] geromegrignon commented on #39
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:21] #39 closed

[2021-04-15 17:21] #41 closed

[2021-04-15 17:21] geromegrignon commented on #44
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:21] #44 closed

[2021-04-15 17:22] geromegrignon commented on #48
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:22] #48 closed

[2021-04-15 17:22] #71 closed

[2021-04-15 17:23] geromegrignon commented on #52
Closing the issue as there is no recent activity.

[2021-04-15 17:23] #52 closed

[2021-04-15 17:23] geromegrignon commented on #564
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:23] #564 closed

[2021-04-15 17:24] geromegrignon commented on #538
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:24] #538 closed

[2021-04-15 17:24] geromegrignon commented on #66
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:24] #66 closed

[2021-04-15 17:24] geromegrignon commented on #57
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:24] #57 closed

[2021-04-15 17:25] geromegrignon commented on #118
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:25] #118 closed

[2021-04-15 17:26] geromegrignon commented on #191
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:26] #191 closed

[2021-04-15 17:26] geromegrignon commented on #156
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 17:26] #156 closed

[2021-04-15 17:26] geromegrignon commented on #141
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 17:26] #141 closed

[2021-04-15 17:27] lhsazevedo commented on #564
Thanks. I'm still working on the upgrade, will submit there when done.

[2021-04-15 18:51] rschristian commented on #630
If that is supposed to be a way in which the user needs to provide their credentials to change their bio, image, or username, and only those, there will probably also need to be a way to change their email and passwords.

[2021-04-15 19:13] geromegrignon commented on #630
I agree. We can't affect all existing implementations with such changes but the goal is to work as soon as possible on new specs based on all suggestions provided to make them more 'real'

[2021-04-15 19:17] Utwo commented on #156
This one is not work in progress, the project is ready.

[2021-04-15 19:28] geromegrignon commented on #156
Great, fell free to submit it there : https://codebase.show/projects/realworld

[2021-04-15 19:31] geromegrignon commented on #457
Hello,

As a new maintainer i have no valid answer to this question.
However as we are moving the list of implementations to [here](https://codebase.show/projects/realworld) and sorting projects based on Github stars, i'll close this issue as we'll remove the current list showcased into the Readme.

[2021-04-15 19:31] #457 closed

[2021-04-15 19:33] geromegrignon commented on #434
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 19:33] #434 closed

[2021-04-15 19:33] geromegrignon commented on #412
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 19:33] #412 closed

[2021-04-15 19:44] lastlink commented on #434
@nitingupta-123 I would need more details on what you did.

Generally you need to run `npm install`, copy the config file, and run `npx clasp login` before you can deploy. It seems like you just skipped these steps.

[2021-04-15 19:52] #569 closed

[2021-04-15 19:53] #376 closed

[2021-04-15 19:54] #386 closed

[2021-04-15 19:55] geromegrignon commented on #171
Hello we are currently moving all work in progress to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-15 19:55] #171 closed

[2021-04-15 20:06] geromegrignon commented on #505
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 20:06] #505 closed

[2021-04-15 20:07] geromegrignon commented on #463
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 20:07] #463 closed

[2021-04-15 20:08] geromegrignon commented on #404
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 20:08] #404 closed

[2021-04-15 20:09] geromegrignon commented on #358
As we plan to remove the list of implementations from the current Readme to an external website (https://codebase.show/projects/realworld) which sorts implementations based on Github Stars, this issue is not relevant anymore.

[2021-04-15 20:09] #358 closed

[2021-04-15 20:09] geromegrignon commented on #356
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-15 20:09] #356 closed

[2021-04-15 20:17] geromegrignon commented on #613
Hello,

Thanks for this issue.
However as our next focus is a new version of the specs and a related deployed API, we won't make changes on the current one.

[2021-04-15 20:17] #613 closed

[2021-04-15 20:27] geromegrignon commented on #590
Hello,

a CLI would be way too huge for us to maintain as it would require expertise not only on each option but on the way to configure them all together.

However extending current scopes (frontend/backend/fullstack) with orchestration, deployment methods... would make sense. We would need people to contribute to define related specs.

[2021-04-15 20:28] #500 closed

[2021-04-15 20:30] geromegrignon commented on #197
Closing this issue as the blog post isn't available anymore.

[2021-04-15 20:30] #197 closed

[2021-04-15 20:33] geromegrignon commented on #26
Closing it as it's out of the core spec.

[2021-04-15 20:33] #26 closed

[2021-04-15 20:35] geromegrignon commented on #565
You should be able to find a newer implementation here : https://codebase.show/projects/realworld

[2021-04-15 20:35] #565 closed

[2021-04-15 20:37] geromegrignon commented on #571
As we need to focus on standards based on the current specs, we can't include your implementation.
Great work though !

[2021-04-15 20:37] #571 closed

[2021-04-15 20:39] geromegrignon commented on #441
Closing it as there is no recent activity

[2021-04-15 20:39] #441 closed

[2021-04-16 07:47] remast commented on #572
Thanks @geromegrignon! Does it need to be merged yet because I could not find it within the fullstack implementations.

[2021-04-16 08:10] geromegrignon commented on #572
You can find it here : https://codebase.show/projects/realworld?category=fullstack
The current list being displayed into the Readme of the project will be removed soon so we don't update it anymore.

[2021-04-16 09:04] mansona commented on #358
I opened a "feature request" in the new project to discuss the other aspects that were brought up in this thread 👍

[2021-04-16 09:16] MikaMalloc commented on #358
Can you stop sending md this  please ??

On Fri, Apr 16, 2021, 10:05 AM Chris Manson ***@***.***>
wrote:

[2021-04-16 22:04] nin-jin commented on #198
You can move issues to discussions at right panel:

![](https://i.imgur.com/tahmkPk.png)

[2021-04-16 23:01] geromegrignon commented on #198
Thanks for the idea.
Such move on the way to deal with work in progress is also an opportunity to clear out abandoned wip though.

[2021-04-17 23:12] brucou opened #639 "Add Kingly implementation to the list of existing implementations"
Hi there,

I have an implementation of Conduit with the Kingly state machine library. I would like it to figure in the list of such implementations. How should I proceed?

Repository is here: https://github.com/brucou/realworld-kingly-svelte

Thank you!

[2021-04-18 00:08] mvila commented on #639
You can submit your implementation here:

https://codebase.show/projects/realworld

[2021-04-18 00:08] #639 closed

[2021-04-18 09:17] #578 closed

[2021-04-19 20:46] geromegrignon opened #642 "Deployed Database Request Access"
The current database used by the deployed api needs to be sanitised due to content not aligned with our code of conduct.
To do so, the new maintainers would need to get access to the database in order to be able to reset it on a defined basis.

@EricSimons

[2021-04-19 22:34] geromegrignon commented on #590
We decided not how address these suggestions :

A CLI would be too big for us to maintain and somehow out of the scope of this project : the goal is to provide examples based on a given spec to be able to compare easily languages/frameworks. To provide a way to bootstrap quickly a full stack solution is different from the scope of the project.

About 'RealWorld DevOps', it's a great idea but we th

[2021-04-19 22:34] #590 closed

[2021-04-19 22:37] geromegrignon commented on #523
Hello,

Thanks for the suggestion.

As the goal of the specs is to create a simple MVP product, such feature is out of our scope.
So we won't include it.

[2021-04-19 22:37] #523 closed

[2021-04-19 22:38] geromegrignon commented on #468
Hello we are currently moving all work in progress/propositions to Github Discussions.
I'll close this issue by now, you can find instruction to open a discussion there : https://github.com/gothinkster/realworld/discussions/633

Thanks for your contribution !

[2021-04-19 22:38] #468 closed

[2021-04-19 22:40] geromegrignon commented on #265
Hello, we moved the addition of new implementations to this website : https://codebase.show/projects/realworld
Please submit your implementation there.

[2021-04-19 22:40] #265 closed

[2021-04-19 22:48] geromegrignon commented on #243
Hello,

The goal of the project is to help people to see how each solution works based on the same specs.
Having to double size the source code to fit the specs is precious information to evaluate a solution.

Even by adding a new category, it won't respect the current specs.

However we'll be happy to add it if changes occurs.
By the way we moved the addition of new implementations to this websit

[2021-04-19 22:48] #243 closed

[2021-04-19 22:51] #587 closed

[2021-04-19 23:19] vmarcosp opened #643 "ReScript Demo & New user interface"
Hey!

I'm starting a new real-world app implementation using [ReScript](https://rescript-lang.org) and React... and I want to know if I can use a redesign version of this real-world app. It will have the same features and a very similar UI but with a new branding, logo, colors but the same name. Will be considered a valid implementation for the official list? I can send a preview of the UI before

[2021-04-20 00:28] geromegrignon commented on #643
Hello,

By providing specs, our goal is to make sure rules are available for everyone without having to argue on each submission.
As previous contributors respected these specs, it wouldn't fair to start accepting personal interpretations.

From the [specs](https://github.com/gothinkster/realworld/tree/master/spec) :

However if the goal is to provide a better or more modern user experience, we'll

[2021-04-20 01:41] mvila commented on #643
I'd tend to think the same. In the current context, small variations of the UI should be accepted but not a complete redesign. However, for the v2 specs, my opinion is that we should be more flexible about UI design. Specs should address functionality, not presentation. It is something that should be discussed though.

@vmarcosp, in any case, I'd be curious to see a preview of your UI. 😄

[2021-04-20 02:01] vmarcosp commented on #643
Thanks for answering!
I understand that all projects here are following the current spec. But if the project has the same features and a similar UI (navigation, sign-in page, list of items, etc) is not acceptable to be a real-world app that follows the technical requirements of the spec? I don't understand how a color or the logo of the UI can impact the comparison between two projects that delive

[2021-04-20 02:15] mvila commented on #643
@vmarcosp Your UI looks very nice, and it'd be a shame not to accept it.

@geromegrignon Could we make an exception?

[2021-04-20 02:23] vmarcosp commented on #643
Thanks @mvila! 😄
If you like and agree we can work together on a new UI to the v2 or we can use this UI that I'm creating for my real-world app implementation :)

[2021-04-20 05:57] mvila commented on #643
Since the v2 is not for tomorrow, I think you should start implementing a v1 with the UI you have in mind, and we'll see later if this UI can be used in the reference implementation of the v2.

[2021-04-20 12:41] vmarcosp commented on #643
I totally agree @mvila, thanks for answering 😄

[2021-04-20 13:44] geromegrignon commented on #643
As an exception which will showcase the future of the ui for next version we can integrate it.

However @vmarcosp, you must consider the ui is part of the specs, not an option.
The goal of these specs is to be able to provide rules for everyone, rather than having to argue with each implementation.
Such situation would lead to the end of the project as it doesn't scale. The former maintainer team

[2021-04-20 13:57] vmarcosp commented on #643
@geromegrignon You're right, my changes aren't just about colors. Having additional images means that implementation is less performant, I agree. I would be happy if you accept my implementation with a new UI, maybe adding a disclaimer about an exception that you made for my case, I appreciate 🙏🏻

Sure, I can help you with the design of a new spec / v2.

[2021-04-20 14:12] geromegrignon commented on #643
About the exception, i would encourage you to add a disclaimer into the readme.md of your repository.

[2021-04-20 14:27] vmarcosp commented on #643
@geromegrignon I can do this. So, for my case,  following the spec (features, sign-in page, feed page, etc) but with a new UI, might be accepted as an official implementation? Just to make it clear 😄

[2021-04-20 14:31] geromegrignon commented on #643
Accepted! :+1:

[2021-04-22 13:26] cirosantilli opened #644 "Automated frontend testing (e.g. PhantomJS, Puppeteer, Seleninum)"
This is a must :-) It is the only way of ensuring minimal quality standards without human effort, otherwise most implementations will remain semibroken. And if also offers great value to each implementation.

[2021-04-22 13:27] cirosantilli commented on #644
Edit: found: https://github.com/gothinkster/realworld/issues/269 I guess we can keep discussion there for now.

[2021-04-22 13:27] #644 closed

[2021-04-22 13:49] mayanknimcet188 commented on #629
Sure, I will start a new discussion there. Thanks

[2021-04-22 17:57] cirosantilli opened #647 "Allow favoring your own posts from the post page"
Just a small thing that confused me a bit: current behavior on https://github.com/gothinkster/vue-realworld-example-app and https://github.com/gothinkster/react-redux-realworld-example-app :

- you cannot favorite your own post from the post page, e.g. http://localhost:4101/article/zxcv-v4f34g The favorite button is replaced with the Delete button
- but you can favorite your own post from the glob

[2021-04-22 23:56] mvila commented on #647
It is indeed not very coherent. Let's make sure it is fixed in v2.

[2021-04-22 23:58] #643 closed

[2021-04-23 09:31] cirosantilli opened #649 "Make it possible to click tags from article view and global/favorite feed index"
Currently on https://github.com/gothinkster/react-redux-realworld-example-app/tree/9186292054dc37567e707602a15a0884d6bdae35 and https://github.com/gothinkster/angular-realworld-example-app/tree/9e8c49514ee874e5e0bbfe53ffdba7d2fd0af36f the only place where you can click to view articles under a given tag is from Popular Tags on the home page.

Tags also show on the following other places:

- from t

[2021-04-23 09:46] cirosantilli opened #650 "Give a clear 404 on all URLs that don't exist, currently they silently redirect to the home page"
E.g. https://demo.realworld.io/#/editor/ is the editor, but if I hack it: https://demo.realworld.io/#/editorasdfqwer/ it just immediately redirects to: https://demo.realworld.io/#/ It would be better to have a clear 404 this page does not exist error instead.

I often type stuff wrong on the address bar, or I delete my dev database and articles are gone, and I'm left wondering what's up :-)

[2021-04-25 08:21] #102 closed

[2021-04-25 08:26] #90 closed

[2021-04-25 08:27] #86 closed

[2021-04-25 08:27] #85 closed

[2021-04-25 08:28] #79 closed

[2021-04-25 08:30] #62 closed

[2021-04-25 08:31] #56 closed

[2021-04-25 08:31] #53 closed

[2021-04-25 08:33] #47 closed

[2021-04-25 08:33] #42 closed

[2021-04-25 08:35] #35 closed

[2021-04-25 08:36] #29 closed

[2021-04-25 08:40] #23 closed

[2021-04-26 08:28] benjamin-thomas commented on #269
Hi,

So I was looking for Cypress tests and got here ;)

I was thinking of using this project to dive into different technologies I'm interested about....

To implement a backend, my plan is to use the [current API spec here](https://github.com/gothinkster/realworld/blob/8dbc6df3c701f7c07d17765fc58f305aef8af937/api/run-api-tests.sh), as a guide to then implement framework specific tests.

For the

[2021-04-26 09:29] stepbystep2 opened #654 "Backend of demo.realworld.io"
Which backend demo.realworld.io is using?

[2021-04-26 09:52] geromegrignon commented on #654
Hello, the demo uses the rails implementation : https://github.com/gothinkster/rails-realworld-example-app

[2021-04-26 09:53] #203 closed

[2021-04-26 09:56] #107 closed

[2021-04-26 11:21] #654 closed

[2021-04-26 13:56] geromegrignon commented on #650
Hello @cirosantilli, thanks for pointing it out.

A 404 page is good candidate feature for the V2!

[2021-04-26 22:38] mvila commented on #269
@benjamin-thomas Indeed, a test suite for the frontend would be a nice thing to have, but I think we should wait for the v2 specs before implementing it.

[2021-04-27 13:30] benjamin-thomas commented on #269
I wasn’t aware a v2 spec was planned.

Where can I track this?

[2021-04-27 23:35] mvila commented on #269
@benjamin-thomas The v2 project has not started yet. We still have some work to do before we can talk about it and involve the community.

[2021-04-28 08:10] err0r500 opened #659 "API design"
Hi,
I browsed the `v2` tagged issues and didn't find anything about redesigning the API.

Maybe it would be great to add a few good practices like :
- idempotency on mutating endpoints (through CQRS or dedicated token in the request headers)
- security stuff like [Authentication in SPA the right way](https://jcbaey.com/authentication-in-spa-reactjs-and-vuejs-the-right-way)

Just my 2 cents, happy

[2021-04-28 15:31] nhaancs opened #660 "Cannot submit a new implementation to CodebaseShow"
Hi, the error below occurs when I am trying to submit my implementation to CodebaseShow.

![submit-error](https://user-images.githubusercontent.com/15848072/116430532-1dd1ed80-a871-11eb-91c3-6a72f1165d75.png)

[2021-04-28 15:56] nhaancs opened #661 "Specs update suggestions"
## Frontend
- Could we remove # character from url? I think the url will look better without #.

## Backend
- Use abstract keywork in responses to make them more abstract and reusable.
    -  For example, with get single article api we can return:
[code]
    instead of
[code]
    - With get list of articles api we can return:
[code]
    instead of
[code]
    - And the same for update, create respo

[2021-04-28 23:47] mvila commented on #660
Thanks, @nhaancs for reporting this issue.

Normally, the following validation error should have been displayed:

But unfortunately, for reasons that would take too long to explain, the error message could not be displayed correctly.

I fixed the issue, so if you refresh the page and try again, the correct error should be displayed.

And, if you activate the "Issues" feature in your repository, yo

[2021-04-28 23:47] #660 closed

[2021-04-29 10:18] cirosantilli opened #662 "Get rid of https://demo.productionready.io/main.css to force proper frontend asset bundle integration"
CSS asset bundling is a fundamental part of frontend development, but currently we cheat it out by just using https://demo.productionready.io/main.css

Instead, frontends should use https://github.com/gothinkster/conduit-bootstrap-template either via:

- a npm package (could be direct install from git for scss-capable frontends)
- a git submodule

to demonstrate how to integrate the (hopefully .sc

[2021-04-29 11:38] geromegrignon opened #663 "Project Roadmap"
As stated [here](https://github.com/gothinkster/realworld/issues/578) :

I still think this project can provide a lot of value to people so it's a bit of a shame to see the issues piling up.

New maintainers have been onboarded lately to address the current situation (including me and @mvila). Our goal is not only to update the current list of implementations with ongoing submissions but also to a

[2021-05-02 16:19] borovikovd commented on #380
Hi all. Faced the same problem, the fix is here: #664

[2021-05-03 07:18] #634 closed

[2021-05-03 07:59] geromegrignon commented on #662
Hello @cirosantilli ,

Indeed, we plan to introduce a new brand ui design for the V2 (part of the explanation being to avoid confusion with the first version and related changes).

Using a git submodule is a great idea : using npm would require an account and one of our current points of focus is to avoid reliying on external accounts for a sustainable maintenance.

About the [conduit-bootrap-temp

[2021-05-03 08:06] cirosantilli commented on #662
Ah fantastic, if there's going to be a new CSS, that makes things simpler.

[2021-05-03 08:25] geromegrignon commented on #661
Hello @nhaancs,

Indeed. It's being tracked already with #536

About the API specs, we'll adress them with the ongoing v2 as it would introduce breaking changes on implementations fro the current version.

[2021-05-03 16:35] geromegrignon opened #666 "[Feature Request] Load Testing"
related to #562

[2021-05-03 16:51] geromegrignon commented on #666
As we don't include specs for deployment and database (and most implementations don't include documentation about solutions used), adding load testing right now wouldn't provide interesting outputs.

But as with the next version of the specs we'll have to deploy new demo implementations, we might consider providing the solution used into the specs to help contributors struggling with a simple way

[2021-05-19 18:14] raulsebastianmihaila opened #676 "Link to false information in Readme"
Recently the README.md file was updated with a link to the 2020 article about the comparison between frontend implementations: https://medium.com/dailyjs/a-realworld-comparison-of-front-end-frameworks-2020-4e50655fe4c1 . That article contains false information regarding the size of the js bundle of the crizmas-mvc implementation. I wrote a comment there signaling this: https://raul-mihaila.medium.

[2021-05-19 22:16] mvila commented on #676
Maybe the author (@jacekschae) of the article didn't see your comment. Have you tried to contact him directly?

[2021-05-20 05:56] jacekschae commented on #676
Hi, thanks for the information and I'm sorry if the information was not correct. The mistake was not intentional. Even though I check the information and try to make sure it's correct sometimes there are mistakes.

I checked my reference materials and at the time of writing this article the bundle size was 178

I believe this article from 2020 would need an update since there was a lot of informat

[2021-05-23 16:08] plusgut commented on #663
That is amazing! I'm glad some live gets put into this project again

[2021-05-23 16:16] plusgut commented on #662
I think it is very problematic to enforce that all the css sits in one file.
With that approach technology which uses webcomponents will have a bin problem, since css does not penetrate these components.
Also this hinders the possibility to implement in an idiomatic way of any given environment.

To give one full fledged css, would indeed be the easy way of letting people start implementing, but I

[2021-05-23 16:18] plusgut commented on #659
I would love it, if the api follows the guidelines of the jsonapi.org specification. I think that would advocate a clean approach of implementing things.

[2021-05-23 20:09] #676 closed

[2021-05-23 20:23] mvila commented on #662
I agree that the v2 specs should not enforce the usage of a specific CSS file. A CSS file could be provided as an example, but then it'd be up to the implementor to style its frontend using the most appropriate technique given the framework/libraries he's using.

[2021-05-23 21:08] plusgut commented on #662
I like that idea a lot.
Further I think it would be helpful if the css is tiny and does not include a big css library. I do not believe that in a modern website there is a need for that anyway, since css-grid and custom-properties exists nowadays.

[2021-05-24 09:52] cirosantilli commented on #662
I also didn't mean to propose that we should enforce how implementations implement their CSS.

My main recommendation is that we don't host a reference CSS file where it can be easily included, to make it more likely that implementations will actually bundle it properly. Just put a SASS reference in this repo and be done with it.

Implementations would then be allowed to re-implement it idiomatica

[2021-06-02 09:17] cirosantilli commented on #214
I think this should be moved as an issue to each specific implementation.

[2021-06-02 16:09] ambrt commented on #484
There something slightly different going on. Basically the api is cutting the name of user after dot.
so for example "asdf.asdf" is retrieved as "asdf".

If someone will happen to be named "asdf.asdf" he will get profile of different user named just "asdf"

[2021-06-02 22:08] geromegrignon commented on #662
I agree. I would like to get rid of bootstrap with the new version.

[2021-06-03 08:32] plusgut commented on #662
That makes me so happy to hear that from you!
Is there any way I can help out at V2?

[2021-06-12 11:28] darthwithap opened #681 "On Update User Endpoint, 'NULL' for the password field in the request body is being accepted which should not happen"
# 🐞 bug report

### Relevant scope
Backend Scope

### Description

I was testing the endpoints on Postman and in the Update User POST request, in the Request Body, it sees like I can pass NULL for password which I think should not ideally happen. It essentially makes the user's password null and hence we can't change it thereafter because later the user can't login.
 For the username parameter in

[2021-06-14 13:36] geromegrignon commented on #662
Hi @plusgut, i'll let you know when we'll actively work on V2.

[2021-06-18 15:04] cirosantilli opened #683 "Sign in with email or username"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [X] Frontend specs
- [ ] Backend specs
- [ ] Other... Please describe:

### Description

Currently you can only sign in with email.

### Describe the solution you'd like

Allow signing in with either. Use same input text box currently used for email for either.

[2021-06-18 15:11] cirosantilli commented on #77
If this is going to be done, there should be an API-based data generator in this repo I think. Faker is a well known ruby solution: https://github.com/faker-ruby/faker

On a related note, I'm using a local non-realistic but predictable direct-to-Sequelize-db version which is a must for the development:

- https://github.com/cirosantilli/node-express-sequelize-realworld-example-app/blob/320603352bb

[2021-06-18 15:15] cirosantilli opened #684 "Pagination with first/previous/next/last"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [X] Frontend specs
- [ ] Backend specs
- [ ] Other... Please describe:

### Description
 A clear and concise description of the problem or missing capability...

Currently it just shows a humongous pagination list: https://demo.realworld.io/#/

![Screenshot from 2021-06-18 16-13-56](https://user-images.githubusercontent.

[2021-06-19 13:54] geromegrignon commented on #684
It's a great idea.

With V2, i would like to add a visual documentation of the front specs. It'll help to showcase the expected result rather than having to take a look at the official implementation link.

[2021-06-19 13:59] geromegrignon commented on #683
What's the motivation?

[2021-06-19 15:12] cirosantilli commented on #683
The email is generally longer to type, and accepting both is what most big websites do. No big deal of course.

[2021-06-19 15:15] cirosantilli commented on #684
Since you mentioned something related, will there be a reference implementation/has a stack been selected for it? My vote is for express + react :-) (with [sequelize backend fingers crossed](https://github.com/cirosantilli/node-express-sequelize-realworld-example-app) since those are quite popular now, but not overly opinionated IMO.

[2021-06-23 11:58] geromegrignon opened #686 "Add a CODEOWNERS file"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [ ] Frontend specs
- [ ] Backend specs
- [x] Other... Please describe:

### Description

[CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners) feature allows to automatically add a list of reviewers to each open pull request.

### Des

[2021-06-23 14:07] RhnSharma commented on #686
I would like to take this one.

[2021-06-23 14:14] geromegrignon commented on #686
Hello, thanks for your interest.
Feel free to open a pull request.

[2021-06-23 14:18] geromegrignon commented on #686
Closed by #688

[2021-06-23 14:18] #686 closed

[2021-06-25 08:54] cirosantilli commented on #536
We should not only remove `/#/` from the spec, but also have frontend test that check that they are not present: https://github.com/gothinkster/realworld/issues/269

[2021-06-25 14:30] cirosantilli opened #689 "Show placeholder image to represent the currently logged in user without a specified profile image on navbar and new comment form"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [X] Frontend specs
- [ ] Backend specs
- [ ] Other... Please describe:

### Description
 A clear and concise description of the problem or missing capability...

Currently, the placeholder image https://static.productionready.io/images/smiley-cyrus.jpg shows clearly on all created articles and comments when the user does

[2021-06-25 14:42] plusgut commented on #536
@cirosantilli I slightly disagree, from my understanding the purpose of the realworld-project is to show of the best practices of each framework.
I would argue that url-handling is an implementation detail, where each framework has different approaches of what is best.

Enforcing a specific kind of url would limit the way a framework can express itself, without any actual gain in comparability.

[2021-06-27 17:07] cirosantilli opened #690 "Redirect to article page rather than home after clicking "Sign in or sign up to add comments on this article""
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [X] Frontend specs
- [ ] Backend specs
- [ ] Other... Please describe:

### Description
 A clear and concise description of the problem or missing capability...

Visit an article signed out. It shows "Sign in or sign up to add comments on this article.". Click sign in and sign in. It redirects you to home `/` instead of

[2021-06-28 16:26] cirosantilli opened #691 "Use distinct URLs for tabs and pagination [RFC]"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [X] Frontend specs
- [ ] Backend specs
- [ ] Other... Please describe:

### Description
 A clear and concise description of the problem or missing capability...

Currently, the following all fall under the same root URL `/` for example:

- "Your Feed" vs "Global Feed" tabs
- Pagination of the above as you go to the next

[2021-06-29 06:32] chowdhury-akmnoor opened #692 "CORS error"
I am using React/Redux for frontend and Flask for backend.

I am facing these CORS issues

![CORS error login](https://user-images.githubusercontent.com/62734388/123748355-18e5e600-d882-11eb-8291-c3c89e88c663.JPG)

![CORS error](https://user-images.githubusercontent.com/62734388/123748361-1a171300-d882-11eb-8195-54b98993de4f.JPG)

![CORS error2](https://user-images.githubusercontent.com/62734388/1

[2021-06-29 13:20] geromegrignon commented on #692
Hello,
The cors security rules of the Flask app don't allow communication from a different origin. While it won't happen by deploying both front and back end applications on the same server, here locally the port used by the React app is different from the one used by the Flask app.
You need to update the cors rules into the Flask app if you want to run it locally with the React app.

[2021-06-29 13:20] #692 closed

[2021-07-05 11:15] plusgut commented on #690
That's great that you mention that.

How about in the future spec the login and register are not any distinct routes anymore, but buttons which opens modals?
To have modals in the spec, to show of how portaling works is I think a good idea anyway.

Why I dislike having auth as routes:
- these routes are only valid depending on your current auth-state
- these are not really sharable url's
- they po

[2021-07-05 11:30] cirosantilli commented on #690
Yes, that would not be a bad option I think. Notably for me my general concern is to make [the logged out website viewable without JavaScript](https://github.com/gothinkster/realworld/issues/691), so no problem with the login URL being a JS-only button. I guess someone would just need to sit down and make a reference POC if there's strong support for it.

[2021-07-05 22:34] geromegrignon opened #693 "V2 Roadmap"
# V2 Roadmap

This issue is dedicated to the Roadmap of the upcoming new version of the specs.

## Introduction

Get ready for a new version of the specs!
Since the release of the *RealWorld* project in 2017, the standards of a modern and 'real world' project have changed.
These changes have been partially identified through open issues we need to address right now.

But some of these issues will

[2021-07-05 23:02] geromegrignon opened #694 "[V2] RFC : new official implementations choice"
To move to the next version of the specs, we need to be able to experiment, test, and showcase changes to the community.

To do so, we need to create a Frontend and a Backend implementation.
Making the community fully part of this project is crucial for us and we want everyone to contribute to it.

Our first move for the next version of the specs is to define which language/library/framework to us

[2021-07-07 17:14] aisensiy commented on #694
So [V2] means reimplementation of same [conduit](https://demo.realworld.io/) a improvement of same project with different backend and frontend specification?

[2021-07-07 19:21] geromegrignon commented on #694
Yes, the V2 is still about Conduit and the implementations of the specs.

[2021-07-08 06:22] aisensiy commented on #694
So...what is the detail of new specs?

[2021-07-08 06:27] geromegrignon commented on #694
You will find more information on this pinned issue : https://github.com/gothinkster/realworld/issues/693

Please move any further conversation there as this issue is about the implementations choice.

[2021-07-08 06:50] geromegrignon commented on #693
@aisensiy : I'm working on a new section on this issue to give more insights about the changes on the specs.

[2021-07-14 17:05] eandre opened #695 "[V2] change /api/articles/feed to /api/feed"
In the current API spec the routes `/api/articles/feed` and `/api/articles/:slug` are ambiguous, in the sense that they use the same path structure. This is a problem for two reasons.

First of all, it makes certain API routes unusable (such as the excellent https://github.com/julienschmidt/httprouter for Go), because the internal trie structure does not lend itself to making this distinction very

[2021-07-17 17:02] heyheyhello commented on #693
Are you asking the community what they consider "real world" for web application development in 2021 compared to the current 2017 spec? Between #693 and #694 I don't see any actual proposals just introductory text...

I was expecting to see a changelog such as:
- Must provide OAuth/SAML authentication; use of JWTs is optional
- Must be _live_ and reactive to changes on the server via websocket or

[2021-07-17 21:59] geromegrignon commented on #693
Hello @heyheyhello, thanks for your questions.

I updated the initial comment to give more insights about the Roadmap.
I can't deliver a full changelog as the goal isn't to make the changes I want but the changes the project needs.
To achieve this, I'm currently compiling the requests made on all current implementations to give more insights about the changes we can do (and the ones we won't).

Ab

[2021-07-17 22:20] geromegrignon commented on #693
@aisensiy i updated the original comment about changes.

[2021-07-26 19:18] raulsebastianmihaila commented on #676
@jacekschae do you plan to write a new article any time soon? I still think the best would be to edit the existing article since the information is very far from true and it doesn't do justice to crizmas-mvc. At least a note in the article would be welcome if it's too difficult to update the chart. Thanks!

[2021-07-29 09:31] aisensiy commented on #693
Hmm...It seems not too much upgrade in the backend part. Just kind of fixes...

[2021-07-29 22:17] mvila opened #700 "The reference backend is not responding"
The reference backend (https://conduit.productionready.io/api) is not responding and therefore most [frontend implementations](https://codebase.show/projects/realworld) are broken! 😢

We are desperately trying to contact the maintainer of this backend and find a solution as soon as possible.

We are very sorry for the inconvenience. Thank you for your patience.

[2021-07-31 09:32] xuchaobei commented on #700
Is there any progress ?

[2021-07-31 15:46] tiagon97 commented on #700
Yesterday was ok, today seems that problem still exists.

[2021-07-31 22:50] mvila commented on #700
Right now, the backend is responding normally. It is possible that it is under an intermittent DoS attack. We could reach the maintainer, but, unfortunately, he will not be able to do anything before Monday.

[2021-08-03 15:02] Allianzcortex commented on #700
it used to be totally broken but now it seems fixed but hanging forever. Thanks for all ur efforts to maintain this backend implementation ( : -

[2021-08-03 17:09] Roynet825 commented on #700
Still very slow, hardly get data from API...

[2021-08-04 12:43] angelguzmaning opened #702 "CORS error for the production ready api"
CORS error is back on the demo page.
![image](https://user-images.githubusercontent.com/87661408/128182532-64f36788-dab8-479b-b154-5bc01c2eb4ab.png)

[2021-08-10 14:45] ZZC1206 opened #705 "Error 504 Gateway time-out"
![image](https://user-images.githubusercontent.com/56463454/128887495-03b9024b-7ae1-4a72-9b9b-3c2841a30f0d.png)

I want to register an account at this website(https://demo.realworld.io/#/)

and the api always requests Network Error

[2021-08-10 16:45] geromegrignon commented on #705
Hello, I gave it a try and managed to create an account.
Can you retry, please?

[2021-08-10 18:52] Allianzcortex commented on #700
Yeah , only works occasionally and unstable. One suggestion here is to run a daemon scripts every day to keep posts amount below the threshold since this is an API used for demonstrating the usage of frameworks rather than a real commercial one. ( prerequisite is that we can get the access tho ( :-

[2021-08-10 21:34] mvila commented on #700
@apai4 I think you are in charge of this backend and we really need your help there. If you are too busy to take care of it, could you please give us (@geromegrignon or me) access to the subdomain `conduit.productionready.io` so that we can deploy a new backend? Or, if you prefer, we can deploy a new backend first and you'd just have to make the necessary changes so that `conduit.productionready.i

[2021-08-11 00:14] geromegrignon commented on #700
Indeed, the purpose of this API is to provide a demo.
But no update occurred since it was released a few years ago.

We don't plan to move it to a more scalable solution (for money reasons).
But I want to create a [webcontainer sample](https://blog.stackblitz.com/posts/introducing-webcontainers/) with stackblitz to provide a way to run locally an API as a workaround (with the benefit of running in

[2021-08-11 02:19] Allianzcortex commented on #700
@geromegrignon yeah , makes sense aboslutely. BTW there's lots of NSFW tags now...
![image](https://user-images.githubusercontent.com/7290780/128959638-ada3394e-42ff-4650-9175-381c29d1e8d1.png)

[2021-08-12 13:36] Postavshik commented on #700
@geromegrignon
Could you provide the source code to the backend of conduit.productionready.io/api? Better if there would be a Docker container that anyone can spin up on the localhost and use for application without calling actual API.
Thumbs up if you like the idea.

[2021-08-13 20:19] #705 closed

[2021-08-13 20:20] geromegrignon commented on #700
It's an awesome idea!

The deployed backend is from the rails implementation: https://github.com/gothinkster/rails-realworld-example-app/tree/master

[2021-08-13 20:24] geromegrignon commented on #693
Most of the propositions are community ones.
I encourage you to open feature requests for upgrades you would like to see added to the v2.

[2021-08-14 23:14] Postavshik commented on #700
@geromegrignon
Thank you for the repo! I was trying to run it on my Mac, unfotunately no luck... Looks like it's too old and have bunch of old dependencies that have compatibility issues..
As far as I was able to go is just successfully make "bundle install" using Ruby 2.6.4 and rails 4.2.6. But stuck on "rake db:migrate" with error "rake aborted!" and any meaningful descriptoion why.

I have trie

[2021-08-15 00:00] Allianzcortex commented on #700
ROR is a great framework , but if you just want an available backend here I will recommend https://github.com/err0r500/go-realworld-clean which uses the full binary-compatiable advantage of go. You just need 2 commands `go build & go run main.go` and you can run in any machines. There is a docker one and you may also wanna have a try : https://github.com/raahii/golang-grpc-realworld-example

[2021-08-17 10:50] amitpareek49 commented on #702
Is there any update on the same?

[2021-08-17 12:09] geromegrignon commented on #702
Hello,
It's mostly due to the server not responding as expected (see #700).
We are working tn local/odcker and new hosted solutions to fix it.

[2021-08-17 12:13] geromegrignon commented on #700
@Postavshik I never used Ruby so I won't be that useful.

I'm fine with creating the docker image with another backend listed on [CodebaseShow](https://codebase.show/projects/realworld?category=backend).
Just make sure it passes the Postman collection tests (instructions [here](https://github.com/gothinkster/realworld/tree/master/api)).

@cirosantilli made a great contribution to improve it to tes

[2021-08-17 13:00] cirosantilli commented on #700
BTW, I would recommend using a Node.js + Express.js + Sequelize as the reference due to the popularity of Node.js and the other elements of the that stack. I think Node.js is already making/will inevitably make Ruby/Rails disappear moving forward. Uber subjective of course.

This is the backend I've been using: https://github.com/cirosantilli/node-express-sequelize-realworld-example-app and which

[2021-08-17 13:30] geromegrignon commented on #700
I was indeed considering Node.js + Express.js.
About the ORM, I was taking a look at Prisma as an alternative.

[2021-08-18 10:19] geromegrignon opened #708 "[Feature Request] Solutions to keep the api empty of any nsfw content"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [x] Frontend specs
- [x] Backend specs
- [ ] Other... Please describe:

### Description
The project provides a public API so everyone can consume it while testing or creating implementations.
Besides performance issues reported in #700, by being public, the API is vulnerable to attacks.

Lately, it resulted in having pop

[2021-08-18 21:19] mvila commented on #708
@geromegrignon I am not sure it is a good idea because it would increase the complexity of the app in a significant way. The goal of the RealWorld project is to build an app that is complex enough to cover the most important concepts of full-stack development, but it shouldn't be too complex.

I think the best option would be to:
1. Provide an easily runnable backend (e.g., a Docker image) that ca

[2021-08-20 09:03] geromegrignon opened #709 "[Feature Request][V2] List popular tags"
# 🚀 feature request

### Relevant scope
What is the scope of this request?

- [ ] Frontend specs
- [x] Backend specs
- [ ] Other... Please describe:

### Description
The current API specs are just about listing the full list of existing tags.
But the current deployed backend implementation on https://conduit.productionready.io/api only retrieves the most popular ones (explaining why we currently h

[2021-08-20 12:59] lucas-deangelis commented on #694
Here are my thoughts about the implementation choice.

## Surveys

According to the [Stackoverflow 2021 survey](https://insights.stackoverflow.com/survey/2021#most-popular-technologies-language-prof) the most popular framework for frontend is React, followed by Angular and Vue. For the backend, that would be Express, ASP.NET (core or not), and then Flask/Spring, depending on if you ask professiona

[2021-08-20 21:06] mvila commented on #709
I totally agree that the tags should be sorted by popularity (in descending order) and limited to a certain number. It should be included in the API specs.

[2021-08-22 00:27] geromegrignon commented on #700
Quick update,

I'm working on a new backend implementation to deploy it as soon as possible.
It'll be a temporary solution while waiting for access to the real-world domain.

I still have some bugs to fix (the postman collection helping me a lot):
![image](https://user-images.githubusercontent.com/32737308/130338064-0923bf60-ce9e-4713-94e1-17bf2bdd3fd5.png)

Once live, I'll update the documentatio

[2021-08-22 15:31] RomanDavlyatshin opened #711 "Cleanup RealWorld API database from NSFW content"
# 🚀 Cleanup RealWorld API database from NSFW content

### Relevant scope
What is the scope of this request?

- [ ] Frontend specs
- [ ] Backend specs
- [x] Other... Please describe:

### Description
Currently, RealWorld API is publicly available, which led to the creation of ⚠️ NSFW tags ⚠️ and articles😞
This is **very unhandy** if one wishes to use RealWorld API in any sort of a demo.

### Descri

[2021-08-22 16:14] geromegrignon commented on #711
Hello @RomanDavlyatshin,

I'm actively working on retrieving access to the productionready.io domain to link it to a new database.
I'm also working on deploying a temporary API meanwhile (tracked with #700)
This temporary API should be released in few days.

A cron whipping the articles data on a regular basis is planned.

[2021-08-23 06:58] geromegrignon commented on #700
Here is the URL of the new API: https://realworld-temp-api.herokuapp.com/api
Keep in mind it's a temporary one. The goal is to deploy it to the existing productionready.io domain for existing implementations relying on it.
The API is deployed for free on Heroku, meaning the server sleeps after 30 minutes of inactivity.
So you may encounter latency on the first request on it (few seconds).

Besides

[2021-08-23 08:21] geromegrignon commented on #711
You can use this new temporary API URL: https://realworld-temp-api.herokuapp.com/api for your requests.

[2021-08-23 12:04] Allianzcortex commented on #700
awesome job ! ！ I just update my project with new API here : https://react-typescript-hooks-realworld.vercel.app/ and find that for retrieving feed&tags , we still need to get authorized.  This seems an unexpected behaviour ?
![image](https://user-images.githubusercontent.com/7290780/130444107-b544bf85-8683-4120-ad8f-5b0c0a9cf00a.png)

[2021-08-23 12:15] geromegrignon commented on #700
@Allianzcortex
Authentication isn't required on the feed (global feed, the personal feed still need authentication) and on tags.
I can't reproduce it on Postman and by using the swagger on https://realworld-temp-api.herokuapp.com/api-docs

[2021-08-23 12:21] Allianzcortex commented on #700
@geromegrignon yeah,very weird one. After cleaning up my old token and it works well. NVM ( - :

[2021-08-23 12:23] geromegrignon commented on #700
@Allianzcortex

I still need to fix:
- personal feed not retrieving data
- tags not being deleted on article deletion

[2021-08-23 12:59] RomanDavlyatshin commented on #711
@geromegrignon it looks like [backend API you've provided](https://realworld-temp-api.herokuapp.com/api) does not adhere to the [RealWorld API Spec for comments](https://github.com/gothinkster/realworld/tree/master/api#multiple-comments)

GET `api/articles/:slug/comments` (for article without comments)
Expected response:
[code]
Actual response:
[code]

[React Redux Frontend Implementation](https:/

[2021-08-23 13:26] Allianzcortex commented on #700
@geromegrignon feel it's better if we open another issue for the new API discussion. Here just curious that, for comments, the return format is :
![image](https://user-images.githubusercontent.com/7290780/130454603-a5617f0c-4cf1-44af-88d8-fbc3133a20bf.png)

`{"comments":{"comments":[]}}`

If it has passed all the postman tests then it should be np , but I feel it may be :

`{"comments":[]}`

My cu

[2021-08-23 13:33] geromegrignon commented on #711
Thanks for your feedback, It should be fixed by now.

[2021-08-23 13:34] geromegrignon commented on #700
@Allianzcortex I fixed it.

[2021-08-23 13:44] geromegrignon opened #712 "[Bug tracker] New deployed API"
A new API is deployed to fix the following issues:
- performance
- NSFW content

This new API is a temporary solution as we can't deploy on the productionready.io domain.
API URL: https://realworld-temp-api.herokuapp.com/api

I chose not to use an existing backend implementation but to create a new one as a starter for the incoming V2.
Please add a comment here if you find any bugs while using thi

[2021-08-23 13:45] geromegrignon commented on #700
You can submit and track issues related to this new API on #712

[2021-08-23 15:15] raulsebastianmihaila commented on #712
@geromegrignon thanks for the temporary API! It seems that login with incorrect credentials fails with a CORS error instead of the expected response.

[2021-08-23 16:31] geromegrignon commented on #712
Hello, I just fixed it.

[2021-08-23 17:03] raulsebastianmihaila commented on #712
Cool! However it doesn't follow the [spec](https://github.com/gothinkster/realworld/tree/master/api). As is, it breaks the crizmas-mvc implementation. I think the response should be something like:
[code]

[2021-08-23 18:02] geromegrignon commented on #712
@raulsebastianmihaila fixed too.
I chose to name the key *credentials* :

[code]

[2021-08-23 18:08] Allianzcortex commented on #712
@geromegrignon Hi , a follow-up from morning's `401 authorized` issue .

- What happened :

It shows 401 Unauthorized :

![image](https://user-images.githubusercontent.com/7290780/130495471-38ac6fc9-2258-4da5-a7d0-66886d14a6d6.png)

- Steps to reproduce :

a. register & login & fetch the feed , so far so good

b. after sometime(I guess JWT expiration time ?) , when trying to refresh the feed , wil

[2021-08-23 18:22] geromegrignon commented on #712
I changed the token duration from 100 minutes to 7 days.
It won't fix the problem but will give me time to prioritize tasks.
I'm not used to developing backend apps and being more used to consume auth on the frontend side than producing one!

[2021-08-23 18:30] Allianzcortex commented on #712
yet another producer-consumer problem LOLL

[2021-08-23 18:36] geromegrignon commented on #712
changed the token duration to 60 days to match the current deployed API :
[code]

[2021-08-23 20:02] Allianzcortex commented on #712
@geromegrignon find a issue(should be the last one..)  here. For comment :

https://github.com/gothinkster/realworld/tree/master/api#single-comment

![image](https://user-images.githubusercontent.com/7290780/130511731-564d22b8-708d-459e-a528-d682b4366806.png)

Here backend should return whole author object instead of `authorId`.

[2021-08-23 21:25] geromegrignon commented on #712
@Allianzcortex fixed too. Thanks for reporting it!

[2021-08-24 08:02] geromegrignon commented on #380
fixed by #664

[2021-08-24 08:02] #380 closed

[2021-08-24 20:43] geromegrignon opened #713 "[V2][Backend] API endpoints changes"
The V2 is a great opportunity to review the specs.

Here is an RFC for URL and verbs used on the backend specs:

#### Login user
**POST** `/api/users/login`

#### Register user
**POST** `/api/users`

#### Get current user
**GET** `/api/user`

#### Update user
**PUT** `/api/user`

#### Get profile
**GET** `/api/profiles/:username`

#### Follow user
**POST** `/api/profiles/:username/follow`

#### Un

[2021-08-25 16:38] Allianzcortex commented on #712
@geromegrignon another small issue here :  In old implementation , when we retrieve the feed :  we can get `min(articleCount,500)` value which can help us do pagination

![image](https://user-images.githubusercontent.com/7290780/130830368-74fd6a28-6538-466c-ad7d-cf50f2d20f01.png)

And currently articles count is only the count we return
![image](https://user-images.githubusercontent.com/7290780/13

[2021-08-29 23:42] geromegrignon commented on #484
Closing this issue as the new temporary server (https://realworld-temp-api.herokuapp.com/api) doesn't include this bug.

[2021-08-29 23:42] #484 closed

[2021-08-29 23:43] geromegrignon commented on #582
Closing this issue as we are reviewing the changes to be done on endpoints with #713.
Thanks for pointing it out!

[2021-08-29 23:43] #582 closed

[2021-08-30 09:58] geromegrignon commented on #695
Great idea.
Closing it as it's now tracked with #713 for a complete review of existing endpoints.

[2021-08-30 09:58] #695 closed

[2021-09-01 10:08] geromegrignon opened #718 "[Feature Request] Restrict public content"
The temporarily deployed API already faced NFSW content two days ago.
The API already includes a cron running on Sundays to delete articles/tags content on Sundays to limit such content but we have to go further.

Here is a solution proposed a few years ago to avoid public NSFW content :

[code]

_Originally posted by @lolripgg in https://github.com/gothinkster/realworld/issues/77#issuecomment-299

[2021-09-01 10:30] geromegrignon commented on #693
**[UPDATE]**

* The #694 RFC will close on September 6.
* I should be promoted to be able to create repositories on September 6 to create repositories for new official implementations
* a new official backend implementation has been created and deployed (https://realworld-temp-api.herokuapp.com/api)

[2021-09-01 13:24] geromegrignon commented on #718
Since my last reset yesterday, NSFW content has already been published.
The API won't be available for the next 5 hours.

I'll update the current API to deploy the previously listed changes.
It won't introduce breaking changes to frontend implementations using it as it'll return a filtered list of articles and tags.

[2021-09-01 22:33] geromegrignon commented on #718
The hosted API is back.
The Readme of the specs has been updated with new [limitations](https://github.com/gothinkster/realworld/tree/master/spec#limitations).

[2021-09-01 22:33] #718 closed

[2021-09-02 07:59] HoPGoldy commented on #712
@geromegrignon Thank you for providing this api endpoints! I found a bug about `api/articles/{slug}/favorite`:

When request this api, `tagList` in the returned article content become an object array instead of strings array:

![image](https://user-images.githubusercontent.com/28479777/131805379-f0cfd460-fd64-4af2-97eb-9b006d4203ed.png)

[2021-09-02 11:16] geromegrignon commented on #712
Hey @HoPGoldy, thanks for reporting it.
It should be fixed by now (for BOTH POST and DELETE on this endpoint).

[2021-09-07 11:33] orangy opened #719 "Instructions of running backend implementation with some frontend implementation"
`BACKEND_INSTRUCTIONS.md` could have instructions on how to clone some existing frontend and attach it to a backend being developed. Setting up webpack or something else for a backend developer would be really complicated, so prebuilt bundles would be helpful. Ideally there would be just a clonable/downloadable folder with `index.html` and all the rest needed to kick start backend development.

[2021-09-07 11:36] geromegrignon commented on #719
I plan to provide a [Stackblitz](https://stackblitz.com/) sample of a frontend implementation.
It'll allow backend implementations creators to be able to run a frontend web app just by using their browser.

[2021-09-07 20:17] geromegrignon opened #720 "[Feature Request]: Docusaurus integration"
### Relevant Scope

Other: describe below

### Description

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

[2021-09-07 21:14] geromegrignon opened #721 "[V2][Feature Request]: Project promotion"
### Relevant Scope

Other: describe below

### Description

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

_No response_

[2021-09-12 20:17] #721 closed

[2021-09-16 07:42] jason-den commented on #702
Hey guys. Any update?

[2021-09-16 07:54] geromegrignon commented on #702
Hey, as announced in the previous link, there is now a temporarily deployed API: https://realworld-temp-api.herokuapp.com/api (added too in the API docs).
You shouldn't face the CORS error on it.

[2021-09-17 08:43] bannndi commented on #702
Is it normal error when accessing this api directly ?

![image](https://user-images.githubusercontent.com/3719008/133752992-01cb5236-4edb-4a4b-b28d-f62ce1e14dbe.png)

[2021-09-18 15:22] geromegrignon commented on #702
Hey @bannndi, not normal at all!

I planned to move the swagger documentation to the /api route.
It's now done and you won't face the 500 internal error message anymore.

[2021-09-22 01:10] Allianzcortex commented on #712
@geromegrignon seems the register function is losing the temper now ?

![image](https://user-images.githubusercontent.com/7290780/134267857-2d1b02ab-bb3b-4e2b-a804-0b10c6e2798f.png)

[2021-09-24 14:07] geromegrignon commented on #712
@Allianzcortex Thanks!

I made some refactoring to open-source the API source code soon and it resulted in a new bug.
It's now fixed!

[2021-09-24 18:39] geromegrignon opened #722 "[V2] domains and API exposure changes"
Issue triage and features implementations aren't moving as fast if I expected as I spend most of my time trying to get access to the realword.io and productionready.io domains and related hosting solutions to update the currently hosted implementations.

The current situation makes the maintenance tied to private accounts owned by former maintainers.

I don't plan to leave the project but I always

[2021-09-27 06:37] skyliao1 opened #723 "[Feature Request]:When will it be out flutter version"
### Relevant Scope

Frontend specs

### Description

[code]

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-09-27 11:02] geromegrignon opened #724 "[Bug]: Non GET API request failing"
### Relevant scope

Deployed demo

### Description

[code]

[2021-09-27 21:36] geromegrignon commented on #723
Hey @skyliao1,

Implementations are created by our community.
You can track WIP there: https://github.com/gothinkster/realworld/discussions/categories/wip-implementations

There is no Flutter one listed yet, feel free to work on it!

[2021-09-27 21:36] #723 closed

[2021-09-28 00:07] geromegrignon commented on #712
@raulsebastianmihaila @Allianzcortex the temporary api is now deployed on the original domain: conduit.productionready.io.
You can update the URL of your implementations.

Feel free to provide me feedback

[2021-09-28 00:11] Allianzcortex commented on #712
@geromegrignon COOOOOLLL. And also looking forward to the open-source of the new implementation!

[2021-09-28 00:15] geromegrignon commented on #712
@Allianzcortex the repository is here: https://github.com/gothinkster/node-express-prisma-v1-official-app
The deployed branch is the `limited` one (with *demo* account, a cron to delete data on a regular basis, and fake data).

[2021-09-28 06:56] geromegrignon commented on #712
@raulsebastianmihaila and @Allianzcortex don't waste your time to test conduit.productionready.io for now.

There are some bugs :
conduit.productionready.io being used on an Heroku project we doesn't own, we had to make a redirection through realworld.io

Such a redirection results into cors errors and query params not passed with the redirection.

[2021-09-28 08:21] mayuxian opened #725 "Please ask member cirosantilli to stop slandering China on github, right now!!!"
### Relevant scope

Other: describe below

### Description

[code]

[2021-09-28 08:36] geromegrignon commented on #725
Hey @mayuxian,

cirosantilli is not a member of this organization.
Please reach him out directly.

[2021-09-28 08:36] #725 closed

[2021-09-28 12:03] geromegrignon opened #726 "[Bug][API] DELETE requests failing"
## Relevant scope
**Deployed demo**

## Description

**DELETE** API requests on conduit.productionready.io fail

[code]

## Solution

The situation is due to domain redirection.
We are working on moving conduit.productionready.io to the Heroku account hosting the API to fix it.

[2021-09-28 12:05] geromegrignon opened #727 "[Bug][API] PUT requests failing"
## Relevant scope
**Deployed demo**

## Description

**PUT** API requests on conduit.productionready.io fail

[code]

## Solution

The situation is due to domain redirection.
We are working on moving conduit.productionready.io to the Heroku account hosting the API to fix it.

[2021-09-28 12:11] geromegrignon opened #728 "[Bug][API] query params not used"
## Relevant scope
**Deployed demo**

## Description

We need to use query params on some routes.
It doesn't work due to a domain redirection that removes the params on the way.

## Solution

The situation is due to domain redirection.
We are working on moving conduit.productionready.io to the Heroku account hosting the API to fix it.

[2021-09-28 12:34] geromegrignon commented on #700
Resolved with a new API release.

[2021-09-28 12:34] #700 closed

[2021-09-28 12:35] #694 closed

[2021-09-28 12:37] geromegrignon commented on #711
Resolved by the release of a new API with limitations

[2021-09-28 12:37] #711 closed

[2021-09-28 12:39] geromegrignon commented on #708
Resolved by the release of a new API with the limitations listed by @mvila

[2021-09-28 12:39] #708 closed

[2021-09-28 12:42] geromegrignon commented on #642
Resolved

[2021-09-28 12:42] #642 closed

[2021-09-28 13:35] bondar-artem opened #729 "404 on Publish new article"
Hi @geromegrignon
Thank you for the API update but it has some issues.

It's not possible to publish the article, 404 error from backend
<img width="406" alt="Conduit 2021-09-28 08-32-26" src="https://user-images.githubusercontent.com/21285622/135097303-eac63ecb-9b34-4e80-a919-392be75edabb.png">

Fixes required:

- [ ] the slug must be unique as being used to identify an article, the API needs to

[2021-09-28 13:51] geromegrignon commented on #729
Hey @Postavshik,

I transferred the issue to the gothinkster/realworld repo as it's unrelated to the angular implementation.

I just gave it a try and it worked for me:
![image](https://user-images.githubusercontent.com/32737308/135098163-18b35f28-d989-493f-a420-60969a3993f9.png)

Can you provide the response from the request?

[2021-09-28 14:06] geromegrignon commented on #729
@Postavshik

I was able to reproduce the error: the name of the article must be unique but the API is currently returning a 404 error by providing a duplicate title.

Thanks for reporting this issue.

[2021-09-28 14:27] Postavshik commented on #729
Thank you for a quick response! 👍

[2021-09-28 15:27] geromegrignon commented on #729
Fixes required:

- [ ] the slug must be unique as being used to identify an article, the API needs to generate a unique one regardless of the uniqueness of the article title used to generate the slug
- [ ] the API shouldn't return a 404 error in such a situation

[2021-09-29 08:51] geromegrignon opened #730 "[Bug][API]: Non demo tags exposed publicly"
### Relevant scope

Deployed demo

### Description

[code]

[2021-09-29 16:13] fctorial opened #731 "Submissions on https://demo.realworld.io are sandboxed"
### Relevant scope

Deployed demo

### Description

[code]

[2021-09-29 19:31] geromegrignon commented on #731
Hey @fctorial,

The previous deployed API and used by demo.realworld.io hadn't such limitations.
However, some people used it to spam ads and Not Safe For Work content not aligned with our Code of Conduct.

After some failed attempts to clear the database on a regular basis, I had no choice but to add limitations not to expose user's content publicly.
Here are the limitations: https://github.com/g

[2021-09-29 19:37] geromegrignon opened #732 "[Feature Request][Demo]: Add a banner to warn users about the new limitations"
### Relevant Scope

Other: describe below

### Description

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

_No response_

[2021-09-29 21:04] fctorial commented on #731
Ok, thanks.

[2021-09-29 21:04] #731 closed

[2021-10-01 10:58] geromegrignon commented on #720
The documentation is now live on GitHub Pages: https://gothinkster.github.io/realworld/
I moved the existing documentation, additional tasks will be required to improve it.

I updated the description of the repository :
![image](https://user-images.githubusercontent.com/32737308/135609074-2fff6495-e919-4627-aa12-e55ece554b64.png)

[2021-10-01 11:35] geromegrignon opened #736 "[Docs] links review"
## Description

I moved the existing documentation by using Docusaurus #720
Some links might not work anymore.

## Solution

Explore the documentation on the hosted GitHub Pages: https://gothinkster.github.io/realworld/docs/intro
For every single broken link, update it inside the source code (the documentation files lie in the /documentation/docs folder).

#### external links

For external links,

[2021-10-01 14:33] benjamin-tessem commented on #736
Can I take care of this one?

[2021-10-01 14:42] geromegrignon commented on #736
Sure, go ahead!

[2021-10-01 21:49] #736 closed

[2021-10-03 20:59] #741 closed

[2021-10-03 20:59] #720 closed

[2021-10-03 21:14] geromegrignon commented on #712
The API now works as expected, I created a PR on repositories using the temporary API.

[2021-10-07 07:11] mvila commented on #269
Hi @ChrisZie,

I think it's better to wait for v2 which should provide a frontend reference implementation that is designed with testing in mind (e.g., relying on `data-*` attributes instead of CSS classes).

[2021-10-07 08:24] ChrisZie commented on #269
Hi @mvila ,

I could set up a general Cypress test suite and prepare one minimal test to open the page. We could include that in the build or as a GitHub action. Do you build in a docker setup?

[2021-10-07 21:46] calaway commented on #269
Thanks for keeping me in the loop, but I think at this point I'll step back from this project. Feel free to reference or use the [Cypress test suite repo](https://github.com/calaway/real-world-app-e2e-test-suite) I started. It isn't much, but I at least got most of the boiler plate starting code ready and set it up with Prettier and ES Lint. After that I just wrote one header test as a proof of co

[2021-10-08 21:07] geromegrignon commented on #269
The current version of the specs was defined 5 years ago.
Expectations evolved and there are some bugs to fix too.
The goal of this new version is to address them.

There is no activity yet about v2 as the new maintainer team had to deal with some issues with the project firstly.

While the first implementations were created and maintained by the maintainer team of the project, most of the current

[2021-10-11 15:36] benjamin-thomas commented on #269
Alright thanks for the background info :)

Let me know when that repo will be ready and I’ll start working on it.

[2021-10-15 06:42] geromegrignon commented on #726
fixed

[2021-10-15 06:42] #726 closed

[2021-10-15 06:48] geromegrignon commented on #729
fixed

[2021-10-15 06:48] #729 closed, assigned to geromegrignon

[2021-10-18 18:40] itsAftabAlam opened #764 "fix README.md , hyperlink to banner is missing"
assigned to myself

[2021-10-18 21:44] #764 closed, assigned to itsAftabAlam

[2021-10-24 23:26] geromegrignon opened #775 "[Feature Request]: Add CodebaseShow link to the documentation website footer"
### Relevant Scope

Other: describe below

### Description

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

_No response_

[2021-10-26 12:11] #775 closed, assigned to nobody

[2021-10-30 21:16] cirosantilli opened #781 "[Feature Request]: Add ability for users to destroy/delete their account on front + backend"
### Relevant Scope

Backend specs

### Description

[code]

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-10-30 21:24] cirosantilli opened #782 "[Feature Request]: Delete tag when there are no more articles with that tag"
### Relevant Scope

Backend specs

### Description

[code]

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-11-01 22:46] geromegrignon commented on #782
Agreed!

I chose to rely on a cron for the current API demo as I was urged to move forward to fix the NSFW situation.

To add LOCKing is entirely part of the changes I plan for the v2: both for the demo and the specs.
I'm not satisfied by the current API specs as there aren't guidelines about the database schema expectations, regardless of how to generate it.

[2021-11-01 22:52] geromegrignon commented on #781
Agreed!

[2021-11-02 18:43] benjamin-thomas commented on #269
Got ya thanks, I'll be working on it soon (sorry for the late feedback)

[2021-11-02 18:44] benjamin-thomas commented on #269
Got ya thanks, I'll be working on it soon (sorry for the late feedback)

[2021-11-04 23:32] concise-studio opened #788 "[RESOLVED] [Bug]: 500 No authorization token was found during PUT requests"
### Relevant scope

Deployed demo

### Description

Currently if you try to do a PUT requests, API will answer you "No authorization token was found" with code 500.

At first, the authorization header in token is specified (see screenshot: https://ibb.co/x36vs2z)
At second, even if token not specified, I expect form API one of those errors:
- **400** Bad Request (if we consider missing Authorizati

[2021-11-05 00:10] geromegrignon commented on #788
Hey @concise-studio,

Thanks for pointing out this bug! I can reproduce it.
It's due to server redirection: the new API is hosted on `https://api.realworld.io` but there is a redirection to it from `https://conduit.productionready.io` to support existing implementations.

I don't have direct access to `https://conduit.productionready.io`, so I can't guarantee when I'll fix it.
I encourage you to u

[2021-11-05 16:07] concise-studio commented on #788
Thank you, I switched the API Url and it works now

[2021-11-05 16:34] concise-studio opened #789 "[Bug]: API returns bio instead of image in the /profiles/{username} request"
### Relevant scope

Deployed demo

### Description

I'm trying to fetch the profile information and do request: `https://api.realworld.io/api/profiles/Ya`. The response is
[code]
As you can see, the data in the field 'image' is the same as the data in the field 'bio'.
From the other hand, when I do request to url `https://api.realworld.io/api/user`, thee response is correct and contain proper link

[2021-11-05 20:16] geromegrignon commented on #789
About the image, it's a bug to fix ;

[code]

About the Postman collection, `celeb` is hardcoded part of the username for the benefit of the tests.
You shouldn't include it. I invite you to use our Swagger documentation as a reference: https://api.realworld.io/api-docs/

[2021-11-05 21:21] geromegrignon commented on #789
Bug fixed.

[2021-11-05 21:21] #789 closed

[2021-11-05 21:40] geromegrignon opened #790 "[V1] API Domain change (discontinued support of conduit.productionready.io)"
## Description

The current domain used for the demo API is `conduit.productionready.io`.
The current maintainer team doesn't have direct access to this domain and it makes each new maintenance effort on it quite painful (partially explained in #722).

Due to current server redirection, there are inconsistent bugs, for example #788

Currently, `conduit.productionready.io` requests are already redi

[2021-11-05 21:45] #788 closed

[2021-11-06 09:30] geromegrignon opened #793 "[Feature Request]: add more 'Deploy to <hosting provider>' buttons"
### Relevant Scope

Other: describe below

### Description

You can easily host your own API with Heroku thanks to a `Deploy to Heroku` button in the Backend implementation [README](https://github.com/gothinkster/node-express-prisma-v1-official-app#deploy-to-heroku) right now.

### Describe the solution you'd like

I want to add such an option for other hosting providers.
Please answer this issue

[2021-11-06 09:45] geromegrignon opened #794 "Move API response format documentation to Swagger"
## Description

The format expected from API response is documented [here](https://gothinkster.github.io/realworld/docs/specs/backend-specs/api-response-format).
Such content can be included in the API documentation itself in the `openapi.yml` file, providing a unique source of information.

## Action

You can import the existing openapi file to [Swagger Editor](https://editor.swagger.io/) for a b

[2021-11-06 10:43] geromegrignon commented on #713
This task is now open for contributions to the API documentation ( I'll open contributions to the API itself soon).

Based on the [v2 branch](https://github.com/gothinkster/realworld/tree/v2) of this repository, changes have to be made upon the [OpenAPI file](https://github.com/gothinkster/realworld/blob/v2/api/openapi.yml).

You can preview changes by importing the yml file in [Swagger Editor](ht

[2021-11-07 00:30] vgautamm opened #798 "[Bug]: Follow/Unfollow Functionality is not working"
### Relevant scope

Frontend specs + Backend specs

### Description

[code]

[2021-11-07 00:31] vgautamm commented on #798
https://user-images.githubusercontent.com/43140948/140627900-497e9f10-fafb-4713-aa95-531af7e77e8e.mov

[2021-11-07 12:32] geromegrignon commented on #798
Thanks for this report. I confirm I'm reproducing it as well.
I'm going to do local tests to identify the bug.

[2021-11-07 13:57] geromegrignon commented on #798
It's now fixed: The value of **following** was based on the username of the profile itself, always returning false.

[2021-11-08 09:58] geromegrignon commented on #663
To keep track of updates on this project as it involves more than 1 repository, I created a related category in GitHub Discussions where you'll find weekly updates: https://github.com/gothinkster/realworld/discussions/categories/weekly-updates

[2021-11-08 15:05] geromegrignon commented on #790
## Open issues in Frontend implementations listed on CodebaseShow

- [ ] [Android native](https://github.com/coding-blocks-archives/Conduit_Android_Kotlin/issues/3)
- [ ] [Android native + Retrofit + Jetpack](https://github.com/Marvel999/Conduit-Android-kotlin/issues/1)
- [ ] [Angular](https://github.com/khaledosman/angular-realworld-example-app/issues/4)
- [ ] [Angular + Ngrx + nx](https://github

[2021-11-09 01:39] concise-studio opened #803 "[Bug]: "500 tagList.map is not a function" if empty string sent instead of tagList"
### Relevant scope

Deployed demo

### Description

If user did no fill the field 'tags', it is possible that frontend will send empty string in the 'tagList' parameter. In my opinion, if empty string is not allowed, API should return validation error (422), not internal error (500).

[2021-11-11 19:38] geromegrignon commented on #803
Hey @concise-studio, by creating the current API, I didn't include this 'feature' (tracked by #410).
I'll deploy a bug fix to match the previous API not to break existing implementations.

[2021-11-11 22:50] geromegrignon commented on #803
It should be fixed by now.

[2021-11-11 22:50] #803 closed

[2021-11-12 15:04] Postavshik opened #804 "[Feature Request]: Default articles and tags list for Global Feed (currently it's empty)"
### Relevant Scope

Backend specs

### Description

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

_No response_

[2021-11-12 21:22] geromegrignon commented on #804
Hey @Postavshik,

I added fake data and moved the Heroku dyno to a paid plan to avoid the server to sleep on inactivity to see if it impacts the data persistence (the fake data being deleted without any clue on a regular basis).

Keeping this issue open for 2 weeks as a reminder.

[2021-11-12 23:26] Postavshik commented on #804
@geromegrignon WOW, that was very quick!
Thank you so much! :))

[2021-11-13 12:14] geromegrignon commented on #804
You are welcome.
I made another fix as the cron was deleting all tags.

[2021-11-13 14:33] geromegrignon commented on #661
What's the motivation? The 2xx is enough information for clients to be confident that their request was properly handled.

[2021-11-13 14:39] geromegrignon commented on #661
About such change, I would propose not to include data for PUT requests

[2021-11-13 14:45] geromegrignon commented on #659
From my point of view, it feels like over-engineering for the project.
I personally never met it in usage, delegating API discoverability to proper API documentation and related specs.

[2021-11-13 15:09] geromegrignon commented on #659
Hey @err0r500,

I would encourage dedicated issues for each of them and further explanation about details to add as candidates to the future changelog.

[2021-11-13 15:17] geromegrignon commented on #442
Fixed with the new API

[2021-11-13 15:17] #442 closed

[2021-11-13 15:18] #116 closed

[2021-11-13 15:39] geromegrignon opened #808 "[DRAFT] V2 Changelog"
All notable changes to this project for the V2 will be documented in this file.

# Notice

 * For documented changes, please comment on related issues
 * For new changes, please open an issue

 # Demo

 ## Added

 ### [RFC] fake data

add more realistic fake data

 ### [APPROVED] add warning banner

add a banner to warn about demo limitations

 ## Changed

 ## Fixed

# Documentation

## Added

###

[2021-11-13 15:40] geromegrignon commented on #693
Hey @heyheyhello, I started a dedicated and more explicit changelog : https://github.com/gothinkster/realworld/issues/808

[2021-11-13 22:43] geromegrignon commented on #683
I'm reviewing issues.

I'll close this one:
- with a password manager, entering an email isn't that much a big deal
- it complexifies validation
- you can't use `inputmode="email"` to provide a good user experience on mobiles

[2021-11-13 22:43] #683 closed

[2021-11-14 19:15] geromegrignon opened #809 "[Refactor]: change tagList to tags"
## Description

The plural format currently used for **tag** is **tagList**.
It should match the plural format of **article** and **comment** (ie **articles** and **comments**).

## Solution

For consistency, the plural format for **tag** should be **tags**.

[2021-11-14 19:52] geromegrignon opened #810 "[Refactor]: remove slug segment from DELETE comment API URL endpoint"
## Description

The current API URL to delete a comment is `/articles/{slug}/comments/{id}`.
The slug segment is the slug of the related article.
To delete a comment, this slug isn't required.

## Solution

Change the URL to `/articles/comments/{id}`.

[2021-11-15 17:44] geromegrignon commented on #722
Hey @tobiu,

As explained earlier, I moved the Heroku dyno to a paid plan, and content isn't deleted anymore. I added more articles and comments.

[2021-11-15 18:24] #214 closed

[2021-11-15 18:27] geromegrignon commented on #256
Merged

[2021-11-15 18:27] #256 closed

[2021-11-15 22:05] geromegrignon commented on #536
@plusgut, as we are working on a set of e2e testing, having different usages will have an impact.

Would you have in mind some examples of frameworks using the hashtag as part of their best practices?

[2021-11-15 22:22] geromegrignon commented on #532
Right the expected format in **securitySchemes:** section of the API Documentation should be:

[code]

 Changes would have to be made in the `v2` branch as Token is still used as a solution.

[2021-11-19 12:13] geromegrignon commented on #804
fake data is still somehow deleted.
I'll move the database from Heroku to Supabase today.

[2021-11-19 14:01] geromegrignon commented on #804
Database moved to Supabase! :rocket:

[2021-11-22 16:37] rcmangnale opened #817 "[Feature Request]:Roadmap and explanation details"
### Relevant Scope

Backend specs

### Description

[code]

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-11-22 16:52] geromegrignon commented on #817
Hey @rcmangnale,
Please provide more information about your expectations.
It'll help me to understand and to give the best answer to your request.

[2021-11-30 20:54] mcroissant commented on #794
Hello, I've just checked the [open api spec](https://github.com/gothinkster/realworld/blob/v2/api/openapi.yml) of the v2 branch and it already contains the objects.

[2021-12-08 11:13] kaeedo commented on #798
I'm still seeing this bug when viewing a specific article by the followed user:
e.g. https://angularjs.realworld.io/#/article/Explore-implementations-1

It's possible to follow and unfollow a user on an article page, but when you refresh the article page it doesn't load the following status. The `following` property is missing in the API response

[2021-12-14 03:54] abonander opened #832 "[Bug]: Postman collection has a bug in the regex for matching ISO-8601 dates"
### Relevant scope

Other: describe below

### Description

[code]

I'm not sure the regex being used is entirely correct here: https://github.com/gothinkster/realworld/blob/6e73f5ee714ae502f5f6ef4aa95bd10fec4ae59b/api/Conduit.postman_collection.json#L332

Unescaped version:
[code]

It appears to require a decimal subsecond segment but matches on the decimal separator using an unescaped `.` which

[2021-12-14 04:16] abonander commented on #832
Didn't realize there was a PR opened for exactly this already: #490

[2021-12-21 19:32] geromegrignon commented on #798
Thanks @kaeedo!

Indeed it was never included in the specs and by creating the new API I missed it.
It's now fixed on the demo side.

I still have to update the documentation.

[2021-12-22 21:05] KostyaTretyak opened #838 "[Bug]: for now, realworld website not works correctly"
### Relevant scope

Other: describe below

### Description

Did you know that [realworld](https://gothinkster.github.io/realworld/) doesn't work right now?

[2021-12-22 21:15] geromegrignon commented on #838
Hey @KostyaTretyak, I moved the documentation to Netlify today and updated the url on the repository. I might have missed a link somewhere. Where did you find the broken link?

[2021-12-22 21:22] KostyaTretyak commented on #838
Hey. Oh, I'm browsing your website from a pinned tab in chrome. Now I've seen the new version your website. I close the issue.

[2021-12-22 21:22] #838 closed

[2021-12-26 12:09] KostyaTretyak commented on #794
For now in [open api spec](https://github.com/gothinkster/realworld/blob/v2/api/openapi.yml) expected 422 error when user not provides any IDs. For example `GET /tags`.

[2021-12-26 12:26] KostyaTretyak opened #839 "[Bug]:"
### Relevant scope

Backend specs

### Description

In post article body we have in the first place is `training`:

https://github.com/gothinkster/realworld/blob/a3855ae3a346e7bcb809dcddcc057bd13edc0c19/api/Conduit.postman_collection.json#L683

But in tests we expected `dragons` in the first place:

https://github.com/gothinkster/realworld/blob/a3855ae3a346e7bcb809dcddcc057bd13edc0c19/api/Conduit.

[2021-12-28 22:29] hippo604 commented on #794
Hi, I created PR #842 in response to this issue. Thanks.

[2021-12-29 17:26] cirosantilli commented on #839
I think tag list is just not specified in the spec as it should be.

I assume they are just sorting alphabetically which is a reasonable choice if the tag name is the primary key on the database.

However, I would prefer even better if tags were sorted by descending creation timestamp instead (or maybe updated time, and we can update updated time whenever the tag is applied to an article), as this

[2021-12-29 17:30] cirosantilli commented on #709
Another reasonable option would be to sort by last create or better, last applied to an article (current ordering appears undefined: https://github.com/gothinkster/realworld/issues/839 ) as that would lead to good experience for interactive exploration (you create article with tag, then go to index, and easily find your tag).

Sorting by most popular would however be ideal for autocomplete: https:

[2021-12-29 23:03] geromegrignon commented on #839
Indeed, we need to add rules about sorting in specs.
Meanwhile and to avoid breaking existing implementations, I'll create a PR to test tags regardless of their order.
I'm waiting for a review on #490 before (as there is a format change on the JSON file).

[2021-12-30 12:10] geromegrignon commented on #794
Hey @mcroissant, sorry for the late response.
The file includes properties but not examples.

[2021-12-30 12:12] geromegrignon commented on #794
Hey @KostyaTretyak, please open a bug report [here](https://github.com/gothinkster/realworld/issues/new?assignees=geromegrignon&labels=bug&template=BUG_REPORT.yml&title=%5BBug%5D%3A+) as this issue is about adding existing examples

[2021-12-30 13:31] geromegrignon commented on #794
Closed by #842

[2021-12-30 13:31] #794 closed

[2021-12-30 15:25] geromegrignon commented on #798
Fixed

[2021-12-30 15:25] #798 closed

[2021-12-30 23:00] geromegrignon commented on #804
popular tag list fixed too, closing this issue.

[2021-12-30 23:00] #804 closed

[2021-12-31 05:44] jetli opened #844 "[Bug]: https://api.realworld.io/api: `following` field is missing in `author` field"
### Relevant scope

Backend specs

### Description

backend api of https://api.realworld.io/api

now:

[code]

expected:

[code]

[2021-12-31 08:54] geromegrignon commented on #844
Hello, what's the affected endpoint?

[2021-12-31 09:03] jetli commented on #844
https://api.realworld.io/api/articles

[2022-01-17 02:28] jetli opened #856 "[Bug]: POST https://api.realworld.io/api/articles: following field is missing in author field"
### Relevant scope

Deployed demo

### Description

following is missing, and favoritedBy/_count are unnecessary.

now:

[code]

expected:
[code]

[2022-01-20 08:19] geromegrignon commented on #856
Thanks for opening this issue @jetli, i'll made according changes this week.

[2022-01-22 12:35] geromegrignon opened #863 "[Feature Request]: Fake current moderated content from the API"
### Relevant Scope

Other: describe below

### Description

I will change the API limitations introduced in 2021 regarding the spam of undesirable content we faced.

Thanks to #859, I realized that while such limitations are needed, it adds constraints on frontend implementations creators. They can't test pagination and full popular tags size without spending (wasting) time creating their content.

[2022-02-04 04:52] fasteddys opened #868 "[Feature Request]: ASP MVC Core frontend Demo"
### Relevant Scope

Frontend specs

### Description

Hello can you please include an ASP Core MVC front end in this as well.

### Describe the solution you'd like

 ASP Core MVC with ViewComponents and the other advanced frontend techniques to interweave dual binding, rx.js etc

### Describe alternatives you've considered

_No response_

[2022-02-23 20:59] aliataf opened #876 "[Bug]:"
### Relevant scope

Backend specs

### Description

Register a new user
`POST /users`

Returns 422 error with object:
[code]

[2022-02-23 21:06] geromegrignon commented on #876
Hey @aliataf, I can't reproduce your issue.

Is the body of your request matching the expected format?
Here is the related documentation: https://realworld-docs.netlify.app/docs/specs/backend-specs/endpoints#registration

[2022-02-23 21:24] aliataf commented on #876
@geromegrignon
Yes, it was my fault I forgot to wrap the fields in a "user" object.

[2022-02-23 21:24] #876 closed

[2022-02-24 16:59] robtweed opened #877 "[Bug]: api.realworld.io appears to be down?"
### Relevant scope

Other: describe below

### Description

The api.realworld.io back-end appears to be down.  Is there a problem?  If so any ETA on when it will be available again?
Thanks!

[2022-02-24 17:02] geromegrignon commented on #877
Hey @robtweed,

The API is hosted on Heroku.
They are facing an issue right now: https://twitter.com/herokustatus/status/1496890980531773455

[2022-02-24 17:04] geromegrignon commented on #877
![image](https://user-images.githubusercontent.com/32737308/155572113-84d0d592-c2ff-439d-9d6b-a72c25e65466.png)

[2022-02-25 10:27] robtweed commented on #877
Thanks - it came back soon after :-)

[2022-02-25 10:53] robtweed opened #878 "[Bug]: Strange authentication error on api.realworld.io"
### Relevant scope

Other: describe below

### Description

I'm developiong a new front end version of Conduit, and testing it against the api.realworld.io back end.  I have it all working perfectly on Chrome, Edge and Firefox, but if I try to run on Safari (desktop and mobile), I get the following error when using requests with the user's JWT in the Authorization header:

{
    "status": "error",

[2022-02-25 14:46] robtweed commented on #878
This is really bizarre - seems like a fundamental fetch bug in Safari but I'd have thought it would be something that would have been recognised everywhere.  Here's how I'm sending an authenticated request to the api.realworld.io backend:

  let url = host + '/api/articles/feed?offset=0&limit=10';
  let options = {
    method='GET',
    headers: {
      'Content-type': '/application/json',
      a

[2022-02-25 15:01] robtweed commented on #878
A further follow-up - checking some of the other front-end implementations, they're using essentially the same use of fetch as me.  They should also show the same problems if run in Safari against the api.realworld.io back end.  I might see if I can try one out and confirm.

[2022-02-25 15:19] geromegrignon commented on #878
Hey @robtweed, I confess I'm not familiar with Safari.
I made some quick Google searches, and it seems to be a common issue with the browser.
I'll try to find more information over the weekend.

[2022-02-25 15:21] robtweed commented on #878
I've just confirmed that the same problem occurs if you run the Vanilla JS version -  https://conduit-vanilla.herokuapp.com/#/ in - in Safari, so I'm not going mad! :-)

[2022-02-25 15:22] robtweed commented on #878
Thanks Gerome!

[2022-02-28 13:03] robtweed commented on #878
Some further follow-up.  I tried switching to axios instead of fetch when using Safair, but the problem remains.  From what I can determine, it's now pretty much impossible to persuade Safari browsers to redirect an Authorization header when using a CORS REST request - which is what most people using a RealWorld Conduit front-end will be doing.  This is only a Safari limitation from what I can det

[2022-02-28 14:36] robtweed commented on #878
Just to confirm after a quick test - it looks like Safari will re-direct the X-Authorization header, so that would be a good alternative/fallback

[2022-03-01 11:01] #877 closed

[2022-03-16 15:12] henno opened #895 "[Bug]: Potential privacy issue"
### Relevant scope

Backend specs

### Description

Is the inclusion of followers' emails and password hashes a bug or an intentional feature:
https://api.realworld.io/api/articles/Create-a-new-implementation-1

[2022-03-16 16:02] geromegrignon commented on #895
Hi @henno, thanks for bringing it to my attention.
It's a bug indeed.

I tried to release a new version with a quick fix but got an application error on heroku.
I'll dive later on today.

[2022-03-16 20:31] hosseinghs opened #896 "[Bug]: 422 Error code"
### Relevant scope

Frontend specs

### Description

Hi , i'm making a post request to the following address : ' https://api.realworld.io/api/users '
 and my payload is an object with email , username  and password.
i'm sending all these values and I get an 422 Error with the error msg that says : ' email can't be blank ' , while it is not blank,
i'm using nuxt/axios module and i have set credenti

[2022-03-16 20:32] geromegrignon commented on #896
Hi @hosseinghs, can you provide an example of the payload format sent here?

[2022-03-16 21:59] geromegrignon commented on #895
Fixed! 🚀

[2022-03-16 21:59] #895 closed

[2022-03-16 22:04] geromegrignon commented on #856
fixed

[2022-03-16 22:04] #856 closed

[2022-03-16 22:07] hosseinghs commented on #896
![image](https://user-images.githubusercontent.com/72767346/158699269-d23588f3-c394-4f42-8366-b11b87404342.png)

[2022-03-16 22:19] geromegrignon commented on #896
It doesn't match the expected format explained [here](https://realworld-docs.netlify.app/docs/specs/backend-specs/endpoints#registration)

[code]

[2022-03-16 22:21] hosseinghs commented on #896
you are a life saver =) !

[2022-03-17 08:42] geromegrignon commented on #896
you are wlecome

[2022-03-17 08:42] #896 closed

[2022-03-19 07:03] kujirajuunigou opened #898 "[Bug]: Password hash returned in token from the login response"
### Relevant scope

Deployed demo

### Description

The bcrypt hash of the password is returned in the JWT token from the response of the login endpoint.

The payload of the JWT has a signature, but the payload is base64-encoded and everyone with a token can decode it to get the password hash.

There's no good reason to include the hash in the token payload.

[2022-03-19 09:11] hosseinghs opened #899 "[Bug]: Articles Pagination"
### Relevant scope

Backend specs

### Description

Hi again , As explained in the docs , in order to use articles with pagination is to set the offset=0 to get the first page ,
now the problem is I have 13 articles which I can see in the api , I do " api.realworld.io/api/articles?offset=0  " and I get the first page, then for the second page I do " api.realworld.io/api/articles?offset=1 " but I w

[2022-03-19 19:10] #899 closed

[2022-03-19 19:10] hosseinghs commented on #899
offset is not the page number !!

[2022-03-19 19:14] hosseinghs opened #900 "[Bug]: getting 500 status code ( creating article )"
### Relevant scope

Backend specs

### Description

Hi
I'm sending data like this
![image](https://user-images.githubusercontent.com/72767346/159135213-d71aea8a-e1da-4b24-bde1-a3aff542fd40.png)

and I'm sending data as expected in the docs here [https://realworld-docs.netlify.app/docs/specs/backend-specs/endpoints/#create-article](url)
I get 500 status code and this error : "Cannot read properties

[2022-03-20 01:17] geromegrignon commented on #898
Hi @kujirajuunigou, thanks for pointing it out.
It's fixed now8

[2022-03-20 01:17] #898 closed

[2022-03-20 07:06] hosseinghs commented on #900
by the way **It would be much better to have a better way of handling errors , not just return the ORM errors in return.**
t**_his way of error handling right now is creating confusion , unexpected errors of different kind , and not being able to handle errors all at once._**

[2022-03-21 22:40] kllpff opened #903 "[Bug]: error 500 after login"
### Relevant scope

Backend specs

### Description

Error 500 after login. Authorization status disappears after update.
{"status":"error","message":"missing authorization credentials"}
"Argument where of type UserWhereUniqueInput needs at least one argument.\n
<img width="1440" alt="Снимок экрана 2022-03-22 в 01 40 22" src="https://user-images.githubusercontent.com/39679971/159374759-3132ee5c-045

[2022-03-21 23:22] geromegrignon commented on #903
Hi @kllpff, thanks for opening this issue.
I fixed it.

[2022-03-21 23:22] #903 closed

[2022-03-22 13:22] hosseinghs commented on #900
first of all , nice job and good luck to you , your api are being used for recruiting team couples of days ago so lots of people will be happy to hear your good news.
about the error handling what I have seen in other teams is that they have a simple error object with a text in it conveying the error . now handling couples of error at the same time might be subjective ! You can still send back an

[2022-03-24 08:12] geromegrignon commented on #868
Hello @fasteddys,

Implementations are created by the community.
Feel free to work on one matching your expectations to share it with the community.

[2022-03-24 09:03] geromegrignon opened #904 "Predictable error format"
first of all , nice job and good luck to you , your api are being used for recruiting team couples of days ago so lots of people will be happy to hear your good news.
about the error handling what I have seen in other teams is that they have a simple error object with a text in it conveying the error . now handling couples of error at the same time might be subjective ! You can still send back an

[2022-03-24 09:06] #900 closed

[2022-03-26 15:50] AndreasHae opened #905 "[Feature Request]: Github Action for checking backend API compliance"
### Relevant Scope

Backend specs

### Description

Right now, the process of checking API compliance within your CI pipeline (as you should) is a bit tedious to set up.
You have to manually copy the Postman collection and the `run-api-tests.sh` script and integrate it into your pipeline which involves some trial and error.

Furthermore, once the API spec evolves, there's really no way for me as a

[2022-04-02 07:13] geromegrignon commented on #905
Hey @AndreasHae,

I agree but couldn't find enough time to work on it.
With the current situation, not only do you need to retrieve the collection but to run it but it requires NodeJS as well.

I'll create a dedicated GitHub Action.

Why would the collection not be the maintainer' responsibility anymore?

[2022-04-12 12:34] AlinkLiy opened #922 "[Bug]: Several times add number "favorited""
### Relevant scope

Frontend specs

### Description

Steps to reproduce:
1) For example, move to Gerome's blog (https://demo.realworld.io/#/@Gerome)

2) Click a few times (for example, 5 times) on the button "favorited".

3) Wait.

**Actual result**: The number "favorited" has increased by 5 on the page and the browser sends 5 requests.
**Expected result:** The number "favorited" has increased by

[2022-04-13 14:22] geromegrignon commented on #922
Hi @AlinkLiy,

Thanks for reporting this issue.
I'll work on z fix later on this week.

Can you tell me which frontend implementation was used for the screenshot? The api url is now api.realworld.io and it's still about the conduit.productionready.io one.

[2022-04-18 20:54] #868 closed

[2022-04-20 11:08] JamieSlome opened #925 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@aravindd007) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best prac

[2022-04-20 12:58] geromegrignon commented on #925
Hi @JamieSlome,

A security policy has been created. Thanks for pointing it out!

[2022-04-20 12:58] #925 closed

[2022-04-20 13:10] geromegrignon commented on #922
@AlinkLiy,

I can't reproduce this bug with the API and several frontend implementations.
It's more likely due to the implementation you used:
this implementation increments a counter on each click rather than on the real favorite counter.

Can you provide a link to this implementation?

[2022-04-20 13:33] geromegrignon opened #929 "[Bug]: Security vulnerabilities on Documentation dependencies"
### Relevant scope

Other: describe below

### Description

There are current security vulnerabilities due to dependencies used for the Documentation website.

By trying to fix them by updating Docusaurus, I realized a lot of breaking changes were introduced meanwhile.
These changes break the current build : https://github.com/gothinkster/realworld/pull/908

Rather than spending time updating the

[2022-04-21 16:28] 1deviljohn1 opened #930 "[Bug]: Timed out fetching a new connection from the connection pool"
### Relevant scope

API response issue

### Description

Often API is unavailable

"Timed out fetching a new connection from the connection pool. More info: http://pris.ly/d/connection-pool (Current connection pool timeout: 10, connection limit: 9)"

![1](https://user-images.githubusercontent.com/17460230/164507326-29eff2e7-bbac-4a4d-8575-2cdb0fd835eb.png)

[2022-04-23 10:55] AndreasHae commented on #905
Hi @geromegrignon,

What I meant is that the collection itself would be updated by realworld project members whenever there's an API spec change. This way, developers don't have to manually check for spec changes, they just need to make sure the action is up-to-date, which can be automated by tools like dependabot. Of course it would still be their responsibility to keep the project up-to-date wit

[2022-05-07 17:57] conradylx commented on #713
Is this task still available?

[2022-05-15 14:41] xuchaobei opened #940 "[Bug]: `DELETE` article api returns status code 204"
### Relevant scope

Backend specs

### Description

`DELETE`  article api returns status code 204 as following:

![image](https://user-images.githubusercontent.com/5110783/168478339-67a5de9c-d4db-4710-ba53-fb192dae1d0f.png)

According to the [API specs](https://github.com/gothinkster/realworld/blob/main/api/openapi.yml#L426), it should return 200 with the `{}` content.

[2022-05-19 09:16] geromegrignon commented on #929
fixed by #942

[2022-05-19 09:16] #929 closed

[2022-05-20 15:07] geromegrignon commented on #940
Hi @xuchaobei, thanks for reporting it.
It's fixed now!

[2022-05-20 15:07] #940 closed

[2022-05-20 15:36] geromegrignon commented on #930
Hello,
It might be due to issue with Heroku at that time.

I added Sentry to the API to retrieve info.

[2022-05-20 15:36] #930 closed

[2022-05-20 15:37] geromegrignon commented on #922
Closing the issue as no info has been provided yet.
Feel free to add a comment later on.

[2022-05-20 15:37] #922 closed

[2022-06-06 14:33] geromegrignon commented on #713
Hello, sorry for the delay.
Yes, it's still available (please note proposals related to 582 and 695 are already done on the v2 branch).

[2022-06-10 07:17] sssoldy opened #949 "[Bug]: Update current user response issue"
### Relevant scope

Backend specs

### Description

Hi there, thank you a ton for this amazing project.

Seems that there is an issue at [update current user put reqsuest](https://api.realworld.io/api-docs/#/User%20and%20Authentication/UpdateCurrentUser).

The response always contain the "image" field with the "bio" field value.
![image](https://user-images.githubusercontent.com/25584118/173011351

[2022-06-12 04:39] mutoe opened #950 "[Swagger] UpdateUser DTO should be ‘password’ instead of ‘token’ field"
In fact, only the password field works. Although no error is reported when the token is passed in, the user's password will not be modified.

https://github.com/gothinkster/realworld/blob/3e581cb2de90fe68f25fd3bfc428af27e528336f/api/openapi.yml#L697

[2022-07-21 08:51] Phillie32 opened #966 "[Bug]:"
### Relevant scope

Backend specs

### Description

Hello my name is phillip

[2022-08-12 17:27] mikesol opened #971 "[Bug]: Updating the image replaces the image with the bio"
### Relevant scope

Backend specs

### Description

In the examples below, I'm sending a `PUT` request to the server with an update of `image` in the settings and the response I get for the image is the `bio`. I'm pretty sure this is a bug (although I could also be misunderstanding the spec). Thanks in advance for your help!

<img width="1087" alt="Screen Shot 2022-08-12 at 8 24 44 PM" src="https:

[2022-08-16 11:52] jhjvandenbroek commented on #564
Any news?

[2022-08-16 20:13] mvila commented on #564
Hi @jhjvandenbroek and @jhjvandenbroek,

The [repo you are talking about](https://github.com/gothinkster/laravel-realworld-example-app) is marked as unmaintained on CodebaseShow (see at the bottom of the [backend page](https://codebase.show/projects/realworld?category=backend)).

If the other Laravel implementations are not satisfying, feel free to submit your own implementation. 😄

[2022-09-12 14:22] martianshaan opened #977 "Hi"

[2022-09-22 19:55] DanielRamosAcosta opened #982 "[Feature Request]: SVG icon"
### Relevant Scope

Frontend specs

### Description

I've see that in the [media](https://github.com/gothinkster/realworld/tree/main/media) directory are several sizes of the Real World icon, but are there any SVG?

### Describe the solution you'd like

A SVG icon version

### Describe alternatives you've considered

🤷🏽‍♂️

[2022-09-23 19:27] geromegrignon commented on #971
Hi @mikesol sorry for the delay, it's now fixed.

[2022-09-23 19:27] #971 closed

[2022-09-23 19:29] geromegrignon commented on #982
Hi @DanielRamosAcosta,
Sadly when the current maintenance team joined the project, the original assets were already lost.

[2022-09-23 23:50] geromegrignon commented on #950
Hi @mutoe thanks so much for noticing it.
It's now fixed!

[2022-09-23 23:50] #950 closed

[2022-09-24 16:48] DanielRamosAcosta commented on #982
Oh, thanks for the response @geromegrignon

[2022-09-24 20:51] geromegrignon commented on #949
Hi @sssoldy, sorry for being late to the party. It's fixed now (was fixed a long time ago on the codebase side but not deployed as expected on Heroku).

[2022-09-24 20:51] #949 closed

[2022-10-01 09:29] geromegrignon commented on #662
Hi @plusgut, it's been a while. I'll create a repository to work on the V2 ui design in a few days.

I'll integrate storybook as a tool to demonstrate small parts of the application in isolation and facilitates discussion about future changes.

The goal of this step towards v2 is to work on a framework agnostic version (pure HTML/CSS).
It'll replace the current 'template' part of the current docum

[2022-10-01 17:23] plusgut commented on #662
@geromegrignon that sounds great, I'm looking forward to it. but I probably won't have much time available to participate.

[2022-10-03 15:06] geromegrignon commented on #982
# 💭 Introduction

We need a svg version of our logo.
![realworld-logo](https://user-images.githubusercontent.com/32737308/193610471-738e8766-e6d9-4b5d-bbe2-74cc350554d0.png)

# ✏️ Task

- [ ] Ask to be assigned to the issue.
- [ ] Wait to be assigned.
- [ ] create an SVG version of the current logo (the png version is available [here](https://github.com/gothinkster/realworld/blob/main/media/realwo

[2022-10-03 15:16] geromegrignon commented on #662
@plusgut here is a quite simple starter example using the existing templates: https://realworld-storybook-old.netlify.app/?path=/story/pages-article-form--article-form
I just created the repo for the next version: https://github.com/gothinkster/realworld-storybook

[2022-10-05 02:03] adamerose commented on #863
I understand the need to censor content but I think there really needs to be more than 3 sample posts by one user "Gerome". When I recently looked at [demo.realworld.io](http://demo.realworld.io/#/) after #718 I thought the backend was broken or something.

This issue has been open for a while now, may I suggest as a temporary solution just adding more hard-coded sample content? If you just kept i

[2022-10-09 10:18] geromegrignon commented on #863
Done @adamerose (30 new users with 20 articles and multiple comments for each of them).

[2022-10-09 10:18] #863 closed

[2022-10-21 17:11] Vishal2002 commented on #982
Do you need to convert the current logo from PNG to SVG .

[2022-10-22 14:25] geromegrignon commented on #982
Hi @Vishal2002, exactly!

[2022-10-26 15:52] Vishal2002 commented on #982
Assign me this issue to work on

[2022-10-27 10:31] geromegrignon commented on #982
sure, done. Thanks for your help.

[2022-10-27 12:36] Vishal2002 commented on #982
Where I have to add the SVG file Can you tell me?

[2022-10-27 12:44] geromegrignon commented on #982
You can add it in the [media folder](https://github.com/gothinkster/realworld/tree/main/media), naming it **realworld-logo.svg**.

[2022-10-27 14:08] Vishal2002 commented on #982
Will this issue get counted in the hacktoberfest?

[2022-10-27 15:04] geromegrignon commented on #982
sure I really appreciate the help and will apply the label on it (I don't put it on the project directly to avoid some spam).

[2022-10-31 16:01] Vishal2002 commented on #982
I am unable to see the change on the dashboard of hacktoberfest.

[2022-10-31 16:03] geromegrignon commented on #982
Hi @Vishal2002, the label must be applied on the Pull Request, but you didn't submit one yet to the project.

[2022-10-31 16:06] geromegrignon commented on #982
I looked at the file in your fork (https://github.com/Vishal2002/realworld/blob/main/media/realworld-logo%20(2).svg), and that's an inverted image, so it doesn't fit the requirement. By using it, the logo would be transparent with a black background.

[2022-11-21 09:40] g5-freemen opened #1004 "[Bug]:"
### Relevant scope

Other: describe below

### Description

https://demo.realworld.io/

[2022-11-21 09:51] geromegrignon commented on #1004
Hi @g5-freemen, thanks for bringing it to our attention.
I don't own the domain (and can't access the DNS configuration). I'll relay this bug to the owner.

At this point, I don't know when it'll be fixed.