[2016-06-09 18:45] c33k opened #1 "Pre-flight error"
Hello, guys.

I'm making the [Build an Angular 1.5 application with ES6 and Components](https://thinkster.io/angularjs-es6-tutorial#using-components-directives-for-reusable-ui-functionality) tutorial and, when I try to make a POST request using _$http_ for _/api/users_, like specified in **API.md**, I get an error on the pre-flight:

`XMLHttpRequest cannot load https://conduit.productionready.io/a

[2016-06-09 21:15] c33k commented on #1
You could check if there's any code that enable CORS twice.

[2016-06-10 17:36] apai4 commented on #1
CORS is enabled (once) to allow any origin

`$ curl -X OPTIONS -D - -H 'Origin: http://localhost:4000' -H "Access-Control-Request-Method: POST" https://conduit.productionready.io/api/users`

includes

`Access-Control-Allow-Origin: http://localhost:4000`

as a response header (no extra wildcard). Changing the URL in the `Origin` request header will yield an `Access-Control-Allow-Origin: ` response

[2016-06-10 17:52] c33k commented on #1
@apai4: you're right. It was a browser extension!

Someone installed the **CORS Toggle** in this machine's Google Chrome that I'm using and it was enabled, causing this problem.

Thank you!

[2016-06-10 17:54] #1 closed

[2016-07-04 08:47] radiart opened #2 "https://conduit.productionready.io/api doesn't work 404"
When I trying call API: **https://conduit.productionready.io/api** I getting error 404:

The page you were looking for doesn't exist.

You may have mistyped the address or the page may have moved.

[2016-07-04 10:46] #2 closed

[2016-07-04 10:47] radiart commented on #2
ok it works, I made mistake in code ;)

[2017-02-16 21:51] kentcdodds opened #3 "Workshop FYI"
Just want to leave an FYI here that I've created a workshop based on the work in the node and react implementations. I've left "thanks" in several places. Just thought you'd like to know :)

Thank you!

https://git.io/testing-workshop

[2017-02-21 01:57] EricSimons commented on #3
Thanks for doing that man, we really appreciate the shoutouts — you're more than welcome & I'm glad you found the project useful!

Btw I included a link to your repo [in our README](https://github.com/gothinkster/realworld#community-created-resources) so others can explore how you implemented TDD for the React/Node stack :)

[2017-02-21 01:57] #3 closed

[2017-04-02 10:28] jonnykates opened #4 "Postman collection URL in article 404s"
On [this article](https://thinkster.io/tutorials/testing-backend-apis-with-postman/using-collections-in-postman), the link to import the Postman Conduit collection is specified as:

https://raw.githubusercontent.com/gothinkster/productionready/master/Conduit.json.postman_collection

But this 404s. The collection can be properly found at this location:

https://raw.githubusercontent.com/gothinkster

[2017-04-19 21:52] EricSimons commented on #4
Thanks for this -- fixed!

[2017-04-19 21:52] #4 closed

[2017-04-19 21:58] EricSimons opened #6 "Implement GraphQL + Apollo/Relay for the Node + React codebases"
Originally brought up by @kentcdodds [here](https://twitter.com/kentcdodds/status/851201827857199105); further discussion [here](https://twitter.com/ericsimons40/status/851214707654447104).

Opening this issue to get a discussion going!

[2017-04-19 22:01] EricSimons opened #7 "🖥 🔧 Vue.js"
# Current Status

### Codebase in progress @ [github.com/vilsbole/realworld-vue](https://github.com/vilsbole/realworld-vue)

### Interested in helping out? Say hello! 🎉 **[gitter.im/realworld-dev/vue](https://gitter.im/realworld-dev/vue)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & u

[2017-04-21 15:17] mchandleraz commented on #7
I've been interested in getting into Vue lately... I don't think I've got time today, but maybe over the weekend. Definitely by Monday I should have a PR. I'll update this issue once I'm done :)

[2017-04-21 17:23] EricSimons commented on #7
Awesome! Just saw your fork of the boilerplate :)

For those out there interested in helping, you can check out @mchandleraz WIP repo over at https://github.com/mchandleraz/realworld-vue

[2017-04-21 17:23] EricSimons opened #9 "🗄🔧 Go + Gin"
# Current Status

### Codebase in progress @ [github.com/chrislewispac/realworld-starter-kit](https://github.com/chrislewispac/realworld-starter-kit)

### Interested in helping out? Say hello! 🎉 **[gitter.im/realworld-dev/golang-gin](https://gitter.im/realworld-dev/golang-gin)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in thi

[2017-04-21 17:26] EricSimons opened #10 "📱🔧 React Native"
# Current Status

- ### Codebase in progress:<br />[github.com/claytonschneider/realworld-react-native](https://github.com/claytonschneider/realworld-react-native)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/react-native](https://gitter.im/realworld-dev/react-native)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-ki

[2017-04-21 17:26] EricSimons opened #11 "Ionic 2+ [Mobile]"
Anyone out there interested in this? Many folks have been asking for a RealWorld Ionic 2 codebase. We haven't created any RealWorld based mobile apps (yet), so this would potentially be the first one :)

[2017-04-21 17:28] EricSimons opened #12 "🖥 🔧 Polymer"
# Current Status

- ### Codebase in progress:<br /> [spirosikmd/polymer-realworld-example-app](https://github.com/spirosikmd/polymer-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/polymer](https://gitter.im/realworld-dev/polymer)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link

[2017-04-21 17:42] mchandleraz commented on #7
Thanks for updating, Eric. I was just coming to add a link to my repo and let others know they're welcome to help. If anyone wants to join, open an Issue or hit me up on Twitter @mchandleraz so we can coordinate our efforts.

-Matt

[2017-04-21 17:45] chrislewispac opened #13 "🖥 🔧 Elm"
# Current Status

- ### Codebase in progress:<br /> [fcevado/realworld-elm](https://github.com/fcevado/realworld-elm)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/elm](https://gitter.im/realworld-dev/elm)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo &

[2017-04-21 17:46] chrislewispac commented on #9
echo, gin, and guerrilla. although many Go implementations use the standard libraries as well.

[2017-04-21 17:58] EricSimons commented on #9
@chrislewispac thanks for the info — which of those options would you recommend newcomers learn first? That would probably be a good place for us to start.

[2017-04-21 18:01] chrislewispac commented on #9
gin is the most newcomer friendly I would say.

https://github.com/gin-gonic/gin

[2017-04-21 18:43] thebigredgeek commented on #6
I can help with this (eventually)

[2017-04-21 18:45] EricSimons commented on #9
Awesome. Any chance you'd be able to [add support](https://github.com/gothinkster/realworld/tree/master/spec) for it? :)

[2017-04-21 18:47] chrislewispac commented on #9
Yeah, I just have to finish up courses but I'll get started on it. I can also work on an elm version at some point. I had been meaning to do something similar anyways.

[2017-04-21 18:49] EricSimons commented on #6
Awesome! Wanna [fork the starter kit](https://github.com/gothinkster/realworld-starter-kit) and post the link here so that others can watch/help?

[2017-04-21 19:05] thebigredgeek commented on #6
I don't have time right now, but I will see if I can connect you with people in the Apollo community who have more time than I do

[2017-04-21 19:07] thebigredgeek commented on #6
I've been talking a bit with mxstbr [here](https://github.com/apollographql/graphql-tools/issues/313).  He might be willing to help with it.  He was mentioned in the tweet that you linked to above

[2017-04-21 19:29] EricSimons commented on #9
Sweet! Lmk if there's anything I can do to help & feel free to [fork the starter kit](https://github.com/gothinkster/realworld-starter-kit) and post the link here so that others can watch/help :)

[2017-04-21 19:32] EricSimons commented on #13
Marking this a WIP as @chrislewispac [is planning on creating it](https://github.com/gothinkster/realworld/issues/9#issuecomment-296273172)

[2017-04-21 19:34] xemexpress opened #15 "README.md :slug won't be changed according to the Rails course instructions"
Please refer to https://thinkster.io/tutorials/rails-json-api/adding-articles-crud

[2017-04-21 19:36] claytonschneider commented on #10
I got it

[2017-04-21 19:43] EricSimons commented on #15
@xemexpress sorry, I'm not quite following you here — is there an error in our README or something?

[2017-04-21 19:45] EricSimons opened #16 "📱🔧 Ionic 2+"
# Current Status

- ### Codebase in progress:<br /> [shumbo/ionic-realworld-example-app](https://github.com/shumbo/ionic-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/ionic](https://gitter.im/realworld-dev/ionic)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
-

[2017-04-21 19:48] BrainMaestro opened #17 "🗄🔧 Elixir + Phoenix"
# Current Status

- ### Codebase in progress:<br /> [lbighetti/elixir-phoenix-realworld](https://github.com/lbighetti/elixir-phoenix-realworld)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/elixir](https://gitter.im/realworld-dev/elixir)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue

[2017-04-21 19:50] EricSimons commented on #17
Awesome! Wanna [fork our starter kit](https://github.com/gothinkster/realworld-starter-kit) and post the link in this issue so others can watch/fork?

[2017-04-21 19:54] EricSimons commented on #10
Awesome! Since we don't have any mobile versions (yet), you'll actually be creating *the* standard experience for all the future RealWorld mobile apps 🙌

[2017-04-21 19:56] xemexpress opened #18 "Updating Article Slugs (API Spec)"
1. According to the instructions in Rails Course (https://thinkster.io/tutorials/rails-json-api/adding-articles-crud), The slug won't be changed when the title is changed
Please refer to https://github.com/xemexpress/realworld/blob/master/api/README.md
"The slug also gets updated when the title is changed"

2. Delete Article is missing

[2017-04-21 19:57] EricSimons commented on #18
This is intended functionality, no?

[2017-04-21 19:57] #15 closed

[2017-04-21 19:57] #11 closed

[2017-04-21 19:58] EricSimons commented on #11
I screwed up and made a duplicate :)

[2017-04-21 20:03] EricSimons opened #19 "🖥 🔧 Svelte"
# Current Status

- ### Codebase in progress:<br /> [esakkiraj/realworld-starter-kit](https://github.com/esakkiraj/realworld-starter-kit)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/svelte](https://gitter.im/realworld-dev/svelte)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x]

[2017-04-21 20:06] BrainMaestro commented on #17
Thanks! I'll do that soon.

[2017-04-21 20:21] xemexpress commented on #18
Yes though :stuck_out_tongue:  I just don't know why users shouldn't make that change (on :slug)
Any help?

[2017-04-21 20:27] chrislewispac commented on #9
Contributions Welcome:

https://github.com/chrislewispac/realworld-starter-kit

[2017-04-21 20:35] agustif commented on #17
@BrainMaestro I would like to help on elixir/phoenix counterpart.

It seems like a really good exercise to make to learn to load associations and stuff...

Lemme know if you want to team-up or somethin!

[2017-04-21 20:42] EricSimons commented on #16
Also, the core logic from the Angular 2 version should be completely reusable here, so most of the work would be strictly related to UI & gluing services together.

[2017-04-21 20:55] BrainMaestro commented on #17
@agustif sure that sounds great! Just give me some time to set it up.

[2017-04-21 20:56] agustif commented on #17
Sure np! if you think that's ok just mention me on what you could use some help on!

[2017-04-21 21:17] EricSimons commented on #16
Here's a custom logo that we can use for the project:
![ionic-realworld-logo](https://cloud.githubusercontent.com/assets/556934/25296463/44395602-269d-11e7-9d53-20c1782190bd.png)

[2017-04-21 21:18] Rich-Harris commented on #19
Yes! This sounds like a great idea. I'm on vacation at the moment but let me see if anyone out there is up for making a start on this

[2017-04-21 21:21] EricSimons commented on #17
@BrainMaestro whenever you spin up the repo, feel free to swap out the default starter logo with this one I just made:

![elixir-logo](https://cloud.githubusercontent.com/assets/556934/25296576/d4cdcf5e-269d-11e7-9dfe-c2213e80a297.png)

[2017-04-21 21:42] EricSimons commented on #7
@mchandleraz FYI I made a custom logo that you can use for the README:

![vue-realworld-logo](https://cloud.githubusercontent.com/assets/556934/25297122/bce82486-26a0-11e7-9d62-e0530c6e0229.png)

[2017-04-21 22:49] claytonschneider commented on #10
@EricSimons Would you be able to help make some app icons for this using the original RealWorld image files? I've used https://makeappicon.com/ before for this -- free and it works pretty well.

[2017-04-21 22:50] EricSimons commented on #10
@claytonschneider I'm on it. Will also put those assets in the starter kit once they're ready 👍

[2017-04-22 09:50] akshatgoel commented on #10
@claytonschneider I will be happy to work on React native implementation. Need a helping hand?

[2017-04-22 12:04] unicodeveloper opened #20 "🗄🔧 Laravel"
# Current Status

- ### Codebase functionality complete! RFC is now open:<br /> [gothinkster/laravel-realworld-example-app](https://github.com/gothinkster/laravel-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/laravel](https://gitter.im/realworld-dev/laravel)**

### Todo:

- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [x]

[2017-04-22 13:23] lincolnbrito commented on #20
+1
I'm too!

[2017-04-22 15:06] anishkny opened #21 "🗄🔧 Firebase + GCP Cloud Functions"
# Current Status

- ### Codebase in progress:<br /> [github.com/anishkny/realworld-firebase-gcp-cloud-functions](https://github.com/anishkny/realworld-firebase-gcp-cloud-functions)

- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/firebase-gcp](https://gitter.im/realworld-dev/firebase-gcp)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/re

[2017-04-22 16:25] EricSimons commented on #20
@unicodeveloper @lincolnbrito Awesome — lets get this started! Can one of you [fork our starter kit](https://github.com/gothinkster/realworld-starter-kit) and post the link in this issue? I also created a logo that you can use for the readme:

![laravel-realworld-logo](https://cloud.githubusercontent.com/assets/556934/25306200/81705610-273d-11e7-8a2b-a00b336c3a40.png)

[2017-04-22 16:31] Alonski opened #22 "🖥 🔧 Ember"
# Current Status

- ### Codebase in progress:<br /> [github.com/gothinkster/ember-realworld](https://github.com/gothinkster/ember-realworld)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/ember](https://gitter.im/realworld-dev/ember)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x

[2017-04-22 16:57] EricSimons commented on #21
Mine too :) I'm wondering what the best way to implement the RealWorld spec w/ Firebase would be. Using the wrapper libraries like AngularFire, ReactFire, etc? Or do a lot of people use just the vanilla Firebase JS lib?

[2017-04-22 17:00] EricSimons commented on #22
Awesome! I just created custom logo that you can use for the readme:

![ember-realworld-logo](https://cloud.githubusercontent.com/assets/556934/25306472/85c50a62-2742-11e7-872d-00184a4dda1c.png)

[2017-04-22 17:32] Alonski commented on #22
Cool thanks! Update the readme

[2017-04-22 18:18] EricSimons commented on #18
Ahhh I understand what you're saying now. Changing the slug won't actually cause anything to break, as the frontends redirect to whatever slug you hand back in the article payload for the [PUT request](https://github.com/gothinkster/realworld/tree/master/api#update-article). So updating slugs are a "nice-to-have" but not mission critical for core functionality :)

That said, @apai4 any recs on how

[2017-04-22 18:30] apai4 commented on #18
@xemexpress The original thinking was that you wouldn't want your URL's to change when the author makes changes to the title otherwise you could get broken links if someone linked to a post externally.

You can make the slugs update on every save by changing this line in `article.rb` in the `before_validate` block:

[code]

[2017-04-22 18:40] anishkny commented on #21
Personally I am a fan of VueJS and hence by extension VueFire, but that or AngularFire/ReactFire would be for the front end right?

I was thinking of implementing the **backend** API with a thin [GCP Cloud Functions](https://cloud.google.com/functions/docs/) layer backed by Firebase. Since the spec backend API won't be supported out of the box by Firebase.

Btw, I am fairly new to GCP and backend

[2017-04-22 19:15] EricSimons commented on #21
I hadn't even considered GCP Cloud + Firebase — that's an _excellent_ idea. I can't wait to see one :) Wanna fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) and post the link back here so folks can watch/fork your work?

[2017-04-22 19:27] EricSimons commented on #21
@anishkny I just created a logo that you can use for the readme:

![firebase-gcp](https://cloud.githubusercontent.com/assets/556934/25307519/1a53bcdc-2757-11e7-8401-c48eb67ba349.png)

[2017-04-22 19:46] EricSimons commented on #10
@claytonschneider as promised, icons have been uploaded! You can find the link to them in our new [mobile specs](https://github.com/gothinkster/realworld/tree/master/spec#mobile-specs) section  🎉

[2017-04-22 21:23] EricSimons opened #23 "AngularFire, ReactFire, VueFire, etc"
We currently have a [Firebase + GCP backend](https://github.com/gothinkster/realworld/issues/21) in the works, but it would also be cool to create "backend-less" versions of Conduit using Firebase's JS libs.

A good strategy might be to fork our existing Angular/React/Vue etc RealWorld codebases, rip out all the API logic and replace it with Firebase methods.

Also, considering Firebase's data is

[2017-04-22 21:23] alexlafroscia commented on #22
Hey, I'd be interested in helping out with the Ember app. Let me know if there's anything I can do @Alonski

[2017-04-22 21:27] anishkny commented on #21
Thanks for the logo!

Forked the starter & WIP: [anishkny/realworld-firebase-gcp-cloud-functions](https://github.com/anishkny/realworld-firebase-gcp-cloud-functions)

[2017-04-23 00:44] EricSimons opened #24 "🗄🔧 Rust"
# Current Status

- ### Codebase in progress:<br /> [hsharpsoftware/rust-realworld-example-app](https://github.com/hsharpsoftware/rust-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/rust](https://gitter.im/realworld-dev/rust)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in

[2017-04-23 01:09] EricSimons commented on #22
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/ember) for this project — lets do our collaborator coordination in there 👍

cc/ @Alonski @alexlafroscia

[2017-04-23 01:12] EricSimons commented on #21
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/ember) for this! Lets do any collaborator coordination in there 👍

cc/ @anishkny

[2017-04-23 01:14] EricSimons commented on #7
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/vue) for this! Lets do collaborator coordination in there 👍

cc/ @mchandleraz

[2017-04-23 01:14] EricSimons commented on #9
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/golang-gin) for this! Lets do collaborator coordination in there 👍

cc/ @chrislewispac

[2017-04-23 01:15] EricSimons commented on #10
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/react-native) for this! Lets do collaborator coordination in there 👍

cc/ @claytonschneider @akshatgoel

[2017-04-23 01:17] EricSimons commented on #20
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/laravel) for this! Lets do our collaborator coordination in there 👍

cc/ @unicodeveloper @lincolnbrito

[2017-04-23 01:28] EricSimons commented on #17
Just set up [**the Gitter chatroom**](https://gitter.im/realworld-dev/elixir) for this — lets do our collaborator coordination in there 👍

cc/ @BrainMaestro @agustif

[2017-04-23 04:49] Hasnayeen commented on #20
@EricSimons I've setup a repo for this
https://github.com/iluminar/laravel-realworld-example-app

[2017-04-23 06:03] xsoh opened #26 "Image Upload (API Spec)"
Hello,
Thanks for this great specs.
I have suggestion for adding a image upload feature in the API spec while it is tricky thing and mostly needed.

Thanks

[2017-04-23 06:54] jadhavajay opened #27 "🖥 🔧 Aurelia"
# Current Status

- ### Codebase in progress:<br /> [jadhavajay/aurelia-realworld-example-app](https://github.com/jadhavajay/aurelia-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/aurelia](https://gitter.im/realworld-dev/aurelia)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link

[2017-04-23 08:17] EricSimons opened #28 "Implement word filter on public API"
Stop-gap solution until @ElonMusk can blast the trolls off to Mars 🚀👋

@apai4 can you knock this out?

[2017-04-23 08:26] EricSimons commented on #27
@EisenbergEffect do you know anyone who would be down to create the [RealWorld](https://github.com/gothinkster/realworld) app in Aurelia?

[2017-04-23 13:07] sibelius commented on #6
I think this boilerplate https://github.com/entria/graphql-dataloader-boilerplate can be used as a start point

I have this one for React Native + React Navigation + Relay https://github.com/sibelius/ReactNavigationRelay.

It is almost migrated to Relay Modern as well: https://github.com/sibelius/ReactNavigationRelay/pull/5

[2017-04-23 14:48] Hasnayeen commented on #20
Task list categorized by api

- [ ] Articles
  - [ ] GET - Feed
  - [ ] GET - All articles
  - [ ] GET - Articles by author
  - [ ] GET - Articles favorited by username
  - [ ] GET - Articles by tag
  - [ ] POST - Create article
  - [ ] GET - Single article by slug
  - [ ] DEL - Delete article
  - [ ] PUT - Update article
  - [ ] POST - Favorite article
  - [ ] DEL - Unfavorite article

- [ ] Auth

[2017-04-23 18:00] marcosfede opened #29 "Add oauth2 social login option"
I love that you included JWT for authentication, but I think that it will be very instructive to also add the option to log in using common oAuth2 providers, like github or facebook. This is a common issue we have when developing a fullstack app, and some examples of this would be greatly appreciated.

[2017-04-23 18:30] anishkny opened #30 "Meta: Lambda (All Languages) + DynamoDB [Backend]"
# Current status

- [x] Node Lambda + DD: **https://github.com/gothinkster/realworld/issues/37 WIP**
- [ ] Python Lambda + DD: _Seeking Engineers!_
- [ ] Java Lambda + DD: _Seeking Engineers!_
- [ ] C# Lambda + DD: _Seeking Engineers!_
-----

Similar to #21, it would be interesting to try and implement the backend using just AWS DynamoDB and Lambda functions. Something like [serverless](https://se

[2017-04-23 19:27] EricSimons commented on #30
Lambda+Dynamo would be super cool — you down to lead this one as well? I've been really digging your code quality for the GCP version 👌

[2017-04-23 19:48] EricSimons commented on #26
Great suggestion! As you probably know, the current way you update your profile picture is by providing a URL to an image. This was actually done intentionally to allow image upload support in the future. Specifically, here's how it would work:

1.  Have the frontend upload the image to a storage service like Amazon S3
2. S3/etc sends back the URL to the frontend for the uploaded image upon upload

[2017-04-23 19:51] abauzac opened #31 "🗄🔧 Dotnet Core (C#)"
# Current Status

- ### Codebase in progress:<br /> [abauzac/realworld-netcore-kit](https://github.com/abauzac/realworld-netcore-kit)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/dotnet-core](https://gitter.im/realworld-dev/dotnet-core)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue

[2017-04-23 20:00] brwr commented on #30
Something to consider: Lambda supports Node, Java, Python, and C#. It would be worth having each of these supported (with their respective serverless-like libraries) as we see an interest.

[2017-04-23 20:15] EricSimons commented on #31
@abauzac woot! 🎉

I just set up [the Gitter room](https://gitter.im/realworld-dev/dotnet-core) where we can do collaborator coordination and created a logo that you can use for the repo's readme:

![dotnet-logo](https://cloud.githubusercontent.com/assets/556934/25317095/c428e28a-2826-11e7-93bc-69f02fa284e3.png)

[2017-04-23 20:35] abauzac commented on #31
Thanks, I think you mixed up the links to the github repos ;)

[2017-04-23 20:43] EricSimons commented on #31
Oops! Just fixed it :)

[2017-04-23 20:48] EricSimons commented on #30
^ thats a cool idea. Do you think we should have a common "serverless spec" to share between them? Or just let the devs implement in their desired way?

[2017-04-23 21:21] EricSimons commented on #29
Excellent suggestion — we originally kicked the idea around of having oAuth as part of the core spec but decided against it to try and cut scope creep. oAuth implementations can vary between providers, frameworks, etc so broad support across all stacks would likely have been sufficiently difficult to create & maintain.

That said, I think a good solution to this might be encouraging folks to fork

[2017-04-23 22:32] stubailo commented on #6
This is a great idea! Unfortunately I don't have time to work on this myself but would love to help if I can.

[2017-04-23 22:58] apai4 commented on #28
:wink:

[2017-04-23 22:58] #28 closed

[2017-04-23 23:04] EricSimons commented on #6
@sibelius awesome! Would you be interested in taking lead on GraphQL/Relay?

@stubailo no worries — would be ❤️ if you could give feedback on the final code once it's ready!

[2017-04-23 23:15] sotojuan commented on #17
@BrainMaestro happy to join and contribute. Will check things out this week :-)

[2017-04-24 00:43] EisenbergEffect commented on #27
We can check into it.

[2017-04-24 01:24] sotojuan commented on #17
So I forked the starter kit here (https://github.com/sotojuan/realworld-starter-kit) as per Eric's instructions. Happy to work somewhere else though.

Before I do anything... what are we using? Raw Plug? Phoenix (1.2 or 1.3 beta?)? Feel free to answer here or in Gitter.

[2017-04-24 03:12] hodorswit opened #33 "React + Mobx [Frontend]"
I believe the React community would benefit from more examples of Mobx architectures juxtaposed against Redux in non-trivial applications. The only example I'm aware of is [SoundCloud Client](https://www.robinwieruch.de/the-soundcloud-client-in-react-redux/) developed by the excellent @rwieruch

I'm still getting my feet wet in the React ecosystem, but will take this on if there is not interest fr

[2017-04-24 04:42] thebigredgeek commented on #6
@EricSimons would definitely encourage use of Apollo over Relay.  It seems to be getting more traction these days

[2017-04-24 04:53] hodorswit commented on #33
I looked into the starter kit, but it occurred to me that it might make more sense to fork the existing React + Redux example app and refactor reducers to `@observable` stores. Any drawbacks to this approach?

I started a [fork](https://github.com/hodorswit/react-mobx-realworld-example-app) that adds the Mobx dependencies and migrates to custom-react-scripts to enable decorator support.

[2017-04-24 06:41] esakkiraj commented on #19
Svelte beginner here. Not sure if can do this fully on my own, as i have not much idea about routing and data access part. But will be happy to contribute to the project.

[2017-04-24 08:00] BrainMaestro commented on #17
@sotojuan I already created a repo here https://github.com/BrainMaestro/elixir-phoenix-realworld. Sorry for not linking it earlier.

I think Phoenix the latest stable phoenix is a good idea. I'll add the starter files today. Also thanks for wanting to contribute. This project will pick up steam soon. Sorry for slowing everyone down.

[2017-04-24 09:25] sibelius commented on #6
We can do both, Apollo, Relay and Relay Modern.

I can help with any questions for sure.
I don't have time to work on this myself

[2017-04-24 09:32] BrainMaestro commented on #17
I added a list of all the tasks to a github project [here](https://github.com/BrainMaestro/elixir-phoenix-realworld/projects/1)

[2017-04-24 10:47] rwieruch commented on #33
Thanks for mentioning. Just to give you some resources:

* [SoundCloud Client in React + Redux](https://github.com/rwieruch/favesound-redux)
* [SoundCloud Client in React + MobX](https://github.com/rwieruch/favesound-mobx)
* [PR: Refactoring from Redux to MobX of SoundCloud Client ](https://github.com/rwieruch/favesound-mobx/pull/1)
* [Tutorial: Refactoring from Redux to MobX](https://www.robinwie

[2017-04-24 11:37] sotojuan commented on #17
Thanks @BrainMaestro! Will have a PR or something up soon :-)

[2017-04-24 13:43] anishkny commented on #30
+1 for Lambdas in all supported languages.

I can take a stab at DD+Lambda NodeJS using [serverless](https://github.com/serverless/serverless). Spun off [repo](https://github.com/anishkny/realworld-dynamodb-lambda).

Note: I can't fork the starter repo twice from my account, so I manually forked it (by cloning locally, and pushing to new remote). So it wont show up in the official starter kit's [f

[2017-04-24 13:52] anishkny opened #35 "Backend REST API Testing - Chakram/Newman/Frisby?"
In the past I have had fun writing automated tests for REST APIs using [Chakram](http://dareid.github.io/chakram/). The provided [Postman files](https://github.com/gothinkster/realworld/blob/master/api/Conduit.json.postman_collection) are great while developing, but it may be worth having automated REST API tests.

Maybe we can "auto-derive" Chakram tests from the Postman specs or have both automa

[2017-04-24 15:34] sh-waqar opened #36 "Performance matrix for framework comparision"
It would be great if we would have some performance matrices to compare different frameworks (frontend/backend) just like TodoMVC has. Since the specs are same and for every framework same tasks are being followed we can write some automated scripts and check the performance for the tasks this way.

[2017-04-24 17:30] EricSimons commented on #33
@hodorswit I think your approach is perfect — no need to reinvent the React parts of the app :)

Regarding finding someone w/ more experience, @mweststrate do you know of anyone? Or perhaps someone that could provide advice to @hodorswit as he builds it out?

[2017-04-24 17:33] EricSimons commented on #33
@hodorswit I just updated the issue status + set up [a Gitter room](https://gitter.im/realworld-dev/react-mobx) where we can handle collaborator coordination 👍

[2017-04-24 17:44] EricSimons commented on #30
No sweat on the fork count for the starter kit, we only created it just so that getting started could (_potentially_) be as easy as one click :)

I'm going to create a separate issue for the Node DD+Lambda stack, and I'll put a checklist in this one for the remaining languages we'd like to support 👍

[2017-04-24 17:44] brwr commented on #36
Personally, I don't think this is a good idea. The problem is that benchmarks are misleading and contribute to the "Rails doesn't scale" nonsense that is too prevalent already.

Since you mentioned TodoMVC, let's use that as an example.

If you Google "todomvc performance", the first result (for me, at least) is: https://github.com/featurist/todomvc-perf-comparison

Now I don't know whether this i

[2017-04-24 17:45] brwr commented on #35
Can you clarify what problem we're trying to solve here? What purpose does automated tests provide that the Postman tests do not?

[2017-04-24 17:46] EricSimons opened #37 "🗄🔧 Node.js Lambda + DynamoDB"
# Current Status

- ### Codebase in progress:<br /> [anishkny/realworld-dynamodb-lambda](https://github.com/anishkny/realworld-dynamodb-lambda)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/node-lambda-dynamodb](https://gitter.im/realworld-dev/node-lambda-dynamodb)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) &

[2017-04-24 17:51] brwr opened #38 "Shorten pagination lists"
Here's a screenshot from the demo homepage:

![screen shot 2017-04-24 at 10 47 27 am](https://cloud.githubusercontent.com/assets/4095660/25350901/8a3fef36-28db-11e7-9d09-87347c47991c.png)

That's a bit of an eye sore.

A more visually appealing approach would be to show a max of 5 pages, plus a link to page 1 and a link to the last page.

Thoughts?

[2017-04-24 17:58] mweststrate commented on #33
@capaj @andykog @benjamingr @mattruby  anybody interested? ^

[2017-04-24 18:01] EricSimons commented on #38
Lol yeah, Conduit's original frontend spec never planned for having to elegantly nav for display thousands of blog posts :)

At this point it would be difficult to implement this across all the frontends — maybe we should have the public API only list a max of 20 pages of blogs?

[2017-04-24 18:07] EricSimons commented on #36
I agree with most of @brwr's sentiments here in that performance comparisons will likely be super unfair, esp because of how much creative freedom RealWorld devs have when building out the apps.

However, I'm not completely opposed to implementing something like this. Does TodoMVC officially endorse/support those performance measurements?

[2017-04-24 18:12] EricSimons commented on #35
I think @anishkny is looking for a more rigid way of testing the API endpoints, which I think is fair. Our postman collection could certainly use more work/polish and beyond that it doesn't provide a more _real_ TDD approach that's designed to actually try and break your backend.

Another key insight brought up here is that we could create "export to [your ideal testing solution]" by doing some si

[2017-04-24 18:36] benjamingr commented on #33
@mosho1

[2017-04-24 18:47] Hasnayeen commented on #20
I'm working on Register and Login api

[2017-04-24 19:05] mweststrate commented on #33
[Completely offtopic] @mosho1: Wondering about it since Friday, since I forgot to ask it, but did we meet last Friday without me realizing it? ;-) [/Completely offtopic]

[2017-04-24 19:11] EricSimons commented on #6
@leebyron do you know of anyone in the GraphQL community who might be interested in this?

[2017-04-24 19:21] EricSimons commented on #23
@davideast do you know of anyone in the Firebase/Angular community who might be interested in creating the AngularFire version of this? I'm thinking the other implementations could just mimic its database setup/implementation once completed 👍

[2017-04-24 19:40] anishkny opened #39 "📱🔧 Jasonette"
# Current Status

- ### Codebase in progress:<br /> [anishkny/realworld-jasonette](https://github.com/anishkny/realworld-jasonette)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-jasonette/Lobby](https://gitter.im/realworld-jasonette/Lobby)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
-

[2017-04-24 19:48] mattruby commented on #33
I'm out on this one.   Yoyo exhibition tomorrow I need to prep for!

[2017-04-24 19:52] anishkny commented on #38
😃 i think that's what they call a "good problem to have"?

Alternately, you could specify something akin to an "extra credit" section in the API. So like various implementations can optionally choose to implement the extra credit stuff e.g. shorter pagination lists etc - but its perfectly acceptable if they don't.

But if it makes things too complicated and dilutes the message, then not worth it.

[2017-04-24 20:07] EricSimons commented on #38
Totally, totally agree with your sentiments here. And I _love_ the idea of having "extra credit" specs!

[2017-04-24 20:12] brwr commented on #38
I think this is a symptom of a larger problem. How do we decide what should be part of every realworld implementation?

When new things come up that should be in every implementation, how do we get that done?

It's a lot of work, but this is worth thinking about now. Otherwise we will have to think about it when there are 20+ implementations, instead of the ~10 there are now.

[2017-04-24 20:13] brwr commented on #36
As far as I can tell, the benchmarks are not endorsed by TodoMVC. Nor does TodoMVC have any of their own.

[2017-04-24 20:15] antony opened #40 "🗄🔧 HapiJS"
Hapi is the server-side node framework which powers Walmart's mobile site, among others. If it can handle black friday, it's a prime candidate for realworld!

With Joi for seamless validation, and Boom for consitent API errors, Hapi makes API creation a breeze, and a refreshing change from the raw-edges of express.

I'll request this here, and if nobody picks it up I'd be more than happy to start

[2017-04-24 20:20] EricSimons commented on #38
Very carefully, on a case by case basis. @apai4 and I spent a lot of time (and iterations) creating the 1.0 spec and it has reliably stood the test of time against the 6 major frontend & backend frameworks. So right now we know that 1. the spec works (generally speaking) and 2. there are some warts that we need to deal with.

By default, we should seek solutions that avoid updating the spec unless

[2017-04-24 20:25] EricSimons commented on #40
I love it! @hueniverse is there anyone in the Hapi community that might be want take this on and/or provide feedback to @antony while he builds it out?

[2017-04-24 20:29] EricSimons commented on #38
Additional thought: if/when we release a new spec, we should follow semver for this repo. That would allow "old" implementations to continue pointing at the old specs/API docs.

[2017-04-24 20:31] brwr commented on #38
We're on the same page as far as implementation costs are concerned.

What I'm getting at is that the implementation cost should be considered separately from whether a feature is desirable. Implementation cost is better used to dictate priorities after a yes/no decision has been made for a specific feature.

Example:

**Should the pagination list be shortened?**

Does shortening the pagination li

[2017-04-24 20:32] sh-waqar commented on #36
@brwr - you have made some excellent points and I agree with them. It can create some confusions for new developers and they can get some wrong impression about the framework. There is already much dispute with frameworks that which one is the "Best".

@EricSimons - No the benchmarks for TodoMVC are no officially endorsed by them, they are created by other developers.

I think it would be okay to

[2017-04-24 20:32] #36 closed

[2017-04-24 20:34] EricSimons commented on #36
Okay sounds good — thanks @sh-waqar! Would love to hear more suggestions from you in the future :)

[2017-04-24 20:38] EricSimons commented on #38
Got it. Maybe this will help:

The key value of RealWorld is the ability to pop open a brand new codebase you've never seen before, explore it, and walk away with a high level understanding of how it works within 10 minutes.

Any time we add to the spec we risk increasing every codebase's complexity, and thus risk failing on our 10 minute promise. And that's why we need to discuss every spec chang

[2017-04-24 20:39] thebigredgeek opened #41 "Now deployment"
Deployment with Zeit's [Now](https://zeit.co/now)

[2017-04-24 20:43] thebigredgeek opened #42 "Standardizing environment variables & config for deployments"

[2017-04-24 20:43] thebigredgeek commented on #42
Currently impossible to deploy as-is.  Expects mongo to be running locally

[2017-04-24 20:50] EricSimons commented on #38
Looping back to the main topic here, @apai4 what do you think? Think hiding pagination on prod is a reasonable solution here for the time being?

[2017-04-24 20:53] EricSimons commented on #42
Some codebases do use env vars but we currently don't have a strict spec for it. Perhaps this is something that we should add to the spec @brwr @apai4? Should require pretty minimal mods to the codebases, and then we could make deployments a reality.

[2017-04-24 20:53] EricSimons commented on #41
Partially blocked by https://github.com/gothinkster/realworld/issues/42

[2017-04-24 20:55] EricSimons commented on #42
Interested how we could standardize env vars across the board for all languages/frameworks. Would love to hear thoughts on this.

[2017-04-24 21:11] JackyChiu commented on #9
Hey, do you guys need an implementation with just the standard Go `net/http` library?

[2017-04-24 21:22] brwr commented on #42
:+1:

If this is a blocker to having common deployments across implementations, then we should absolutely do it.

Standardizing naming may prove to be tricky, but I think we can make it work. The best thing to do here is take each env var as it comes up.

Since databases were mentioned here, I'd say we should use `DATABASE_URL`. Most database adapters should support connecting via a database URL.

[2017-04-24 21:36] EricSimons commented on #19
@esakkiraj okay! I say go ahead and get started, and when you run into things you need help on, lets  ping @Rich-Harris and see if he (or someone he knows in the Svelte community) can help answer your q's :)

[2017-04-24 21:39] EricSimons commented on #33
@hodorswit wanna add @andykog to the repo & coordinate work? Feel free to use [the gitter room](https://gitter.im/realworld-dev/react-mobx) I set up for this Mobx implementation if need be :)

[2017-04-24 21:53] EricSimons commented on #9
Not yet! Want to start one @JackyChiu? I can create a new issue for it if so 👍

[2017-04-24 21:59] AlKoFDC commented on #9
I'd also prefer learning more about the implementation with the net/http package. I'm not sure I can contribute, but I'll definitely watch.

[2017-04-24 22:04] EricSimons opened #43 "📱🔧 Swift"
# Current Status

- ### Codebase in progress:<br /> [littleStudent/swift-realworld-example](https://github.com/littleStudent/swift-realworld-example)
- ### Interested in helping out? Say hello! 🎉 <br />

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🎨 Create logo for repo & update issue status (@ericsimons)
- [

[2017-04-24 22:04] EricSimons opened #44 "📱🔧 Java/Android"
# Current Status

### Seeking engineers!
### Ready to start this framework implementation? Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit), post the link to it in this issue, and then  [start building Conduit](https://github.com/gothinkster/realworld/tree/master/spec)! 🎉

### Todo:

- [ ] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit)

[2017-04-24 22:06] apai4 commented on #42
Currently I've been setting environment variables as part of the [deployment tutorials](https://thinkster.io/tutorials/fullstack/deploying-to-production-environments), partially because it leaves setting environment variables out of scope until you have to deploy (for better or for worse), and because there some minor differences in how to get the codebases deployed between platforms.

I do agree

[2017-04-24 22:20] EricSimons opened #45 "🗄🔧 Go + net/http"
# Current Status

- ### Codebase in progress:<br /> [JackyChiu/realworld-starter-kit](https://github.com/JackyChiu/realworld-starter-kit)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/golang](https://gitter.im/realworld-dev/golang)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x]

[2017-04-24 22:21] EricSimons commented on #9
[New issue](https://github.com/gothinkster/realworld/issues/45) created specifically for net/http version. @JackyChiu feel free to fork @chrislewispac's repo and the post the link to the new issue, and then I'll update the issue's status.

[2017-04-24 22:27] JackyChiu commented on #9
@EricSimons Yeah I'd love to help out!

[2017-04-24 22:28] JackyChiu commented on #45
I'll jump on this as soon as I can! 😄

[2017-04-24 22:48] thebergamo commented on #6
@ericSimons I can help with the GraphQL implementation in the server side.

[2017-04-24 22:58] EricSimons opened #46 "🗄🔧 Node + GraphQL"
# Current Status

- ### Codebase in progress:<br /> [thebergamo/realworld-graphql](https://github.com/thebergamo/realworld-graphql)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/graphql-relay-apollo](https://gitter.im/realworld-dev/graphql-relay-apollo)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the li

[2017-04-24 22:59] EricSimons commented on #6
@thebergamo awesome! I just spun up a new issue for it (https://github.com/gothinkster/realworld/issues/46) — can you fork the starter kit and post it in the issue? I'll update the status afterwards 👍

[2017-04-24 23:01] apai4 commented on #38
@EricSimons Yeah I think that makes sense. I don't think it's worth applying a change to all the codebases since this isn't something they'll run into often if they're running the entire stack locally.

[2017-04-24 23:01] #38 closed

[2017-04-24 23:19] EricSimons commented on #38
This is now running in prod 👍

[2017-04-24 23:23] #18 closed

[2017-04-25 00:36] anishkny opened #47 "Glitch [Backend Environment]"
This is not a new stack per se, but more a super easy to use/remix hosting environment for NodeJS apps.

I ported the RealWorld NodeJS backend repo over to glitch here, with few tweaks:

**https://glitch.com/edit/#!/realworld**

(Instructions in the README)

To get it working, you would need a hosted MongoDB instance, which you can get from say [mLab](mlab.com) for free.

Glitch is an amazing plat

[2017-04-25 00:53] Mosho1 commented on #33
@benjamingr @hodorswit I'll see if I have time to take a jab at it this weekend. And no, @mweststrate, sadly we did not meet :P

[2017-04-25 01:14] fcevado commented on #17
I don't know if it should be discussed here, at the @BrainMaestro repo, or at the gitter. But shouldn't it be using the phoenix 1.3 structure, I know it's not released yet, but it already has rc-1 and it's already possible to create a project with the new structure. Since it's a project to serve as an example for   devs, I think it should be built with the new structure.
The first topic in this ta

[2017-04-25 01:29] steveluscher commented on #6
I can chip away at a Relay Modern implementation, @EricSimons, @thebergamo.

[2017-04-25 01:32] thebergamo commented on #46
@EricSimons first step done!
https://github.com/thebergamo/realworld-graphql

I think by the end of the week, I can update the repo with a simple boilerplate attending the basic specs for the APIs

[2017-04-25 01:32] thebergamo commented on #6
@EricSimons done!

[2017-04-25 01:54] agustif commented on #17
+1 on 1.3 but doesnt matter starting on 1.2, we could document changes and update the repo and that would help making old docs/tutos not as much obsolete maybe

But id do it in 1.3 too, I was just waiting to see what @smpallen does on coherence

[2017-04-25 02:06] EricSimons commented on #47
This is 💯💯💯! We should totally have a link to this in the Node repo's readme. Would def love to collab with Fog Creek in any way :)

Does Glitch support any databases out of the box? Or do you have to provide your own every time? i.e. if they support MySQL or something, maybe we could make a port of the Mongo version that could also run natively on Glitch

[2017-04-25 02:06] JackyChiu commented on #45
Let's get this started 😎
👉🏻 https://github.com/JackyChiu/realworld-starter-kit

[2017-04-25 02:11] EricSimons commented on #46
Awesome! I just updated the issue status & created this logo for your repo's readme:

![graphql](https://cloud.githubusercontent.com/assets/556934/25366017/c00bde40-2921-11e7-9c91-be669ead5c44.png)

[2017-04-25 02:14] EricSimons opened #48 "🖥 🔧 Relay"
# Current Status

### Seeking engineers!
### Ready to start this framework implementation? Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit), post the link to it in this issue, and then  [start building Conduit](https://github.com/gothinkster/realworld/tree/master/spec)! 🎉

### Todo:

- [ ] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit)

[2017-04-25 02:16] fcevado commented on #17
I wouldn't recomend coherence at all, it's built with `comeonin` and probably uses `bcrypt`. It looks like it's made to work with devise.
I'd rather built it from scratch(given the modular nature of Elixir/Phoenix, it's not a complex thing) using `argon2` for hashing.
Just for reference:
https://password-hashing.net/

[2017-04-25 02:18] EricSimons commented on #6
@steveluscher awesome! Just spun up a [new issue](https://github.com/gothinkster/realworld/issues/48) for it — can you fork the starter kit and post it in the issue? I'll update the status afterwards 👍

Also, I created [a gitter room](https://gitter.im/realworld-dev/graphql-relay-apollo) so that all of the folks working on graphql/apollo/relay can chat and coordinate (since they rely on each other

[2017-04-25 02:27] EricSimons commented on #45
@JackyChiu just updated the issue status (w/ link to this implementation's gitter room)! Also, feel free to swap the logo in your readme with this one: https://github.com/chrislewispac/realworld-starter-kit/blob/master/go-realworld-logo.png

[2017-04-25 02:39] steveluscher commented on #48
I'll chip away at https://github.com/steveluscher/relay-realworld-example-app. I tentatively chose not to put ‘modern’ in the repo name. Someone can always make a relay-**classic**-realworld-example-app repo to distinguish it from this one.

[2017-04-25 03:40] agustif commented on #17
I am not advocating for coherence for this project, but I'm following along the updates of some libraries I want to use in a personal project and everyone seems to be scrambling to do the 1.3 updates, that was my point, just waiting to see what others do and then proceed.

Since we're doing an API only backend Im guessing we will use guardian and maybe guardian_db to store passwords in db.

I've r

[2017-04-25 04:05] fcevado commented on #17
I understood that, i just commented as a tip. :sweat_smile:

Actually for this project, I think it will be implemented html and api(based on the rails implementtation that has both).
@EricSimons  is that correct?

An Elixir/Phoenix project? I think cowboy is more than enough as a server :stuck_out_tongue: ...

[2017-04-25 04:07] fcevado commented on #13
Has anyone started a repo?

[2017-04-25 04:07] EricSimons commented on #17
Nope, this is strictly API requests only - the Rails codebase only sends JSON via endpoints too (no HTML, etc)

[2017-04-25 04:08] EricSimons commented on #13
@fcevado nope! Feel free to start one :)

[2017-04-25 04:09] fcevado commented on #17
I saw some views there, thought it had html... :sweat_smile:

[2017-04-25 04:09] agustif commented on #17
Exactly, at the end of the day any of the backends will match any of the clients, and we're keeping it like this in realWorld, Im guessing server rendered pages are not taken into account.

[2017-04-25 04:10] fcevado commented on #13
ok :+1:

[2017-04-25 04:12] EricSimons commented on #17
Yeah server rendering was intentionally left out of the spec because of how much it varies based on framework/language/etc. So def make your tech decisions based around the backend being _strictly_ an API server 👍

[2017-04-25 04:22] JackyChiu commented on #45
A little side note that the web framework will be from the standard library but the database driver will not be (since there are no database drivers in the standard library, only a driver interface defined in the `database/sql` package)

[2017-04-25 05:23] esakkiraj commented on #19
@EricSimons  Okay then. I will start working on this. :thumbsup:

[2017-04-25 07:21] dimonnwc3 opened #49 "🗄🔧 Koa.js(Node.js) + knex(SQL)"
# Current Status

- ### Codebase in progress:<br /> [dimonnwc3/node-koa-realworld-starter-kit](https://github.com/dimonnwc3/node-koa-realworld-starter-kit)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/koa](https://gitter.im/realworld-dev/koa)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this

[2017-04-25 09:57] silentworks commented on #19
@esakkiraj ping me if you need any help

[2017-04-25 10:09] silentworks opened #50 "🗄🔧 Slim"
# Current Status

- ### Codebase in progress:<br /> [alhoqbani/realworld-slim](https://github.com/alhoqbani/slim-php-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/php-slim](https://gitter.im/realworld-dev/php-slim)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue

[2017-04-25 11:18] a-r-g-v opened #51 "🗄🔧 Flask"
# Current Status

- ### Codebase in progress:<br /> [a-r-g-v/realworld-flask](https://github.com/a-r-g-v/realworld-flask)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/flask](https://gitter.im/realworld-dev/flask)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for

[2017-04-25 12:00] MohamedShawky opened #52 "Django and mongodb"
how to create this api when i use django and mongodb as a backend
and how to make authentication
please help me
thank you in advance

[2017-04-25 12:15] InPermutation commented on #47
Glitch doesn't provide a DBMS running for you, but you could use SQLite since the file system is persistent and writable. 🎏

[2017-04-25 12:53] fcevado commented on #13
Just created the repo
https://github.com/fcevado/realworld-elm

[2017-04-25 13:39] anishkny commented on #47
The RealWorld NodeJS app ([repo](https://github.com/gothinkster/node-express-realworld-example-app)) is fairly tightly coupled with MongoDB/mongoose. Hence MongoDB is pretty much a hard requirement. Fortunately, [mLab](https://mlab.com) quickly gives you a small hosted MongoDB with 0.5GB (See their [Sandbox Plan](https://mlab.com/plans/pricing/#plan-type=sandbox)).

Thus, Glitch+mLab is basically

[2017-04-25 13:48] eko24ive commented on #26
@EricSimons is it required to use external file storage e.g. AWS ? Is there are some caveats/restricions  when using your own server ?

[2017-04-25 13:57] shumbo commented on #16
I'm interested on this but seems like the implementation of React Native is in progress. Should I wait and see their design and consider that as a standard?

[2017-04-25 14:34] EricSimons commented on #16
@shumbo I can help you w/ the getting the general design set up (I can make the templates/styles, and you can add in the logic), so we should be good to get started 👍 Feel free to fork the starter repo and post in this issue!

[2017-04-25 14:36] EricSimons opened #53 "Push notifications (mobile)"
I was just thinking, it might be nice for us to host an APNS/GCM server that mobile apps can connect to and receive push notifications for (i.e. For notifications about comments, likes, etc on the users' conduit posts).

Push notifications are part of nearly every mobile app, so I think this would be a good addition to make it "real world". Thoughts?

[2017-04-25 14:41] EricSimons commented on #53
Also, now that parse is dead, what is the most common way to host a push noti server?

[2017-04-25 14:43] pketh commented on #47
in that case, mlab is definetely my recommendation. I use glitch+mlab myself for some personal projects.

The reason glitch currently doesn't have a real db is basically because doing it right is a lot of work. (there's a reason mlab is a whole company). More details: https://support.glitch.com/t/deprecating-dynamodb-and-datastore-js-support/611

The downside of this approach of course is that the

[2017-04-25 14:59] shumbo commented on #16
@EricSimons Thank you.

https://github.com/shumbo/ionic-realworld-example-app

Here I folked the repo and started ionic project. I'm not really sure about `community styleguides & best practices`, please let me know if there's better ways.

[2017-04-25 15:14] EricSimons commented on #51
Awesome! Just updated the issue status, created [a gitter room](https://gitter.im/realworld-dev/flask) for us to manage collaborator coordination, and created the logo for your repo's readme 👍:

![flask](https://cloud.githubusercontent.com/assets/556934/25392886/c68d5d8a-298e-11e7-97c6-5b9ed1c26daf.png)

[2017-04-25 15:20] EricSimons commented on #50
Awesome! Just updated the issue status, created [a gitter room](https://gitter.im/realworld-dev/php-slim) for us to manage collaborator coordination, and created the logo for your repo's readme 👍:

![slim](https://cloud.githubusercontent.com/assets/556934/25393250/d935af54-298f-11e7-8dd9-b17a71f8698f.png)

[2017-04-25 15:25] BrainMaestro commented on #17
I think `1.3` is a good choice too. Will update it.

[2017-04-25 15:29] EricSimons commented on #49
Awesome! Just updated the issue status, created [a gitter room](https://gitter.im/realworld-dev/koa) for us to manage collaborator coordination, and created the logo for your repo's readme 👍:

![koa2](https://cloud.githubusercontent.com/assets/556934/25393827/572420f2-2991-11e7-93a7-d1751d59b6f4.png)

[2017-04-25 15:32] EricSimons commented on #52
@brwr how hard do you think it would be for someone to fork your Django codebase and have it use mongo instead? i.e. how decoupled is the DB from logic?

[2017-04-25 15:34] EricSimons commented on #51
@alanhamlett would you be interested in helping out @a-r-g-v with this? :)

[2017-04-25 15:37] EricSimons commented on #47
^ that's an awesome feature — lets totally get something like that set up for our node codebase(s)! We're also working on a way to live demo the frontend codebases as well, but that's due out in ~3-4 weeks :)

PS - @pketh I'm sure ya'll have thought of this already,  but having integration partners (similar to how Heroku does it) would be a killer feature for glitch 💪

[2017-04-25 15:40] pketh commented on #47
yup heroku-style partnerships is definitely something we'd be interested in doing more of, the pre-populated env field is a first step in that direction.

[2017-04-25 15:44] brwr commented on #52
Not sure. Django'S ORM sits between the database and the logic, so
decoupling isn't an issue.

That said, Django's ORM doesn't provide native support for Mongo. There are
packages available that do, but I'm not sure how good they are.

I'd have to do more research to say how much work it would be.
On Tue, Apr 25, 2017 at 8:32 AM Eric Simons <notifications@github.com>
wrote:

[2017-04-25 15:44] hueniverse commented on #40
You can try posting about it at https://github.com/hapijs/discuss

[2017-04-25 16:06] alanhamlett commented on #51
Yea I can help 👍

[2017-04-25 16:32] battila7 commented on #40
I'm just experiencing with Hapi but will definitely keep my eye on this implementation once it's started.

[2017-04-25 16:48] davidpodhola commented on #24
Is there already a repo somewhere or should I create one?

[2017-04-25 17:06] EricSimons commented on #24
@davidpodhola nope! Go ahead and fork the starter kit & then post the link to your repo back here 👍

[2017-04-25 17:12] EricSimons commented on #40
@antony go ahead and take lead on this! Fork the starter kit and then post the link back here, and I'll update the issue status 👍

[2017-04-25 17:27] EricSimons commented on #16
@shumbo Ang2 styleguide is probably the most relevant one to follow for this codebase. Also, we have an Ang2 app we can steal services/logic from (https://github.com/gothinkster/angular2-realworld-example-app)

[2017-04-25 17:37] leocavalcante opened #54 "Any stack can join?"
There are any constraints about the submitted stacks? They should be popular, widely used or obey any restrictions?
I'm willing to submit some work using https://siler.leocavalcante.com/
Thanks!

[2017-04-25 17:40] EricSimons commented on #54
@leocavalcante Nope, no constraints 🙌 We'll accept _any_ stack implementation (as long as it passes the community's quality assurance review :)

[2017-04-25 17:43] leocavalcante commented on #54
Awesome :smiley:

[2017-04-25 17:43] #54 closed

[2017-04-25 17:48] EricSimons commented on #26
@eko24ive nope, you could technically have the upload go through the backend as well. However, it's generally not a good idea to do that because it can easily kill your server performance. Instead, if you have the client upload to a storage server that then webhooks to your server on success, you can process the pre-uploaded data in-datacenter in a non-blocking way that won't affect your API serve

[2017-04-25 17:57] EricSimons commented on #50
@silentworks FYI some folks in the Gitter channel (https://gitter.im/realworld-dev/php-slim) are asking q's regarding what the DB layer will be, etc

[2017-04-25 18:28] anishkny commented on #47
I suppose to close this thread, perhaps this Glitch link can be added somewhere in the README as one way to quick start hacking on the NodeJS backend:

**https://glitch.com/edit/#!/realworld**

[2017-04-25 19:04] EricSimons commented on #47
Also, we could create a [sequelize](http://docs.sequelizejs.com/en/v3/) version of the Node codebase so that it's literally one click to get up and running w/ SQLite. A few folks have asked for Postgres support too, so this would be a nice 2-for-1 deal.

[2017-04-25 19:16] harshabonthu commented on #53
We use this to test / debug push notifications and it includes sample setup using PHP -> http://apns-gcm.bryantan.info

I'm not familiar with the node packages but should be able to do the same using package for node.

Another alternative is we can configure Firebase notifications or Ionic.io and there API can be used to send push notifications.

`would this even be possible due to push noti certs

[2017-04-25 20:57] Cameron-C-Chapman opened #55 "🗄🔧 Spring (w/ Spring Boot)"
# Current Status

- ### Codebase in progress:<br /> [Cameron-C-Chapman/realworld-spring](https://github.com/Cameron-C-Chapman/realworld-spring)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/spring](https://gitter.im/realworld-dev/spring)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue

[2017-04-25 21:26] anishkny opened #56 "Fullstack repo"
As evidenced by [this issue](https://github.com/gothinkster/angularjs-realworld-example-app/issues/8), wiring up frontend and backend can be non-trivial. It would be useful to have a single repo that I could clone, and say `npm start` and it would give me *both* a running backend and frontend.

This repo could depend on appropriate BE and FE repos via package.json. E.g. something like:

[code]

[2017-04-25 21:53] hodorswit commented on #33
Just added @Mosho1 and @andykog to the repo!

[2017-04-26 04:40] sio-iago opened #57 "🗄🔧 Clojure"
# Current Status

- ### @sio-iago will be taking lead on this!

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🔨 Implement all of Conduit's functionality per the [spec & API](https://github.com/gothinkster/realworld/tree/master/spec)
- [ ] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 👀 Move re

[2017-04-26 04:46] EricSimons commented on #57
Yup! 👋 Feel free to fork the starter kit and get started (& post the link to your repo on this issue and I'll update the issue status, etc tomorrow AM)

[2017-04-26 05:01] SachaG commented on #56
Somewhat related, what about fullstack frameworks like Meteor? Would they be acceptable too?

[2017-04-26 05:59] brwr commented on #56
I don't think this is realistic because that would require `n^m` repositories.

Chances are we can solve this by improving each repo individually, as needed. Regarding the issue you mentioned: this looks to be an error caused by not locking Angular to the correct version. That's a trivial fix.

If this becomes a big deal then it makes sense to re-visit. For the moment though, it sounds like a lot

[2017-04-26 06:03] brwr commented on #56
@SachaG It's probably best to move your question to another issue. It's definitely a valid question. I'm not sure how much consideration frameworks like Meteor have been given. Feel free to create one!

[2017-04-26 06:15] brwr commented on #52
Update: After looking into this more, I think it's a decent amount of work. It might be less for something more familiar with building MongoDB data models.

Basically, relational and non-relational data need to be modeled differently. And while the logic isn't tied to what's in the database, it is (necessarily) tightly coupled to the Django model implementation. If the model changes, then some of

[2017-04-26 06:17] EricSimons commented on #56
Agree with @brwr here, but I think I get the essence of what @anishkny is getting at: I want to be able to run this stuff locally with zero room for failure. I'm 100% on board with that. I feel like the best solution might be creating a vagrant/docker/etc image that can boot any of our backends/frontends, because then you could even bundle DB into it as well. Thoughts?

[2017-04-26 06:23] brwr commented on #56
I love the idea! Especially since we'd get to bundle the DB. But Docker/Vagrant/etc have their own set of problems. Specifically, I'm worried about dealing with cross-platform issues when it comes to getting Docker set up.

That said, I suppose we would at least localize all of the potential issues to Docker.

Maybe we could hack something together over a weekend? Happy to help with that. We can g

[2017-04-26 06:35] EricSimons commented on #56
@sachag would definitely love to see meteor on here! We already have other non-REST implementations like GraphQL as WIPs that require full rewrites for FE&BE, so this would be a similar to that I'd imagine.

Were you thinking of starting Meteor implementation for RealWorld? If so, feel free to fork the starter kit and create a new issue for it 🎉

PS - huge fan of Discover Meteor, still one of my f

[2017-04-26 06:38] EricSimons commented on #56
@brwr that sounds good to me!

@anishkny would love to hear your thoughts -- would a common docker image solve that pain point you were having?

[2017-04-26 06:44] sohamnavadiya commented on #53
@EricSimons I would like to suggest to implement FCM notification for mobile apps.

[2017-04-26 08:02] ALenfant opened #58 "🗄🔧 F#"
# Current Status

- ### Codebase in progress:<br /> [Korbin73/realworld-fsharp](https://github.com/Korbin73/realworld-fsharp)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/fsharp](https://gitter.im/realworld-dev/fsharp)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create lo

[2017-04-26 08:28] roman01la commented on #57
Hey! I'd like to work on ClojureScript front-end. @EricSimons Should I open a separate issue?

[2017-04-26 09:32] davidpodhola commented on #24
Create a [repo](https://github.com/hsharpsoftware/rust-realworld-example-app).

[2017-04-26 10:54] battila7 commented on #55
Are you going to use Spring Boot or vanilla Spring? If it's vanilla, do you plan to use other Spring projects such as Spring Security or Spring Data?

[2017-04-26 11:43] anishkny commented on #56
Hey, did you mean n*m instead of n^m? But yeah point taken, it would be a high enough number not to be practical.

I feel one hard API requirement should be that each implementation has to tell me exactly what steps I need to follow to bring up the full stack (either BE or FE) to make it usable against anything else (other FE, BE, Postman, whatever).

Right now even the NodeJS reference [repo](htt

[2017-04-26 11:48] Cameron-C-Chapman commented on #55
@batilla7 I will use Spring Boot but probably just start with regular jdbc/sql. I thought starting with the simplest implementation makes sense. (although you might argue Spring Data is simpler). Maybe there could be different branches for the leverage of different Spring projects or maybe different repos entirely?

[2017-04-26 12:06] Cameron-C-Chapman commented on #56
I wonder if some standardized sections in the readme like "startup prerequisites" and "startup" along with some standardization around things like port numbers to use could help? That way if a project is getting merged those startup instructions can be validated and the port numbers are always common so swapping out backends is trivial. Say for example front ends are always 9000, backends are alwa

[2017-04-26 13:42] mfeitoza opened #59 "🗄🔧 Falcon and GAE"
# Current Status

- ### Codebase in progress:<br /> [realworld-falcon-gae](https://github.com/mfeitoza/realworld-falcon-gae)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/falcon-gae](https://gitter.im/realworld-dev/falcon-gae)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🎨 Cr

[2017-04-26 14:22] battila7 commented on #55
Spring Data might be simpler to use but there's too much "magic" involved, which kills the simplicity in my opinion. Therefore taking the JDBC path sounds like a good idea.

I think using different branches in the same repo is completely sufficient and much easier to manage. With careful planning and coding you can even develop the shared layers (presentation and service) on the same branch for al

[2017-04-26 14:22] claytonschneider commented on #53
@EricSimons

At [Blend](https://blend.com/) we use Amazon SNS for push notifications which works really well, but the infra setup required there might be a bit overkill for Realworld. I think [OneSignal](https://onesignal.com/) could be a good choice, it's free and there are SDK's available for [Ionic/Cordova](https://github.com/OneSignal/OneSignal-Cordova-SDK) and [React Native](https://github.co

[2017-04-26 14:28] battila7 commented on #56
If the requirements were modified as @Cameron-C-Chapman said and Docker were dropped in (as a requirement too) then a CLI tool would be able to start up an appropriate backend and frontend as asked.

[2017-04-26 14:47] brwr commented on #7
@mchandleraz Any updates on this? Anything we can do to help?

[2017-04-26 14:49] brwr commented on #9
@chrislewispac Hey! Any updates on this? Anything we can do to help?

[2017-04-26 14:51] brwr commented on #6
It looks like this issue has been split into multiple other issues. Do we still need this one or can we close it?

[2017-04-26 14:54] chrislewispac commented on #9
@brwr Feel free to clone the repo and get started. I have finals this week so won't be doing much until next week.

[2017-04-26 14:54] brwr commented on #13
@EricSimons Can we get a logo for this? 👍

[2017-04-26 14:59] brwr commented on #17
Hey, yall!

I think this conversation would be better had at [BrainMaestro/elixir-phoenix-realworld](https://github.com/BrainMaestro/elixir-phoenix-realworld). As a rule of thumb, implementation-specific talks are a good candidate for being in the implementation repo.

CC @EricSimons Thoughts?
CC @fcevado Because you said you weren't sure. 😄

[2017-04-26 15:03] chencitrix commented on #55
So how should i get the services you offer? Because you have to tell me what kind of form should be used as a reciprocal way?                  I would like to ask a question, whether each of the exchanges have to go through the review after the test there is an unqualified threshold?                        Because the move here is like making a puzzled question and then becoming a sample of the na

[2017-04-26 15:04] brwr commented on #19
@esakkiraj Have you forked the starter repo yet? If so, can you drop a link so we can add it to this issue?

[2017-04-26 15:06] brwr commented on #21
Hey @anishkny! Any update on this? Anything we can do to help?

[2017-04-26 15:14] chencitrix commented on #21
So what about this pattern：( how do you do it or what? )

This has become a popular Solitaire game tonight, and is the subject of
repeated tonight.
Can we enter the topic?

ChenCritix

2017/4/26 下午11:06，"James Brewer" <notifications@github.com>寫道：

[2017-04-26 15:22] brwr commented on #24
I added the repo status to this issue and created the Gitter channel. All information is at the top of the page. :+1:

[2017-04-26 15:23] Cameron-C-Chapman commented on #56
I also think there is a potential for a cli here that could be really cool. It would be difficult for sure but the idea of being able to do something like "realworld start --frontend=angular --backend=go" could make the process of experimenting with different stacks really seamless.

[2017-04-26 15:27] anishkny commented on #21
@chencitrix not sure if this the right thread?

Updates: So far I have managed to setup the entry point handler with few routes implemented.

Meanwhile, Firebase database design is evolving in README.

Also setup an overall v1 [tracker](https://github.com/anishkny/realworld-firebase-gcp-cloud-functions/issues/1).

I am looking for collaborators, with interest shown from @RomarioRaffington and @rez

[2017-04-26 15:27] Cameron-C-Chapman commented on #55
@chencitrix I'm not sure I understand the question. Is your question about he we implement the Spring backend specifically or is this a more general question about the realworld process for merging projects?

[2017-04-26 15:27] Cameron-C-Chapman commented on #55
@chencitrix I'm not sure I understand the question. Is your question about he we implement the Spring backend specifically or is this a more general question about the realworld process for merging projects?

[2017-04-26 15:35] battila7 commented on #55
@Cameron-C-Chapman I'm not sure about it either, but I think @chencitrix might find this multiple branch idea bad. Then the repo will not be able to provide a clean and simple solution (showcase) but is going to be a puzzle.

Although I do agree with @chencitrix in some sense, but I think it's perfectly sensible to provide multiple persistence layer options in the same repository. I think it'd be

[2017-04-26 15:38] battila7 commented on #55
@EricSimons What do you think? Is it okay to provide a JDBC and a Spring Data solution in the same repo but on different branches?
In my opinion it's too finegrained to split this into separate repos and using different branches is sufficient. Of course, it's all up to @Cameron-C-Chapman but I'm curious about your opinion.

[2017-04-26 15:44] michalzagrodzki commented on #7
@mchandleraz I would be happy to contribute with development of this repo. Can I send my pull-requests?

[2017-04-26 15:45] chencitrix commented on #21
The prerequisite is that immediate short-term contracts should be provided
to provide the largest common denominator of a pipeline, short-term
commodity content can not be too competitive, it is important to note that
in a dark period, it is in accordance with a prospective psychological, but
the creation of goods Value rather than profit or speculation with a
temporary pipeline, making an inconsi

[2017-04-26 15:55] thebigredgeek commented on #6
@EricSimons I can handle Apollo if you give me a few weeks haha

[2017-04-26 15:59] battila7 opened #60 "🗄🔧 Nim"
# Current Status

- ### @battila7 will be taking lead on this!

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🔨 Implement all of Conduit's functionality per the [spec & API](https://github.com/gothinkster/realworld/tree/master/spec)
- [ ] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 👀 Move re

[2017-04-26 16:11] EricSimons commented on #57
@roman01la yes for sure! Feel free to open a new issue & fork the starter kit 👍 Looking fwd to seeing it!

[2017-04-26 16:12] roman01la commented on #57
@EricSimons Nice! Already working on it 🙃

[2017-04-26 16:13] roman01la opened #61 "🖥 🔧 ClojureScript"
# Current Status

- ### Codebase in progress:<br /> [roman01la/cljs-rum-realworld-example-app](https://github.com/roman01la/cljs-rum-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/clojurescript](https://gitter.im/realworld-dev/clojurescript)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & p

[2017-04-26 17:07] thebergamo commented on #6
@thebigredgeek all help will be very welcomed! until the end of week we will have a version of the server side graphql implemented with Apollo

[2017-04-26 17:10] EricSimons commented on #61
@roman01la can you post the link to your repo here? I'll update the status of this issue afterwards 👍

[2017-04-26 17:13] EricSimons commented on #60
@battila7 awesome!! I'm looking forward to seeing this come together :) Fork the starter repo and post the link in here whenever you have a chance & I'll update the issue status 👍

[2017-04-26 17:17] EricSimons commented on #58
Great idea! Lets see if we can find some folks who know F# who'd be down to do this :)

[2017-04-26 17:25] EricSimons opened #62 "Standardize robust install/getting running instructions for each stack"
As pointed out by @anishkny [here](https://github.com/gothinkster/realworld/issues/56#issuecomment-297373727), getting folks up & running ASAP is key to the UX of RealWorld.

Would love to ideate about how we can ensure that every repo has _amazing_ install/getting running instructions. I'd even be down to create screencasts for how to get every stack installed/running, if that would help 👍

[2017-04-26 17:29] EricSimons commented on #56
Yikes. This is a really good point — every stack should have very thorough instructions for installing/running. I think this is important enough to split out into a separate issue (hence https://github.com/gothinkster/realworld/issues/62)

Regarding creating a CLI, etc — the problem with that is the same as what I was describing before. Managing a custom install script(s) for all these stacks will

[2017-04-26 17:34] EricSimons commented on #6
@thebergamo @thebigredgeek should I create a new issue for the Apollo part of this (right now we have GraphQL and Relay issues)?

[2017-04-26 17:34] battila7 commented on #56
@EricSimons Thought the same with the CLI, it would've been a small wrapper for something like Docker or Vagrant, nothing OS or env-dependent.
But in any form, I absolutely agree with this idea.

[2017-04-26 17:38] EricSimons commented on #13
Just spun up a [gitter room](https://gitter.im/realworld-dev/elm) for this and created the logo for the repo's readme:

![elm](https://cloud.githubusercontent.com/assets/556934/25448178/3e7dc5c0-2a7d-11e7-8069-06da5169dae6.png)

[2017-04-26 17:39] Cameron-C-Chapman commented on #55
I'm open to any approach. I think being able to checkout a different branch and see that implementation quickly might be the easiest but it does add some maintenance complexity. It could also be confusing though if there were 3 repos for a Spring backend and users had to choose at that entry point. We can just get a general consensus and go that route because I'm sure people will be interested in

[2017-04-26 17:40] EricSimons commented on #61
Just created a logo you can use for the readme in your repo:

![cjs](https://cloud.githubusercontent.com/assets/556934/25448267/85369fdc-2a7d-11e7-9613-ab5ce5e1800f.png)

[2017-04-26 17:41] EricSimons commented on #60
Created a logo that you can use for the readme in your repo:

![nim](https://cloud.githubusercontent.com/assets/556934/25448342/b9fa5d62-2a7d-11e7-85a5-54d4a77e665c.png)

[2017-04-26 17:44] EricSimons commented on #59
@mfeitoza just created the gitter room! Does falcon have a logo btw?

[2017-04-26 17:47] Cameron-C-Chapman commented on #56
I'll move the discussion to #62 but I agree with the consensus here. Docker is probably the best tool to look at solving the problem of managing so many different environments.

[2017-04-26 17:47] EricSimons commented on #55
Tbh I'd either focus on just one implementation, or split it into two separate repos (mostly because having them on different branches will probably make exploring the repo more confusing for users visiting).

I don't know Spring/etc at all, so feel free to choose whichever way to handle this :)

[2017-04-26 17:50] EricSimons commented on #55
Just created the gitter room and updated issue status! Also, here's the logo you can use for the readme in your repo:

![spring](https://cloud.githubusercontent.com/assets/556934/25448673/ddc83d44-2a7e-11e7-85de-903da69db922.png)

[2017-04-26 17:51] EricSimons commented on #56
@battila7 OHH gotchya, I love that idea — I wonder how hard it would be to wrap docker install/run functionality (_reliably_) with a custom CLI. Anyone have deep experience w/ docker who could comment?

[2017-04-26 17:53] Cameron-C-Chapman commented on #62
So realworld would probably need to start with agreeing on a base image (Ubuntu, Red Hat, etc) and what the mechanism would be for individual repos to add their Docker tasks/scripts (assuming Docker here). Maybe a docker image that's part of the master branch is configured/updated with new scripts to pull in from other repos and those scripts could be executed individually as needed? I've only tin

[2017-04-26 17:57] thebergamo commented on #6
I'm planning using Apollo as a graphql server. Probably isn't necessary create a new issue.

[2017-04-26 17:58] battila7 commented on #55
@Cameron-C-Chapman What about a third solution? Having a parent repo with no source code just links to the child repos with the implementation and docs explaining the differences.
That way these closely related implementations will stay somewhat together, yet each repo can be consumed on its own.

[2017-04-26 17:59] EricSimons commented on #27
@jadhavajay just saw that you started on this! I updated issue status w/ a gitter room and here's a logo I created for your repo's readme:

![aurelia](https://cloud.githubusercontent.com/assets/556934/25449069/2e342c38-2a80-11e7-92e6-321c43d8e6d1.png)

[2017-04-26 18:00] thebergamo commented on #46
@EricSimons maybe will be greater if you use both graphql and apollo logos

[2017-04-26 18:01] mfeitoza commented on #59
Falcon don't have a logo, but has this:
[Image](https://falconframework.org/img/flight-silhouettes.png)
So I will mix the GAE icon + this beige falcon icon.

[2017-04-26 18:01] EricSimons commented on #24
@davidpodhola just created a logo that you can use for the readme in your repo!

![rust](https://cloud.githubusercontent.com/assets/556934/25449146/7a1c5dd2-2a80-11e7-90d1-0e0886db070a.png)

[2017-04-26 18:04] brwr commented on #56
After Docker is set up, it's just a bunch of CLI calls. That is easy to do
for a specific OS. The trouble is making it work cross-platform.

@EricSimons Let's take a look when you get back?

On Wed, Apr 26, 2017 at 10:52 AM Eric Simons <notifications@github.com>
wrote:

[2017-04-26 18:04] EricSimons commented on #7
@michalzagrodzki feel free to make PR's — I'm sure @mchandleraz would really appreciate it!

[2017-04-26 18:07] EricSimons commented on #55
^ that sounds awesome. I was thinking of actually having markdown files for every lang/framework in this main repo, as we're seeing more & more cases like this pop up. Maybe just create two repos for now, and we can create a markdown page w/ info that links to both in this repo?

[2017-04-26 18:09] EricSimons commented on #56
@brwr Sounds good — would be a cool weekend hackathon project :) If anyone else wants to do some R&D/experimentation on this in the meantime, by all means feel free to start!

[2017-04-26 18:10] anishkny commented on #56
I would think [docker-compose](https://docs.docker.com/compose/overview/) would be great for this? Assuming we standardize each stack's specification using Docker.

[2017-04-26 18:12] chencitrix commented on #61
Repurchase link? So what should i buy? Or can i buy what I need?

ChenCritix

2017/4/27 上午1:11，"Eric Simons" <notifications@github.com>寫道：

[2017-04-26 18:13] EricSimons commented on #46
Done :)

![apollo](https://cloud.githubusercontent.com/assets/556934/25449690/1d4553a0-2a82-11e7-83f4-6d7ef4ddeed0.png)

[2017-04-26 18:19] battila7 commented on #55
That markdown idea is great and would really make this more organized! I hope @Cameron-C-Chapman is going to agree too.

[2017-04-26 18:20] thebigredgeek commented on #6
@thebergamo apollo has `graphql-server`, but their main focus is `apollo-client` which is the most popular client-side graphql implementation.

[2017-04-26 18:20] thebigredgeek commented on #6
@EricSimons same issue is probably fine

[2017-04-26 18:23] atilacamurca commented on #7
@mchandleraz the issues are disabled, can you enable back, please?

[2017-04-26 18:25] brwr commented on #7
I was going to recommend opening an issue on the repo. Then I realized I'm
an idiot. :smile:

On Wed, Apr 26, 2017 at 11:23 AM Átila Camurça Alves <
notifications@github.com> wrote:

[2017-04-26 18:30] James-Parsons opened #63 "🗄🔧 Scala and Playframework"
# Current Status

- ### @James-Parsons will be taking lead on this!
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/scala-play](https://gitter.im/realworld-dev/scala-play)**

### Todo:

- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
-

[2017-04-26 18:57] EricSimons commented on #63
@James-Parsons awesome! Just updated issue status w/ gitter room, etc — can you fork the starter kit and post the link to your repo in here?

Also, just created a logo you can use for your repo's readme:

![scala](https://cloud.githubusercontent.com/assets/556934/25451584/460e73ec-2a88-11e7-8fc2-2a15bd0566dd.png)

[2017-04-26 19:01] EricSimons commented on #40
@antony just created a logo that you can use for the repo's readme:

![hapi](https://cloud.githubusercontent.com/assets/556934/25451743/c8973c5e-2a88-11e7-9042-5acfab0a19e4.png)

[2017-04-26 19:02] EricSimons commented on #59
I can make the logo for you, it's np :)

[2017-04-26 19:10] esakkiraj commented on #19
@silentworks Sure. Thanks

@brwr Yes i have forked. Have started the work. But havent' pushed the changes yet. Repo [Link](https://github.com/esakkiraj/realworld-starter-kit)

[2017-04-26 19:23] EricSimons commented on #59
How about this? :)

![falcon](https://cloud.githubusercontent.com/assets/556934/25452649/ef1bed72-2a8b-11e7-91e1-0c967f1c56c3.png)

[2017-04-26 19:58] mfeitoza commented on #59
I liked, I think in something like this:

![logo 01](https://cloud.githubusercontent.com/assets/8423813/25453881/fcd15cbc-2aa0-11e7-9849-de5c142da4e0.png)

![logo 02](https://cloud.githubusercontent.com/assets/8423813/25453882/fcd5b17c-2aa0-11e7-94d1-45942aaeb557.png)

[2017-04-26 20:00] EricSimons commented on #59
Looks good to me! 👍
On Wed, Apr 26, 2017 at 2:58 PM Marcus Feitoza <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-04-26 21:23] Cameron-C-Chapman commented on #55
@battila7 @EricSimons I like the markdown idea! I'll work on getting the other repo setup and have you guys take a look and make sure that's what you had in mind. Also thanks for the logo and gitter room @EricSimons!

[2017-04-26 21:54] battila7 commented on #55
Now watching the repo, I'm sure, it's gonna be great! :smile:

[2017-04-27 00:08] mchandleraz commented on #7
Sorry guys, been super busy w/ life. Just got Issues enabled, and I'm taking a look at the PRs now. Thanks for the help everyone.

[2017-04-27 00:45] EricSimons commented on #19
@esakkiraj just updated issue status w/ gitter room! Also, created this logo you can use for the readme:

![svelte](https://cloud.githubusercontent.com/assets/556934/25463033/e502da4e-2ab8-11e7-8a3c-af080f238ff4.png)

[2017-04-27 00:51] EricSimons commented on #7
No worries @mchandleraz! 🍻

[2017-04-27 00:58] stubailo commented on #6
@thebergamo and anyone else here: If you want, you can join the #realworld channel in the [Apollo Slack](http://dev.apollodata.com/#slack) to help coordinate an example, both server and client!

[2017-04-27 01:38] thebergamo commented on #6
@stubailo I'm in! Thanks for the option!

[2017-04-27 08:32] roman01la commented on #61
@EricSimons Sure, here it is https://github.com/roman01la/cljs-rum-realworld-example-app
Nice logo! Thanks 🙂

[2017-04-27 10:27] bdparrish opened #64 "API returns 422 status"
Request: `https://conduit.productionready.io/api/users`
Body:
[code]

Status: 422 Unprocessable Entity
Response:
[code]

[2017-04-27 12:54] MattMangoni commented on #20
If nobody's already working on it, I'll take care of the articles API

[2017-04-27 14:15] EricSimons commented on #64
Do you have the header for req/res type set to application/json? I think some other folks reported that those headers needed to be present. Lmk if that works for you and I'll make sure to put this in the docs 👍

[2017-04-27 14:30] Korbin73 commented on #58
I would like to work on something this!

[2017-04-27 14:42] EricSimons commented on #61
@roman01la updated issue status! Also spun up a [gitter room](https://gitter.im/realworld-dev/clojurescript) that we can use for collaborator coordination 👍

[2017-04-27 15:23] EricSimons commented on #58
Nope, you're the first @korbin73! Will update issue status after you post the repo link in here 👍

[2017-04-27 15:28] Korbin73 commented on #58
Done! [https://github.com/Korbin73/realworld-fsharp](Real world Fsharp)

I'll get started on the backend first :)

[2017-04-27 15:36] anishkny commented on #64
Yup, confirmed via Postman, works fine with header "Content-Type: application/json", and fails without header:

[code]

[2017-04-27 15:55] ALenfant commented on #58
Thanks @Korbin73 that's really awesome of you. Can't wait to see the result! Take your time though :)

[2017-04-27 16:07] EricSimons commented on #64
@apai4 should this be expected func? Or should we do a fix server side? I feel like requiring the headers on the frontends is a good idea regardless though, as that _should_ ensure they play nicely with any of the backend implementations.

[2017-04-27 16:25] EricSimons commented on #58
@Korbin73 just updated the issue status w/ gitter room we can use for collaborator coordination! Also, here's the logo you can use for your repo's readme:'

![fsharp](https://cloud.githubusercontent.com/assets/556934/25493539/3016f83e-2b3c-11e7-80b5-ff8dccf2ec4b.png)

[2017-04-27 16:31] bdparrish commented on #64
Confirmed that `Content-Type` header works for the requests.

[2017-04-27 16:31] #64 closed

[2017-04-27 17:58] davidpodhola commented on #24
thanks, logo updated.

[2017-04-27 18:47] Alonski opened #65 "I18n"
Internationalisation or i18n is critical for most production apps these days.
I recommend adding an API for i18n.
Have it return a JSON with all the tokens for all languages.
Also an endpoint for only a specific language.
Could setup a system to bring language contributers on board.
Could implement a select in the UI to change language.

[2017-04-27 18:51] sio-iago commented on #57
Cloned @ https://github.com/sio-iago/realworld-starter-kit/

[2017-04-27 19:36] dakenf opened #66 "🗄🔧 Symfony"
# Current Status

- ### Codebase in progress:<br /> [https://github.com/matigda/gothinkster](https://github.com/matigda/gothinkster)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/symfony](https://gitter.im/realworld-dev/symfony)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨

[2017-04-27 19:46] brwr commented on #65
I agree that I18n is important, but it's also a huge amount of work. Specifically, purchasing translation files is too much to ask for an open source project.

I think this is outside the scope of the project though. The goal is to provide users with a high-quality codebase that introduces them to a language/framework. I18n doesn't help achieve that goal, so I think we should avoid it.

[2017-04-27 20:23] Alonski commented on #65
No need to purchase translations. We can put everything in English only and setup a way for people to translate.

[2017-04-27 20:27] brwr commented on #65
It's still outside the scope of the project. @EricSimons Thoughts?

[2017-04-27 20:37] Alonski commented on #65
I am willing to implement this in Ember

[2017-04-27 21:28] anishkny commented on #65
I think basically since the V1 api is "frozen" with multiple back and frontends already completed and many more actively in work, it would be too much work to enhance it to support i18n.

But out of curiosity, for discussion, what would this API look like?

Could you expand on this:

Does the backend expose extra endpoints? Or is this purely on front end. How exactly would the new API look in comp

[2017-04-27 22:27] 1755 commented on #51
I'll try to help too ☺️

[2017-04-28 01:16] EricSimons commented on #66
Awesome! Just updated issue status w/ gitter room, etc :) Also, here's a logo that you can use for your repo's readme:

![symphony](https://cloud.githubusercontent.com/assets/556934/25510530/705d3846-2b86-11e7-9829-71869bf0349e.png)

[2017-04-28 01:35] Alonski commented on #65
About the endpoint:
While this could be a static translation of only English to start with. I think it would work better as an API.
JSON would look like:
[code]
The Endpoint could be something like: apiUrl/i18n
Which brings all languages or with a parameter to only bring one language.
Most libraries/frameworks that I looked at can consume this format of translations.
Pretty much just a matter of c

[2017-04-28 03:35] Korbin73 commented on #58
Nice thanks. 😄

[2017-04-28 10:19] deksden commented on #62
Some examinations: i can not start local node-express realworld server with react-redux client until i did not set port for client's web server: both app server and web client's server did use 3000.

[2017-04-28 10:40] deksden commented on #29
My 50 cents: social login is very common task for real life apps. Login with facebook, google, instagram at least.

Specs for my social apps are:
- signup with social network (after login with oAuth provider - create local profile for new user with specifiying additional detail like email or login into existing account if this token already attachet to any existing profile)
- login with social net

[2017-04-28 14:10] Cameron-C-Chapman opened #67 "Convert API spec to Swagger spec?"
I'm a fan of the swagger api specification and I'm just thinking out loud wondering if converting the current realworld api spec to a swagger compliant spec would add some value? There is some nice tooling and testing support and most environments have swagger libraries.

It could give the api spec a "common" documentation and contribution language as it grows and allow for integration with the ex

[2017-04-28 14:31] 1755 commented on #51
I have several questions:
1. There are any limitations for using packages or I can use any ones?
2. What steps should I to do for make contribution? Fork repo, implement backend and made pull request after everything will be ready?

[2017-04-28 14:36] Cameron-C-Chapman commented on #62
Ya, I think port conflicts could be a common issue. That's why I like the idea of a standard port for front end and back end implementations with a consideration for different database port defaults. If something was specified like front end is always port 9090 and backend is always 9091 that could go a long way and the issue you ran into should go away, but there is still a bigger unified install

[2017-04-28 14:39] anishkny commented on #67
+1 I was thinking about this the other day too.

[2017-04-28 15:15] barryels opened #69 "🖥 🔧 Mithril"
# Current Status

- ### Codebase in progress:<br /> [barryels/realworld-mithril](https://github.com/barryels/realworld-mithril)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/mithril](https://gitter.im/realworld-dev/mithril)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Creat

[2017-04-28 15:27] anishkny commented on #69
@barryels this is great stuff! 🎉

Do you maybe want to rename the repo to something like **realworld-mithril** for alignment with other efforts?

[2017-04-28 15:35] barryels commented on #69
Cool! done :thumbsup:

[2017-04-28 15:55] EricSimons commented on #69
@barryels can't wait to see this! Just updated the issue status + created a [gitter room](https://gitter.im/realworld-dev/mithril) where we can handle collaborator coordination 👍

[2017-04-28 16:02] EricSimons opened #70 "📱🔧 C# on Xamarin"
# Current Status

- ### @Alonski will be taking lead on this!
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/xamarin](https://gitter.im/realworld-dev/xamarin)**

### Todo:

- [ ] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🔨 Implement all of Conduit's functionality per the [spec & API](https://g

[2017-04-28 16:12] EricSimons commented on #67
I like this idea a lot! Would this require us to break our existing API spec?

[2017-04-28 17:20] brwr commented on #67
Swagger is just a documentation tool. Shouldn't affect he API at all other than making it look nicer.

[2017-04-28 17:26] anishkny commented on #67
Another option is [API Blueprint](https://apiblueprint.org) with a clean Markdown [syntax](https://apiblueprint.org/documentation/tutorial.html) and a good [ecosystem](https://apiblueprint.org/tools.html) of tools.

[2017-04-28 17:31] Cameron-C-Chapman commented on #67
Like @brwr said it wouldn't affect the API. It would just make it easy to produce some pretty documentation and maybe leverage swagger-ui to let people start playing around with the API right away. Postman does a good job of that now but there could be a deployed swagger-ui instance for realworld that was something similar to this, http://petstore.swagger.io/. In that case we could update the spec

[2017-04-28 18:03] barryels commented on #69
Awesome! Thanks @anishkny and @EricSimons

[2017-04-28 18:04] EricSimons commented on #67
Lets totally do this then!  I'm also a huge fan of having a canonical URL that we can send people to for testing out the endpoints — we should include links to it in the API spec, etc 👍

@Cameron-C-Chapman would you be down to take lead on this?

[2017-04-28 18:12] battila7 commented on #60
@EricSimons Just forked the repo: [Nim RealWorld](https://github.com/battila7/nim-realworld-example-app)

[2017-04-28 18:45] Cameron-C-Chapman commented on #67
@EricSimons I'd be happy to get this going! I'll work on making some more progress on the Spring backend and get this going ASAP.

[2017-04-28 21:01] EricSimons opened #71 "Backbone"
We've had a handful of requests for Backbone (and many also looking for TDD with Marionette/etc)! Anyone out there wanna take this on?

[2017-04-28 21:28] thebergamo commented on #46
@EricSimons a first version is released! https://github.com/thebergamo/realworld-graphql

At this time, just have user and profile endpoint.

[2017-04-28 23:08] EricSimons commented on #46
@thebergamo woah! This is awesome!! I'm gonna clone and play around with this over the weekend 😃 Does the Relay FE integrate with this yet? Seriously can't wait to test drive fullstack graphql!

[2017-04-28 23:10] thebergamo commented on #46
I'm not sure, need to talk with Steve about the integration!

I will try to finish the spec until Monday. Not promise, but will try!

[2017-04-29 03:45] pixelbandito commented on #56
You could also use submodules for frontend and backend in a master repo with branches for the different combos.

[2017-04-29 12:32] Alonski opened #72 "Guidelines for tests as a Spec?"
I think that we should push for Tests in all implementations.
However a question arises, how and what do we exactly test?
I don't know if there are tools for writing framework/language agnostic tests but something like:
[code]

[2017-04-29 12:34] Alonski commented on #70
Hmm it seems I can't fork the same repo twice.
Think I should just clone it instead of forking and push to a new repo?

[2017-04-29 13:35] ellipizle commented on #16
I will love to help out

[2017-04-29 14:50] sotojuan opened #73 "🗄🔧 Haskell / Servant"
# Current Status

- ### Codebase in progress:<br /> [dorlowd/haskell-servant-realworld-example-app](https://github.com/dorlowd/haskell-servant-realworld-example-app)

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 🔨 Implement all of Conduit's functi

[2017-04-29 15:46] mAAdhaTTah commented on #56
Related to the Meteor question, but what about implementations with server-side rendering? That explicitly couples the FE/BE, and the current projects don't handle that (I don't think...). It would also require changes to the FE routing, as the current hash-based routing can't be handled by the server.

[2017-04-29 15:48] brwr commented on #56
Server side rendering sounds reasonable to me. We just need to find someone
to take point.

On Sat, Apr 29, 2017 at 8:46 AM James DiGioia <notifications@github.com>
wrote:

[2017-04-29 17:24] wsargent commented on #63
https://github.com/KyleU/boilerplay may be good as a starting point.  Also see https://github.com/adrianhurt/play-bootstrap for the bootstrap form helpers.

[2017-04-29 17:41] brwr commented on #72
This is a great idea! Frankly, I'm wondering why we didn't do this sooner. Haha

The only concern is that we have to go back and add tests for the existing implementations after we come up with a spec.

[2017-04-29 17:47] EricSimons commented on #72
@brwr I already explained why we didn't initially cover this [in the spec](https://github.com/gothinkster/realworld/blob/master/spec/README.md#to-tdd-or-not-to-tdd)

[2017-04-29 17:52] brwr commented on #72
Couple things:

1) I think tests should be yes or no. We should make sure all codebases implement the same spec and that includes testing. Having some implementations with tests and some without will cause more problems than it's worth.

2) There is a difference between TDD and writing tests. TDD means writing tests before code. Whether the author does TDD is less important than writing tests.

[2017-04-29 18:00] EricSimons commented on #72
1. I actually disagree with this. I don't see how having tests/no tests across repo's will cause more problems for learners, as the core value prop of RealWorld is primarily the implementation details for each framework's app. Tests could be considered part of "implementation details", but again, I refer back the [section in the spec](https://github.com/gothinkster/realworld/blob/master/spec/READM

[2017-04-29 18:00] Alonski commented on #72
I don't think forcing TDD is necessary.
It is possible to have this spec be "extra credit" as you put it. But still have a spec which makes it easier to write tests. The hard part for me is really knowing how to test.
Ember does a lot of work for us by building test skeletons for us but what's inside? Not so sure.

[2017-04-29 18:01] polymeris commented on #61
I started work on a re-frame version. Can I steal your logo @EricSimons ?

[2017-04-29 18:02] Alonski commented on #72
@EricSimons TDD is test driven development.
Writing tests before writing any other code and then iterating towards passing tests.

[2017-04-29 18:05] EricSimons commented on #72
Yeah, @anishkny's idea of having "extra credit" specs seems to be maturing like a fine wine as we hit more & more cases like this :) I'm going to noodle on how we could do this.

Re: TDD — right, but the way it's used in the spec right now makes sense, no?

[2017-04-29 18:08] EricSimons commented on #61
@polymeris of course! :) Want to create a new issue for the re-frame version?

[2017-04-29 18:20] polymeris opened #74 "🖥 🔧 Clojurescript + re-frame"
# Current Status

- ### Codebase in progress:<br /> [polymeris/re-frame-realword-example-app](https://github.com/polymeris/re-frame-realword-example-app)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/clojurescript](https://gitter.im/realworld-dev/clojurescript)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & pos

[2017-04-29 18:26] EricSimons commented on #56
@pixelbandito totally — we were thinking of doing that with this repo originally, but it still left out the problem of OS compatibility, database setup, etc :( Hence why we're thinking docker is a good solution here.

[2017-04-29 18:30] EricSimons commented on #62
Yeah we actually attempted to lock specific ports for FE/BE for the currently supported stacks. The problem we ran into was that changing the port of various CLI's (specifically Angular & React) was either undocumented or required "ejecting" from the CLI boilerplate, which we didn't want to do. They may have changed this since then, but I haven't checked :/

Regardless, locking port numbers is def

[2017-04-29 20:11] JackyChiu opened #76 "Postman Auth/Register Tests Don't Follow Spec"
I noticed in the Postman tests for `Auth - Register` it has a test which expects an `id` field in the response, but in the [spec sheet](https://github.com/gothinkster/realworld/tree/master/api) there's no expect `id` for the user field.

Which is the correctly expected output?

[2017-04-29 20:15] EricSimons commented on #76
I think this is a remnant of an older version of the spec we were adhering to. Feel free to disregard (and/or make a PR back here with the fixed version :)

@apai4 looping you in here to double check (he created the original postman collection)

[2017-04-29 20:38] Cameron-C-Chapman commented on #72
Just my 2 cents but I think the way it's worded [here](https://github.com/gothinkster/realworld/blob/master/spec/README.md#to-tdd-or-not-to-tdd) is perfect for realworld (other than using the term TDD when it's probably just referring to testing like mentioned above). If every repo sort of serves as a representative of that community I think that most people will be implementing some unit testing

[2017-04-29 20:51] polymeris commented on #74
Templates implemented: https://polymeris.github.io/re-frame-realword-example-app-demo/

[2017-04-29 20:52] EricSimons commented on #72
FYI I just removed the improper TDD mentions in the spec 👍  Thanks for pointing that out folks!

[2017-04-29 20:58] EricSimons commented on #74
Woah, that was fast! 💯  Btw I think you forgot to include the `nav-link` class on the `<a>` tags in the header links (ex: `<a class="nav-link" href="">Home</a>`)

[2017-04-29 21:06] Cameron-C-Chapman commented on #62
Here's what I see so far for the existing projects and common db's:

- Angular 2+: **4200** (default of the angular cli)
- React/Redux: **3000** (default of the create react app cli)
- AngularJS - **4000** & **4001** (browser sync and front end)
---
- Node/Express: **3000**
- Django: **8000** (and also expects a front end of **4000**)
- Rails: **3000**
---
- MongoDB: **27017**
- MySQL: **3306**
-

[2017-04-29 21:16] thesbros commented on #40
Is anyone currently working on this? If not I'd like to try. :)

[2017-04-29 21:16] anishkny opened #77 "Realistic data for RealWorld?"
I wonder if it's possible/feasible/helpful to fill the production db with more realistic data from some open data sets that might be floating around. It would look better in FE demos than "aaaaa", "sample title" etc... BE repos could also use it for testing their dbs. Just a thought.

[2017-04-29 21:38] EricSimons commented on #77
Love this idea. @apai4 and I were originally kicking around creating profiles for authors from the 1900's and earlier (to avoid copyright restrictions) and post excerpts from their books/essays/etc at random intervals. Would be cool/hilarious to see Ben Franklin, Sun Tzu, etc posting articles on conduit :)

[2017-04-29 21:56] EricSimons commented on #62
Thanks for taking the time to investigate & write this up! I def agree w/ avoiding all DB ports. We don't have to do ranges, — not even sure what the use case would be for running every frontend & backend at the same time (lol). Maybe for simultaneously comparing running stacks? Not sure if it's a solid enough value prop to warrant any potential headaches w/ port conflicts.

What do y'all think?!

[2017-04-29 22:03] EricSimons commented on #40
@thesbros I think @antony was planning on starting it (see his comments in [this thread](https://github.com/hapijs/discuss/issues/482)), but it doesn't look like he's pushed any code to his fork of the starter repo.

I'd say go ahead and fork the starter repo + post link back here, add @antony to the repo, heed the recommendations that the Hapi folks shared in that other thread, and then get start

[2017-04-29 22:27] thesbros commented on #40
@EricSimons Great :) Is there any spec on databases or is it just go with whatever you know?

[2017-04-29 22:30] EricSimons commented on #40
@thesbros try and use the most mainstream DB's, especially ones that are commonly used with that framework (i.e. for Node/Express we chose Mongo, because of MEAN/MERN/etc stacks)

Not super in-tune with the Hapi community, but I'd imagine that either Postgres or Mongo are solid choices? Would love for any Hapi experts to share their opinion!

[2017-04-30 04:56] lilred commented on #58
I'd love to help out, maybe we can start a Gitter for this repo?

[2017-04-30 04:57] lilred commented on #70
Can you please edit the issue name to "C# on Xamarin"? I'd be possibly interested in doing an F# on Xamarin client.

[2017-04-30 04:58] lilred commented on #31
As in #70, this probably deserves a mention of C# since there are other languages available on .NET Core (VB.NET, F#).

[2017-04-30 05:31] Alonski commented on #77
That actually sounds pretty cool.
Could maybe also setup a quote scraper from something like Wikipedia?

[2017-04-30 05:40] ikamthania commented on #63
Is there a plan to include [scalajs-react](https://github.com/japgolly/scalajs-react) frontend?

[2017-04-30 07:22] kmichaelkills opened #78 "Pagination for resource lists?"
Maybe it would be interesting to add pagination to the API spec.
For articles/comments.

[2017-04-30 07:25] #78 closed

[2017-04-30 14:36] anishkny opened #79 "Alexa, what's new on Conduit?"
It might be cool to see someone try and build an [Alexa Skill Set](https://developer.amazon.com/alexa-skills-kit) for part of the RealWorld [API Spec](https://github.com/gothinkster/realworld/tree/master/api). Some possible questions handled:

- What's new in my Conduit feed?
- What's new in Conduit global feed?
- Whats new in \<tag\>?
- Follow/unfollow \<username\>
- Favorite/unfavorite \<article

[2017-04-30 15:19] Alonski commented on #79
If I build it will you send me an Echo?

[2017-04-30 15:30] Korbin73 commented on #58
There is one already set up: https://gitter.im/realworld-dev/fsharp

On Sat, Apr 29, 2017 at 9:56 PM Carl Patenaude Poulin <
notifications@github.com> wrote:

[2017-04-30 15:33] SandeeshS commented on #20
So I took the liberty to finish this myself from scratch, since I had some time on my hand and wanted to start making contributions to the open source community :)

I've updated and cleaned up the repo. The latest code can be found below. I've added clear documentation throughout the code. The only thing pending is updating the read me with instructions and info related to code.
https://github.com

[2017-04-30 16:02] SandeeshS commented on #76
Some more that I've noticed. I'm tired from working on the laravel backend. I'll try to consolidate and pull a PR when free.

## Spec

- Single article doesn't have tag list.

- Conflict in single article and feed route. If an article has the slug 'feed' then this would cause problems. Though the current api's used in the demo seem to append random hash to every slug, this isn't necessarily docume

[2017-04-30 16:08] SandeeshS commented on #77
But how would this be helpful when so many users are constantly testing the demo. Unless access to create articles are restricted then the demo would soon be filled with user based content displaying on the front. Like @EricSimons mentions, inserting at random intervals might help, but that would require another setup.

It might be a good idea to create a dataset for new users to import to their d

[2017-04-30 16:20] jonniedarko opened #80 "Microservices"
Would love to see/help with a microservice architecture where we could mix and match any of the current different technologies for different api's with a single authorization/authentication. Is this a realistic goal?

[2017-04-30 17:57] SandeeshS opened #81 "Changing authentication scheme to Bearer"
The RFC specification requires the use of '**Bearer**' as the authentication scheme. The '**Bearer**' scheme is also registered with the IANA. Most JWT packages and tools use '**Bearer**' as the default scheme.

http://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml
https://tools.ietf.org/html/rfc6750
https://tools.ietf.org/html/rfc7523
https://en.wikipedia.org/wiki/JSON_Web_Token

[2017-04-30 18:56] wsargent commented on #63
@ikamthania you may want https://github.com/Daxten/bay-scalajs.g8 in that case

[2017-04-30 19:32] Cameron-C-Chapman commented on #80
I was thinking of this as sort of a stretch goal with the Spring project. I think it would need to all be composed in a docker container with a single gateway the front end app could call. I think if it could be started up as easy as a single service and wasn't an entry barrier but demonstrated a microservice architecture it could be useful to people.

I don't think it makes sense as a standard th

[2017-04-30 19:33] Cameron-C-Chapman commented on #81
I was thinking the same thing, Bearer is the standard, not Token.

[2017-04-30 22:04] EricSimons commented on #81
Just talked with @apai4 and we're thinking of having the backends support both so that there's backwards compatibility. It's not uncommon to see non-Bearer versions in libs, so doing a hard swap for all FE's/BE's seems unnecessary, but eventually we may just deprecate token/etc.

[2017-04-30 22:12] EricSimons commented on #79
@Alonski @anishkny would one (or both) of you be down? A few friends of mine from Amazon are down to help provide a couple echo dots for dev :)

[2017-04-30 22:16] EricSimons commented on #20
@SandeeshS holy smokes! Nice work!!!

@Hasnayeen @unicodeveloper @MattMangoni can you guys take a look at the repo @SandeeshS made and lmk if I can update the status to point at that?

[2017-04-30 22:28] James-Parsons commented on #63
Hey guys just a heads up it will likely be a few days before I have time t start on this.

[2017-04-30 22:37] Hasnayeen commented on #20
@EricSimons , yes, I think that would be a good idea

[2017-05-01 00:53] anishkny commented on #79
@EricSimons I am spread out a bit too thin to take you up, but would love to follow along @Alonski or whoever takes this up, and maybe they can also put up a video demoing Alexa integration!

[2017-05-01 02:10] Cameron-C-Chapman commented on #81
Supporting both works. I've seen Token, Auth, Authorization, and Bearer but Bearer is the standard. I'll get the Spring backend setup to support either and I think that's a good solution going forward.

[2017-05-01 02:19] EricSimons commented on #76
@SandeeshS thanks so much for this! We'll definitely accept your PR whenever you have time to submit it. Revamping our postman collection has been on the todo list, but the past week has been insane (in a good way:)

[2017-05-01 02:22] EricSimons commented on #73
Just wanted to chime in and say that I'd love to see this as well — anyone out there know Haskell?

[2017-05-01 03:26] thumper1976 opened #82 "Deleted messages in messenger"

[2017-05-01 03:28] EricSimons commented on #82
Did you mean to post this here @thumper1976?

[2017-05-01 04:43] #82 closed

[2017-05-01 06:47] Alonski commented on #79
If I had an Echo I would love to do something like this. Doesn't sound too hard also. :)

[2017-05-01 12:48] SandeeshS commented on #20
Well looks like the laravel section is really lacking contributors.

I've added complete model factories and a full configurable database seeder. So anyone can just run the seeder and have a ready server populated with data, including all the relationships. This will be very useful for users testing the api or trying to couple the frontend.

The readme is updated with the complete instructions and

[2017-05-01 15:14] battila7 commented on #60
Concluding the experiences of the past two days:

[Real World Nim Adventures](https://medium.com/@bagossyattila/read-world-nim-adventures-5dc85ac7d9d6)

[2017-05-01 16:02] robtweed opened #83 "🗄🔧 QEWD Implementation"
# Current Status

- ### Codebase in progress:<br /> [robtweed/qewd-conduit](https://github.com/robtweed/qewd-conduit)
- ### Interested in helping out? Say hello! 🎉 <br />**[gitter.im/realworld-dev/qewd](https://gitter.im/realworld-dev/qewd)**

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo

[2017-05-01 16:13] brwr commented on #80
If this happened, I think it would be a ways down the road. Distributed systems (microservices) come with a whole host of issues that centralized systems (monoliths) don't have to deal with. I don't think we have the ability to do microservices well at the moment. If we decide to write some microservices implementations then we should do it when we have the resources to ensure we can do a good job

[2017-05-01 17:21] EricSimons commented on #45
Hey Go folks! @JackyChiu is looking for a quick peer review of [his wip codebase](https://github.com/JackyChiu/realworld-starter-kit) to make sure he's on the right track — is there anyone here/in the Go community that could provide some expert feedback?

[2017-05-01 17:32] EricSimons commented on #20
@SandeeshS just cloned your repo and put it under the main org + added you to it!

Lets get the RFC opened up on this thing — does anyone know folks on the core Laravel team/community that could come provide feedback?

[2017-05-01 17:34] EricSimons commented on #79
@Alonski shoot me a private message on gitter with an address where we can send an echo dot :)

[2017-05-01 17:37] EricSimons commented on #83
Awesome work!! Here's a logo I made that you can use:

![qewd](https://cloud.githubusercontent.com/assets/556934/25587724/182f95fc-2e5a-11e7-83db-1541c1bee128.png)

Just added the RFC tag, so lets if we can get some folks in here to help review the code!

[2017-05-01 17:44] EricSimons commented on #60
@battila7 I loved the medium post! Sad to hear you won't have enough time to finish it off :( Should we invite devs to come in & help?

PS - would love to interview you on Thinkster sometime about your experience building the Nim implementation :)

[2017-05-01 18:19] unicodeveloper commented on #20
@EricSimons I have taken my time to go through the source code and I can comfortably say that this is SOLID! @SandeeshS did a great job!!!

[2017-05-01 18:40] robtweed commented on #83
Updated the repo with the logo!

[2017-05-01 18:50] antony commented on #40
Yep sorry have parents down for the long weekend and a busy week ahead so I'm not going to be able to make a start just yet - happy for @thesbros to make some headway if they have time!

[2017-05-01 19:21] DrewCarlson opened #84 "📱 🔧 Kotlin/Android"
# Current Status

* ###  Codebase in progress:<br> [DrewCarlson/realworld-android-kotlin](https://github.com/DrewCarlson/realworld-android-kotlin)

### Todo:
- [x] 🏁 Fork the starter repo & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ] 👀 Move repo to main org & Peer review final

[2017-05-01 19:25] EricSimons commented on #84
This is awesome!! I can't wait to see this! For the repo's logo, should I just use the android logo? Or both kotlin + android logo?

[2017-05-01 19:27] DrewCarlson commented on #84
@EricSimons Good question, I'd say both but I figure someone will make a Java/Android version eventually so if you feel like saving time, just Android would work.

[2017-05-01 20:27] battila7 commented on #60
@EricSimons I will definitely continue the development, but not be able to dedicate a whole weekend to this project. It'll slow down a little bit but will be finished :)

Sounds like a great opportunity and honor, thanks! We should talk about the details after finishing the implementation, what do you think?

[2017-05-01 20:29] SandeeshS commented on #20
@unicodeveloper thank you. The code base has been updated with cors and some more changes and should be set. We'll wait for a review like @EricSimons says before tagging a main release. Meanwhile i'll be taking any issues or PR and keep things in check. Next on the list is adding tests. If someone wants to then they can go forward and do it, if not i'll work on it once i get some time on my hand.

[2017-05-01 21:21] EricSimons commented on #60
@battila7 sounds good to me! 👍

[2017-05-01 21:56] anishkny opened #85 "Extra credit: Recommender system for feed"
The current feed API `GET /api/articles/feed` returns articles created by followed users, ordered by *most recent first*.

Using machine learning, could you enhance the feed to _also_ mix in some articles from authors I am not currently following but which I may like, based on various signals like say:

- currently followed authors
- articles read in the past
- other ML magic?

Note that I am prop

[2017-05-01 22:51] EricSimons commented on #85
Fantastic idea! I'd _love_ to see a TensorFlow version of this 🙃

[2017-05-02 00:55] EricSimons opened #86 "Add list of "challenges" to the readme"
(aka our extra credit ideas :)

[2017-05-02 03:56] deksden commented on #62
React & Node definitely conflicts on default 3000 port. Looking at AngularJS 1/2/etc with 4000+ ports, i m sure it will be better to use something like 4100 port for React frontend.

Node and Rails on same 3000 port is not a problem at all, because running two backends at same time is strange idea.

IMHO, only React project needs changing default port from 3000 to prevent conflicts with default ba

[2017-05-02 04:32] SandeeshS commented on #85
When i first heard about this project, the thing that came to my mind was the simplicity and ease of use. These are valuable resources for beginners and intermediate users to learn and get started. I feel implementation of machine learning to the existing architecture ruins the point.

With that said i love the idea though. Though it shouldn't be hard wired in manipulating the users feed, instead

[2017-05-02 09:18] zudov commented on #73
Sounds fun, I'll try to get something going tonight, but don't sign me up yet :)

[2017-05-02 09:53] robtweed commented on #83
Also added a Guided Tour to the repo's ReadMe which I hope will be helpful.

Will you add this QEWD implementation to your list on the main site?

[2017-05-02 10:14] SandeeshS commented on #83
I tried testing your api which is live at http://178.62.26.29:8080/api, but it doesn't have cors enabled. I'll run a test using postman and give u feedback. If everything looks fine then @EricSimons can setup the project on here and add you to it. Cheers :+1:

[2017-05-02 10:22] adamhathcock commented on #31
I've started a more ASP.NET Core standard fork here: https://github.com/adamhathcock/realworld-aspnetcore-kit

I realize having competing fork isn't optimal but the deviations in the current one from the guidelines and direction of ASP.NET Core are too much to not show a different way.

[2017-05-02 10:24] robtweed commented on #83
Ah OK - can you try again and see if it's now sending the correct CORS response headers?

[2017-05-02 10:31] SandeeshS commented on #83
Yes, it works now. But you haven't added the authorization header to the allowed headers. So authenticated endpoints are failing. You also have some unwanted headers in the allowed list, some of which are allowed by default. You can add these and it should work fine.
'Content-Type', 'X-Requested-With', 'Authorization'

First test on register endpoint shows that there is no validation logic for the

[2017-05-02 10:35] robtweed commented on #83
Thanks Sandeesh - can you try that now?

[2017-05-02 10:39] robtweed commented on #83
Sandeep

The register validation I've implemented is:
- username, email and password must exist in the request and none can be an empty string
- the username cannot already exist
- the email cannot already exist

That's the only validation I could determine was needed from the spec, unless there's some more detail that I haven't seen?

[2017-05-02 10:39] SandeeshS commented on #83
@robtweed I appreciate all your effort. But you need to do a local test first. The user profile page doesn't work since you've added logic so that a user can't view his own profile. Then there is the input validation issue. I would suggest you clone one of our frontend repo and run it locally to test it. This will help you find and fix issues faster.

Also the authorization header is allowed now :

[2017-05-02 10:42] SandeeshS commented on #83
The api spec is lacking in lacking in explanation. We'll update it soon with a complete new detailed spec. The validation that i'm talking about is the check for valid email, valid characters in username, length of inputs etc

[2017-05-02 10:45] robtweed commented on #83
if you can give me the username valid characters and field lengths I can easily add them.  I assume the valid email check is that it conforms to the expected pattern, not that it is actually live and valid

[2017-05-02 10:47] robtweed commented on #83
user should be able to view own profile now

[2017-05-02 11:01] anishkny commented on #85
I suppose communication is key here. With [19](https://github.com/gothinkster/realworld/issues?utf8=✓&q=is%3Aissue%20is%3Aopen%20label%3Abackend%20label%3Awip) backends WIP right now on top of the three reference backends, it is not possible to force everyone to enhance their backends to provide a recommender system. Hence it should be made clear this is **extra credit**, you don't have to do it,

[2017-05-02 11:05] SandeeshS commented on #83
This isn't finalised but i pulled a rough validation logic. You can go ahead with this for now and it should work fine with any of the frontend.

**Register**

    username 	- required, max length:50, alpha numeric only, unique in db
    email 		- required, valid email format, max length:255, unique in db
    password 	- required, min length:6

**Login**

    email 		- required, valid email format

[2017-05-02 11:13] SandeeshS commented on #83
FYI the favorited by user endpoint returns all articles. You might want to check that.

[2017-05-02 11:36] robtweed commented on #83
Not sure what you mean - according to the activity log, the request you sent: POST /api/articles/ripple/favorite returned the Article that had been favorited - which is as per the API spec

[2017-05-02 11:41] robtweed commented on #83
Ah sorry - you're referring to /api/articles?favorited=adadsad&limit=10&offset=0
I'll fix that

[2017-05-02 13:03] deksden commented on #77
Good dataset could be description of Realword project of some sort: articles, comments, etc.

[2017-05-02 13:28] deksden commented on #42
Good discussion about ports is here: https://github.com/gothinkster/realworld/issues/62

We should be aware of default port because each backend and frontend is already expecting some default port and can be configured via some env vars (like PORT for React)

[2017-05-02 15:04] robtweed commented on #83
Sandeesh - many thanks for the info.  I think I have those fixes in place now

[2017-05-02 15:09] SandeeshS commented on #83
No problem. I'm a bit busy at the moment. If possible setup a local frontend and do a thorough test using with api. Give us a confirmation once you're done. I'll double check once on my end and then we can plan on moving the repo after all tests have passed. Good job :+1:

[2017-05-02 15:14] robtweed commented on #83
I'll do that tomorrow, Sandeesh - run out of time here myself now :-)
Thanks again for the help today, and I'll ping you tomorrow when I've checked it all through
Rob

[2017-05-02 15:23] SandeeshS commented on #83
Sounds good. Looking forward to it.

[2017-05-02 18:51] spirosikmd commented on #12
@EricSimons I would like to work on that! I am thinking of using Polymer 2.0 release candidate. You think this would be ok?

[2017-05-02 19:01] dimonnwc3 commented on #49
@EricSimons first version is here, could you check it, please?

[2017-05-02 21:14] phpnut opened #87 "🗄🔧 CakePHP"
# Current Status

- ### Codebase in progress:<br /> [gothinkster/cakephp-realworld-example-app](https://github.com/gothinkster/cakephp-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [

[2017-05-02 21:33] phpnut commented on #87
Code pushed, will update readme soon.

[2017-05-02 21:56] EricSimons commented on #87
Awesome, I can't wait to see the final version! I also just created a logo that you can use for the repo:

![cake](https://cloud.githubusercontent.com/assets/556934/25641152/74232624-2f47-11e7-84cb-d02baf75666b.png)

[2017-05-02 21:59] EricSimons commented on #70
@lilred done! :)

[2017-05-02 22:00] EricSimons commented on #31
@adamhathcock can you create a new issue for it as well then? :)

@lilred done :)

[2017-05-02 22:31] EricSimons commented on #49
@dimonnwc3 awesome!! Checking it out now 👍

[2017-05-02 22:48] EricSimons commented on #49
@apai4 can you take a peek at this too?

[2017-05-02 22:51] EricSimons commented on #73
@zudov def keep us posted! :)

[2017-05-02 22:53] EricSimons commented on #12
@spirosikmd for sure! Go ahead and [fork our starter kit](https://github.com/gothinkster/realworld-starter-kit) and post the link to it back here :)

[2017-05-02 23:19] spirosikmd commented on #12
@EricSimons here is the link https://github.com/spirosikmd/polymer-realworld-example-app. I am not sure what was the idea about the current history, but I rewrote to include only initial commit. I hope that's ok!

[2017-05-02 23:23] EricSimons commented on #12
More than fine! I've been meaning to squash them all, just have been totally swamped since the launch :)

[2017-05-02 23:25] EricSimons commented on #12
Also, just made a logo that you can use for the repo:

![polymer](https://cloud.githubusercontent.com/assets/556934/25643293/e8e38ccc-2f53-11e7-9d8c-efc95988acbe.png)

[2017-05-02 23:36] skie commented on #87
Task list categorized by api

- [x] Articles
   - [x]  GET - Feed
   - [x]  GET - All articles
   - [x]  GET - Articles by author
   - [x]  GET - Articles favorited by username
   - [x]  GET - Articles by tag
   - [x]  POST - Create article
   - [x]  GET - Single article by slug
   - [x]  DEL - Delete article
   - [x]  PUT - Update article
   - [x]  POST - Favorite article
   - [x]  DEL - Unfavori

[2017-05-03 01:57] linxlad opened #88 "🗄🔧 Phalcon"
Current Status
======

* **Codebase in progress:**
	[https://github.com/linxlad/realworld-phalcon](https://github.com/linxlad/realworld-phalcon)

* **About Phalcon:**
 [https://phalconphp.com/en/](https://phalconphp.com/en/)

- [x] 🏁  Fork the starter repo & post the link in this issue
- [x] 🎨  Create logo for repo & update issue status (@ericsimons)
- [x] 🔨  Implement all of Conduit's functionali

[2017-05-03 06:09] Alonski commented on #70
@EricSimons I didn't realize I didn't tag you earlier. I can't fork the repo again. Think I should just clone it?

[2017-05-03 06:23] robtweed commented on #83
Hi Sandeesh - is the conduit.productionready.io backend down?  Can't get the demo app working to compare with how mine responds

[2017-05-03 06:25] SandeeshS commented on #83
Just checked and it seems to be down. @EricSimons can you check the api server.

[2017-05-03 06:34] SandeeshS commented on #70
@Alonski i don't think that would be a problem. Most of us do the same.

[2017-05-03 07:02] robtweed commented on #83
Think I've found an error in the React/Redux front end - if you start from a position of a clean slate where there are no articles, and you try to enter a first article and generate an error response at the back-end (eg if there's no title or description), the front end logs the error, but then tries to display articles and fails because slug isn't defined - at which point the front end is in a fr

[2017-05-03 07:04] robtweed commented on #83
Nope I can't get the front end to properly behave when articles are updated and an error is returned - eg
common.js:23 Uncaught (in promise) TypeError: Cannot read property 'slug' of undefined
    at exports.default (common.js:23)
    at combination (combineReducers.js:132)
    at dispatch (createStore.js:179)
    at index.js:104
    at middleware.js:55
    at middleware.js:41
    at Object.dispat

[2017-05-03 07:08] robtweed commented on #83
I'm pretty sure the demo system copes with this OK - once it's back I'll see if I can find the difference(s) - very odd as the back-end seems to be doing what it should up to this point

[2017-05-03 07:11] SandeeshS commented on #83
@robtweed good find, can you post an issue over at https://github.com/gothinkster/react-redux-realworld-example-app/issues

The react and angular frontend's have few pending issues that are being worked on. We can have someone create a PR for this over at the repo. In scenarios like these you can stick to postman test to verify the api integrity. Since we want an error free api to be consumed, whi

[2017-05-03 07:41] adamhathcock opened #89 "🗄🔧 ASP.NET Core"
# Current Status

* Codebase in progress:
 https://github.com/adamhathcock/realworld-aspnetcore-kit

## Todo:
- [x]  🏁 Fork the starter repo & post the link in this issue
- [x]  🎨 Create logo for repo & update issue status (@ericsimons)
- [x]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Peer review of final codebase by RealWorld admins & community (RFC)
- [ ]  🎉 Tag v1 r

[2017-05-03 08:03] robtweed commented on #83
Another question, Sandeep, if I may: if the back-end session expires, do you know what the expected response should be to /api/user?  Currently I return a 403 response with the payload

{"error":"Invalid token or session expired"}

According to the console, the UI registers this but continues anyway to try set itself up, and eventually gets into a frozen state.  If 403 is the correct response, the

[2017-05-03 08:05] robtweed commented on #83
BTW in QEWD, the back-end session and JWT token expiry are linked, so this equates to the back-end confirming that the received JWT has expired

[2017-05-03 08:16] SandeeshS commented on #83
The current api spec lacks information with regard to JWT generation, authentication, validation. The three main backend here generate JWT with 60 days expiration which is not advised. JWT's are supposed to be short lived and refreshed. I've implemented the same in the laravel backend for now to keep things in sync with the main backend repo. I'm planning to re do the api spec from scratch which w

[2017-05-03 08:30] robtweed commented on #83
OK understood, Sandeep - makes sense.  I was keeping my JWTs down to 10 minutes, but I'll push that up to 60 days as you suggest and avoid the UI issues for now. I'll be interested to see your updated JWT spec.  I've copied the structure (Id and username) used in the demo.  BTW I assume that you'll be allowing use of reserved claims such as jti which QEWD currently uses for back-end identification

[2017-05-03 08:37] SandeeshS commented on #83
It's Sandeesh btw :)

Absolutely. None of the reserved claims will be touched as per the RFC. In fact the current frontend's don't even make use of any claims to verify the user. The api endpoint to fetch the current user using the token is being used for that purpose. Therefore as long as the server validates the token, the frontend doesn't care about any of it's claims. Imo the current implement

[2017-05-03 08:42] robtweed commented on #83
Apologies Sandeesh! Not enough coffee yet and too quick to click the submit button!  :-)

[2017-05-03 10:49] robtweed commented on #83
Ok Sandeesh, I and a colleague have given it a pretty thorough testing and the QEWD back-end seems to be holding up well now against the UI.  The one issue I see is that weird issue with the UI stalling when there are errors in creating and updating articles.  I'm pretty sure the back-end behaviour is correct.  However, until the demo system is back I can't really find out any more on that one, bu

[2017-05-03 10:53] robtweed commented on #83
BTW, my local UI instance can be accessed at http://178.62.26.29:3000

[2017-05-03 12:43] linxlad commented on #88
@EricSimons Is it possible to work your magic on the logo? :)

[2017-05-03 14:31] ikamthania commented on #63
Hi,
I just created a pull request for the setup [here](https://github.com/James-Parsons/realworld-starter-kit/pull/1) . It is largely inspired from boilerplay with dependency injection using macwire. Do note it includes  a setup for scalajs-react as well but can be removed as required. Do let me know your opinion on it.

[2017-05-03 14:46] robtweed commented on #83
qewd-conduit back-end working on a Raspberry Pi here at my house: http://www.mgateway.com:3000/api

[2017-05-03 14:53] SandeeshS commented on #83
@robtweed that's awesome :+1: I've been quite busy today. I'll have a go at your api with the angular frontend setup i have on local and give you my side of the pass. We can then have @EricSimons move the repo over here and get it finalised. Great job!

[2017-05-03 14:54] phpnut commented on #87
@EricSimons The API is implemented and ready for peer review.

[2017-05-03 14:57] robtweed commented on #83
Thanks Sandeesh! :-)

[2017-05-03 16:27] robtweed commented on #83
Tried the demo system now that it's back up and running, but it doesn't exhibit the same behaviour as I see with my local version.  Anyway I've logged an issue - I can't see any difference in the sequence or content of responses when you submit an article with a blank body, so I suspect there's a difference between the versions of the UI used in the demo and what's on Github.

[2017-05-03 16:34] EricSimons commented on #88
@linxlad yessir! :)

![phalcon](https://cloud.githubusercontent.com/assets/556934/25671103/b812cfdc-2fe3-11e7-9982-bd96f7f34adc.png)

[2017-05-03 16:38] linxlad commented on #88
Thank you kind sir :)

[2017-05-03 16:40] littleStudent commented on #80
Hi folks.
I thought about contributing a lightweight backend implementation based on [micro](https://github.com/zeit/micro). Each API CRUD endpoint would live in its own microservice.
Regarding the entry barrier. It should be possible to configure the project for simple usage. Running `npm run server` would start up all microservices with routing setup up already. Let me know what you think.

[2017-05-03 16:50] jonniedarko commented on #80
Thant interesting. I was actually thinking in terms of using
Docker/Docker-Compose

On 3 May 2017 at 12:40, Thomas Sattlecker <notifications@github.com> wrote:

[2017-05-03 16:54] brwr commented on #80
I stand by my previous statement.

Using microservices creates a distributed system. One of the hardest parts about distributed systems is handling transactions across services. (e.g. If Service A succeeds and Service B fails, then Service A needs to be rolled back.) You also need to be able to trace transactions across services, which comes with it's own set of problems.

Using microservices is a

[2017-05-03 16:59] EricSimons commented on #89
Feel free to use the same logo as the C# version btw :)

[2017-05-03 17:00] brwr commented on #89
Have you considered working with @abauzac on #31?

It sounds like you're not happy with the approach @abauzac has taken. Have you tried opening an issue to raise these concerns?

We don't want two have multiple implementations for the same stack if we can avoid it. After all, we're here to help people who are learning ASP.NET Core. Having multiple implementations is more likely to confuse them tha

[2017-05-03 17:02] EricSimons commented on #84
Here's the logo!

![android](https://cloud.githubusercontent.com/assets/556934/25672246/9a20e960-2fe7-11e7-99d3-23652878a2c2.png)

[2017-05-03 17:07] brwr commented on #87
One thing I noticed is that MySQL is being used. I think MySQL is more common than PostgreSQL in the PHP community. Feel free to correct me if I'm wrong.

@EricSimons Do we have standards around which database should be chosen? Should database setup documentation be included in the repository?

[2017-05-03 17:08] adamhathcock commented on #89
I did try but it seems the basic aims are different https://github.com/abauzac/realworld-netcore-kit/issues/9

[2017-05-03 17:10] brwr commented on #87
Also, it looks like there is some generated code that can be removed. See [src/Controller/PagesController.php](https://github.com/CakeDC/cakephp-realworld-example-app/blob/master/src/Controller/PagesController.php).

My knowledge of PHP is limited, so feel free to correct me on anything I'm wrong about.

[2017-05-03 17:10] EricSimons commented on #87
@brwr no — we let the author choose the desired DB.

[2017-05-03 17:12] EricSimons commented on #87
@phpnut great work! Have you tried pointing one of our frontend implementations at this backend to see if it works? Often times CORS will manually need to be enabled, etc.  (btw I'm attempting to get this to run locally, but running into PHP ini issues)

[2017-05-03 17:12] skie commented on #87
I don't see any database requirements. But cakephp can work with any database: both MySQL and Postgress are fully supported.

[2017-05-03 17:13] skie commented on #87
@EricSimons I've tested with angluar2 and react frontends. Both was working really nice.

[2017-05-03 17:13] phpnut commented on #87
The CakePHP ORM works with many databases, the user can choose whatever they want. The migrations setup will setup the tables as needed.

 Drivers include Mysql Postgres Sqlite Sqlserver

[2017-05-03 17:14] phpnut commented on #87
@EricSimons what errors are you getting? Is it related to intl extension?

[2017-05-03 17:15] EricSimons commented on #87
@phpnut yup that's the one — any idea how to fix? (I'm a PHP noob :)

[2017-05-03 17:15] phpnut commented on #87
@EricSimons you need to have intl extension installed and enabled to use CakePHP. What OS are you using?

[2017-05-03 17:17] EricSimons commented on #87
@phpnut Mac 10.12.1

[2017-05-03 17:21] Cameron-C-Chapman commented on #80
While I disagree that microservices are a bad idea in general, there are a lot of benefits to that architecture, I do agree that it's probably beyond the scope of what realworld is trying to accomplish. So maybe the final thought on this for now is that people are free to do it but it probably won't be merged into the master project?

[2017-05-03 17:25] EricSimons commented on #49
@dimonnwc3 what version of node are you using for it? I'm getting errors due to async/await not being supported :(

[2017-05-03 17:28] EricSimons commented on #80
^ yeah, that's the official stance IMO. Microservices kinda fall outside the core spec but we def want to encourage people to get creative with extending Conduit :)

[2017-05-03 17:28] robtweed commented on #83
@EricSimons While awaiting Sandeesh's testing, could you add QEWD to the Work In Progress list of backends on the main realworld page?

[2017-05-03 17:28] dimonnwc3 commented on #49
@EricSimons I use latest stable version 7.10
you can follow this guide to run the app: https://github.com/dimonnwc3/node-koa-realworld-starter-kit#getting-started

[2017-05-03 17:39] devadvance commented on #67
@Cameron-C-Chapman happy to help where needed on the Swagger spec, since it's a great way to glue everything together 👍

[2017-05-03 17:46] phpnut commented on #87
@EricSimons ok, this is not compiled by default. MAMP for Mac has intl active by default, this would be the quickest way to download and test. If you would like to install intl extension on your vanilla php install on the Mac I can provide you with some steps to do this.

I am currently working on a plugin that can replicate the functionality CakePHP using for translations and other features, but

[2017-05-03 17:50] Cameron-C-Chapman commented on #67
@devadvance I haven't even had time to really get started yet so if you'd like to help I say go for it!

[2017-05-03 17:50] EricSimons commented on #49
Got it working! Found a bug — when adding a new comment, the server response upon creation attaches the article's author instead of the comment author. I'm thinking that maybe it's this line? https://github.com/dimonnwc3/node-koa-realworld-starter-kit/blob/master/src/controllers/comments-controller.js#L73

[2017-05-03 18:01] dimonnwc3 commented on #49
thanks, you are right. I fixed it

[2017-05-03 18:07] SandeeshS commented on #83
@robtweed I tested your api which is live at http://178.62.26.29:8080/api, i hope this is updated. Everything works perfect except for 2 small hiccups.

The comment form on first submit after page load with no body sets the field to null and not an empty string. I guess your validation is failing for some reason and an empty comment actually gets parsed and saved. Subsequent request to add gets va

[2017-05-03 18:08] EricSimons commented on #87
@phpnut okay perfect, will try out MAMP and see if that works :)

In the meantime, if there are any other CakePHP folks out there who can review the code and 👍  or 👎  that would be great!

[2017-05-03 18:10] phpnut commented on #87
@EricSimons, that would be great. We kinda make a living reviewing CakePHP code for others :)

[2017-05-03 18:11] SandeeshS commented on #87
I'll give this a test on my end as well.

[2017-05-03 18:13] robtweed commented on #83
Hi Sandeesh

Yes I noticed the Comment error came up and fixed the logic mid-testing :-)

The logic I'm using says that only the author of a comment can delete it.  Is that correct?  Or can the article author also delete it?

Regarding the following tonyshannon - that was when you first registered your new username, right?  I'll see if I can figure out why that might have happened - seems a bit od

[2017-05-03 18:14] EricSimons commented on #49
Looks good!

@tj @jonathanong would either of you (or someone else in the Koa community) be able to provide a quick 👍  or 👎  on this codebase before we mark it 1.0? 🙏

[2017-05-03 18:20] SandeeshS commented on #83
Only the owner/author can delete their own comment. But i'm getting the error when trying to delete mine.
Regarding the following issue, yes it happened only on the first sign up.

You're the author of QWED, i don't think we can ask for a better review than your own :) Once all the tests have passed we can clone/move the repo here and add it to the list :+1:

[2017-05-03 18:34] robtweed commented on #83
Could you try deleting that comment again, logged in as its author? I think I found the problem

[2017-05-03 18:35] SandeeshS commented on #83
Same error

[2017-05-03 18:35] robtweed commented on #83
Hmm - still doesn't look like its working....let me put some trace code in....one sec

[2017-05-03 18:39] robtweed commented on #83
Duuuh! Stupid error - can you try that again now?

[2017-05-03 18:40] SandeeshS commented on #83
Btw join i just created a Gitter room https://gitter.im/realworld-dev/qewd, we can continue our discussion there. It'll be much easier to test.

[2017-05-03 18:53] anishkny commented on #86
Hey, where was this added?

[2017-05-03 18:55] dorlowd commented on #73
I'm working on servant version of a backend [here](https://github.com/dorlowd/haskell-servant-realworld-example-app).

I'll let you know when I get all endpoints implemented.

[2017-05-03 18:58] SandeeshS commented on #83
Ok that concludes my testing. :+1: from me

[2017-05-03 19:20] robtweed commented on #83
OK I've committed the latest changes that were needed to fix the last bugs to https://github.com/robtweed/qewd-conduit

[2017-05-03 19:26] SandeeshS commented on #87
Looks like CakePHP hates windows setup. I got it running fairly easily on a vagrant box. But the instructions are clearly lacking for a beginner. What are the api routes? I'm getting an error on accessing http://cake.dev/api/articles or any url. The error message is "Extension class OptionsHandlerExtension could not be found."

[2017-05-03 19:30] phpnut commented on #87
What problems did you have with windows?

[2017-05-03 19:33] SandeeshS commented on #20
@EricSimons anyway we can push the completed backend on the main page? I'd consider @unicodeveloper as a good peer for the review judging by his background in the laravel community. You guys could do a test run with a local setup to verify the api, there's clear instructions.

[2017-05-03 19:43] EricSimons commented on #20
@SandeeshS absolutely — I just need to change the layout/design of the readme to be able to accommodate this + upcoming stacks  :) Will have this listed there by EOD. Great job! 💯

[2017-05-03 19:49] skie commented on #87
@SandeeshS it works on windows well as it was developed and tested there. There was old composer.lock file. Please pull and run "composer install" again.

[2017-05-03 19:55] SandeeshS commented on #87
@skie seems like the pull fixed it, got the api working fine now :+1: It's 1:30am here and i'm about to hit d bed. I'll do a thorough test in the morning and leave my feedback. Although at first glance there seem to be additional data coming through the api, like the tags count on tag, additional pagination info on articles.

[2017-05-03 20:28] skie commented on #87
Pagniation and tags count info is removed from response.

[2017-05-03 20:39] dereuromark commented on #87
I think you should remove all empty (noise) folders, makes people easier to focus on the actual code inside the repo

e.g.

- https://github.com/CakeDC/cakephp-realworld-example-app/tree/master/plugins
- https://github.com/CakeDC/cakephp-realworld-example-app/tree/master/src/View/Helper
- https://github.com/CakeDC/cakephp-realworld-example-app/tree/master/src/Controller/Component
- https://github.

[2017-05-03 21:10] EricSimons opened #90 "[Important] What's in the core spec / what gets defined as "extra credit""
There have been a ton of great ideas proposed for additional "real world" examples that could be demonstrated with Conduit: [i18n](https://github.com/gothinkster/realworld/issues/65), [feed recommendations](https://github.com/gothinkster/realworld/issues/85), [microservices](https://github.com/gothinkster/realworld/issues/80), [testing](https://github.com/gothinkster/realworld/issues/72), and more

[2017-05-03 21:57] phpnut commented on #87
@brwr This is used by the default route if someone was to visit / vs /api so it is needed

[2017-05-03 22:16] phpnut commented on #87
@EricSimons all unused directories and files removed. You can fork the project back to your GitHub account now.

[2017-05-03 22:17] EricSimons commented on #87
Official repo is online at https://github.com/gothinkster/cakephp-realworld-example-app and @phpnut and @skie have been added as collborators :)

[2017-05-03 22:24] EricSimons commented on #83
Just created [official repo](https://github.com/gothinkster/QEWD-realworld-example-app) and added @robtweed to it! You're also now listed on the readme :)

[2017-05-03 22:27] EricSimons commented on #51
@a-r-g-v just making sure you saw @1755's comments above :)

[2017-05-03 22:36] phpnut commented on #87
@EricSimons Thanks, glad to see your project and can see it being very useful to people looking at different tools to develop their apps with. Nice way to compare, create work.

Are you going to be able to change the gif? media/stacks_hr.gif

[2017-05-04 03:43] Cameron-C-Chapman commented on #90
TLDR: Keep the spec exactly like it is, stress community review and buy in, and add a spec for at least one passing unit test so the unit test architecture is demonstrated.

I think the spec as it stands now is perfect for what realworld is trying to accomplish. The only thing I think is worth consideration for adding would be unit testing.

Here's what I would say a realworld implementation shoul

[2017-05-04 03:47] onymos-matt opened #91 "📱🔧 Onymos"
[Onymos](https://www.onymos.com) build of RealWorld

[2017-05-04 07:51] adamhathcock commented on #89
Logo updated!

I'm intentionally moving a bit slow to ensure if anyone wants to help.  I have most of the infrastructure ready, including JWT.

[2017-05-04 10:24] agrison opened #93 "🗄🔧 Kotlin/Spring"
# Current Status

### Repository (WIP):
[agrison/realworld-kotlin-spring](https://github.com/agrison/realworld-kotlin-spring)

### Help
Come and help improve the codebase 😃

## Todo:

- [X] 🏁 Fork the starter repo & post the link in this issue
- [X]  🎨 Create logo for repo & update issue status (@ericsimons)
- [x] 🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move repo to

[2017-05-04 11:41] a-r-g-v commented on #51
@1755
Sorry, I was so busy that I could not replay you.
1. You can use any package you think best thing.
2. Please do that way.

[2017-05-04 14:42] Alonski commented on #90
I think having these as `Extra Credit` is a good idea.
We at Realworld-Ember are implementing Tests gradually and trying to get good code coverage from the start as Ember gives us so much without much work on our side.
It would be a shame if we didn't utilize it.
I am not sure if each Extra Credit should be in a different branch, for example testing isn't in a different branch as explained.
i18n t

[2017-05-04 16:17] agrison commented on #93
Tested it with the react frontend, seems OK.

What's the process now @SandeeshS ? Should I host a demo somewhere?

[2017-05-04 16:20] SandeeshS commented on #93
@agrison oh wow you've already completed it? :+1:  Generally you fork the repo and complete the codebase with regards to the spec. Once complete you do a thorough test and give us the go from your end, after which we test the functionality once and tag it for rfc for a peer review. After all tests pass we can move the repo here :)

[2017-05-04 16:24] agrison commented on #93
@SandeeshS Which front is the reference for testing, so that I'm sure that my tests are correct before I give you the go?

[2017-05-04 16:28] SandeeshS commented on #93
@agrison you can use any of the three referenced on the main page. React or angular is what most use to test.

[2017-05-04 16:37] Kevenvz opened #95 "🗄🔧 Dropwizard"
# Current Status

- ### Codebase in progress: [Kevenvz/realworld-dropwizard-kit](https://github.com/Kevenvz/realworld-dropwizard-kit)
- ### Interested in helping out? Say hello! 🎉

### Todo:
- [X]  🏁 Fork the starter repo & post the link in this issue
- [x]  🎨 Create logo for repo & update issue status (@ericsimons)
- [ ]  🔨 Implement all of Conduit's functionality per the spec & API
- [ ]  👀 Move

[2017-05-04 16:46] agrison commented on #93
OK I'll pince you once I tested it all :)

[2017-05-04 17:09] SuperlativeEntity opened #96 "📱 Native Script"
# Current Status

- ### Codebase in progress:<br /> [https://github.com/mkoczka/nativescript-realworld-example-app](https://github.com/mkoczka/nativescript-realworld-example-app)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [ ] 🔨 Implement all of Conduit's functionalit

[2017-05-04 17:52] EricSimons opened #741 "Add logged in/logged out HTML fragments into header"

[2017-05-04 18:17] EricSimons commented on #91
@onymos-matt are you planning on working on this? Or should I add the `seeking engineers` tag? :)

[2017-05-04 18:38] EricSimons commented on #95
Awesome! Here's a logo that you can use for your readme:

![dropwizard](https://cloud.githubusercontent.com/assets/556934/25719383/1ad840ae-30be-11e7-9d4b-6604f8487a72.png)

[2017-05-04 18:44] onymos-matt commented on #91
@EricSimons - We will work on this, and can always use more help. So, please do add the 'seeking engineers' tag too.

[2017-05-04 19:15] EricSimons commented on #90
^ bingo. I def think this is the right way to proceed. 💯

Regarding testing — I think @Cameron-C-Chapman's idea to enforce a bare minimum of one unit test is brilliant. It ensures that all testing infra req'd for that framework will be included out of the box on day 1, and will ensure anyone who PR's additional tests doesn't have to fiddle around with tooling/etc.

To @Alonski's point, having a fu

[2017-05-04 20:16] agrison commented on #93
@SandeeshS I tested all functionalities, everything's OK from my POV 👌

[2017-05-04 22:24] brwr commented on #20
Since this has been moved to the GoThinkster org, I vote that we close this issue. All future conversation should happen in [gothinkster/laravel-realworld-example-app](https://github.com/gothinkster/laravel-realworld-example-app) unless it's application to the RealWorld project at large.

[2017-05-04 22:37] EricSimons commented on #20
Agreed — closing this issue 👍

[2017-05-04 22:37] #20 closed

[2017-05-05 03:22] brwr commented on #90
Sounds reasonable. Where do we go from here? Probably best to turn this into a philosophy doc (as mentioned) or part of the README. Next question is how do we increase the probability that creators will see this?

[2017-05-05 03:25] brwr commented on #80
Is there anything left to add to this conversation or do we have a consensus? If the latter, should this issue be closed?

[2017-05-05 03:26] brwr commented on #81
Is there anything left to add to this conversation or do we have a consensus? If the latter, should this issue be closed?

[2017-05-05 03:30] Cameron-C-Chapman commented on #80
I was just thinking the same thing @brwr , I think this could be closed along with the 118n and test spec issues.

[2017-05-05 03:32] Cameron-C-Chapman commented on #65
We've agreed on what the minimum testing spec should be in the discussion in issue #90 so I think we can close this.

[2017-05-05 03:32] #65 closed

[2017-05-05 03:34] SandeeshS commented on #81
So the conclusion is that we enable support for both the schemes across all backends then?

[2017-05-05 03:37] Cameron-C-Chapman commented on #72
We've agreed on a minimum testing spec with issue #90 so we can close this issue.

[2017-05-05 03:38] #72 closed

[2017-05-05 03:41] SandeeshS commented on #93
@agrison awesome :+1: I've never worked with spring before. I'll get your project setup and give the api a test from my end and give you my feedback by today.

[2017-05-05 03:43] Cameron-C-Chapman commented on #81
I think so @SandeeshS but we should probably add some notes to the spec before we close this out.

[2017-05-05 03:43] SandeeshS commented on #76
This was fixed with https://github.com/gothinkster/realworld/pull/92

[2017-05-05 03:43] #76 closed

[2017-05-05 03:46] SandeeshS commented on #81
@Cameron-C-Chapman absolutely. There's almost 25+ backends in progress/complete at the moment. We need to make sure we inform changes such as these to all the current backend developers in a proper manner. Also document this in the both frontend and backend spec.

[2017-05-05 03:51] Cameron-C-Chapman commented on #26
So @EricSimons are we thinking this falls under the extra credit umbrella or is this something we want to consider for the core spec? It doesn't feel like something that fits with the core spec since it would require adding storage provider credentials to support it.

[2017-05-05 03:53] devadvance commented on #67
@Cameron-C-Chapman Working on it now! Will have a rough version done in a day or two.

[2017-05-05 03:54] SandeeshS commented on #26
I think we can keep this for the next version of the spec. This isn't a simple extra credit task since this requires changes in both frontend and backend to support this. Which would need changes from 2 different parties to make this work. I don't feel that we can accommodate this with the current spec.

[2017-05-05 03:58] Cameron-C-Chapman commented on #29
@EricSimons I'm guessing this isn't something we want to support in the core spec per the discussion in issue #90?

[2017-05-05 04:02] brwr commented on #77
Ok. I think I've got an interesting solution to this one.

1) I love @EricSimons's idea of using authors from <= 1900. Since the work has no copyright restrictions, we can create articles that aesthetically look like what you'd see on Medium. Bonus points for using proper headings, paragraphs, images, etc.

2) @SandeeshS is on the money about users testing the demo. If we show everyone's content,

[2017-05-05 04:04] brwr commented on #80
I think it's likely that others will agree too. I'm going to close this for now. Anyone who has objections should feel free to raise them and we can re-open this issue if needed.

[2017-05-05 04:04] #80 closed

[2017-05-05 04:05] brwr commented on #86
This hasn't been done yet. I think it was closed as in favor of #90. It still needs to get done though.

[2017-05-05 04:23] brwr commented on #81
Sounds good. I'll leave yall to it then.

Anytime we're talking about adding something to the spec, it's necessary to wait until @EricSimons signs off on it. He's got the best view of the project as a whole and is best equipped to make sure a call and bring our attention to things we haven't considered.

[2017-05-05 06:11] deksden commented on #29
@Cameron-C-Chapman : imho, nope. Social login is complicated separate feature set.

One more idea: we can extend API spec via versioning, and add some "addons" to spec, like, social logins.

So, backend implementing this "addon" can use /v1-social/api" endpoint, not plain "/api". Next version of core spec can be "/v2/api".  Maybe we can think on semver for spec.

[2017-05-05 07:28] willgopublic opened #98 "Change wording of backend & frontend to serverside & clientside?"
Change wording of backend & frontend to serverside & clientside .

[2017-05-05 08:35] ikamthania commented on #63
Hi,
I have added home view to the pull request

![home](https://cloud.githubusercontent.com/assets/8693515/25738565/792808dc-319b-11e7-9ee6-e732ca72e15b.png)

Where can I get the favicon from?

[2017-05-05 11:13] chilledoj opened #99 "🗄🔧 Go + Gorilla mux"
# Current Status

- ### Codebase in progress:<br /> [chilledoj/realworld-starter-kit](https://github.com/chilledoj/realworld-starter-kit)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 🔨 Implement all o

[2017-05-05 13:41] adamhathcock commented on #89
@EricSimons I think I've completed.  Been testing with the React frontend.

[2017-05-05 16:13] EricSimons commented on #99
@chilledoj awesome! Can't wait to see this 👍

[2017-05-05 16:15] EricSimons commented on #98
@willgopublic would be great to hear your thoughts on why you think we should change the phrasing! Would love anyone else's thoughts too 👍

[2017-05-05 16:17] EricSimons commented on #63
^ ya'll are just creating the backend in Scala to adhere to API spec, right? Or are you also creating a frontend too?

[2017-05-05 16:21] EricSimons commented on #86
Yeah #90 was why I closed this; still does need to get added somewhere though. Any thoughts on how/where?

[2017-05-05 16:25] EricSimons commented on #29
@Cameron-C-Chapman yeah, social login would def fall into the "extra credit" category

@deksden I like the idea of potentially extending the spec via semver in the future 👍  probably will be a while before we create additional specs, but if/when we do, that seems like a great solution!

[2017-05-05 16:27] EricSimons commented on #90
I think including the testing/philosophy updates in the spec should ensure new creators see this, and I'll also ping all current WIP folks on gitter/etc and let them know as well :)

[2017-05-05 16:29] EricSimons commented on #89
Okay, I've got this marked as RFC! Are there any ASP.NET folks out there who can review this codebase?

[2017-05-05 16:38] #83 closed

[2017-05-05 16:59] Cameron-C-Chapman commented on #86
@EricSimons I saw you started playing around with the idea of a wiki for the project. I think we could leverage that to help document some of this stuff and link to that in the readme. We could do a Roadmap, Spec details, Extra Credit Challenges, etc as wiki entries.

[2017-05-05 17:58] ubershmekel opened #101 "Include an image in the example front end"
I believe including an image to be displayed would be a bit more real-world. I realize every frontend and backend might do it differently, but that is kind of what you're going for here perhaps.

[2017-05-05 18:14] SandeeshS commented on #29
@EricSimons i think we need to finalise the the v1 of the spec and tag it before we even think about extending it. This will help prevent a lot of confusion and mess with all the other developers given the number of codebase we have growing.

[2017-05-05 18:19] SandeeshS commented on #101
@ubershmekel Can you be a bit more elaborate? Like including an image with the article or just having an image section?

[2017-05-05 18:49] ubershmekel commented on #101
I think even just including a logo for the website would be beneficial. To demonstrate how images would be stored, and referenced in the frontend. E.g. for an interestingly different example:

http://stackoverflow.com/questions/32612912/dynamically-add-images-react-webpack

[code]

[2017-05-05 18:52] SandeeshS commented on #101
Ah got it. Guess they wanted to keep the design simple and skipped adding a logo. We could definitely add a logo in the next version of the spec along with the other changes planned.

[2017-05-05 18:58] EricSimons opened #102 "Merge instructions into main repo"
Having the instructions in the starter kit has proven to be a bad idea (from yours truly:), so I'm going to consolidate all instructions into the main repo. This will make them easier to update & propagate to devs working on implementations 👍

[2017-05-05 19:05] dorlowd commented on #73
I've got all endpoints implemented to a somewhat working state (code is a mess, though). I'll open issues on my repo about what is left to do.

I'm pretty sure I can pull this one off. Should I file a new issue about my project or will we lift this one to a WIP status?

[2017-05-05 19:08] EricSimons opened #103 "Standardize README's for completed repos"
For someone who is landing on an example repo and has no idea what RealWorld is, I'd imagine they'd be thinking "uh, wtf is this". For example, the backend codebases don't mention how to get an example frontend setup & running (much less where you can choose a frontend at all). This could easily be fixed with a standard "what is this"-esque section at the top of every README.

Further, would be gr

[2017-05-05 19:10] 1755 commented on #51
@a-r-g-v I see. Thanks for reply :)

[2017-05-05 19:16] EricSimons commented on #101
Yup, we wanted to keep it simple for v1 but tbh, if we did this, we'd probably just link to a CDN resource instead of having the FE's handle asset resolution/bundling themselves (just like we did with the main.css stylesheet). Reason being is that the way ppl deploy assets varies greatly and we don't want to lock people into one way of handling things.

However, this seems like an excellent ["extr

[2017-05-05 19:18] SandeeshS commented on #103
@EricSimons Great idea. I think this is a must. Having a clear guideline for the README would be very helpful to users who land on the repo's directly. I tried to squeeze in as much info as possible in the laravel repo and i still feel its lacking. Having mandated information on different topics will keep force repo owners to maintain proper guidelines and instructions for its users, making it eas

[2017-05-05 19:23] SandeeshS commented on #73
You can definitely take your time and get the code cleaned up and tested. There's no reason to wait for others to join :) If anyone wants to contribute then they can work with your repo via PR's.

[2017-05-05 19:29] SandeeshS commented on #73
@EricSimons we need your logo magic for this one

[2017-05-05 19:50] SandeeshS commented on #93
@agrison I got this setup locally and tested. I gotta say, the maven dependencies take a long time to download on windows machine. Most of the stuff seems to be working perfect except for these few things.

- Wrong error response on failed login
- No username and email validation check on registration and update
- Deleting comments throw a 404 error, but actually get deleted. Only on refresh can w

[2017-05-05 20:04] dorlowd commented on #73
I mean - issues to track project status. I don't need contributions atm. Feel free to remove "seeking engineers" tag.

[2017-05-05 20:09] SandeeshS commented on #73
I've already updated the main comment of this issue with the repo info and status. We can track the project status and progress here. I'll remove the tag :+1:

[2017-05-05 20:44] EricSimons commented on #73
🎤  Do you believe in [magic?](https://www.youtube.com/watch?v=mDYNuD4CwlI)

![haskell](https://cloud.githubusercontent.com/assets/556934/25763561/83f8bc50-3198-11e7-9ff2-cc7519f8a508.png)

[2017-05-05 20:50] EricSimons commented on #86
Reopening issue! Here's my thoughts that I posted into our gitter channel:

--------

Regarding extra credit, I like the idea of keeping issues around so people can keep discussing them and what not. I also like the idea of having a directory of extra credit ideas so folks can browse & get inspired to create them.

Proposal: What if we had a “Challenges” section underneath our supported stacks on

[2017-05-05 21:39] agrison commented on #93
Hi thank you for the testing. Maybe we should update the API spec because I would have known that it was needed to validate the username (alphanumeric) and email without bothering you.
I added these checks 😄

Regarding the wrong error response on failed login, it's not clear in the spec if a 401 or a 403 is needed. I was using a 401 so I conclude that I should respond with a 403 (which I did).

Co

[2017-05-05 23:46] ikamthania commented on #63
This setup is mostly for backend in scala. Last commit was just to show that full stack scala is a possibility too. This pr is still open for discussion.

[2017-05-06 00:43] EricSimons commented on #49
Status update: Still trying to get a hold of _anyone_ in the Koa community who can look this codebase over. I posted [an issue](https://github.com/koajs/koa/issues/979) over in the Koa repo as well.

@dimonnwc3 any chance you know some folks in the Koa community who could help review here? :)

[2017-05-06 00:57] EricSimons commented on #87
@phpnut it's actually a screencap of our animation on https://thinkster.io :) I need to split it out and make it easily expandable, but yes absolutely I'll include CakePHP in there once I find a few minutes to do that!

Now that this repo is in the main org, I'm gonna go ahead and close this issue. Thanks again for the amazing work CakePHP folks!

[2017-05-06 00:57] #87 closed

[2017-05-06 00:59] phpnut commented on #87
@EricSimons you can use this SVG, it you need another format let me know.

https://cakephp.org/v2/img/logos/CakePHP_Logo.svg

[2017-05-06 05:50] SandeeshS commented on #93
@agrison Yes i understand. I've been meaning to get the api spec re done with the validation criteria and more. But haven't been able to find the time. You're also true about the failed login. I actually did make it return a 401 on fail on laravel backend, then i had to change it to 422 with failed login message for the current frontends to make it work properly. That's how the other 3 main backen

[2017-05-06 06:16] agrison commented on #93
OK.

So wait I'll fix the login to make it respond a 422 instead of a 401/403 ;-)

[2017-05-06 06:39] agrison commented on #93
Done 😉

[2017-05-06 07:18] dimonnwc3 commented on #49
@EricSimons  it's very similar to `express/connect` but uses promises out of the box to building simple middleware

actually, I switched from express to koa for a long time and can do a review, but not for himself :-)

so people from the express world could do it as well, but they need good knowledge about new ES features like promises and async-await

Another point is working with a database. Kne

[2017-05-06 08:02] littleStudent commented on #43
hey @EricSimons. Here is the fork for the swift example https://github.com/littleStudent/swift-realworld-example
I will try to get a version with the global feed out in the next few days, so I can gather some feedback on the codebase.

[2017-05-06 09:26] SandeeshS commented on #43
I've updated the status and added your repo :+1:

[2017-05-06 11:12] mohamed-aziz commented on #51
Hello, I completed work here,

mohamed-aziz/flask

If the codebase you are working on now is chosen, could you please reference to my repo as an alternative implementation, Thanks.

Also can I add the logo to my repo?

[2017-05-06 11:35] mohamed-aziz commented on #51
Also can someone review the code?

[2017-05-06 13:32] dorlowd commented on #73
Thanks!

[2017-05-06 20:06] andykog commented on #33
Done, see [hodorswit/react-mobx-realworld-example-app](https://github.com/hodorswit/react-mobx-realworld-example-app), replaced redux with mobx, added/modified few components here and there, used singletone stores for simplicity.

[2017-05-07 21:08] Cameron-C-Chapman commented on #35
So I like this idea as well and I started playing around with Newman to see how useful this could be and how far off from being useful now it was and I actually made some pretty good progress (because it wasn't really much work).

So I pushed a branch called add-postman-newman-cli-runner, I haven't issued a pr yet, I kind of wanted everyones thoughts first.

So if you pull down that branch and

1.

[2017-05-08 01:32] devadvance commented on #67
Pull request #104 to address this

[2017-05-08 03:55] paulcedrick opened #105 "🗄🔧 Loopback 3.0"
# Current Status

**Codebase in progress:**
[paulcedrick/realworld-loopback](https://github.com/paulcedrick/realworld-starter-kit)

**Interested in helping out? [Join us in gitter](https://gitter.im/Realworld-loopback/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link) :tada:**

## Todo:

 - [x] :checkered_flag: Fork the starter repo & post the link in this issue
 - [x] :art: Crea

[2017-05-08 09:01] pdamoc commented on #13
There is a full implementation of Conduit at:
https://github.com/rtfeldman/elm-spa-example

[2017-05-08 11:47] Janiczek commented on #13
"Just Do It™" approach :D

[2017-05-08 18:08] EricSimons commented on #67
Thanks @devadvance for making this happen! 💥  Closing issue :)

[2017-05-08 18:08] #67 closed

[2017-05-08 18:13] EricSimons commented on #13
woot! just added to our main readme :) great work all!

[2017-05-08 18:13] #13 closed

[2017-05-08 18:37] EricSimons commented on #33
Woot! Can one of the MobX folks here take a peek at @andykog's codebase and provide feedback (and/or approve it)? 💪

[2017-05-08 18:39] EricSimons commented on #49
@dimonnwc3 awesome! If no one from the Koa community jumps in here within the next day or two, I'm just going to approve it & list on the readme :)

[2017-05-08 18:50] EricSimons commented on #35
Wow, this is _awesome_! I think we should def implement this 👍 Thoughts @gothinkster/realworld-admins?

[2017-05-08 18:53] EricSimons commented on #51
@a-r-g-v @mohamed-aziz just saw the convo in the Gitter room + these comments! Are we going to use @a-r-g-v as the main version?

[2017-05-08 18:55] EricSimons commented on #98
Closing for now but happy to reopen if folks want to discuss 👍

[2017-05-08 18:55] #98 closed

[2017-05-08 20:13] jonschoning commented on #73
Since Haskell has several FE and BE frameworks, it would be a good idea to make sure to tag this as `Haskell / Servant` rather than just `Haskell`

[2017-05-09 11:30] mweststrate commented on #33
@EricSimons will try to check later today / tomorrow

[2017-05-09 14:53] SandeeshS commented on #93
@agrison Sorry for the late response, been pretty busy lately. I pulled your changes and ran another test. Here are somethings you might want to check.

- Deleting article or comment returns an invalid json response which the browser fails to handle.
- No validation check on updating user. Checks on registering works fine.
- Updating user info causes the token to become invalidated, thus causing f

[2017-05-09 14:55] SandeeshS commented on #101
We'll add this to the list for the next version of the spec and design.

[2017-05-09 14:55] #101 closed

[2017-05-09 15:00] SandeeshS commented on #35
This is a great idea. I had a similar plan to help automate testing for all backends. Although I think we need to baseline the current spec and test before we can start implementing this with all the backends. The current spec needs proper response codes and standardised error messages along with validation criteria. Currently these things are being mixed up with different backends since there's n

[2017-05-09 15:03] SandeeshS commented on #73
@jonschoning done

[2017-05-09 15:29] Cameron-C-Chapman commented on #35
I was thinking of this more as a way to automate the test of the realworld spec itself as it evolves, not necessarily for a developer to use during development. They have the postman collection and now there is a swagger spec they can use. The thought here (at least to me anyway) is that as we update the spec/postman collection, for example updating a response code, as that pull request is issued

[2017-05-09 15:47] agrison commented on #93
Hi @SandeeshS,

Deleting a comment returns nothing in the response body and sets the ResponseCode to 200 OK :
![capture d ecran 2017-05-09 a 17 31 45](https://cloud.githubusercontent.com/assets/770753/25859054/a48e20a2-34dd-11e7-85ac-fffa630a9436.png)

So does deleting an article :
![capture d ecran 2017-05-09 a 17 32 14](https://cloud.githubusercontent.com/assets/770753/25859065/ab2841b8-34dd-11e

[2017-05-09 15:51] agrison commented on #93
This is the tool I was talking about: https://github.com/agrison/realworld-server-tester

[2017-05-09 15:52] SandeeshS commented on #93
@agrison That sounds swell :+1:

Well currently the token only gets stored in sign in, therefore token changes later wouldn't reflect. The ideal situation would be to use single request token as per the JWT standards. But this project doesn't require that high level of security since it's more like a starter, or that's what the idea was when the spec was first created. So i'd suggest not to invali

[2017-05-09 16:03] agrison commented on #93
Ok for the JWT sounds ok for me.

I think the problem for article delete + comment delete are finished.

Delete comment:
<img width="503" alt="capture d ecran 2017-05-09 a 18 00 34" src="https://cloud.githubusercontent.com/assets/770753/25860378/a97912a8-34e1-11e7-81d7-a0cc1b3729b3.png">
<img width="739" alt="capture d ecran 2017-05-09 a 18 00 52" src="https://cloud.githubusercontent.com/assets/77

[2017-05-09 16:05] SandeeshS commented on #93
@agrison cool, let me know when i can pull the latest changes and test it out one last time :)

[2017-05-09 19:01] agrison commented on #93
Well you can 😄

[2017-05-09 19:34] SandeeshS commented on #93
Ran another test. All the other stuff is fixed and working as intended. The error on deleting article and comment seems to be something with the angular frontend. It's failing to parse the empty json response. Tried with chrome and ff and it's the same. You may look into it if you have the time.

All the tests have passed from my side :+1:

[2017-05-09 19:44] SandeeshS commented on #77
So which version of the current backend are we modding to get this rolling? I assume it's mostly gonna be node. I can probably get this done myself if you're fine with having the laravel version of api running in prod.

[2017-05-09 19:55] agrison commented on #93
Well its not specified in the API spec if deleting an article should return something or not. I made it return nothing, but it's easy to return anything else. For example the deleted article 😉
Same story for comment deletion 👍

[2017-05-09 20:39] brwr commented on #77
The demo is running a version of the Rails API.

On Tue, May 9, 2017 at 12:44 PM, Sandeesh <notifications@github.com> wrote:

[2017-05-10 03:11] EricSimons commented on #96
Any NativeScript devs out there who'd want to take this on? :)

[2017-05-10 03:16] EricSimons commented on #93
@agrison yeah the API spec is currently a bit flawed (100% entirely my + @apai4's fault, putting this project together was a huge task and we unintentionally cut corners). @SandeeshS has been working on a new version though that is really thorough & detailed, which should fix problems like these 💯

Regarding the codebase, things are looking good on my end as well. It would be great to have a Kotli

[2017-05-10 03:26] EricSimons commented on #35
Agree with both @Cameron-C-Chapman and @SandeeshS — we def need a new detailed spec, and the Newman tests can/should be upgraded to match once it's ready 👍

I just messaged @SandeeshS on gitter to see if I can help at all with getting the new spec done & I just merged @Cameron-C-Chapman's PR into the repo 💯

[2017-05-10 05:38] agrison commented on #93
Like I said I only played with Kotlin for some time, I'm more versed into Java, Clojure or other languages. It was mainly for a fun experiment 😃
If you know people who can to take a look and/or participate that would be great to learn. As always there's always some code to remove, improve or change to make it more idiomatic 😉

[2017-05-10 13:26] somombo opened #107 "Proposal: Incorporate Websocket to exemplify common modern Real-time App"
It may be too late to consider this... but I'd like to propose that in an effort to really cover the basis of modern real-world(TM) apps, some basic websocket feature should be included in the spec and examples.

I believe the basic "Todo" of websockets is chat functionality. So we could showcase how one could use barebones websocket on backend/fronted/mobile to incorporate chat. Other WS implemen

[2017-05-10 15:17] Onumis opened #108 "Gather statistics from example apps"
Since all the implementations adhere to the same spec we can say the functionality is mostly the same across all of them.

With this is mind it'd be quite interesting to have a way of checking some statistics, just for :nerd_face: reasons:

- lines of code
- number of files (with / without config files)
- etc.

Ofc as a side effect, this could ignite framework wars...

[2017-05-10 16:36] Cameron-C-Chapman commented on #107
My initial thought is that websockets is a little beyond the introductory scope of what realworld is trying to do. Websockets are much more common now, especially with mobile apps, but not nearly as common as a basic REST architecture which I think is nice as the default standard for people to learn about a framework. I think a realworld fork that implemented websockets would be great and definite

[2017-05-10 17:58] SandeeshS commented on #107
This is a great suggestion. We see various starter kits on the web for most technologies, although not as detailed or regulated as the realworld project. But finding a starter kit with implementation of websocket is not so easy. So having websocket implementation standardised across multiple codebases would be a real deal breaker. Then again @Cameron-C-Chapman is on point. Websockets are beyond th

[2017-05-10 18:05] SandeeshS commented on #108
I don't think this would give us accurate results. Some frameworks are heavy and some are very light. Some codebase make heavy use of third party packages and some bare metal. The actual implementations of features vary from user to user and their coding style. This would mean that the statistics you're talking about would be more than inaccurate to judge a framework or language.

[2017-05-11 17:55] mweststrate commented on #33
@andykog wot that was quite an endeavour! looking good and idiomatic!

Didn't check all the components, but a small thing I noticed in the stores: `ArticleStore` has both `articles` and `articlesRegistery`. Could `articles` be expressed as `@computed get articles() { return this.articlesRegistery.values() }`?

[2017-05-11 18:13] andykog commented on #33
@mweststrate, I think arrays are generally better suited for managing order, but in our case you proposition should work great. Thanks for the review!

[2017-05-11 18:19] andykog commented on #33
(done)

[2017-05-12 05:51] EricSimons commented on #108
It's def a really cool idea, however I think @SandeeshS hit the nail on the head. Those sorts of statistics wouldn't necessarily be fair representations of what it's actually like to use those frameworks. However, if someone wrote a Medium/blog post and calculated all of these statistics, I'd definitely list that on the readme under community resources :)

[2017-05-12 06:03] EricSimons commented on #107
Totally agree on all points. Chat is a great idea for the base application, and I think that it would be amazing to (eventually) have an official add-on spec that the current backends can optionally adhere to for enabling WS chat. I actually haven't done a ton of stuff with websockets personally, so I really see the value prop here — would abs love something like this.

I think the right place to

[2017-05-12 18:01] SandeeshS commented on #66
@dakenf Any progress on this? I might help out if there's no progress happening.

[2017-05-13 20:17] blacksonic commented on #49
@EricSimons Is there space for koa + mongo next to this example?

[2017-05-15 07:29] dimonnwc3 commented on #49
@EricSimons ping you to don't forget about this repo :)

[2017-05-15 15:38] linxlad commented on #88
**API Tasks:**

 Articles

- [ ] GET - Feed
- [ ] GET - All articles
- [ ] GET - Articles by author
- [ ] GET - Articles favorited by username
- [ ] GET - Articles by tag
- [ ] POST - Create article
- [ ] GET - Single article by slug
- [ ] DEL - Delete article
- [ ] PUT - Update article
- [ ] POST - Favorite article
- [ ] DEL - Unfavorite article

 Auth

- [x] POST - Login
- [x] POST - Login and r

[2017-05-16 14:26] anishkny opened #110 "Challenge: Search"
Search is the lifeblood of any good app worth its salt. Perhaps we can consider putting up an "extra credit" challenge to add the ability to search text in posts, tags, authors.

[2017-05-16 17:18] EricSimons commented on #49
@blacksonic of course! Perhaps you could fork this repo and swap out knex for mongo?

@dimonnwc3 I didn't! :) Spinning up a repo now under the main org

[2017-05-16 17:26] EricSimons commented on #49
@dimonnwc3 just added you to https://github.com/gothinkster/koa-knex-realworld-example — going to list this on the main readme in a few minutes, awesome work!! 💪🎉

[2017-05-16 17:47] dimonnwc3 commented on #49
@EricSimons great 👍

[2017-05-16 18:24] EricSimons commented on #49
Added! Closing this issue; future bugs/questions/etc should be posted in the repo itself: https://github.com/gothinkster/koa-knex-realworld-example

[2017-05-16 18:24] #49 closed

[2017-05-16 18:33] EricSimons commented on #33
@andykog @hodorswit just added you both to the official repo — also have react-mobx.realworld.io pointed to github pages, so feel free to set up GH pages branch and it will show up live at that URL :)

[2017-05-16 18:39] EricSimons commented on #33
Just added the repo to the main README btw — amazing work guys! 👍 💯

Lmk when you have the GH pages set up & I'll close out this issue

[2017-05-16 18:59] blacksonic commented on #49
@EricSimons I would rather start from scratch, narrow it down and copy parts, this Koa + Knex example feels bit too complicated for me as a learning repository.

[2017-05-16 19:02] EricSimons commented on #110
@anishkny I like this a lot. Would love to see an ElasticSearch version of this. @brwr maybe your ES expert friend would be down to take this on? :)

[2017-05-16 19:05] EricSimons commented on #49
That's totally fine as well — go ahead and create a new issue for Koa + Mongo, fork the starter kit, and I'll update the issue's status :)

[2017-05-16 19:58] criticalbh opened #111 "🖥 🔧 Vanilla JS (Web Components)"
# Current Status

- ### Codebase in progress:<br /> [criticalbh/vanilla-web-components](https://github.com/criticalbh/vanilla-web-components)
- ### Interested in helping out? Say hello! 🎉

### Todo:

- [x] 🏁 Fork the [starter repo](https://github.com/gothinkster/realworld-starter-kit) & post the link in this issue
- [x] 🎨 Create logo for repo & update issue status (@ericsimons)
- [ ] 🔨 Implement a

[2017-05-16 20:17] EricSimons commented on #111
Awesome! Here's a logo you can use for your repo:

![webcomponent](https://cloud.githubusercontent.com/assets/556934/26126314/021150f8-3a3a-11e7-87bd-7bfc7616f6f8.png)

[2017-05-16 20:28] Cameron-C-Chapman commented on #110
I'm a big fan of ElasticSearch and would love to see that as well!

[2017-05-16 22:05] EricSimons commented on #93
Awesome work!! Just created the official repo (https://github.com/gothinkster/kotlin-spring-realworld-example-app) and added @agrison as a collaborator/admin! Also added it to the main README :)

Closing this issue; any future discussions should happen over at https://github.com/gothinkster/kotlin-spring-realworld-example-app/issues 👍

[2017-05-16 22:05] #93 closed

[2017-05-16 22:13] EricSimons commented on #89
@adamhathcock just created the official repo and added you as a collab/admin on it (https://github.com/gothinkster/aspnetcore-realworld-example-app) — great job! 👍 💯

Closing this issue; future issues should be opened up on the offical repo directly -> https://github.com/gothinkster/aspnetcore-realworld-example-app/issues

[2017-05-16 22:13] #89 closed

[2017-05-17 07:26] somombo commented on #107
Hi all, thanks for all your feedback.. sorry for my silence, I have actually been experimenting to figure out what is the most minimal thing that can be done that is both representative of reality and portable across several backends..

I have managed to port socket.io's chat example to a php backend and using *only the browser's native Websocket API (I haven't incorporated the rest of realworld.i

[2017-05-17 08:19] adamhathcock commented on #89
Awesome, thanks!

[2017-05-17 13:49] Cameron-C-Chapman commented on #107
@somombo just an fyi there is a front end implementation started using vanilla js, #111. Maybe you could help out with that one?

[2017-05-17 14:37] #108 closed

[2017-05-18 18:19] humboldtux opened #112 "🗄 🔧 Crystal + Kemal"
# Current Status

### Codebase in progress @ https://github.com/Crystal-French/crystal-kemal-realworld-example-app
### Interested in helping out? Say hello! :tada: https://gitter.im/crystal-kemal-realworld-example-app/dev
### Todo:

- [x]  :checkered_flag: Fork the starter repo & post the link in this issue
- [ ]  :art: Create logo for repo & update issue status (@ericsimons)
- [ ]  :hammer: Imple

[2017-05-19 23:56] Stephn-R commented on #89
@adamhathcock @EricSimons I would gladly like to see how well this was built. I am sure it is out of this world 👍 haha

[2017-05-20 05:14] adamhathcock commented on #89
It's there and ready.  Suggestions and additions are welcome.

[2017-05-20 10:37] slorber opened #113 "Deeper solution comparisons"
Hi,

First thanks for this great project. I've also been working on something quite similar some years ago [here](https://github.com/slorber/scalable-frontend-with-elm-or-redux)

I think it would be very interesting to have more comparison data across project. I'm thinking about stuff like bundle size etc... For example [https://hnpwa.com/](https://hnpwa.com/) is providing lighthouse stats which i

[2017-05-20 15:32] Cameron-C-Chapman commented on #113
There was a discussion about this with issue #108. I think the consensus is that those stats could be valuable but there are so many variables that realworld wouldn't want to promote those statistics as some sort of conclusion on the framework being used. Maybe one front end implementation is bigger in size but the maintainer could argue their solution is more testable than another solution, one i

[2017-05-21 05:33] chilledoj commented on #99
Hi @EricSimons, the api is now fully functional.

[2017-05-21 06:28] sluongng commented on #37
Is this active?

[2017-05-21 11:39] anishkny commented on #37
@sluongng I am actually looking for collaborators. Care to help out?

I am thinking of using [AWS SAM](https://github.com/awslabs/serverless-application-model) to implement the app.

[2017-05-21 14:55] sluongng commented on #37
@anishkny I planned to contribute earlier. However, Im pretty busy for the next few weeks or so.

I would suggest you consider [Serverless Framework](https://github.com/serverless) instead. The community over there is well established with plugins for ES2016 and TypeScript which might be great for educational purposes. AWS SAM seems to be trying to catch up to Serverless Framework but it has far w

[2017-05-21 19:21] somombo commented on #111
hope it will be in Typescript 😉
https://staltz.com/all-js-libraries-should-be-authored-in-typescript.html

[2017-05-21 19:29] EricSimons commented on #112
Woot! Can't wait to see this @humboldtux 👍

[2017-05-21 19:39] EricSimons commented on #99
@chilledoj awesome! I'm gonna test this out when I get home later today — have you tried running it against one of the supported frontends yet?

[2017-05-21 19:44] EricSimons commented on #111
@somombo unf I don't think it will, but you should totally fork the final version (once it's ready) and add TS types/interfaces/etc :)

[2017-05-21 19:55] chilledoj commented on #99
I've only been testing against the Postman collections so far. Would appreciate someone else's view - maybe I missed something (error responses?). I've only been using the postman collections so far, but also studied the NodeJS code for a few things as I'm very familiar with NodeJS.

Let me know how you get on. This is my first stab at being part of open source code, and i'm a bit new to the git w

[2017-05-21 23:32] linxlad commented on #88
@EricSimons Not a biggie but Phalcon is missing from the `Work In Progress` section :)

[2017-05-22 08:56] criticalbh commented on #111
Application is written at the moment in ES6 but as @EricSimons suggested we can fork it and rewrite with typescript.

[2017-05-22 13:17] SandeeshS commented on #88
@linxlad ah sorry about that. Guess Eric missed it on the last update. I'll create a PR to add this :+1:

[2017-05-22 14:05] SandeeshS commented on #88
@linxlad added with #114 @EricSimons will merge it when he's online. I've also sorted the list alphabetically so that people don't take offense with one being ahead of another :D

[2017-05-22 14:06] linxlad commented on #88
Thanks :)

[2017-05-22 14:42] anishkny commented on #37
@sluongng no worries.

Actually, currently the project **is** using Serverless Framework (see [YAML file](https://github.com/anishkny/realworld-dynamodb-lambda/blob/master/serverless.yml)) and we can totally continue to use that.

[2017-05-22 18:12] EricSimons commented on #88
Thanks for the PR @SandeeshS! Sorry about that @linxlad — can be kinda hard to keep track of all of the implementations currently in the pipeline 😓

[2017-05-22 19:13] EricSimons commented on #99
@chilledoj yeah there's some nuances to the frontend/backend API that we're going to add to the spec ASAP (response codes, CORS, etc) — if you've been following the node codebase you should be good though!

No sweat btw, almost all of us are first timers to OSS here :) I've never used Go before so it's taking a while to get set up, but lmk if you get one of our frontends up & running and don't run

[2017-05-23 09:29] linxlad commented on #88
@EricSimons It's no problem at all, just thought I'd mention it, I appreciate the size of the workload you have to deal with, keep up the good work :)

[2017-05-24 02:52] JackyChiu opened #115 "Validation Messages Spec"
Looking at the API spec I noticed that the clients are expecting validation errors in the form of
[code]
However, I didn't see any specs about the validation messages expected. I think this would be helpful knowing what types of validation errors we should be looking out for

[2017-05-24 06:16] EricSimons commented on #115
Totally agree — we unintentionally omitted this info in the original spec, but @sandeeshs is currently finishing up a new (& super awesome) version of it that's incredibly thorough and addresses validations. It should be out within the next few days I think :)

[2017-05-24 06:48] SandeeshS commented on #115
@JackyChiu @EricSimons been a pretty busy week for me. The spec is already done, just need to finish the darn formatting. I'll try to get it up and create a PR as soon as possible.

[2017-05-24 13:50] JackyChiu commented on #115
Awesome news guys, thanks 😄

[2017-05-24 18:20] raulsebastianmihaila opened #116 "404 if username contains /"
When I make a call to https://conduit.productionready.io/api/profiles/:username, it returns 404 if the username contains a forward slash (even though I'm encoding it before doing the call). Other characters like % (if encoded properly) are allowed.

[2017-05-26 02:56] Cameron-C-Chapman commented on #116
From what I see if you have an un-encoded forward slash you get a 404 with an html body indicating an error matching the route but with an encoded forward slash you get a 404 with a json body indicating the user was not found.

If you added a user with an encoded forward slash and get a 404 when looking for them with the encoded forward slash then it's probably an issue storing the data in that fo

[2017-05-26 16:49] brwr commented on #116
@raulsebastianmihaila Nice catch! Thanks for the issue. This is definitely a mistake on our end.

Yeah. I know what's going on here.

For a couple of reasons, we're running a modified version of the Rails backend for the demo. Unfortunately, that means the two can get out of sync. That's what happened here.

If you look at [app/models/user.rb#15](https://github.com/gothinkster/rails-realworld-exam

[2017-05-26 16:55] brwr commented on #113
Agreed with @Cameron-C-Chapman.

As mentioned, the problem with benchmarks is that they are incredibly misleading. Just because one tool can render a list of 10,000 items more quickly than another does not imply that it is better in general. At best, it means that it's better at rendering a list of 10,000 items.

I'm going to close this as I think the consensus is that this isn't something we want